/**
 * dijit.layout.Accordioncontainer
 *
 */

.rias .dijitAccordionContainer {
	border: none;/*zensst 有 border 时，第二次显示有问题*/
	border-color: lightgray;
	/*background-color: inherit;#dfefff zensst*/
}

/* common */

.rias .dijitAccordionTitle {
	/*background:#fafafa url("/rias/themes/rias/images/titleBar.png") repeat-x top left; zensst*/
	/*background-color: lavender;*/
	/*border-top: 1px solid #b9bbdd; zensst*/
	border-bottom: 1px solid lightgray;
	/*padding: 5px 4px 6px 8px;
	font-size: 0.9em;*/
	font-weight: bold;
}
.rias .dijitAccordionTitleFocusNode {
	padding: 4px;
	margin: 0px;
}

.rias .dijitAccordionContainer .dijitAccordionChildWrapper {
	/*background-color: #ffffff;
	background-color: inherit;
	border: 1px solid #759dc0;
	margin: 0 2px 2px; zensst*/
	/*background-color: inherit;*/
	border: 1px solid lightgray;
}

.rias .dijitAccordionTitleHover  {
	background-color: gold;
}
.rias .dijitAccordionTitleSelected  {
	background-color: skyblue;
}

.rias .dijitAccordionArrow {
	/*background:url("/rias/themes/rias/images/spriteRoundedIconsSmallBl.gif") no-repeat -30px top;*/
	background: url('./images/CaptionPanelBtn.png') no-repeat -16px center;
	width:16px;
	height:16px;
	margin-top:-1px;
}

.rias .dijitAccordionTitleSelected .dijitAccordionArrow {
	/*background:url("/rias/themes/rias/images/spriteRoundedIconsSmallBl.gif") no-repeat -15px top;*/
	background: url('./images/CaptionPanelBtn.png') no-repeat -48px center;
}

.rias .dijitAccordionText {
	margin-left: 4px;
	margin-right: 4px;
}