/**
 * dijit.layout.Accordioncontainer
 *
 */

.rias .dijitAccordionContainer {
	border-style: solid;
	border-color: lightgray;
	border-width: 1px 1px 0 1px;
}

/* common */

.rias .dijitAccordionTitle {
	/*background-color: lavender;*/
	border: 0px solid lightgray;
	font-weight: bold;
}
.rias .dijitAccordionTitleFocusNode {
	padding: 4px;
	margin: 0px;
}

.rias .dijitAccordionContainer .dijitAccordionChildWrapper {
	/*margin: 0 2px 2px; zensst*/
	/*background-color: inherit;*/
	border: 0px solid lightgray;
}

.rias .dijitAccordionTitleHover  {
	background-color: gold;
}
.rias .dijitAccordionTitleSelected  {
	background-color: skyblue;
}

.rias .dijitAccordionArrow {
	/*background:url("/rias/themes/rias/images/spriteRoundedIconsSmallBl.gif") no-repeat -30px top;*/
	background: url('./images/CaptionPanelBtn.png') no-repeat -16px center;
	width:16px;
	height:16px;
	margin-top:-1px;
}

.rias .dijitAccordionTitleSelected .dijitAccordionArrow {
	/*background:url("/rias/themes/rias/images/spriteRoundedIconsSmallBl.gif") no-repeat -15px top;*/
	background: url('./images/CaptionPanelBtn.png') no-repeat -48px center;
}

.rias .dijitAccordionText {
	margin-left: 4px;
	margin-right: 4px;
}