
/* DialogPanel */
/*@import "CaptionPanel.css";*/

.riaswDialogPanel {
	display: block;
	position: absolute;
	background-color: whitesmoke;
	padding: 0px;
	margin:0;
	/*min-height: 8em;
	min-width: 16em;*/
	-moz-box-shadow: 0.25em 0.25em 1em 0em #333;
	-webkit-box-shadow: 0.25em 0.25em 1em 0em #333;
	box-shadow: 0.25em 0.25em 1em 0em #333;
	border-width: 4px;
	border-color: lavender;
	border-style: solid;
	border-radius: 4px;
}
.riaswDialogPanelHover,
.riaswDialogPanelActive {
	border-color: gold;
	-moz-box-shadow: 0.25em 0.25em 1em 0em black;
	-webkit-box-shadow: 0.25em 0.25em 1em 0em black;
	box-shadow: 0.25em 0.25em 1em 0em black;
}
.riaswDialogPanelSelected,
/*.riaswDialogPanelFocused,*/
.riaswDialogPanelTopmost {
	border-color: skyblue;
	-moz-box-shadow: 0.25em 0.25em 1em 0em black;
	-webkit-box-shadow: 0.25em 0.25em 1em 0em black;
	box-shadow: 0.25em 0.25em 1em 0em black;
}

.riaswDialogPanelWrapper {
	border: 0 solid lightgray;
	overflow: hidden;
	position: relative;
	padding: 0;
	margin:0;
	min-height: 6em;
	min-width: 16em;
	-webkit-overflow-scrolling: touch;
	display: block;
}
/*.mobileBody .riaswDialogPanelWrapper {
	overflow: hidden;
}*/
.riaswDialogPanelContent {
	background-color: whitesmoke;/*避免 wrapper 造成 transparent*/
	overflow: auto;
	position: relative;
	padding: 0.25em;
	-webkit-overflow-scrolling: touch;
}
/*.mobileBody .riaswDialogPanelContent {
	overflow: hidden;
}*/

.riaswDialogPanelWithCaption {
	/*border: 0px solid lightgray;
	padding:1.5em 4px 4px 4px;
	margin: 1em 4px 4px 4px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 8px;
	border-radius: 8px;*/
}

/* ActionBar ========================= */

.riaswDialogPanelActionBar {
	padding: 1em;
	text-align: right;
	/*margin: 0;*/
	/*border-top: 1px solid lightgray;*/
	display: block;
}
.riaswDialogPanelActionBarTop {
	padding: 0.5em 1em;
	text-align: left;
	/*margin: 0;*/
	/*border-: 1px solid lightgray;*/
	border-bottom: 1px solid lightgray;
	display: block;
}

/* Type ========================*/
.riaswDialogPanelTypeInfo .riaswDialogPanelContent,
.riaswDialogPanelTypeWarn .riaswDialogPanelContent,
.riaswDialogPanelTypeError .riaswDialogPanelContent,
.riaswDialogPanelTypeAbout .riaswDialogPanelContent {
	padding: 1.5em 1em 1em 1em;
	font-weight: bold;
}
.riaswDialogPanelTypeWarn {
	border-color: cornflowerblue;
}
/*.riaswDialogPanelTypeWarn .riaswDialogPanelContent {
	color: black;
}*/
.riaswDialogPanelTypeWarn .riaswDialogPanelCaptionNode {
	background-color: cornflowerblue;
}
.riaswDialogPanelTypeError {
	border-color: salmon;
}
/*.riaswDialogPanelTypeError .riaswDialogPanelContent {
	color: black;
}*/
.riaswDialogPanelTypeError .riaswDialogPanelCaptionNode {
	background-color: salmon;
}
