
/* DockBar */
.riaswDockBarDefault {
	position: absolute;
	/*bottom:0px;*/
	left: 0px;
	overflow: hidden;
	/*margin:0;
	margin-bottom:3px; */
	padding: 0px;
	width: 100%;
	/*z-index:99; /* position the dock _just_ below the lowest pane */
	background: transparent;
	/* background-color:#fff; 
	border-top:1px solid #ccc; 
	*/
}

.riaswDockBar {
	display: inline-block;
	border: 0px solid silver;
	//position: absolute;
	padding: 1px;
	margin: 0px;
	/*background: #fcfcfc;*/
	/*background-color: inherit;#dfefff zensst*/
}

.riaswDockNode {
	border: 1px solid silver;
	margin: 1px;
	padding: 3px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	list-style: none;
	/*height: 1.5em;*/
	width: auto;
	min-width: 4em;
	float: left;
	background-color: inherit;
}
/*.riaswDockNodeDocked {
	background-color: lavender;
}
.riaswDockNodeShown {
	background-color: lightsteelblue;
}
.riaswDockNodeTopmost {
	background-color: darkseagreen;
}*/


.riaswDockNodeIcon {
	background: url('./images/CaptionPanelBtn.png') no-repeat -30px center;
	width: 15px;
	height: 15px;
	overflow: hidden;
	float: left;
	margin: 1px 4px 1px 0px;
}
.riaswDockNodeIconDefault {
	background: url('./images/CaptionPanelBtn.png') no-repeat -30px center;
}
.riaswDockNodeShown .riaswDockNodeIcon,
.riaswDockNodeIconShown {
	background: url('./images/CaptionPanelBtn.png') no-repeat -75px center;
}
.riaswDockNodeDocked .riaswDockNodeIcon,
.riaswDockNodeIconDocked {
	background: url('./images/CaptionPanelBtn.png') no-repeat -15px center;
}
.riaswDockNodeTopmost .riaswDockNodeIcon,
.riaswDockNodeIconTopmost {
	background: url('./images/CaptionPanelBtn.png') no-repeat -90px center;
}

.riaswDockNodeTitle {
	padding: 0 0.3em;
	text-align: center;
	overflow: hidden;
}

.riaswDockNodeHover {
	/*background-color: gold;*/
}
