
/* DockBar */
.riaswDockBarDefault {
	position: absolute;
	/*bottom:0px;*/
	left: 0px;
	overflow: hidden;
	/*margin:0;
	margin-bottom:3px; */
	padding: 0px;
	width: 100%;
	/*z-index:99; /* position the dock _just_ below the lowest pane */
	background: transparent;
	/* background-color:#fff; 
	border-top:1px solid #ccc; 
	*/
}

.riaswDockBar {
	display: inline-block;
	border: 0px solid silver;
	//position: absolute;
	padding: 1px;
	margin: 0px;
	/*background: #fcfcfc;*/
	/*background-color: inherit;#dfefff zensst*/
}

.riaswDockNode {
	border: 1px solid silver;
	margin: 1px;
	padding: 0.25em 0.25em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	list-style: none;
	/*height: 1.5em;*/
	width: auto;
	/*min-width: 4em;*/
	/*float: left;*/
	background-color: inherit;
	display: inline-block;
}
.riaswDockNodeHidden {
	background-color: inherit;
}
.riaswDockNodeShown {
	background-color: lightsteelblue;
}
.riaswDockNodeTopmost {
	background-color: skyblue;
}

.riaswDockNodeIcon {
	background: url('./images/CaptionPanelBtn.png') no-repeat -32px center;
	width: 16px;
	height: 16px;
	overflow: hidden;
	/*float: left;*/
	margin: 1px 4px 1px 0px;
}
.riaswDockNodeIconDefault {
	background: url('./images/CaptionPanelBtn.png') no-repeat -32px center;
}
.riaswDockNodeShown .riaswDockNodeIcon,
.riaswDockNodeIconShown {
	background: url('./images/CaptionPanelBtn.png') no-repeat -80px center;
}
.riaswDockNodeHidden .riaswDockNodeIcon,
.riaswDockNodeIconHidden {
	background: url('./images/CaptionPanelBtn.png') no-repeat -16px center;
}
.riaswDockNodeTopmost .riaswDockNodeIcon,
.riaswDockNodeIconTopmost {
	background: url('./images/CaptionPanelBtn.png') no-repeat -96px center;
}

.riaswDockNodeTitle {
	padding: 0 0em;
	text-align: center;
	overflow: hidden;
}

.riaswDockNodeHover {
	background-color: gold;
}
