
/* Panel */
/* ContentPanel */

.riaswPanel {
	/*display: block;*/
	/*position: relative;*/
	/*background-color: inherit;
	padding: 0px;
	margin:0;*/
	border: 0px solid lightgray;
}
.riaswPanelSelected,
.riaswPanelFocused {
}
.riaswPanelHover {
}

.riaswPanelContent {
	overflow: auto;
	position: relative;
	-webkit-overflow-scrolling: touch;
}
.mobileBody .riaswPanelContent {
	overflow: hidden;
}

.riaswPanelFocusNode {
}

