
/* Underlay */

.riaswUnderlayWrapper {
	position: absolute;
	z-index: 998;
	display: none;
	background: transparent !important;
}

.riaswUnderlay {
	position: absolute;
	z-index: 998;
	display: none;
	background: darkgray;
	opacity: 0.33;
}

.dj_ie .riaswUnderlay {
	filter: alpha(opacity=33);
}

