/* Header */
.rias .gridxRtl {
  /* Body */
}
.rias .gridxRtl .gridxGroupHeader {
  border-color: transparent #FFFFFF #BCBCBC #BCBCBC;
}
.rias .gridxRtl .gridxHeaderRow .gridxCell {
  border-color: transparent #FFFFFF transparent #BCBCBC ;
}
.rias .gridxRtl .gridxHeaderRow .gridxSubHeader {
  border-top-color: #FFFFFF;
}
.rias .gridxRtl .gridxHeaderRowInner {
  background-position: left;
  border-right: none;
  border-left: 1px solid #FFFFFF;
}
.rias .gridxRtl .gridxBody .gridxCell {
  border-color: transparent transparent #E5DAC8 #E5DAC8;
}
