
@import 'form_variables';

.riaswButtonNode {
	button-style();
	//border: 1px solid lightgray;
	padding: 0.25em 0.25em;
	margin: 1px 2px;
	position: relative;
	//color: inherit;
	//-webkit-border-radius: 4px;
	//-moz-border-radius: 4px;
	//border-radius: 4px;
	//-webkit-box-shadow: 0 rgba(0, 0, 0, 0.15);
	//-moz-box-shadow: 0 rgba(0, 0, 0, 0.15);
	//box-shadow: 0 rgba(0, 0, 0, 0.15);
	//background-color: inherit;
	//-webkit-transition-property: background-color;
	//-moz-transition-property: background-color;
	//transition-property: background-color;
	//-webkit-transition-duration: 0.3s;
	//-moz-transition-duration: 0.3s;
	//transition-duration: 0.3s;
	//line-height: normal;
}

.riaswButtonIcon {
	background: url('./images/CaptionPanelBtn.png') no-repeat -52px center;
	width: 16px;
	height: 16px;
	overflow: hidden;
	/*float: left;*/
	margin: 1px 4px 1px 0px;
}
.riaswButtonText {
	padding: 0 $padding;
	text-align: center;
}

.riaswButtonGutter {
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	color: silver !important;
}

.riaswBusyButtonIcon {
	width: 10px;
	height: 10px;
	vertical-align: middle;
	margin-left: 4px;
	background-image: url('./images/loading_wheel.gif');
	background-repeat: no-repeat;
}

.riaswArrowButton {
	button-style();
	//background-color: inherit;
	border-radius: 0;
	border-width: 0;
	width: auto;
	overflow: hidden;
	padding: 0 2px;//$numberspinner-button-padding;
	margin: 0;
	position: relative;// !important;
	float: none;
	height: 100%;
	top: 0;
	left: 0;
	//bottom: auto;
	//right: auto;
	//border-radius: 0;
	&:before {
		content: none; // remove arrow icons from riaswArrowButton nodes
	}
}

.riaswSpinner {

	/* up button */
	.riaswUpArrowButton {
		//left: 0;
		//top: 0;
		border-width: 0 1px 0 0;
		border-top-right-radius: $numberspinner-button-border-radius
	}
	/* down button */
	.riaswDownArrowButton {
		//top: 0;
		//left: 1em;
		border-bottom-right-radius: $numberspinner-button-border-radius
	}

}

// hover
.riaswButtonNodeHover,
.riaswArrowButtonHover {
	button-hover-style();
}

/* focused status */
.riaswButtonNodeFocused,
.riaswArrowButtonFocused {
	button-active-style();
}

// active and checked
.riaswButtonNodeActive,
.riaswArrowButtonActive {
	button-active-style();
}

// disabled
.riaswButtonNodeDisabled,
.riaswArrowButtonDisabled {
	button-disabled-style();
	//background-color: inherit;
	background-image: none;
	//outline: none;
	color: inherit;
	//-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	//-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	opacity: $disabled-opacity;
	//-webkit-filter: grayscale(1);
	//-ms-filter: grayscale(1);
	filter: grayscale(1);
}

.riaswComboButtonDisabled .riaswArrowButton {
	border-left-width: 0;
}

/* ----- DropDownButton ----- */
//.riaswDropDownButton .riaswButtonNode {
//	padding-right: $padding * 2;
//}

/* ----- ComboButton ----- */
.riaswComboButton .riaswArrowButtonFocused,
.riaswComboButton .riaswArrowButtonHover {
	background-color: gold;
}
table.riaswComboButton {
	border-collapse: separate;	/* override dijit.css so that ComboBox rounded corners work */
	.dijitStretch {
		border-radius: $border-radius 0 0 $border-radius;
	}
	.riaswArrowButton {
		padding: $padding;
		width: $button-arrow-width;
		border-radius: 0 $border-radius $border-radius 0;
		border-left-width: 0;
	}
}

// arrow styles for down/up/left/right directions
.riaswArrowButtonInner {
	display: inline-block;
	width: 16px;
	height: 100%;
	margin: 0 auto;
	border: 0;
	cursor: pointer;
	background-color: inherit;
	background-image: url("./images/buttonArrows.png");
	background-repeat: no-repeat;
	/*background-position: -51px 53%;*/

	line-height: $icon-size;

	.dijitInputField {
		padding: 0;
	}
}

//.riaswDropDownButton .riaswArrowButtonInner,
.riaswArrowButton  {
	_icon-core-style();
}
//.riaswDropDownButton .riaswArrowButtonInner{
//	margin-left: $padding * 0.75;
//}
.riaswLeftArrowButton .riaswArrowButtonInner {
	background-position: -77px 53%;
}
.riaswRightArrowButton .riaswArrowButtonInner {
	background-position: -26px 53%;
}
.riaswUpArrowButton .riaswArrowButtonInner {
	background-position: 0px 53%;
}
.riaswDownArrowButton .riaswArrowButtonInner {
	background-position: -51px 53%;
}
.dijitDisabled .riaswArrowButtonInner {
	background-position: -151px 53%;
}
.dijitDisabled .riaswLeftArrowButton .riaswArrowButtonInner {
	background-position: -177px 53%;
}
.dijitDisabled .riaswRightArrowButton .riaswArrowButtonInner {
	background-position: -126px 53%;
}
.dijitDisabled .riaswUpArrowButton .riaswArrowButtonInner {
	background-position: -100px 53%;
}


/* ----- ToggleButton ----- */
.riaswButtonNode {
	.dijitCheckBox {
		margin: 0 0.25em;
	}
}
.riaswToggleButton {
	.dijitCheckBoxIcon {
		display: none;
	}
}

.riaswCheckButton,
.riaswRadioButton {
	border-width: 0px;
	background-color: inherit;
}
.riaswButtonNodeReadOnly {
	.dijitCheckBox,
	.dijitRadio {
		background-color: inherit;
	}
}
.riaswCheckButtonDisabled,
.riaswRadioButtonDisabled {
	background-color: inherit;
	//-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	//-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	opacity: $disabled-opacity;
	//-webkit-filter: grayscale(1);
	//-ms-filter: grayscale(1);
	filter: grayscale(1);
}

/* Rtl */

.riaswButtonNodeRtl,
.riaswArrowButtonRtl {
	padding-left: $padding*2;
}
table.riaswComboButtonRtl .dijitStretch  {
	border-radius: 0 $button-border-radius $button-border-radius 0;
}
table.riaswComboButtonRtl .riaswArrowButton {
	border-radius: $button-border-radius 0 0 $button-border-radius;
	border-left-width: 1px;
	border-right-width: 0;
}
//.riaswDropDownButtonRtl {
//	.riaswArrowButtonInner {
//		margin-left: 0;
//		margin-right: $padding * 3;
//	}
//}


.dj_ie6 .dijitReadOnly input,
.dj_ie7 .dijitReadOnly input,
.dj_ie6 .riaswComboButtonDisabled .riaswButtonText,
.dj_ie7 .riaswComboButtonDisabled .riaswButtonText {
	/* opacity doesn't work on table node in IE, work around here */
	color: #aaa;
}

/* IconTop ===============================================*/
/* Vertical ===============================================*/

.riaswButtonNodeVertical {

}
.riaswButtonIconTop .riaswButtonIconNode,
.riaswDisplayVertical .riaswButtonIconNode,
.riaswDisplayVerticalLR .riaswButtonIconNode,
.riaswDisplayVerticalRL .riaswButtonIconNode {
	display: block;
	margin: 0.25em;
}
.riaswButtonIconTop .riaswButtonText,
.riaswDisplayVertical .riaswButtonText,
.riaswDisplayVerticalLR .riaswButtonText,
.riaswDisplayVerticalRL .riaswButtonText {
	display: block;
	margin-top: 0.25em;
	padding: 0.25em;
	white-space: nowrap;///normal 会引起显示不正常
}

