/* RadioButton
 *
 * Styling RadioButton mainly includes:
 *
 * 1. Containers
 * 		.dijitRadio|.dijitRadioIcon
 *
 * 2. RadioButton within ToggleButton
 * 		.riaswToggleButton|.riaswToggleButtonChecked
 *
 * 3. Checked state
 * 		.dijitRadioChecked
 * 		.riaswToggleButtonChecked
 *
 * 4. Hover state
 * 		.dijitRadioHover|.dijitRadioCheckedHover
 *
 * 5. Disabled state
 * 		.dijitRadioDisabled|.dijitRadioCheckedDisabled
 */
.dijitRadio,
.dijitRadioIcon {
/* inside a toggle button */
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 50%;
  position: relative;
  overflow: visible;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dijitRadio:after,
.dijitRadioIcon:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  background-color: #90caf9;
  border-radius: 50%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin: 8px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.dijitRadioHover {
  border-color: #acd7fb;
}
.dijitRadioChecked {
  border-color: #90caf9;
}
.dijitRadioChecked:after,
.dijitChecked .dijitRadioIcon:after {
  width: 8px;
  height: 8px;
  margin: 3px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.alt-primary .dijitRadioIcon {
  border-color: #fff;
}
.alt-primary .dijitRadioIcon:after {
  background-color: #fff;
}
.alt-success .dijitRadioIcon {
  border-color: #fff;
}
.alt-success .dijitRadioIcon:after {
  background-color: #fff;
}
.alt-info .dijitRadioIcon {
  border-color: #fff;
}
.alt-info .dijitRadioIcon:after {
  background-color: #fff;
}
.alt-warning .dijitRadioIcon {
  border-color: #fff;
}
.alt-warning .dijitRadioIcon:after {
  background-color: #fff;
}
.alt-danger .dijitRadioIcon {
  border-color: #fff;
}
.alt-danger .dijitRadioIcon:after {
  background-color: #fff;
}
.alt-inverse .dijitRadioIcon {
  border-color: #fff;
}
.alt-inverse .dijitRadioIcon:after {
  background-color: #fff;
}
.dijitRadioDisabled {
  background-color: inherit;
}
.dijitRadioDisabled {
  background-color: #f5f5f5;
  border-color: #e3e3e3;
}
.dijitRadioCheckedDisabled {
  background-color: #f5f5f5;
  border-color: #b7ddfb;
}
.dijitRadioCheckedDisabled:after {
  background-color: #b7ddfb;
}
/* ---- RadioMenuItem ---- */
.dijitRadioMenuItem .dijitCheckedMenuItemIcon {
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 50%;
  position: relative;
  overflow: visible;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dijitRadioMenuItem .dijitCheckedMenuItemIcon:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  background-color: #90caf9;
  border-radius: 50%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin: 8px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.dijitRadioMenuItemChecked .dijitCheckedMenuItemIcon {
  border-color: #9e9e9e;
}
.dijitRadioMenuItemChecked .dijitCheckedMenuItemIcon:after {
  width: 8px;
  height: 8px;
  margin: 3px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
