
/* Module */

.riaswModule{
	display: block;
	position: relative;
	background-color: inherit;
	margin:0;	
	/*overflow: hidden;*/
	overflow: auto;
}
.mobileBody .riaswModule {
	overflow: hidden;
}

.riaswModuleContent{
	display: block;
	position: relative;
	background-color: inherit;
	padding: 0;
	border: 0;
	margin:0;
	/*overflow: hidden;*/
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.mobileBody .riaswModuleContent {
	overflow: hidden;
}

.riaswModuleHover {
	border-color: gold;
	/*-moz-box-shadow: 0em 0em 2em gold;
	-webkit-box-shadow: 0em 0em 2em gold;
	box-shadow: 0em 0em 2em gold;*/
}
.riaswModuleSelected,
.riaswModuleFocused {
	/*-moz-box-shadow: 0.5em 0.5em 2em #777;
	-webkit-box-shadow: 0.5em 0.5em 2em #777;
	box-shadow: 0.5em 0.5em 2em #777;*/
}

.riaswModuleLoading {

}
.riaswModuleLoadingIcon {
	background-image: url(./images/moduleLoading.gif);
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	margin: 8px;
	vertical-align: middle;
}
.riaswModuleLoadingError {
	background-image: url(./images/warning32.png);
	background-repeat: no-repeat;
	height: 32px;
	width: 32px;
	margin: 8px;
	vertical-align: middle;
}
.riaswModuleLoading .riaswModuleLoadingIcon,
.riaswModuleLoading .riaswModuleLoadingError {
	/*margin-right: 4px;*/
}

