

@import '../variables';

.appIndexBg0{
	position: absolute;
	text-align: center;
	opacity: 1;
	background-image: url(join("/", "..", $appPathImages, "bg0.jpg"));
	background-repeat: no-repeat;
	background-size: 100% 100%;
	filter: join("", 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src="', join("/", "..", $appPathImages, "bg0.jpg"), '", sizingMethod="scale")');
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%
}
.appIndexBg1{
	position: absolute;
	text-align: center;
	opacity: 0.01;
	background-image: url(join("/", "..", $appPathImages, "bg1.jpg"));
	background-repeat: no-repeat;
	background-size: 100% 100%;
	filter: join("", 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src="', join("/", "..", $appPathImages, "bg1.jpg"), '", sizingMethod="scale")');
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%
}
