
/* ContentPane */

.rias .dijitContentPane {
    padding: 0;
}

/* nested layouts */
.rias .dijitTabContainerTop-dijitContentPane,
.rias .dijitTabContainerLeft-dijitContentPane,
.rias .dijitTabContainerBottom-dijitContentPane,
.rias .dijitTabContainerRight-dijitContentPane,
.rias .dijitAccordionContainer-dijitContentPane {
	/*background-color: inherit;#dfefff zensst*/
    padding: 0px;
}

.rias .dijitSplitContainer-dijitContentPane,
.rias .dijitBorderContainer-dijitContentPane {
	/*background-color: inherit;#dfefff zensst*/		/* override background-color setting on parent .dijitBorderContainer */
    padding: 0px;
}