
/* DialogPanel */
@import "CaptionPanel.css";

.riaswDialogPanel {
	display: block;
	position: absolute;
	background-color: whitesmoke;
	padding: 0px;
	margin:0;
	/*overflow: hidden;*/
	/*min-height: 8em;
	min-width: 16em;*/
	-moz-box-shadow: 0em 0em 2em #777;
	-webkit-box-shadow: 0em 0em 2em #777;
	box-shadow: 0em 0em 2em #777;
	border-width: 6px;
	border-color: lightsteelblue;
	border-style: solid;
	border-radius: 6px;
}
.riaswDialogPanelHover,
.riaswDialogPanelActive {
	border-color: gold;
	-moz-box-shadow: 0em 0em 2em black;
	-webkit-box-shadow: 0em 0em 2em black;
	box-shadow: 0em 0em 2em black;
}
.riaswDialogPanelSelected,
/*.riaswDialogPanelFocused,*/
.riaswDialogPanelTopmost {
	border-color: darkseagreen;
	background-color: whitesmoke;
	-moz-box-shadow: 0em 0em 2em black;
	-webkit-box-shadow: 0em 0em 2em black;
	box-shadow: 0em 0em 2em black;
}

.riaswDialogPanelWrapper {
	border: 1px solid silver;
	overflow: hidden;
	position: relative;
	padding: 0px;
	margin:0;
	min-height: 6em;
	min-width: 16em;
	-webkit-overflow-scrolling: touch;
	display: block;
}
/*.mobileBody .riaswDialogPanelWrapper {
	overflow: hidden;
}*/
.riaswDialogPanelContent {
	overflow: auto;
	position: relative;
	padding: 2px;
	-webkit-overflow-scrolling: touch;
}
/*.mobileBody .riaswDialogPanelContent {
	overflow: hidden;
}*/

.riaswDialogPanelWithCaption {
	/*border: 0px solid silver;
	padding:1.5em 4px 4px 4px;
	margin: 1em 4px 4px 4px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 8px;
	border-radius: 8px;*/
}

/* captionNode */
.riaswDialogPanelCaptionNode {
	background-color: lightsteelblue;
	border: 0px solid silver;
	/*border-bottom-width: 1px;*/
	padding: 0px;
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5em;
	white-space: nowrap;
	word-wrap: break-word;
	height: 2em;
	top: 0em;
	vertical-align: middle;
	display: block;
}
.riaswDialogPanelCaptionNodeFixedExpanded{
}
.riaswDialogPanelCaptionNodeFixedCollapsed{
}
.riaswDialogPanelCaptionNodeExpanded {
}
.riaswDialogPanelCaptionNodeCollapsed {
}

/*.riaswDialogPanelTypeInfo .riaswDialogPanelCaptionNode,
.riaswDialogPanelTypeAbout .riaswDialogPanelCaptionNode {
	background-color: lightsteelblue;
}*/

.riaswDialogPanelCaptionNodeHover,
.riaswDialogPanelCaptionNodeActive/*,
.riaswDialogPanelHover .riaswDialogPanelCaptionNode,
.riaswDialogPanelActive .riaswDialogPanelCaptionNode*/ {
	background-color: gold;
}
.riaswDialogPanelCaptionNodeSelected,
/*.riaswDialogPanelSelected .riaswDialogPanelCaptionNode,*/
/*.riaswDialogPanelCaptionNodeFocused,
.riaswDialogPanelFocused .riaswDialogPanelCaptionNode,*/
.riaswDialogPanelCaptionNodeTopmost/*,
.riaswDialogPanelTopmost .riaswDialogPanelCaptionNode*/ {
	background-color: darkseagreen;
}
/*.riaswDialogPanel .riaswDialogPanelCaptionNode {
	background-color: lightsteelblue;
}*/
.riaswDialogPanelCaptionTextNode {
	padding: 2px 4px;
}
.riaswDialogPanelCaptionText{
}

/* Icons */
.riaswDialogPanelIconNode {
	/*width: 2em;
	height: 2em;*/
	float: right;
	padding: 3px;
}
.riaswDialogPanelIconInner {
	width: 15px;
	height: 15px;
	margin: 0px;
	display: inline-block;
	border: 0;
	padding: 0;
	vertical-align: middle;
}
.riaswDialogPanelLeftIcon {
	background: url('./images/CaptionPanelBtn.png') no-repeat 0px center;
}
.riaswDialogPanelRightIcon {
	background: url('./images/CaptionPanelBtn.png') no-repeat -15px center;
}
.riaswDialogPanelToggleIcon {
	background: url('./images/CaptionPanelBtn.png') no-repeat -30px center;
}
.riaswDialogPanelExpandIcon {
	background: url('./images/CaptionPanelBtn.png') no-repeat -45px center;
}
.riaswDialogPanelCollapseIcon {
	background: url('./images/CaptionPanelBtn.png') no-repeat -45px center;
}
.riaswDialogPanelMaximizeIcon {
	background: url('./images/CaptionPanelBtn.png') no-repeat -75px center;
}
.riaswDialogPanelRestoreIcon {
	background: url('./images/CaptionPanelBtn.png') no-repeat -90px center;
}
.riaswDialogPanelMaximized .riaswDialogPanelMaximizeIcon {
	background: url('./images/CaptionPanelBtn.png') no-repeat -90px center;
}
.riaswDialogPanelCloseIcon {
	background: url('./images/CaptionPanelBtn.png') no-repeat -105px center;
}
.riaswDialogPanelIconNodeHover {
	background-color: gold;
}

.riaswDialogPanelActionBar {
	padding: 1em 1em 1em 1em;
	text-align: right;
	margin: 0;
	/*border-: 1px solid silver;*/
	display: block;
}

/* Type ========================*/
.riaswDialogPanelTypeInfo .riaswDialogPanelContent,
.riaswDialogPanelTypeWarn .riaswDialogPanelContent,
.riaswDialogPanelTypeError .riaswDialogPanelContent,
.riaswDialogPanelTypeAbout .riaswDialogPanelContent {
	padding: 1.5em 1em 1em 1em;
	font-weight: bold;
}
.riaswDialogPanelTypeWarn {
	border-color: cornflowerblue;
}
/*.riaswDialogPanelTypeWarn .riaswDialogPanelContent {
	color: black;
}*/
.riaswDialogPanelTypeWarn .riaswDialogPanelCaptionNode {
	background-color: cornflowerblue;
}
.riaswDialogPanelTypeError {
	border-color: salmon;
}
/*.riaswDialogPanelTypeError .riaswDialogPanelContent {
	color: black;
}*/
.riaswDialogPanelTypeError .riaswDialogPanelCaptionNode {
	background-color: salmon;
}
