.rias .dgrid {
  background: inherit;
  border-color: #d3d3d3;
  color: #000;
}
.rias .dgrid-header,
.rias .dgrid-footer {
  background: inherit;
}
.rias .dgrid-header .dgrid-cell {
  border-color: #d3d3d3;
  font-weight: bold;
}
.rias .dgrid-header .dgrid-cell:hover {
  background: #ffd700;
}
.rias .dgrid-row {
  transition-duration: 0.2s;
  transition-property: background-color, border-color;
}
.rias .dgrid-row-odd {
  background: #fffafa;
}
.rias .dgrid-row:hover {
  background-color: #ffd700;
}
.rias .dgrid-selected {
  background-color: #e6e6fa;
}
.rias .dgrid-selected:hover {
  background-color: #ffd700;
}
.rias .dgrid-highlight {
  background-color: #ff0;
}
.rias .dgrid-cell {
  border-color: #d3d3d3;
}
