
// This stylesheet provides the structural CSS for rias.riasw.grid.dgrid

.dgrid {
	//border-width: 0px;
	border-color: lightgray;
}
.dgrid-selector {
	text-align: center;
}
/*.dgrid-selector-hidden {
	display: none;
}*/
.dgrid-summary-cell,
//.dgrid-header
.dgrid-cell {
	//border-width: 1px;
	border-color: lightgray;
	//border-top-style: solid;
	//border-bottom-width: 0;
	border-left-width: 0;
	padding: 0.5em 0.25em;
	//box-sizing: border-box;
	//-webkit-box-sizing: content-box;
}
	.dgrid-cell-canedit {
		border: 0px solid lightblue;
		-moz-box-shadow: 0 0 0 1px lightblue inset;
		-webkit-box-shadow: 0 0 0 1px lightblue inset;
		box-shadow: 0 0 0 1px lightblue inset;
	}
.dgrid-focus {
	outline-color: darkorange;
	outline-style: solid;
	outline-width: 3px;
	outline-offset: -3px;
}
.dgrid-resize-header-container .dgrid-focus {
	outline-width: 0;
}
.dgrid-cell-editing {
	outline-width: 0px;
	padding: 0 !important;
	margin: 0 !important;
}
.dgrid-cell-editor {
	width: 100%;
	height: 100%;
	border-width: 0;
}
.dgrid-input {
	//padding: 0 0.5em 0 0 !important;
	border-width: 0;
}
.dgrid-summary-cell-none {
	border-right-width: 0;
}
.dgrid-spacer-row {
	//border-width: 1px 1px 0px 1px;
	//border-color: lightgray;
	.dgrid-cell {
		padding: 0 !important;///需要覆盖 .dgrid-header .dgrid-cell
		border: 0 !important;
	}
}
.dgrid-scroller {
	//border-width: 1px;
	//border-color: lightgray;
	//overflow-x: auto;
	overflow-y: auto;///要引起 右上角 错位
	border-bottom: 1px solid lightgray;
}
.dgrid-content {
	//border-right: 1px solid lightgray;
}
.dgrid-row {
	background-color: white;
}
.dgrid-row-table {
	border-collapse: separate;
	border-spacing: 0;
}
.dgrid-row-odd {
	background-color: snow;
}
.dgrid-selected {
	background-color: lightblue;
}
.dgrid-hider-toggle {
	right: auto;
	left: 0;
}
.dgrid-header-tools {
	padding: 0.25em;
	border-bottom-width: 1px;
}
.dgrid-rownumcolumn {
	//margin: auto;
	//text-align: center;
}
.dgrid-opcolumn {
	.dijitButton {
		padding: 0 0 0 0.25em;
	}
	.dijitButtonNode {
		padding: 0;
	}
	> button {
		background-color: inherit;
		height: auto;
		line-height: 1em;
		padding: 0;
		margin-left: 0.5em;
		border-width: 0;
		font-family: inherit;
		font-size: inherit;
		font-weight: bold;
		cursor: pointer;
		text-decoration: underline;
	}
	> button:hover {
		color: darkorange;
	}
}
.dgrid-footer-summary-row {
	position: absolute;
	left: 0;
	right: 17px;
	border-width: 0 0 1px 0;
	border-color: lightgray;
	border-style: solid;
	.dgrid-cell {
		//padding: 0;///需要覆盖 .dgrid-header .dgrid-cell
		border-bottom-width: 0 !important;
	}
}
.dgrid-autoheight .dgrid-footer-summary-scroll {
	display: none;
}
.dgrid-rtl-swap .dgrid-footer-summary-scroll {
	left: 0px;
	right: auto;
}
.dgrid-footer-summary-row,
.dgrid-header,
.dgrid-selector,
.dgrid-opcolumn,
.dgrid-rownumcolumn {
	background-color: ghostwhite;
}
.dgrid-header-scroll,
.dgrid-footer-summary-scroll {
	position: absolute;
	right: 0;
	top: 0;
	background-color: ghostwhite;
	border: 0px solid lightgray;
}
.dgrid-header-scroll {
	border-width: 0 0 1px 0;
}
.dgrid-footer-summary-scroll {
	border-width: 0 0 1px 0;
}
.dgrid-column-set-scroller {
	background-color: ghostwhite;
	border: 0px solid lightgray;
//	border-width: 0 1px 0 0;
}

.dgrid-hider-menu {
	//right: 0px;
	left: 17px;
}
.dgrid-hider-menu-row:hover {
	background-color: gold;
}
.dgrid-hider-menu-row:focus {
	background-color: lightblue;
}
