<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<property  name="filename" value="logs/RIAStudio" />

    <!-- 控制台输出 -->
    <appender name="CONSOLE.ERR" class="ch.qos.logback.core.ConsoleAppender">
        <param name="target" value="System.err" />
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%-6level[%date][%thread] %logger - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="CONSOLE.OUT" class="ch.qos.logback.core.ConsoleAppender">
        <param name="target" value="System.out" />
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%-6level[%date][%thread] %logger - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

	<!-- 时间滚动输出 level为 DEBUG 日志 -->
	<appender name="file-debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<!--<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch> -->
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${filename}_debug.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%-6level[%date][%thread] %logger - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </layout>
	</appender>

	<!-- 时间滚动输出 level为 ERROR 日志 -->
	<!-- appender name="file-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY </onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${filename}_error.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%-6level[%date][%thread] %logger - %msg%n</Pattern>
            <charset>UTF-8</charset>
        </layout>
	</appender -->

	<!-- 特定过滤含有某字符串的日志 -->
<!--
	<appender name="file-str" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
			<evaluator>
				<expression>message.contains("张三")</expression>
			</evaluator>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>

			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<FileNamePattern>${filename}_contains.%d{yyyy-MM-dd}.log</FileNamePattern>
				<MaxHistory>30</MaxHistory>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%-6level[%date][%thread] %logger - %msg%n</Pattern>
				<charset>UTF-8</charset>
			</layout>
		</appender>
	-->
	<!-- 数据库输出 -->
	<!--
		<appender name="db" class="ch.qos.logback.classic.db.DBAppender">
			<connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
				<driverClass>com.mysql.jdbc.Driver</driverClass>
				<url>jdbc:mysql://localhost:3306/riastudio</url>
				<user>root</user>
				<password>zensst</password>
			</connectionSource>
		</appender>
	-->

	<!-- 异步输出 -->
	<appender name ="ASYNC" class= "ch.qos.logback.classic.AsyncAppender">
		<!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
		<discardingThreshold >0</discardingThreshold>
		<!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
		<queueSize>256</queueSize>
		<!-- 添加附加的appender,最多只能添加一个 -->
		<appender-ref ref ="file-debug"/>
	</appender>

	<logger name="com.riastudio">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.Connection">
		<level value="INFO" />
	</logger>
	<logger name="java.sql.Statement">
		<level value="INFO" />
	</logger>
	<!--
		<logger name="com.ibatis">
			<level value="DEBUG" />
		</logger>
		<logger name="com.ibatis.common.jdbc.SimpleDataSource">
			<level value="DEBUG" />
		</logger>
		<logger name="com.ibatis.common.jdbc.ScriptRunner">
			<level value="DEBUG" />
		</logger>
		<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate">
			<level value="DEBUG" />
		</logger>
		<logger name="com.danga.MemCached">
			<level value="INFO" />
		</logger>
		<logger name="org.springframework.test">
			<level value="DEBUG" />
		</logger>
		<logger name="org.apache.struts2">
			<level value="DEBUG" />
		</logger>
	-->
	<root level="WARN">
		<appender-ref ref ="ASYNC"/>
        <appender-ref ref="CONSOLE.ERR" />
        <appender-ref ref="CONSOLE.OUT" />
		<!--
		<appender-ref ref="file-error" />
		<appender-ref ref="file-debug" />
				<appender-ref ref="file-str" />
				<appender-ref ref="db" />
		-->
	</root>

</configuration>