
@import '../Common';

.appLogin{

	.btnLogin {
		background-color: $appHighlightColor;
	}
	.btnLoginFocused {
		background-color: $appSelectedColor;
	}
	.btnLoginHover {
		background-color: $appHoverColor;
	}

}
