
/* rias.app */

//@import "variables_material_colors";
@import '../../../../../weblib/riasw/themes/rias/variables';

$appPathImages = "images";
$desktopHeaderColor ?= $blue-900;
$desktopFooterColor ?= $inverse-color;
$sceneHeaderColor ?= $desktopHeaderColor;
$sceneFooterColor ?= $desktopFooterColor;


