/* dijit.Calendar */
.dijitCalendar thead {
  background-repeat: repeat-x;
  background-color: #007AFF;
}
.dijitCalendarSelectedDate .dijitCalendarDateLabel {
  background-repeat: repeat-x;
  color: #A7A7AA;
}
.dijitCalendarActiveDate .dijitCalendarDateLabel {
  background-repeat: repeat-x;
}
.dijitCalendarYearLabel {
  background-repeat: repeat-x;
  background-color: #007AFF;
}
.dj_gecko .dijitCalendar .dijitDropDownButton .dijitButtonNode {
  -moz-box-shadow: 0 0 0 transparent;
}
.dj_gecko .dijitCalendar thead {
  background-color: #007AFF;
}
.dj_gecko .dijitCalendarSelectedDate .dijitCalendarDateLabel {
  color: #A7A7AA;
}
.dj_gecko .dijitCalendarYearLabel {
  background-color: #007AFF;
}
.dj_ff3 .dijitCalendar {
  -moz-border-radius: 0;
}
