@import url("/dojo/resources/dojo.css");
/* ======= Styling for the document itself (overriding dojo.css) ======== */
.rias {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .688em;
  color: #131313;
}
/* Headings */
.rias h1 {
  font-size: 1.545em;
  margin-bottom: 0.727em;
}
.rias h2 {
  font-size: 1.364em;
  line-height: 1.455em;
  margin-top: 1em;
  margin-bottom: 0.60em;
  font-weight: normal;
}
.rias h3,
.rias h4,
.rias h5,
.rias h6 {
  font-size: 1.091em;
  font-weight: normal;
}
/* paragraphs, quotes and lists */
.rias p {
  line-height: 1.3em;
}
/* pre and code */
.rias pre,
.rias code {
  font-family: inherit;
  background-color: #efefef;
  border: 1px solid #d3d3d3;
}
/* tables */
.rias table.dojoTabular thead,
.rias table.dojoTabular tfoot {
  background-color: #efefef;
  border: 1px solid #d3d3d3;
}
