

/*TODO:zensst. 统一 css 为 theme，且可以动态加载。考虑在 riaswMapper 中定义
*/
/*rias.file.Icon=================================================================*/
.riasJSFileIcon{
	background: url('./imagesfile/JS.png') no-repeat;
}
.riasJSONFileIcon{
	background: url('./imagesfile/JS.png') no-repeat;
}
.riasRSPFileIcon{
	background: url('./imagesfile/JS.png') no-repeat;
}
.riasRSMFileIcon{
	background: url('./imagesfile/JS.png') no-repeat;
}
.riasHTMLFileIcon{
	background: url('./imagesfile/htm.gif') no-repeat;
}
.riasCSSFileIcon{
	background: url('./imagesfile/CSS.png') no-repeat;
}
.riasAUDIOFileIcon{
	background: url('./imagesfile/audio.gif') no-repeat;
}
.riasAVIFileIcon{
	background: url('./imagesfile/avi.gif') no-repeat;
}
.riasBMPFileIcon{
	background: url('./imagesfile/bmp.gif') no-repeat;
}
.riasCODEFileIcon{
	background: url('./imagesfile/code.gif') no-repeat;
}
.riasDOCFileIcon{
	background: url('./imagesfile/doc.gif') no-repeat;
}
.riasEXEFileIcon{
	background: url('./imagesfile/exe.gif') no-repeat;
}
.riasFOLDFileIcon{
	background: url('./imagesfile/fold.gif') no-repeat;
}
.riasFOLDUPFileIcon{
	background: url('./imagesfile/foldup.gif') no-repeat;
}
.riasGIFFileIcon{
	background: url('./imagesfile/gif.gif') no-repeat;
}
.riasHLPFileIcon{
	background: url('./imagesfile/hlp.gif') no-repeat;
}
.riasHTMFileIcon{
	background: url('./imagesfile/htm.gif') no-repeat;
}
.riasJPGFileIcon{
	background: url('./imagesfile/jpg.gif') no-repeat;
}
.riasMDBFileIcon{
	background: url('./imagesfile/mdb.gif') no-repeat;
}
.riasMIDFileIcon{
	background: url('./imagesfile/mid.gif') no-repeat;
}
.riasMPFileIcon{
	background: url('./imagesfile/mp.gif') no-repeat;
}
.riasMP3FileIcon{
	background: url('./imagesfile/mp3.gif') no-repeat;
}
.riasPDFFileIcon{
	background: url('./imagesfile/pdf.gif') no-repeat;
}
.riasPICFileIcon{
	background: url('./imagesfile/pic.gif') no-repeat;
}
.riasPNGFileIcon{
	background: url('./imagesfile/png.gif') no-repeat;
}
.riasPPTFileIcon{
	background: url('./imagesfile/ppt.gif') no-repeat;
}
.riasRARFileIcon{
	background: url('./imagesfile/rar.gif') no-repeat;
}
.riasRMFileIcon{
	background: url('./imagesfile/rm.gif') no-repeat;
}
.riasSWFFileIcon{
	background: url('./imagesfile/swf.gif') no-repeat;
}
.riasTXTFileIcon{
	background: url('./imagesfile/txt.gif') no-repeat;
}
.riasUNKNOWFileIcon{
	background: url('./imagesfile/unknow.gif') no-repeat;
}
.riasXLSFileIcon{
	background: url('./imagesfile/xls.gif') no-repeat;
}
.riasZIPFileIcon{
	background: url('./imagesfile/zip.gif') no-repeat;
}


/*rias.ui.Icon=================================================================*/
.okIcon {
	background-image: url(./images/btn_Images.png);
	background-position: 0px -32px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.cancelIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -32px -32px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.aboutIcon,
.infoIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -64px -32px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.warnIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -96px -32px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.errorIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -128px -32px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.helpIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -160px -32px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.loginIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -192px -32px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.menuIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -224px -32px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.optionIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -256px -32px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.inputIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -288px -32px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.iconListIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -320px -32px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.saveIcon,
.saveAsIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -64px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.importIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -448px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.exportIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -480px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.openIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -32px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.closeIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -128px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.exitIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -224px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.runIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -256px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.homeIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -288px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.printIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -160px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.printPreviewIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -192px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.newIcon,
.addIcon,
.addChildIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -288px -16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.reduceIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -320px -16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.newDirIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -64px -16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.newFileIcon {
	background-image: url(./images/btn_Images.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.deleIcon,
.deleteIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -416px -16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.modiIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -352px -16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.editIcon {
	background-image: url(./images/btn_Images.png);
	background-position: 0px -64px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.rollbackIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -448px -16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.queryIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -480px -16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.copyIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -32px -48px;
	width: 16px;
	height: 16px;
}
.cutIcon {
	background-image: url(./images/btn_Images.png);
	background-position: 0px -48px;
	width: 16px;
	height: 16px;
}
.pasteIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -64px -48px;
	width: 16px;
	height: 16px;
}
.undoIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -96px -48px;
	width: 16px;
	height: 16px;
}
.redoIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -128px -48px;
	width: 16px;
	height: 16px;
}
.refreshIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -160px -48px;
	width: 16px;
	height: 16px;
}
.clearIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -192px -48px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.cursorIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -224px -48px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.rulerIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -256px -48px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.lockIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -288px -48px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.penIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -320px -48px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.drawIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -352px -48px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.imageIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -384px -48px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.parentIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -128px -16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.childIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -128px -16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.startIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -192px -96px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.stopIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -352px -96px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.riasdIcon {
	background-image: url(./images/btn_Images.png);
	background-position: 0px -64px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.addonsIcon,
.appIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -32px -64px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.outlineIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -64px -64px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.riasdPreviewIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -96px -64px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.riasdJsIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -128px -64px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.riasdCssIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -160px -64px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.riasdHtmlIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -192px -64px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.riasdFuncIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -224px -64px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.riasdParamIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -256px -64px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.riasdStyleIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -288px -64px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.fullScreenIcon {
	background-image: url(./images/btn_Images.png);
	background-position: 0px -112px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.upIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -64px -112px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.downIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -128px -112px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.priorIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -32px -112px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.nextIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -96px -112px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.noticeIcon {
	background-image: url(./images/btn_Images.png);
	background-position: 0px -80px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.logIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -32px -80px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.sheetIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -64px -80px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.additionIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -96px -80px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.diaryIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -256px -80px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.scheduleIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -160px -80px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.taskleIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -192px -80px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.workingIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -224px -80px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.worksIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -256px -80px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.checkIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -288px -80px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.auditIcon {
	background-image: url(./images/btn_Images.png);
	background-position: -320px -80px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}





.newFolderIcon {
	background-image: url(./images/sprite.png);
	background-position: -21px -22px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.uploadIcon {
	background-image: url(./images/sprite.png);
	background-position: 0 -450px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.downloadAllIcon {
	background-image: url(./images/sprite.png); /* FIXME: add logic for new_document-disabled.gif? */
	background-position: 0 -1060px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.downloadSomeIcon {
	background-image: url(./images/sprite.png); /* FIXME: add logic for new_document-disabled.gif? */
	background-position: 0 -994px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.userSettingsMenuIcon {
	background-image: url(./images/sprite.png);
	background-position: -82px -692px;
	background-repeat: no-repeat;
	width: 27px;
	height: 27px;
}
.appSettingsMenuIcon {
	background-image: url(./images/sprite.png);
	background-position: -48px -692px;
	background-repeat: no-repeat;
	width: 27px;
	height: 27px;
}
.helpMenuIcon {
	background-image: url(./images/sprite.png);
	background-position: -48px -652px;
	background-repeat: no-repeat;
	width: 27px;
	height: 27px;
}

.flowLayoutIcon {
	background-image: url(./images/sprite.png); /* FIXME: add logic for undo-disabled.gif? */
	background-position: -51px -1777px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.absoluteLayoutIcon {
	background-image: url(./images/sprite.png); /* FIXME: add logic for undo-disabled.gif? */
	background-position: -75px -1777px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.stickynoteIcon {
	background-image: url(./images/sprite.png); /* FIXME: add logic for undo-disabled.gif? */
	background-position: -46px -610px;
	width: 27px;
	height: 27px;
}
.rotateIcon {
	background-image: url(./images/sprite.png);
	background-position: -82px -860px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.deviceIcon {
	background-image: url(./images/sprite.png);
	background-position: 0 -780px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.openBrowserIcon {
	background-image: url(./images/sprite.png); /* FIXME: Disabled version? */
	background-position: -46px -532px;
	background-repeat: no-repeat;
	width: 27px;
	height: 27px;
}
.documentSettingsIcon {
	background-image: url(./images/sprite.png); /* FIXME: Disabled version? */
	background-position: -46px -572px;
	background-repeat: no-repeat;
	width: 27px;
	height: 27px;
}

.gotolineIcon {
	background-image: url(./images/sprite.png);
	background-position: 0 -1316px;
	width: 18px;
	height: 18px;
}

.formatIcon {
	background-image: url(./images/sprite.png);
	background-position: -82px -1455px;
	width: 18px;
	height: 18px;
}
.htmlFileIcon {
	background-image: url(./images/sprite.png);
	background-position: -82px -1323px;
	width: 16px;
	height: 16px;
}
.htmlFileIconReadOnly{
	background-image: url(./images/sprite.png);
	background-position: -99px -1323px;
	width: 16px;
	height: 16px;
}
.themeFileIcon {
	background-image: url(./images/sprite.png);
	background-position: 0 -1382px;
	width: 16px;
	height: 16px;
}
.themeFileIconReadOnly {
	background-image: url(./images/sprite.png);
	background-position: -21px -1382px;
	width: 16px;
	height: 16px;
}
.cssFileIcon {
	background-image: url(./images/sprite.png);
	background-position: -82px -1257px;
	width: 16px;
	height: 16px;
}
.cssFileIconReadOnly {
	background-image: url(./images/sprite.png);
	background-position: -82px -1279px;
	width: 16px;
	height: 16px;
}
.newOpenMenuItem {
	background-image:url(./images/sprite.png);
	width:20px;
	height:16px;
}
