/* Resizer */
.riaswResizer {
  float: right;
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 13px;
  height: 13px;
  z-index: 20;
  background-image: url("images/resize.png");
  line-height: 0px;
}
.dijitRtl .riaswResizer {
  float: right;
  left: 0px;
  right: auto;
  background-image: url("images/resizeRtl.png");
}
.riaswResizerNW {
  cursor: nw-resize;
}
.dijitRtl .riaswResizerNW {
  cursor: ne-resize;
}
.riaswResizerNE {
  cursor: ne-resize;
}
.dijitRtl .riaswResizerNE {
  cursor: nw-resize;
}
.riaswResizerW {
  cursor: w-resize;
}
.riaswResizerN {
  cursor: n-resize;
}
.riaswResizerNone {
  cursor: default;
}
.riaswResizerClone {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px dashed #777;
  z-index: 999;
}
