/**
 * rias.riasw.layout.TabPanel
 */

/* Classes for all types of tabs (top/bottom/left/right) */

@import 'layout_variables';

.riaswTabPanel {
	position: relative;
	z-index: 0;
	overflow: hidden;
	border-radius: $tab-wrapper-border-radius;
}
.dj_ie6 .riaswTabPanel {
	overflow: hidden;
}
.riaswTabPanelNoLayout {
	width: 100%;
}
.riaswTabPanelTopChildWrapper,
.riaswTabPanelBottomChildWrapper,
.riaswTabPanelLeftChildWrapper,
.riaswTabPanelRightChildWrapper {
	position: absolute;///有 fx 存在，会 设置为 absolute
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
}

.riaswTabPane,///注意，不是 riaswTabPanel
.riaswStackPanel-child,
.riaswAccordionPanel-child {
	//border: none !important;
}

.nowrapTabStrip {
	width: auto;
	position: absolute;
}
.riaswTabListWrapper {
	overflow: hidden;
	z-index: 1;
}
.riaswTabSpacer {
	// display: none if !$tab-has-gutter;
	display: none;
}

.riaswTabController {
	z-index: 1;
}

.riaswTabPanelContainer {
	background: inherit;// $tab-wrapper-background-color;
	//border: 0px solid $tab-checked-border-color;// $tab-wrapper-border-color;
	border: none;
	margin: 0;
	padding: 0;
	border-radius: 0 0 $tab-wrapper-border-radius $tab-wrapper-border-radius;
	z-index: 1;
	overflow: visible !important;
}

// tab ======================== //
.riaswTab {
	font-size: 1.1em;
	cursor:pointer;
	white-space:nowrap;
	border: 1px solid $border-color;
	background-color: inherit;// $tab-background-color;
	text-align: center;
	transition-property: background, padding, margin;
	transition-duration: .1s;
	transition-timing-function: ease;
	position: relative;
	z-index: 0;
	if ($tab-checked-has-highlight-border) {
		&:before {
			content: "";
			display: block;
			position: absolute;
		}
	}
	* {
		vertical-align: middle;
	}
	.riaswTabLabel {
		/*min-height: 16px;*/
		display: inline-block;
	}
}
.riaswTabHover {
	background-color: $tab-hover-background-color;
}
.riaswTabActive {
	background-color: $tab-active-background-color;
}
.riaswTabChecked {
	cursor: default;
	border-color: $tab-checked-border-color;
	font-weight: bold;
	z-index: 1;
	&.riaswTabHover,
	&.riaswTabActive {
		//border: 2px solid $tab-checked-border-color;
		//background-color: $tab-checked-background-color;
		//color: $tab-checked-text-color;
	}
}
.riaswTabDisabled {
	opacity: $disabled-opacity;
}
div.riaswTabDisabled, .dj_ie div.riaswTabDisabled {
	cursor: auto;
}

.riaswTabCloseText {
	display:none;
}
.dj_a11y .riaswTabCloseText {
	display: inline;
}
.dj_ie6 .riaswTab .dijitNoIcon {
	display: inline;
	height: 15px;
	width: 1px;
}

.riaswTabCloseButton {
	_icon-core-style();
	width: $tab-close-button-icon-size;
	height: @width;
	line-height: @height;
	text-align: center;
	vertical-align: middle;
	//margin-left: $tab-padding * 2;
	//background: url(./images/CaptionPanelBtn.png) no-repeat -168px 0px;
	opacity: $tab-close-button-opacity;
	&:before {
		content: $tab-close-button-icon;
		font-size: $tab-close-button-font-size;
	}
}
.riaswTabCloseButtonHover {
	opacity: $tab-close-button-hover-opacity;
	background-color: gold;
}
.riaswTabCloseButtonActive {
	opacity: $tab-close-button-active-opacity;
	background-color: gold;
}
.dj_a11y .riaswTabCloseButton {
	background-image: none !important;
	width: auto !important;
	height: auto !important;
}

.riaswTabStripButton {
	z-index: 12;
	background-color: $tab-strip-button-background-color;
	border: 1px solid $tab-strip-button-border-color;
	transition-property: background-color;
	position: absolute;
	padding: $tab-padding;
}

/************ top、bottom、left、right ***********/
.riaswTabPanelContainer {
	z-index: 0;
	overflow: hidden;
}
.riaswTabController-top,
.riaswTabController-bottom,
.riaswTabController-left,
.riaswTabController-right {
	z-index: 1;
	overflow: visible !important;
	border: none;
}
.riaswTabController-top,
.riaswTabController-bottom {
	.riaswTab {
		height: 2em;
		line-height: 2em;
	}
	.riaswTabControllerContent {
		padding: 0 1em;
	}
}
.riaswTabController-left,
.riaswTabController-right {
	.riaswTab {
		width: 2em;
		//line-height: 2em;
	}
	.riaswTabControllerContent {
		padding: 1em 0;
	}
}

.riaswTabController-top .riaswTab,
.riaswTabController-bottom .riaswTab {
	display:inline-block;
}
/*************** top tabs ***************/
.riaswTabPanelContainer-top {
	border-top: 2px solid $tab-checked-border-color;
	border-radius: 0 0 $tab-wrapper-border-radius $tab-wrapper-border-radius;
}
.riaswTabController-top {
	margin-top: 2px;
	.riaswTabStripButton {
		//margin-bottom: 1px;
	}
	.riaswTab {
		margin-right: $tab-spacing;
		padding: $tab-top-padding;
		border-bottom: 2px solid transparent;
		//border-bottom-color: $tab-wrapper-border-color;
		//border-left : none;
		//border-right: none;
		display: inline-block;
	}
	// .riaswTabHover,
	// .riaswTabActive,
	// .riaswTabChecked {
	// }
	.riaswTabChecked {
		//top: 0px;
		border-bottom-color: $tab-wrapper-background-color;
		//border-bottom: 1px solid $tab-wrapper-background-color;
		//border-left: 1px solid $tab-wrapper-border-color;
		//border-right: 1px solid $tab-wrapper-border-color;
		if ($tab-checked-has-highlight-border) {
			&:before {
				height: 3px;
				background: $tab-highlight-color;
				top: 0px;
				left: -1px;
				right: -1px;
			}
		}
	}
}
/*************** end top tabs **************/
/*************** bottom tabs ***************/
.riaswTabPanelContainer-bottom {
	border-bottom: 2px solid $tab-checked-border-color;
	border-radius: $tab-wrapper-border-radius $tab-wrapper-border-radius 0 0;
}
.riaswTabController-bottom {
	margin-top: -2px;
	.riaswTabStripButton {
		//margin-top: 1px;
	}
	.riaswTab {
		margin-right: $tab-spacing;
		padding: $tab-bottom-padding;
		border-top: 2px solid transparent;
		//border-top-color: $tab-wrapper-border-color;
		//border-left: none;
		//border-right: none;
		display: inline-block;
	}
	// .riaswTabHover,
	// .riaswTabActive,
	// .riaswTabChecked {
	// }
	.riaswTabChecked {
		//top: 0px;
		border-top-color: $tab-wrapper-background-color;
		//border-top: 1px solid $tab-wrapper-background-color;
		//border-left: 1px solid $tab-wrapper-border-color;
		//border-right: 1px solid $tab-wrapper-border-color;
		if ($tab-checked-has-highlight-border) {
			&:before {
				height: 3px;
				background: $tab-highlight-color;
				bottom: 0px;
				left: -1px;
				right: -1px;
			}
		}
	}
}
/************ end bottom tabs ************/
/*************** left tabs ***************/
.riaswTabPanelContainer-left {
	border-left: 2px solid $tab-checked-border-color;
	border-radius: 0 $tab-wrapper-border-radius $tab-wrapper-border-radius 0;
}
.riaswTabController-left {
	margin-left: 2px;
	.riaswTabStripButton {
		//margin-right: 1px;
	}
	.riaswTab {
		margin-bottom: $tab-spacing;
		padding: $tab-left-padding;
		border-right: 2px solid transparent;
		//border-right-color: $tab-wrapper-border-color;
		//border-top: none;
		//border-bottom: none;
		display: block;
	}
	// .riaswTabHover,
	// .riaswTabActive,
	// .riaswTabChecked {
	// }
	.riaswTabChecked {
		//left: 0px;
		border-right-color: $tab-wrapper-background-color;
		//border-right: 1px solid $tab-wrapper-background-color;
		//border-top: 1px solid $tab-wrapper-border-color;
		//border-bottom: 1px solid $tab-wrapper-border-color;
		if ($tab-checked-has-highlight-border) {
			&:before {
				width: 3px;
				background: $tab-highlight-color;
				bottom: -1px;
				left: 0px;
				top: -1px;
			}
		}
	}
}
/************** end left tabs *************/
/*************** right tabs ***************/
.riaswTabPanelContainer-right {
	border-right: 2px solid $tab-checked-border-color;
	border-radius: $tab-wrapper-border-radius 0 0 $tab-wrapper-border-radius
}
.riaswTabController-right {
	margin-left: -2px;
	.riaswTabStripButton {
		//margin-left: 1px;
	}
	.riaswTab {
		margin-bottom: $tab-spacing;
		padding: $tab-right-padding;
		border-left: 2px solid transparent;
		//border-left-color: $tab-wrapper-border-color;
		//border-top: none;
		//border-bottom: none;
		display: block;
	}
	// .riaswTabHover,
	// .riaswTabActive,
	// .riaswTabChecked {
	// }
	.riaswTabChecked {
		//left: 0px;
		border-left-color: $tab-wrapper-background-color;
		//border-left: 1px solid $tab-wrapper-background-color;
		//border-top: 1px solid $tab-wrapper-border-color;
		//border-bottom: 1px solid $tab-wrapper-border-color;
		if ($tab-checked-has-highlight-border) {
			&:before {
				width: 3px;
				background: $tab-highlight-color;
				bottom: -1px;
				right: 0px;
				top: -1px;
			}
		}
	}
}
/************* end right tabs *************/

/************ scroll buttons + menu button ***********/
.riaswTabStripIcon {
	_icon-core-style();
	color: $tab-strip-button-arrow-color;
	vertical-align: middle;
	//margin: auto;
	//display: block;
	&:before {
		content: $tab-left-icon;
	}
}
.riaswTabStripSlideRightIcon {
	&:before {
		content: $tab-right-icon;
	}
}
.riaswTabStripSlideUpIcon {
	&:before {
		content: $tab-up-icon;
	}
}
.riaswTabStripSlideDownIcon {
	&:before {
		content: $tab-down-icon;
	}
}
.riaswTabStripMenuIcon {
	&:before {
		content: $tab-menu-icon;
	}
}
.dj_a11y .riaswTabStripButton img {
	display: none;
}
.riaswTabButtonDisabled .riaswTabStripButton {
	display: none;
}
.riaswTabStripButtonHover {
	background-color: $tab-strip-button-hover-background-color;
}
.riaswTabStripButtonActive {
	background-color: $tab-strip-button-active-background-color;
}

/* disabled */

.riaswTabStripButtonDisabled {
	button-disabled-style();
	//background-color: inherit;
	background-image: none;
	//outline: none;
	color: inherit;
	//-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	//-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	opacity: $disabled-opacity;
	//-webkit-filter: grayscale(1);
	//-ms-filter: grayscale(1);
	filter: grayscale(1);
}

/*********** end left/right scroll buttons + menu button *********/

/*************** nested tabs ***************/
.riaswTabPanelNested .riaswTabListWrapper {
	height: auto;
}
/*.riaswTabPanelTabListNested {
	.riaswTab {
		color: $nestedtab-text-color;
		margin: $tab-padding;
		padding: $nestedtab-padding;
		border: 1px solid $nestedtab-border-color;
		border-radius: $nestedtab-border-radius;
		transition-property: background-color, border-color;
		transition-duration: .3s;
	}
	.riaswTabHover {
		background-color: $nestedtab-hover-background-color;
	}
	.riaswTabActive {
		color: $nestedtab-active-text-color;
		background-color:$nestedtab-active-background-color;
	}
	.riaswTabChecked,
	.riaswTabChecked.riaswTabHover,
	.riaswTabChecked.riaswTabActive {
		color: $nestedtab-checked-text-color;
		background-color: $nestedtab-checked-background-color;
		&:before {
			display: none;
		}
	}

	.riaswTabController-top .riaswTab {
		margin-right: $nestedtab-spacing;
	}
	.riaswTabController-bottom .riaswTab {
		margin-right: $nestedtab-spacing;
	}
	.riaswTabController-left .riaswTab {
		margin-bottom: $nestedtab-spacing;
	}
	.riaswTabController-right .riaswTab {
		margin-bottom: $nestedtab-spacing;
	}

}

.riaswTabPanelWrapperNested {
	//border: none; // prevent double border
	border-width: 0;
	box-shadow: none;
}*/

/* Rtl */
.riaswTabControllerRtl,
.riaswTabControllerRtl .nowrapTabStrip {
	text-align: right;
}

.dijitTabRtl{
	.riaswTabCloseButton {
		margin-left: 0;
		margin-right: $tab-padding;
	}
}

.dijitRtl {

	.riaswTab {
		margin-right:0;
		margin-left:2px;		/* space between one tab and the next in top/bottom mode */
	}

	/* tab strips */
	.riaswTabPanel .riaswTabStripButton {
		//margin-left: 0;
	}

	.riaswTabPanelTopStrip,
	.riaswTabPanelBottomStrip,
	.riaswTabController-top,
	.riaswTabController-bottom {
		padding-left: 0;
		padding-right: 3px;
	}

	.riaswTabInnerDiv {
		padding-left: 3px;
		padding-right: 4px;
	}

	.riaswTabPanelContainer {
		//zoom: 1;
	}

	.riaswTabController-left .riaswTab,
	.riaswTabController-right .riaswTab {
		margin-left:0;
	}

}

.dj_ie-rtl {
	.riaswTabController-left {
		margin-left: 0 !important;
	}
	.riaswTabController-right {
		margin-right: 0 !important;
	}
	.riaswTab .riaswTabInnerDiv{
		width : 1%;
	}
}
