
/* Underlay */

@import 'layout_variables';

.riaswUnderlayWrapper {
	position: absolute;
	z-index: 998;
	display: none;
	background: transparent !important;
}

.riaswUnderlay {
	position: absolute;
	z-index: 998;
	display: none;
	background: darkgray;
	opacity: 0.33;
}

