.riaswAIcon48 {
  background: url("./imagesw48/A.png") no-repeat;
}
.riaswAccordionPanelIcon48 {
  background: url("./imagesw48/AccordionPanel.png") no-repeat;
}
.riaswAudioIcon48 {
  background: url("./imagesw48/Audio.png") no-repeat;
}
.riaswBIcon48 {
  background: url("./imagesw48/B.png") no-repeat;
}
.riaswBorderContainerIcon48 {
  background: url("./imagesw48/BorderContainer.png") no-repeat;
}
.riaswButtonIcon48 {
  background: url("./imagesw48/Button.png") no-repeat;
}
.riaswButtonBoxIcon48 {
  background: url("./imagesw48/ButtonBox.png") no-repeat;
}
.riaswCalendarIcon48 {
  background: url("./imagesw48/Calendar.png") no-repeat;
}
.riaswCaptionPanelIcon48 {
  background: url("./imagesw48/CaptionPanel.png") no-repeat;
}
.riaswCarouselIcon48 {
  background: url("./imagesw48/Carousel.png") no-repeat;
}
.riaswCarouselItemIcon48 {
  background: url("./imagesw48/CarouselItem.png") no-repeat;
}
.riaswCheckBoxIcon48 {
  background: url("./imagesw48/CheckBox.png") no-repeat;
}
.riaswCheckButtonIcon48 {
  background: url("./imagesw48/CheckBox.png") no-repeat;
}
.riaswCheckMenuItemIcon48 {
  background: url("./imagesw48/CheckMenuItem.png") no-repeat;
}
.riaswCheckedMultiSelectIcon48 {
  background: url("./imagesw48/CheckedMultiSelect.png") no-repeat;
}
.riaswCodeEditorIcon48 {
  background: url("./imagesw48/CodeEditor.png") no-repeat;
}
.riaswColorPaletteIcon48 {
  background: url("./imagesw48/ColorPalette.png") no-repeat;
}
.riaswComboBoxIcon48 {
  background: url("./imagesw48/ComboBox.png") no-repeat;
}
.riaswComboButtonIcon48 {
  background: url("./imagesw48/ComboButton.png") no-repeat;
}
.riaswContainerIcon48 {
  background: url("./imagesw48/Container.png") no-repeat;
}
.riaswContainerTagIcon48 {
  background: url("./imagesw48/ContainerTag.png") no-repeat;
}
.riaswContentPaneIcon48 {
  background: url("./imagesw48/ContentPane.png") no-repeat;
}
.riaswContentPanelIcon48 {
  background: url("./imagesw48/ContentPanel.png") no-repeat;
}
.riaswCurrencyTextBoxIcon48 {
  background: url("./imagesw48/CurrencyTextBox.png") no-repeat;
}
.riaswDataCarouselIcon48 {
  background: url("./imagesw48/DataCarousel.png") no-repeat;
}
.riaswDataGridIcon48 {
  background: url("./imagesw48/DataGrid.png") no-repeat;
}
.riaswDatePickerIcon48 {
  background: url("./imagesw48/DatePicker.png") no-repeat;
}
.riaswDateTextBoxIcon48 {
  background: url("./imagesw48/DateTextBox.png") no-repeat;
}
.riaswDayTextBoxIcon48 {
  background: url("./imagesw48/DateTextBox.png") no-repeat;
}
.riaswDialogIcon48 {
  background: url("./imagesw48/Dialog.png") no-repeat;
}
.riaswDivIcon48 {
  background: url("./imagesw48/Div.png") no-repeat;
}
.riaswDockBarIcon48 {
  background: url("./imagesw48/DockBar.png") no-repeat;
}
.riaswDropDownButtonIcon48 {
  background: url("./imagesw48/DropDownButton.png") no-repeat;
}
.riaswDropDownSelectIcon48 {
  background: url("./imagesw48/DropDownSelect.png") no-repeat;
}
.riaswEdgeToEdgeCategoryIcon48 {
  background: url("./imagesw48/EdgeToEdgeCategory.png") no-repeat;
}
.riaswEdgeToEdgeListIcon48 {
  background: url("./imagesw48/EdgeToEdgeList.png") no-repeat;
}
.riaswEdgeToEdgeStoreListIcon48 {
  background: url("./imagesw48/EdgeToEdgeStoreList.png") no-repeat;
}
.riaswEditorIcon48 {
  background: url("./imagesw48/RichText.png") no-repeat;
}
.riaswFieldsetIcon48 {
  background: url("./imagesw48/Fieldset.png") no-repeat;
}
.riaswFilteringSelectIcon48 {
  background: url("./imagesw48/FilteringSelect.png") no-repeat;
}
.riaswFixedSplitterIcon48 {
  background: url("./imagesw48/FixedSplitter.png") no-repeat;
}
.riaswFormIcon48 {
  background: url("./imagesw48/Form.png") no-repeat;
}
.riaswGridIcon48 {
  background: url("./imagesw48/Grid.png") no-repeat;
}
.riaswGridLayoutIcon48 {
  background: url("./imagesw48/GridLayout.png") no-repeat;
}
.riaswH1Icon48 {
  background: url("./imagesw48/H1.png") no-repeat;
}
.riaswH2Icon48 {
  background: url("./imagesw48/H2.png") no-repeat;
}
.riaswH3Icon48 {
  background: url("./imagesw48/H3.png") no-repeat;
}
.riaswHrIcon48 {
  background: url("./imagesw48/Hr.png") no-repeat;
}
.riaswHeadingIcon48 {
  background: url("./imagesw48/Heading.png") no-repeat;
}
.riaswSceneIcon48 {
  background: url("./imagesw48/Scene.png") no-repeat;
}
.riaswSliderRuleIcon48 {
  background: url("./imagesw48/SliderRule.png") no-repeat;
}
.riaswSliderLabelsIcon48 {
  background: url("./imagesw48/SliderLabels.png") no-repeat;
}
.riaswHSliderIcon48 {
  background: url("./imagesw48/HSlider.png") no-repeat;
}
.riaswHTMLEditorIcon48 {
  background: url("./imagesw48/HTMLEditor.png") no-repeat;
}
.riaswIconContainerIcon48 {
  background: url("./imagesw48/IconContainer.png") no-repeat;
}
.riaswIconItemIcon48 {
  background: url("./imagesw48/IconItem.png") no-repeat;
}
.riaswIconMenuIcon48 {
  background: url("./imagesw48/IconMenu.png") no-repeat;
}
.riaswIconMenuItemIcon48 {
  background: url("./imagesw48/IconMenuItem.png") no-repeat;
}
.riaswIframeIcon48 {
  background: url("./imagesw48/Iframe.png") no-repeat;
}
.riaswImageIcon48 {
  background: url("./imagesw48/Image.png") no-repeat;
}
.riaswInputIcon48 {
  background: url("./imagesw48/Input.png") no-repeat;
}
.riaswLabelIcon48 {
  background: url("./imagesw48/Label.png") no-repeat;
}
.riaswLiIcon48 {
  background: url("./imagesw48/Li.png") no-repeat;
}
.riaswListItemIcon48 {
  background: url("./imagesw48/ListItem.png") no-repeat;
}
.riaswLogoIcon48 {
  background: url("./imagesw48/Logo.png") no-repeat;
}
.riaswMemoryStoreIcon48 {
  background: url("./imagesw48/MemoryStore.png") no-repeat;
}
.riaswMenuIcon48 {
  background: url("./imagesw48/Menu.png") no-repeat;
}
.riaswMenuBarIcon48 {
  background: url("./imagesw48/MenuBar.png") no-repeat;
}
.riaswMenuBarItemIcon48 {
  background: url("./imagesw48/MenuBarItem.png") no-repeat;
}
.riaswMenuItemIcon48 {
  background: url("./imagesw48/MenuItem.png") no-repeat;
}
.riaswMenuSeparatorIcon48 {
  background: url("./imagesw48/MenuSeparator.png") no-repeat;
}
.riaswModuleIcon48 {
  background: url("./imagesw48/Module.png") no-repeat;
}
.riaswMultiComboBoxIcon48 {
  background: url("./imagesw48/MultiComboBox.png") no-repeat;
}
.riaswMultiSelectIcon48 {
  background: url("./imagesw48/MultiSelect.png") no-repeat;
}
.riaswNumberSpinnerIcon48 {
  background: url("./imagesw48/NumberSpinner.png") no-repeat;
}
.riaswNumberTextBoxIcon48 {
  background: url("./imagesw48/NumberTextBox.png") no-repeat;
}
.riaswPaneIcon48 {
  background: url("./imagesw48/Pane.png") no-repeat;
}
.riaswPanelIcon48 {
  background: url("./imagesw48/Panel.png") no-repeat;
}
.riaswPageIndicatorIcon48 {
  background: url("./imagesw48/PageIndicator.png") no-repeat;
}
.riaswPopupMenuBarItemIcon48 {
  background: url("./imagesw48/PopupMenuBarItem.png") no-repeat;
}
.riaswPopupMenuItemIcon48 {
  background: url("./imagesw48/PopupMenuItem.png") no-repeat;
}
.riaswProgressBarIcon48 {
  background: url("./imagesw48/ProgressBar.png") no-repeat;
}
.riaswProgressIndicatorIcon48 {
  background: url("./imagesw48/ProgressIndicator.png") no-repeat;
}
.riaswRadioButtonIcon48 {
  background: url("./imagesw48/RadioButton.png") no-repeat;
}
.riaswRadioMenuItemIcon48 {
  background: url("./imagesw48/RadioMenuItem.png") no-repeat;
}
.riaswRatingIcon48 {
  background: url("./imagesw48/Rating.png") no-repeat;
}
.riaswRestStoreIcon48 {
  background: url("./imagesw48/RestStore.png") no-repeat;
}
.riaswRoundRectIcon48 {
  background: url("./imagesw48/RoundRect.png") no-repeat;
}
.riaswRoundRectCategoryIcon48 {
  background: url("./imagesw48/RoundRectCategory.png") no-repeat;
}
.riaswRoundRectListIcon48 {
  background: url("./imagesw48/RoundRectList.png") no-repeat;
}
.riaswRoundRectStoreListIcon48 {
  background: url("./imagesw48/RoundRectStoreList.png") no-repeat;
}
.riaswScrollablePaneIcon48 {
  background: url("./imagesw48/ScrollablePane.png") no-repeat;
}
.riaswScrollableViewIcon48 {
  background: url("./imagesw48/ScrollableView.png") no-repeat;
}
.riaswSearchBoxIcon48 {
  background: url("./imagesw48/SearchBox.png") no-repeat;
}
.riaswSelectIcon48 {
  background: url("./imagesw48/Select.png") no-repeat;
}
.riaswSliderIcon48 {
  background: url("./imagesw48/Slider.png") no-repeat;
}
.riaswSpanIcon48 {
  background: url("./imagesw48/Span.png") no-repeat;
}
.riaswSpinWheelIcon48 {
  background: url("./imagesw48/SpinWheel.png") no-repeat;
}
.riaswSpinWheelDatePickerIcon48 {
  background: url("./imagesw48/SpinWheelDatePicker.png") no-repeat;
}
.riaswSpinWheelSlotIcon48 {
  background: url("./imagesw48/SpinWheelSlot.png") no-repeat;
}
.riaswSpinWheelTimePickerIcon48 {
  background: url("./imagesw48/SpinWheelTimePicker.png") no-repeat;
}
.riaswSplitContainerIcon48 {
  background: url("./imagesw48/SplitContainer.png") no-repeat;
}
.riaswStackPanelIcon48 {
  background: url("./imagesw48/StackPanel.png") no-repeat;
}
.riaswStickyNoteIcon48 {
  background: url("./imagesw48/StickyNote.png") no-repeat;
}
.riaswStoreIcon48 {
  background: url("./imagesw48/Store.png") no-repeat;
}
.riaswSwapViewIcon48 {
  background: url("./imagesw48/SwapView.png") no-repeat;
}
.riaswSwitchIcon48 {
  background: url("./imagesw48/Switch.png") no-repeat;
}
.riaswTabBarIcon48 {
  background: url("./imagesw48/TabBar.png") no-repeat;
}
.riaswTabBarButtonIcon48 {
  background: url("./imagesw48/TabBarButton.png") no-repeat;
}
.riaswTabContainerIcon48 {
  background: url("./imagesw48/TabPanel.png") no-repeat;
}
.riaswTabPanelIcon48 {
  background: url("./imagesw48/TabPanel.png") no-repeat;
}
.riaswTablePanelIcon48 {
  background: url("./imagesw48/TablePanel.png") no-repeat;
}
.riaswTagIcon48 {
  background: url("./imagesw48/Tag.png") no-repeat;
}
.riaswTdIcon48 {
  background: url("./imagesw48/Td.png") no-repeat;
}
.riaswTextAreaIcon48 {
  background: url("./imagesw48/TextArea.png") no-repeat;
}
.riaswTextBoxIcon48 {
  background: url("./imagesw48/TextBox.png") no-repeat;
}
.riaswTimePickerIcon48 {
  background: url("./imagesw48/TimePicker.png") no-repeat;
}
.riaswTimerLabelIcon48 {
  background: url("./imagesw48/TimerLabel.png") no-repeat;
}
.riaswTimeSpinnerIcon48 {
  background: url("./imagesw48/TimeSpinner.png") no-repeat;
}
.riaswTimeTextBoxIcon48 {
  background: url("./imagesw48/TimeTextBox.png") no-repeat;
}
.riaswToggleButtonIcon48 {
  background: url("./imagesw48/ToggleButton.png") no-repeat;
}
.riaswToolbarIcon48 {
  background: url("./imagesw48/Toolbar.png") no-repeat;
}
.riaswToolBarButtonIcon48 {
  background: url("./imagesw48/ToolBarButton.png") no-repeat;
}
.riaswToolbarLineBreakIcon48 {
  background: url("./imagesw48/ToolbarLineBreak.png") no-repeat;
}
.riaswToolbarSeparatorIcon48 {
  background: url("./imagesw48/ToolbarSeparator.png") no-repeat;
}
.riaswToolButtonIcon48 {
  background: url("./imagesw48/ToolButton.png") no-repeat;
}
.riaswTooltipIcon48 {
  background: url("./imagesw48/Tooltip.png") no-repeat;
}
.riaswTrIcon48 {
  background: url("./imagesw48/Tr.png") no-repeat;
}
.riaswTreeIcon48 {
  background: url("./imagesw48/Tree.png") no-repeat;
}
.riaswTriStateCheckBoxIcon48 {
  background: url("./imagesw48/TriStateCheckBox.png") no-repeat;
}
.riaswUploaderIcon48 {
  background: url("./imagesw48/Uploader.png") no-repeat;
}
.riaswValidationTextBoxIcon48 {
  background: url("./imagesw48/ValidationTextBox.png") no-repeat;
}
.riaswValuePickerIcon48 {
  background: url("./imagesw48/ValuePicker.png") no-repeat;
}
.riaswValuePickerDatePickerIcon48 {
  background: url("./imagesw48/ValuePickerDatePicker.png") no-repeat;
}
.riaswValuePickerSlotIcon48 {
  background: url("./imagesw48/ValuePickerSlot.png") no-repeat;
}
.riaswValuePickerTimePickerIcon48 {
  background: url("./imagesw48/ValuePickerTimePicker.png") no-repeat;
}
.riaswVRuleIcon48 {
  background: url("./imagesw48/VRule.png") no-repeat;
}
.riaswVRuleLabelsIcon48 {
  background: url("./imagesw48/VRuleLabels.png") no-repeat;
}
.riaswVSliderIcon48 {
  background: url("./imagesw48/VSlider.png") no-repeat;
}
.riaswVideoIcon48 {
  background: url("./imagesw48/Video.png") no-repeat;
}
.riaswViewIcon48 {
  background: url("./imagesw48/View.png") no-repeat;
}
.riaswXhrStoreIcon48 {
  background: url("./imagesw48/XhrStore.png") no-repeat;
}
.riaswAIcon16 {
  background: url("./imagesw16/A.png") no-repeat;
}
.riaswAccordionPanelIcon16 {
  background: url("./imagesw16/Accordion.png") no-repeat;
}
.riaswAudioIcon16 {
  background: url("./imagesw16/Audio.gif") no-repeat;
}
.riaswBIcon16 {
  background: url("./imagesw16/B.png") no-repeat;
}
.riaswBorderContainerIcon16 {
  background: url("./imagesw16/BorderContainer.png") no-repeat;
}
.riaswButtonIcon16 {
  background: url("./imagesw16/Button.png") no-repeat;
}
.riaswButtonBoxIcon16 {
  background: url("./imagesw16/ButtonBox.png") no-repeat;
}
.riaswCalendarIcon16 {
  background: url("./imagesw16/Calendar.png") no-repeat;
}
.riaswCaptionPanelIcon16 {
  background: url("./imagesw16/CaptionPanel.png") no-repeat;
}
.riaswCarouselIcon16 {
  background: url("./imagesw16/CarouselSideScrollableList.gif") no-repeat;
}
.riaswCarouselItemIcon16 {
  background: url("./imagesw16/CarouselItem.png") no-repeat;
}
.riaswCheckBoxIcon16 {
  background: url("./imagesw16/CheckBox.png") no-repeat;
}
.riaswCheckButtonIcon16 {
  background: url("./imagesw16/CheckBox.png") no-repeat;
}
.riaswCheckMenuItemIcon16 {
  background: url("./imagesw16/CheckMenuItem.png") no-repeat;
}
.riaswCheckedMultiSelectIcon16 {
  background: url("./imagesw16/CheckedMultiSelect.png") no-repeat;
}
.riaswCodeEditorIcon16 {
  background: url("./imagesw16/CodeEditor.gif") no-repeat;
}
.riaswColorPaletteIcon16 {
  background: url("./imagesw16/ColorPalette.gif") no-repeat;
}
.riaswComboBoxIcon16 {
  background: url("./imagesw16/ComboBox.png") no-repeat;
}
.riaswComboButtonIcon16 {
  background: url("./imagesw16/DropDownButton.png") no-repeat;
}
.riaswContainerIcon16 {
  background: url("./imagesw16/Container.png") no-repeat;
}
.riaswContainerTagIcon16 {
  background: url("./imagesw16/ContainerTag.png") no-repeat;
}
.riaswContentPaneIcon16 {
  background: url("./imagesw16/ContentPane.png") no-repeat;
}
.riaswContentPanelIcon16 {
  background: url("./imagesw16/ContentPanel.png") no-repeat;
}
.riaswCurrencyTextBoxIcon16 {
  background: url("./imagesw16/CurrencyTextBox.gif") no-repeat;
}
.riaswDataGridIcon16 {
  background: url("./imagesw16/DataGrid.png") no-repeat;
}
.riaswDataCarouselIcon16 {
  background: url("./imagesw16/DataCarousel.png") no-repeat;
}
.riaswDatePickerIcon16 {
  background: url("./imagesw16/DatePicker.gif") no-repeat;
}
.riaswDateTextBoxIcon16 {
  background: url("./imagesw16/DateTextBox.gif") no-repeat;
}
.riaswDayTextBoxIcon16 {
  background: url("./imagesw16/DateTextBox.gif") no-repeat;
}
.riaswDialogIcon16 {
  background: url("./imagesw16/Dialog.png") no-repeat;
}
.riaswDivIcon16 {
  background: url("./imagesw16/Div.png") no-repeat;
}
.riaswDockBarIcon16 {
  background: url("./imagesw16/DockBar.png") no-repeat;
}
.riaswDropDownButtonIcon16 {
  background: url("./imagesw16/DropDownButton.png") no-repeat;
}
.riaswDropDownSelectIcon16 {
  background: url("./imagesw16/DropDown.png") no-repeat;
}
.riaswEdgeToEdgeCategoryIcon16 {
  background: url("./imagesw16/EdgeToEdgeCategory.gif") no-repeat;
}
.riaswEdgeToEdgeStoreListIcon16 {
  background: url("./imagesw16/EdgeToEdgeStoreList.gif") no-repeat;
}
.riaswEdgeToEdgeListIcon16 {
  background: url("./imagesw16/EdgeToEdgeList.gif") no-repeat;
}
.riaswEditorIcon16 {
  background: url("./imagesw16/RichText.gif") no-repeat;
}
.riaswFieldsetIcon16 {
  background: url("./imagesw16/Fieldset.png") no-repeat;
}
.riaswFilteringSelectIcon16 {
  background: url("./imagesw16/FilteringSelect.png") no-repeat;
}
.riaswFixedSplitterIcon16 {
  background: url("./imagesw16/FixedSplitter.gif") no-repeat;
}
.riaswFormIcon16 {
  background: url("./imagesw16/Form.gif") no-repeat;
}
.riaswGridLayoutIcon16 {
  background: url("./imagesw16/GridLayout.gif") no-repeat;
}
.riaswGridIcon16 {
  background: url("./imagesw16/Grid.png") no-repeat;
}
.riaswH1Icon16 {
  background: url("./imagesw16/H1.png") no-repeat;
}
.riaswH2Icon16 {
  background: url("./imagesw16/H2.png") no-repeat;
}
.riaswH3Icon16 {
  background: url("./imagesw16/H3.png") no-repeat;
}
.riaswHrIcon16 {
  background: url("./imagesw16/Hr.png") no-repeat;
}
.riaswHeadingIcon16 {
  background: url("./imagesw16/Heading.gif") no-repeat;
}
.riaswSceneIcon16 {
  background: url("./imagesw16/Scene.png") no-repeat;
}
.riaswSliderRuleIcon16 {
  background: url("./imagesw16/SliderRule.gif") no-repeat;
}
.riaswSliderLabelsIcon16 {
  background: url("./imagesw16/SliderLabels.gif") no-repeat;
}
.riaswHSliderIcon16 {
  background: url("./imagesw16/HSlider.gif") no-repeat;
}
.riaswHTMLEditorIcon16 {
  background: url("./imagesw16/HTMLEditor.gif") no-repeat;
}
.riaswIconContainerIcon16 {
  background: url("./imagesw16/IconContainer.gif") no-repeat;
}
.riaswIconMenuIcon16 {
  background: url("./imagesw16/IconMenu.png") no-repeat;
}
.riaswIconMenuItemIcon16 {
  background: url("./imagesw16/MenuItem.png") no-repeat;
}
.riaswIframeIcon16 {
  background: url("./imagesw16/Iframe.png") no-repeat;
}
.riaswImageIcon16 {
  background: url("./imagesw16/Image.png") no-repeat;
}
.riaswInputIcon16 {
  background: url("./imagesw16/Input.gif") no-repeat;
}
.riaswLabelIcon16 {
  background: url("./imagesw16/Label.png") no-repeat;
}
.riaswLiIcon16 {
  background: url("./imagesw16/Li.png") no-repeat;
}
.riaswListItemIcon16 {
  background: url("./imagesw16/ListItem.gif") no-repeat;
}
.riaswLogoIcon16 {
  background: url("./imagesw16/Logo.png") no-repeat;
}
.riaswMemoryStoreIcon16 {
  background: url("./imagesw16/MemoryStore.png") no-repeat;
}
.riaswMenuIcon16 {
  background: url("./imagesw16/Menu.png") no-repeat;
}
.riaswMenuBarIcon16 {
  background: url("./imagesw16/MenuBar.png") no-repeat;
}
.riaswMenuBarItemIcon16 {
  background: url("./imagesw16/MenuBarItem.png") no-repeat;
}
.riaswMenuItemIcon16 {
  background: url("./imagesw16/MenuItem.png") no-repeat;
}
.riaswMenuSeparatorIcon16 {
  background: url("./imagesw16/MenuSeparator.png") no-repeat;
}
.riaswModuleIcon16 {
  background: url("./imagesw16/Module.png") no-repeat;
}
.riaswMultiComboBoxIcon16 {
  background: url("./imagesw16/MultiComboBox.png") no-repeat;
}
.riaswMultiSelectIcon16 {
  background: url("./imagesw16/MultiSelect.png") no-repeat;
}
.riaswNumberSpinnerIcon16 {
  background: url("./imagesw16/NumberSpinner.gif") no-repeat;
}
.riaswNumberTextBoxIcon16 {
  background: url("./imagesw16/NumberTextBox.gif") no-repeat;
}
.riaswPaneIcon16 {
  background: url("./imagesw16/Pane.png") no-repeat;
}
.riaswPanelIcon16 {
  background: url("./imagesw16/Panel.png") no-repeat;
}
.riaswPageIndicatorIcon16 {
  background: url("./imagesw16/PageIndicator.png") no-repeat;
}
.riaswPopupMenuBarItemIcon16 {
  background: url("./imagesw16/PopupMenuBarItem.gif") no-repeat;
}
.riaswPopupMenuItemIcon16 {
  background: url("./imagesw16/PopupMenuItem.png") no-repeat;
}
.riaswProgressBarIcon16 {
  background: url("./imagesw16/ProgressBar.gif") no-repeat;
}
.riaswProgressIndicatorIcon16 {
  background: url("./imagesw16/ProgressIndicator.gif") no-repeat;
}
.riaswRadioButtonIcon16 {
  background: url("./imagesw16/RadioButton.png") no-repeat;
}
.riaswRadioMenuItemIcon16 {
  background: url("./imagesw16/RadioMenuItem.png") no-repeat;
}
.riaswRatingIcon16 {
  background: url("./imagesw16/Rating.gif") no-repeat;
}
.riaswRestStoreIcon16 {
  background: url("./imagesw16/RestStore.png") no-repeat;
}
.riaswRoundRectIcon16 {
  background: url("./imagesw16/RoundRect.gif") no-repeat;
}
.riaswRoundRectCategoryIcon16 {
  background: url("./imagesw16/RoundRectCategory.gif") no-repeat;
}
.riaswRoundRectListIcon16 {
  background: url("./imagesw16/RoundRectList.gif") no-repeat;
}
.riaswRoundRectStoreListIcon16 {
  background: url("./imagesw16/RoundRectStoreList.gif") no-repeat;
}
.riaswSpanIcon16 {
  background: url("./imagesw16/Span.png") no-repeat;
}
.riaswScrollablePaneIcon16 {
  background: url("./imagesw16/ScrollablePane.gif") no-repeat;
}
.riaswScrollableViewIcon16 {
  background: url("./imagesw16/ScrollableView.gif") no-repeat;
}
.riaswSearchBoxIcon16 {
  background: url("./imagesw16/SearchBox.gif") no-repeat;
}
.riaswSelectIcon16 {
  background: url("./imagesw16/Select.png") no-repeat;
}
.riaswSliderIcon16 {
  background: url("./imagesw16/Slider.gif") no-repeat;
}
.riaswSpinWheelIcon16 {
  background: url("./imagesw16/SpinWheel.gif") no-repeat;
}
.riaswSpinWheelDatePickerIcon16 {
  background: url("./imagesw16/SpinWheelDatePicker.gif") no-repeat;
}
.riaswSpinWheelSlotIcon16 {
  background: url("./imagesw16/SpinWheelSlot.gif") no-repeat;
}
.riaswSpinWheelTimePickerIcon16 {
  background: url("./imagesw16/SpinWheelTimePicker.gif") no-repeat;
}
.riaswSpinWheelTimePickerIcon16 {
  background: url("./imagesw16/SpinWheelTimePicker.gif") no-repeat;
}
.riaswSplitContainerIcon16 {
  background: url("./imagesw16/SplitContainer.gif") no-repeat;
}
.riaswStickyNoteIcon16 {
  background: url("./imagesw16/StickyNote.gif") no-repeat;
}
.riaswStoreIcon16 {
  background: url("./imagesw16/Store.png") no-repeat;
}
.riaswSwapViewIcon16 {
  background: url("./imagesw16/SwapView.gif") no-repeat;
}
.riaswSwitchIcon16 {
  background: url("./imagesw16/Switch.gif") no-repeat;
}
.riaswTabBarIcon16 {
  background: url("./imagesw16/TabBar.gif") no-repeat;
}
.riaswTabBarButtonIcon16 {
  background: url("./imagesw16/TabBarButton.gif") no-repeat;
}
.riaswTabContainerIcon16 {
  background: url("./imagesw16/TabPanel.png") no-repeat;
}
.riaswTabPanelIcon16 {
  background: url("./imagesw16/TabPanel.png") no-repeat;
}
.riaswTablePanelIcon16 {
  background: url("./imagesw16/TablePanel.png") no-repeat;
}
.riaswTagIcon16 {
  background: url("./imagesw16/Tag.png") no-repeat;
}
.riaswTdIcon16 {
  background: url("./imagesw16/Td.png") no-repeat;
}
.riaswTrIcon16 {
  background: url("./imagesw16/Tr.png") no-repeat;
}
.riaswTextAreaIcon16 {
  background: url("./imagesw16/TextArea.gif") no-repeat;
}
.riaswTextBoxIcon16 {
  background: url("./imagesw16/TextBox.png") no-repeat;
}
.riaswTimePickerIcon16 {
  background: url("./imagesw16/TimePicker.gif") no-repeat;
}
.riaswTimerLabelIcon16 {
  background: url("./imagesw16/TimerLabel.gif") no-repeat;
}
.riaswTimeSpinnerIcon16 {
  background: url("./imagesw16/TimeSpinner.gif") no-repeat;
}
.riaswTimeTextBoxIcon16 {
  background: url("./imagesw16/TimeTextBox.gif") no-repeat;
}
.riaswToggleButtonIcon16 {
  background: url("./imagesw16/ToggleButton.gif") no-repeat;
}
.riaswToolbarIcon16 {
  background: url("./imagesw16/ToolBar.png") no-repeat;
}
.riaswToolBarButtonIcon16 {
  background: url("./imagesw16/ToolBarButton.png") no-repeat;
}
.riaswToolbarLineBreakIcon16 {
  background: url("./imagesw16/ToolbarLineBreak.png") no-repeat;
}
.riaswToolbarSeparatorIcon16 {
  background: url("./imagesw16/ToolbarSeparator.png") no-repeat;
}
.riaswToolButtonIcon16 {
  background: url("./imagesw16/ToolButton.gif") no-repeat;
}
.riaswTooltipIcon16 {
  background: url("./imagesw16/Tooltip.gif") no-repeat;
}
.riaswTreeIcon16 {
  background: url("./imagesw16/Tree.png") no-repeat;
}
.riaswTriStateCheckBoxIcon16 {
  background: url("./imagesw16/TriStateCheckBox.png") no-repeat;
}
.riaswUploaderIcon16 {
  background: url("./imagesw16/Uploader.png") no-repeat;
}
.riaswValidationTextBoxIcon16 {
  background: url("./imagesw16/ValidationTextBox.gif") no-repeat;
}
.riaswValuePickerIcon16 {
  background: url("./imagesw16/ValuePicker.gif") no-repeat;
}
.riaswValuePickerDatePickerIcon16 {
  background: url("./imagesw16/ValuePickerDatePicker.gif") no-repeat;
}
.riaswValuePickerSlotIcon16 {
  background: url("./imagesw16/ValuePickerSlot.gif") no-repeat;
}
.riaswValuePickerTimePickerIcon16 {
  background: url("./imagesw16/ValuePickerTimePicker.gif") no-repeat;
}
.riaswVRuleIcon16 {
  background: url("./imagesw16/VRule.gif") no-repeat;
}
.riaswVRuleLabelsIcon16 {
  background: url("./imagesw16/VRuleLabels.gif") no-repeat;
}
.riaswVSliderIcon16 {
  background: url("./imagesw16/VSlider.gif") no-repeat;
}
.riaswVideoIcon16 {
  background: url("./imagesw16/Video.gif") no-repeat;
}
.riaswViewIcon16 {
  background: url("./imagesw16/View.gif") no-repeat;
}
.riaswXhrStoreIcon16 {
  background: url("./imagesw16/XhrStore.png") no-repeat;
}
.riaswWidgetPalette {
/*width: 100%;
	height: 100%;*/
  overflow-x: hidden;
  padding: 0px;
  font-size: 12px;
}
.riaswWidgetPaletteItem {
  display: inline-block;
  width: 72px;
  height: 96px;
  text-align: center;
  border: 2px solid transparent;
  margin: 0.25em;
  padding-top: 0.25em;
  border-radius: 1em;
}
.riaswWidgetPaletteItem a {
  vertical-align: bottom;
  line-height: normal;
  text-decoration: none;
  color: #000;
}
.riaswWidgetPaletteItemImageContainer {
  text-align: center;
  display: block;
}
.riaswWidgetPaletteItemImageContainer img {
  display: inline-block;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.24);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.24);
}
.riaswWidgetPaletteItemLabelContainer {
  padding: 2px 4px;
  text-align: center;
  display: block;
  overflow: hidden;
  white-space: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  height: 3em;
  font-size: 12px;
  line-height: 12px;
}
.riaswWidgetPaletteItemRaised {
  border: 2px solid #ffd700;
  -webkit-box-shadow: 0.25em 0.25em 0.5em #777;
  box-shadow: 0.25em 0.25em 0.5em #777;
}
.riaswWidgetPaletteItemSelect {
  border: 2px solid #87ceeb;
  -webkit-box-shadow: 0.25em 0.25em 0.5em #777;
  box-shadow: 0.25em 0.25em 0.5em #777;
}
.riaswWidgetPaletteItemSelect .riaswWidgetPaletteItemLabel {
  font-weight: bold;
}
.riaswWidgetPaletteItemSelectedIcon {
  position: absolute;
  display: inline-block;
  pointer-events: auto;
  width: 26px;
  height: 26px;
}
.riaswWidgetPaletteItemSelectedMoreIcon {
/*background-image:url(img/palette_more_active.png);*/
  background: url("../../../resources/images/sprite.png") no-repeat -65px -41px;
  left: 48px;
  top: -4px;
}
.riaswWidgetPaletteItemSelectedHelpIcon {
/*background-image:url(img/palette_help_active.png);*/
  background: url("../../../resources/images/sprite.png") no-repeat -94px -40px;
  left: 48px;
  top: 32px;
}
.riasdTabLabelPath {
  display: inline-block;
  font-weight: normal;
}
.riasdTabLabelName {
  display: inline-block;
  font-weight: bold;
  color: #d32f2f;
}
.riaswTabChecked .riasdTabLabelName {
  color: inherit;
}
.riasdOutlineTreeItemFunc {
  display: inline-block;
  font-weight: bold;
  color: #f00;
}
.riasdOutlineTreeItemId {
  display: inline-block;
  font-weight: bold;
}
.riasdOutlineTreeItemLabel {
  display: inline-block;
  font-weight: bold;
  color: #d2691e;
}
.riasdOutlineTreeItemType {
  display: inline-block;
  font-weight: bold;
  color: #da70d6;
}
.riasdOutlineTreeItemError {
  display: inline-block;
  font-weight: bold;
  color: #f00;
}
.riaswTreeRowSelected .riasdOutlineTreeItemFunc {
  color: #ffa500;
}
.riaswTreeRowSelected .riasdOutlineTreeItemLabel {
  color: #ffa07a;
}
.riaswTreeRowSelected .riasdOutlineTreeItemType {
  color: #ffc0cb;
}
.riaswTreeRowSelected .riasdOutlineTreeItemError {
  color: #ff0;
}
.riaswOutlineTreeIcon48 {
  background: url("./imagesw48/OutlineTree.png") no-repeat;
}
.riaswOutlineTreeIcon16 {
  background: url("./imagesw16/OutlineTree.png") no-repeat;
}
.riaswWidgetPaletteIcon48 {
  background: url("./imagesw48/IconContainer.png") no-repeat;
}
.riaswWidgetPaletteIcon16 {
  background: url("./imagesw16/IconContainer.gif") no-repeat;
}
.riasdCurrentWidget {
  outline-color: #ffb74d;
  outline-style: dashed;
  outline-width: 6px;
  outline-offset: -3px;
}
.riasdCurrentWidgetDiv {
  display: block;
  position: absolute;
  border: 4px dashed #d32f2f;
  background: transparent;
  margin: 0;
  overflow: hidden;
  z-index: 30;
  pointer-events: none;
}
.riasdPreviewContentPanel {
  background-color: #757575;
  padding: 0.25em;
  border-width: 1px;
}
.riasdPreviewPanel {
  padding: 0px;
  border: 0px solid #bdbdbd;
}
.riasdBtnsDockBar {
  border-left-width: 2px;
  border-color: #0277bd;
  padding: 0px;
}
.riasdBtnsDockBar .riaswDockNode {
  display: block;
  border-radius: 0 0.75em 0.75em 0;
  border-left-width: 0;
}
.riasdPreview {
  border: 3px solid #fff176;
}
