
/****
 	SLIDER
****/

.rias .dijitSliderProgressBarH {
	border-color: #b1badf;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}

.rias .dijitSliderProgressBarV {
	border-color: #b1badf;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}

.rias .dijitSliderFocused .dijitSliderProgressBarH,
.rias .dijitSliderFocused .dijitSliderLeftBumper {
	background-image:url("../images/sliderFullFocus.png");
}

.rias .dijitSliderFocused .dijitSliderProgressBarV,
.rias .dijitSliderFocused .dijitSliderBottomBumper {
	background-image:url("../images/sliderFullVerticalFocus.png");
}

.rias .dijitSliderRemainingBarV {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y bottom left;
}

.rias .dijitSliderRemainingBarH {
	border-color: #b4b4b4;
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
}

.rias .dijitSliderBar {
	border-style: solid;
	outline:1px;
	/* border-color: #b4b4b4; */
}
.rias .dijitSliderFocused .dijitSliderBar {
	border-color:#8ba0bd;
}

.rias .dijitSliderImageHandleH {
	border:0;
	width:15px;
	height:18px;
	background:url("../images/preciseSliderThumb.png") no-repeat center top;
}
.rias .dijitSliderFocused .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumbFocus.png");
	#background-image:url("../images/preciseSliderThumbFocus.gif");
}

.dj_ie6 .rias .dijitSliderImageHandleH {
	background-image:url("../images/preciseSliderThumb.gif");
}

.rias .dijitSliderLeftBumper {
	border-left-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFull.png") repeat-x top left;
}

.rias .dijitSliderRightBumper {
	background: #dcdcdc url("../images/sliderEmpty.png") repeat-x top left;
	border-color: #b4b4b4;
	border-right-width: 1px;
}

.rias .dijitSliderImageHandleV {
	border:0;
	width:20px;
	height:15px;
	background:url("../images/sliderThumb.png") no-repeat center center;
	#background:url("../images/sliderThumb.gif") no-repeat center center;
}

.rias .dijitSliderFocused .dijitSliderImageHandleV {
	background-image:url("../images/sliderThumbFocus.png");
	#background-image:url("../images/sliderThumbFocus.gif");
}

.rias .dijitSliderBottomBumper {
	border-bottom-width: 1px;
	border-color: #aab0bb;
	background: #c0c2c5 url("../images/sliderFullVertical.png") repeat-y bottom left;
}

.rias .dijitSliderTopBumper {
	background: #dcdcdc url("../images/sliderEmptyVertical.png") repeat-y top left;
	border-color: #b4b4b4;
	border-top-width: 1px;
}

.rias .dijitSliderIncrementIconH,
.rias .dijitSliderIncrementIconV {
	background:url('../images/spriteIcons.png') no-repeat -45px top;
	width:15px; height:15px;
}
.rias .dijitSliderIncrementIconH {
	background:url('../images/spriteIcons.png') no-repeat -30px top;
}

.rias .dijitSliderDecrementIconH,
.rias .dijitSliderDecrementIconV {
	width:15px;
	height:15px;
	background:url('../images/spriteIcons.png') no-repeat -15px top;
}
.rias .dijitSliderDecrementIconH {
	background:url('../images/spriteIcons.png') no-repeat 0 top;
}

.rias .dijitSliderButtonInner {
	visibility:hidden;
}

.rias .dijitSliderReadOnly *,
.rias .dijitSliderDisabled * {
	border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5;
	color: #bdbdbd;
}
.rias .dijitSliderReadOnly .dijitSliderDecrementIconH,
.rias .dijitSliderDisabled .dijitSliderDecrementIconH {
	background-position: 0 -15px;
}
.rias .dijitSliderReadOnly .dijitSliderIncrementIconH,
.rias .dijitSliderDisabled .dijitSliderIncrementIconH {
	background-position: -30px -15px;
}
.rias .dijitSliderReadOnly .dijitSliderDecrementIconV,
.rias .dijitSliderDisabled .dijitSliderDecrementIconV {
	background-position: -15px -15px;
}
.rias .dijitSliderReadOnly .dijitSliderIncrementIconV,
.rias .dijitSliderDisabled .dijitSliderIncrementIconV {
	background-position: -45px -15px;
}