.dijitEditorIconAutoSave {
  background-image: url("icons/autoSave.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
.dijitEditorIconAutoSaveDefault {
  background-position: -18px 0px;
}
.dijitDisabled .dijitEditorIconAutoSaveDefault {
  background-position: -54px 0px;
}
.dijitEditorIconAutoSaveSetting {
  background-position: 0px 0px;
}
.dijitEditorAutoSaveSettingDialog {
  width: 21em;
}
.dijitEditorAutoSaveSettingInputArea {
  margin-top: 0.3em;
  margin-left: 2em;
}
.dijitEditorAutoSaveSettingInputArea .textBox {
  width: 2em;
}
.dijitEditorAutoSaveSettingInputArea .boxLabel {
  margin: 0em 0em 0em 0.3em;
}
.dijitEditorAutoSaveSettingButtonArea {
  text-align: right;
  margin: 0.3em 0em 0em 0em;
}
.dijitAdditionalEditorIcon.dijitAdditionalEditorIconParaLeftToRight {
  background-image: url("images/bidiIconsEnabled.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
  background-position: -828px;
}
.dijitDisabled .dijitAdditionalEditorIcon.dijitAdditionalEditorIconParaLeftToRight {
  background-image: url("images/bidiIconsDisabled.png");
}
.dijitAdditionalEditorIcon.dijitAdditionalEditorIconParaRightToLeft {
  background-image: url("images/bidiIconsEnabled.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
  background-position: -846px;
}
.dijitDisabled .dijitAdditionalEditorIcon.dijitAdditionalEditorIconParaRightToLeft {
  background-image: url("images/bidiIconsDisabled.png");
}
.dijitEditorRtl .dijitEditorIcon.dijitEditorIconParaLeftToRight {
  background-image: url("images/bidiIconsEnabled_rtl.png");
  background-position: -846px;
}
.dijitEditorRtlDisabled .dijitEditorIcon.dijitEditorIconParaLeftToRight {
  background-image: url("images/bidiIconsDisabled_rtl.png");
}
.dijitEditorRtl .dijitEditorIcon.dijitEditorIconParaRightToLeft {
  background-image: url("images/bidiIconsEnabled_rtl.png");
  background-position: -828px;
}
.dijitEditorRtlDisabled .dijitEditorIcon.dijitEditorIconParaRightToLeft {
  background-image: url("images/bidiIconsDisabled_rtl.png");
}
.dijitAdditionalEditorIconBlockquote {
  background-image: url("icons/blockquote.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dijitDisabled .dijitAdditionalEditorIconBlockquote {
  background-image: url("icons/blockquoteDisabled.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dojoxEditorBreadcrumbArrow .riaswDownArrowButton {
  width: 10px;
}
.dojoxEditorBreadcrumbArrow .riaswArrowButtonInner {
  background-image: url("icons/breadcrumbDown.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 8px;
  height: 8px;
}
.dojoxCollapsibleToolbarContainer {
  background-color: #f1f1f1;
  border-collapse: collapse;
  padding: 0px;
  margin: 0px;
  border-style: none;
}
.dojoxCollapsibleToolbarCollapse {
  cursor: pointer;
  background-image: url("images/claro/collapse.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 12px;
  height: 12px;
}
.dojoxCollapsibleToolbarExpand {
  cursor: pointer;
  background-image: url("images/claro/expand.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 12px;
  height: 12px;
}
.dojoxCollapsibleToolbarControl {
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-bottom: 1px;
}
.dijit_a11y .dojoxCollapsibleToolbarCollapse {
  border-style: outset;
  border-width: 3px;
  border-color: #000;
  width: 1.5em;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.dijit_a11y .dojoxCollapsibleToolbarExpand {
  border-style: outset;
  border-width: 3px;
  border-color: #000;
  width: 1.5em;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.dojoxCollapsibleToolbarCollapseText {
  display: none;
}
.dojoxCollapsibleToolbarExpandText {
  display: none;
}
.dijit_a11y .dojoxCollapsibleToolbarCollapseText {
  display: inline;
  padding: 3px;
  font-weight: bold;
}
.dijit_a11y .dojoxCollapsibleToolbarExpandText {
  display: inline;
  padding: 3px;
  font-weight: bold;
}
.dijitEditorIconsFindReplace {
  background-image: url("icons/editorIconsFindReplaceEnabled.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}
.dijitDisabled .dijitEditorIconsFindReplace {
  background-image: url("icons/editorIconsFindReplaceDisabled.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}
.dijitEditorIconFindString {
  background-position: 0px;
}
.dijitEditorIconFind {
  background-position: -18px;
}
.dijitEditorIconReplace {
  background-position: -36px;
}
.dijitEditorIconReplaceAll {
  background-position: -54px;
}
.dijitEditorFindReplaceCheckBox {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.dijitEditorFindReplaceTextBox {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 5px;
}
.dijitEditorFindReplaceTextBox .focusTextBox {
  width: 13em;
}
.dijitEditorIconsFindReplaceClose {
  background-image: url("icons/close.gif");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  background-position: center;
}
.dijitFontNameCombo {
  width: 12em;
}
.dijitFontSizeCombo {
  width: 6em;
}
.dijitFormatBlockCombo {
  width: 8em;
}
.dijitAdditionalEditorIconInsertAnchor {
  background-image: url("icons/anchor.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dijitDisabled .dijitAdditionalEditorIconInsertAnchor {
  background-image: url("icons/anchorDisabled.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dijitAdditionalEditorIconInsertEntity {
/* icon in toolbar for this plugin */
  background-image: url("icons/insertEntity.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dijitDisabled .dijitAdditionalEditorIconInsertEntity {
/* icon in toolbar for this plugin, when the plugin is disabled */
  background-image: url("icons/insertEntityDisabled.gif");
}
.dojoxEntityPalette {
/* outer node of the dropdown */
  border: 1px solid #999;
  background: #fff;
  -moz-border-radius: 3pt;
}
.dojoxEntityPaletteCell {
/* individual cell of the drop down */
  border: 1px dotted #808080;
  width: 20px; /* todo: don't hardcode width/height; it's neither necessary nor a11y safe */
  line-height: 18px;
  overflow: hidden;
  z-index: 10;
  text-align: center;
}
.dojoxEntityPaletteCell:hover,
.dojoxEntityPaletteCell:active,
.dojoxEntityPaletteCell:focus {
  width: 18px;
  line-height: 16px;
  overflow: hidden;
  cursor: default;
  border: 1px dashed #000;
  outline: 1px dashed #dedede;
}
.dojoxEntityPalettePreviewTable {
  table-layout: auto;
  font-size: 1em;
  width: 100%;
}
.dojoxEntityPalettePreviewHeader {
  font-size: 0.8em;
  padding: 3px 3px 3px 3px;
}
.dojoxEntityPalettePreviewDetailEntity {
  font-size: 3em;
  font-weight: bold;
  width: 1em;
  text-align: center;
}
.dojoxEntityPalettePreviewDetail {
  font-size: 1em;
  vertical-align: middle;
  font-weight: bold;
  padding: 3px 3px 3px 3px;
}
.dijit_a11y .dojoxEntityPaletteCell {
  background-color: transparent !important;
}
.dijitEditorEilDialogTitle {
  font-weight: bold;
  margin-bottom: 0.6em;
}
.dijitEditorEilDialogDescription {
  white-space: normal;
  margin: 0em 0em 0.3em 0em;
}
.dijitEditorEilDialogField {
  width: 20em;
}
.dijitAdditionalEditorIconPageBreak {
  background-image: url("icons/pageBreak.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dijitDisabled .dijitAdditionalEditorIconPageBreak {
  background-image: url("icons/pageBreakDisabled.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dijitAdditionalEditorIconPasteFromWord {
  background-image: url("icons/pasteFromWord.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dijitDisabled .dijitAdditionalEditorIconPasteFromWord {
  background-image: url("icons/pasteFromWordDisabled.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.tundra .dijitPasteFromWordEmbeddedRTE .dijitEditor,
.nihilo .dijitPasteFromWordEmbeddedRTE .dijitEditor {
  border-color: #bfbfbf;
  border-style: solid;
  border-width: 1px;
}
.soria .dijitPasteFromWordEmbeddedRTE .dijitEditor {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
}
.dijitAdditionalEditorIconPreview {
  background-image: url("icons/preview.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dijitDisabled .dijitAdditionalEditorIconPreview {
  background-image: url("icons/previewDisabled.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dijitAdditionalEditorIconSave {
  background-image: url("icons/save.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dijitDisabled .dijitAdditionalEditorIconSave {
  background-image: url("icons/saveDisabled.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dijitAdditionalEditorIconShowBlockNodes {
  background-image: url("icons/showBlockNodes.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dijitDisabled .dijitAdditionalEditorIconShowBlockNodes {
  background-image: url("icons/showBlockNodesDisabled.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dijitAdditionalEditorIconSmiley {
/* Toolbar icon for Smiley plugin */
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
  background-image: url("icons/smiley.gif");
}
.dijitDisabled .dijitAdditionalEditorIconSmiley {
/* Toolbar icon for disabled Smiley plugin */
  background-image: url("icons/smileyDisabled.gif");
}
.dijitEditorSmileyPalette {
  border: 1px solid #000;
  background: #fff;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
.dijitEditorSmileyPalette .dijitPaletteCell {
  height: 23px;
  width: 27px;
}
.dijitEditorSmileyPalette .dijitPaletteImg {
  border: none;
  height: 20px;
  width: 20px;
  padding: 2px 2px;
}
.dijitEditorSmileyPalette .dijitPaletteCellHover .dijitPaletteImg {
  border: 1px solid #000;
  padding: 1px 1px;
}
.dijitEditorSpellCheckIcon {
  background-image: url("icons/spellcheck.gif");
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
}
.dijitEditorSpellCheckBusyIcon {
  background-image: url("images/checking.gif");
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.dijitEditorSpellCheckTable .dijitEditorSpellCheckBox {
  width: 15em;
}
.dijitEditorSpellCheckTable .listHeight {
  height: 5em;
}
.dijitEditorSpellCheckTable,
.dijitEditorSpellCheckTable td {
  border: none;
  border-width: 0px;
  vertical-align: top;
}
.dijitEditorSpellCheckTable .alignBottom {
  vertical-align: bottom;
}
.dijitEditorSpellCheckTable .blockButton,
.dijitEditorSpellCheckTable .dijitButtonNode,
.dijitEditorSpellCheckTable .riaswButtonNode {
  display: block;
}
.dijitEditorSpellCheckTable .topMargin {
  margin-top: 0.56em;
}
.dijitEditorSpellCheckTable .hidden {
  display: none;
}
.dojoxEditorStatusBar {
  overflow: hidden;
  vertical-align: bottom;
  padding: 2px;
}
.dojoxEditorStatusBar table {
  width: 100%;
}
.dojoxEditorStatusBar .dojoxResizeHandle {
  position: static;
  padding: 0px;
  vertical-align: bottom;
}
.dojoxEditorStatusBar .dojoxEditorStatusBarText {
  height: 1.5em;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
}
.claro .dojoxEditorStatusBar {
  background-color: #f1f1f1;
}
.claro .dojoxEditorStatusBar .dojoxEditorStatusBarText {
  border-style: solid;
  border-width: 1px;
  border-color: #b5bcc7;
}
.tundra .dojoxEditorStatusBar {
  background-color: #eaeaea;
}
.tundra .dojoxEditorStatusBar .dojoxEditorStatusBarText {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}
.nihilo .dojoxEditorStatusBar {
  border-style: solid;
  background-color: #fff;
  border-width: 1px;
  border-color: #ccc;
}
.nihilo .dojoxEditorStatusBar .dojoxEditorStatusBarText {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}
.soria .dojoxEditorStatusBar {
  border-style: solid;
  background-color: #bdd6f0;
  border-width: 1px;
  border-color: #698fb3;
}
.soria .dojoxEditorStatusBar .dojoxEditorStatusBarText {
  border-style: solid;
  border-width: 1px;
  border-color: #698fb3;
}
.dojoxEditorColorPicker {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
.EditorTableDialog .etdTable {
  border: none;
  table-layout: fixed;
  border-collapse: collapse;
}
.EditorTableDialog .etdTable td {
  border: 1px solid #ccc 0px solid;
  padding: 5px;
}
.EditorTableDialog .etdTable td.inner {
  padding: 0px;
}
.EditorTableDialog .riaswTextBox {
  width: 50px;
  padding-left: 3px;
}
.EditorTableDialog .riaswComboBox {
  width: 85px;
  padding-left: 5px;
}
.EditorTableDialog label {
  float: right;
  margin: 0;
  margin-right: 5px;
}
.EditorTableDialog .cellpad {
  background: url("./images/cellpad.png") no-repeat 5px;
}
.EditorTableDialog .cellspace {
  background: url("./images/cellspace.png") no-repeat 5px;
}
.dialogButtonContainer {
  text-align: right;
  margin-top: 10px;
  cursor: pointer;
}
.colorSwatchBtn {
  display: block;
  border: 1px solid #666 2px solid;
  background-color: #ccc;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.colorSwatchBtn:hover {
  border: 1px solid #09f 2px solid;
}
.colorSwatchBtn div {
  background-color: #ccc;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.editorIcon {
  background-image: url("./images/tableIcons.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}
.editorIconUploadImage {
  background: url("./images/uploadImageIcon.gif") no-repeat 0px 4px;
}
.editorIconInsertTable {
  background-position: 0px 0px;
}
.dijitDisabled .editorIconInsertTable {
  background-position: -162px 0px;
}
.editorIconInsertTableRowBefore {
  background-position: -36px 0px;
}
.dijitDisabled .editorIconInsertTableRowBefore {
  background-position: -198px 0px;
}
.editorIconInsertTableRowAfter {
  background-position: -54px 0px;
}
.dijitDisabled .editorIconInsertTableRowAfter {
  background-position: -216px 0px;
}
.editorIconInsertTableColumnBefore {
  background-position: -72px 0px;
}
.dijitDisabled .editorIconInsertTableColumnBefore {
  background-position: -234px 0px;
}
.editorIconInsertTableColumnAfter {
  background-position: -90px 0px;
}
.dijitDisabled .editorIconInsertTableColumnAfter {
  background-position: -252px 0px;
}
.editorIconDeleteTableRow {
  background-position: -108px 0px;
}
.dijitDisabled .editorIconDeleteTableRow {
  background-position: -270px 0px;
}
.editorIconDeleteTableColumn {
  background-position: -126px 0px;
}
.dijitDisabled .editorIconDeleteTableColumn {
  background-position: -288px 0px;
}
.editorIconColorTableCell {
  background-position: -144px 0px;
}
.dijitDisabled .editorIconColorTableCell {
  background-position: -306px 0px;
}
.editorIconModifyTable {
  background-position: -18px 0px;
}
.dijitDisabled .editorIconModifyTable {
  background-position: -180px 0px;
}
.RichTextEditable .riaswTextBox,
.RichTextEditable .riaswComboBox,
.RichTextEditable .riaswSpinner {
  width: 5em;
}
.dojoxDropDownSelect {
  background: #fff;
  border: 1px solid;
  border-top-color: #ccc;
  border-right-color: #ccc;
  border-left-color: #999;
  border-bottom-color: #fff;
}
.dojoxDropDownSelect button {
  line-height: 16px;
  height: 16px;
  width: 100px;
  text-align: left;
  color: #8397b9;
}
.dojoxEditorUploadNorm {
  font-family: Arial;
  font-size: 12px;
  vertical-align: middle;
  margin: 0;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: #ccc url("./images/uploadImageIcon.gif") no-repeat 2px 2px;
}
.dojoxEditorUploadHover {
  background: #ccc url("./images/uploadImageIcon.gif") no-repeat 2px 0px;
}
.dojoxEditorUploadActive {
  background: #ccc url("./images/uploadImageIcon.gif") no-repeat 2px 4px;
}
.dojoxEditorUploadDisabled {
  background: #ccc url("./images/uploadImageIcon.gif") no-repeat 2px 2px;
}
.dijitEditorIcon {
  background-image: url("./htmleditor/images/editorIconsEnabled.png"); /* editor icons sprite image for the enabled state */
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}
.dijitDisabled .dijitEditorIcon {
  background-image: url("./htmleditor/images/editorIconsDisabled.png"); /* editor icons sprite image for the disabled state */
}
.dijitEditorIconSep {
  background-position: 0;
}
.dijitEditorIconSave {
  background-position: -18px;
}
.dijitEditorIconPrint {
  background-position: -36px;
}
.dijitEditorIconCut {
  background-position: -54px;
}
.dijitEditorIconCopy {
  background-position: -72px;
}
.dijitEditorIconPaste {
  background-position: -90px;
}
.dijitEditorIconDelete {
  background-position: -108px;
}
.dijitEditorIconCancel {
  background-position: -126px;
}
.dijitEditorIconUndo {
  background-position: -144px;
}
.dijitEditorIconRedo {
  background-position: -162px;
}
.dijitEditorIconSelectAll {
  background-position: -180px;
}
.dijitEditorIconBold {
  background-position: -198px;
}
.dijitEditorIconItalic {
  background-position: -216px;
}
.dijitEditorIconUnderline {
  background-position: -234px;
}
.dijitEditorIconStrikethrough {
  background-position: -252px;
}
.dijitEditorIconSuperscript {
  background-position: -270px;
}
.dijitEditorIconSubscript {
  background-position: -288px;
}
.dijitEditorIconJustifyCenter {
  background-position: -306px;
}
.dijitEditorIconJustifyFull {
  background-position: -324px;
}
.dijitEditorIconJustifyLeft {
  background-position: -342px;
}
.dijitEditorIconJustifyRight {
  background-position: -360px;
}
.dijitEditorIconIndent {
  background-position: -378px;
}
.dijitEditorIconOutdent {
  background-position: -396px;
}
.dijitEditorIconListBulletIndent {
  background-position: -414px;
}
.dijitEditorIconListBulletOutdent {
  background-position: -432px;
}
.dijitEditorIconListNumIndent {
  background-position: -450px;
}
.dijitEditorIconListNumOutdent {
  background-position: -468px;
}
.dijitEditorIconTabIndent {
  background-position: -486px;
}
.dijitEditorIconLeftToRight {
  background-position: -504px;
}
.dijitEditorIconRightToLeft,
.dijitEditorIconToggleDir {
  background-position: -522px;
}
.dijitEditorIconBackColor {
  background-position: -540px;
}
.dijitEditorIconForeColor {
  background-position: -558px;
}
.dijitEditorIconHiliteColor {
  background-position: -576px;
}
.dijitEditorIconNewPage {
  background-position: -594px;
}
.dijitEditorIconInsertImage {
  background-position: -612px;
}
.dijitEditorIconInsertTable {
  background-position: -630px;
}
.dijitEditorIconSpace {
  background-position: -648px;
}
.dijitEditorIconInsertHorizontalRule {
  background-position: -666px;
}
.dijitEditorIconInsertOrderedList {
  background-position: -684px;
}
.dijitEditorIconInsertUnorderedList {
  background-position: -702px;
}
.dijitEditorIconCreateLink {
  background-position: -720px;
}
.dijitEditorIconUnlink {
  background-position: -738px;
}
.dijitEditorIconViewSource {
  background-position: -756px;
}
.dijitEditorIconRemoveFormat {
  background-position: -774px;
}
.dijitEditorIconFullScreen {
  background-position: -792px;
}
.dijitEditorIconWikiword {
  background-position: -810px;
}
.dijitEditorRtl .dijitEditorIcon {
  background-image: url("./htmleditor/images/editorIconsEnabled_rtl.png"); /* editor icons sprite image for the enabled right to left state */
}
.dijitEditorRtlDisabled .dijitEditorIcon {
  background-image: url("./htmleditor/images/editorIconsDisabled_rtl.png"); /* editor icons sprite image for the disabled right to left state */
}
.rias .dijitEditor {
  background-color: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 0.25em;
}
.rias .dijitEditor .dijitEditorIFrameContainer {
  border: 1px solid transparent;
  border-top: 1px solid #9e9e9e;
  padding: 0.25em 0.5em;
  -webkit-transition: border 0.2s linear 0s;
  -moz-transition: border 0.2s linear 0s;
  -o-transition: border 0.2s linear 0s;
  -ms-transition: border 0.2s linear 0s;
  transition: border 0.2s linear 0s;
}
.rias .dijitEditorHover .dijitEditorIFrameContainer,
.rias .dijitEditorHover .dijitEditorIFrameContainer .dijitEditorIFrame {
  border: 1px solid #90caf9;
}
.rias .dijitEditorFocused .dijitEditorIFrameContainer {
  border: 1px solid #90caf9;
}
.rias .dijitEditorFocused .dijitEditorIFrameContainer .dijitEditorIFrame {
  border: 1px solid #90caf9;
}
.rias .dijitEditorDisabled {
  border: 1px solid #9e9e9e;
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
.rias .dijitEditorDisabled .dijitEditorIFrame,
.rias .dijitEditorDisabled .dijitEditorIFrameContainer,
.rias .dijitEditorDisabled .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: #f5f5f5;
  border: 1px solid transparent;
}
