/* dijit/* variables */

@import '../../variables';

/* Common (Common.styl) */

/* Editor */

$editor-background-color = $theme-base-color;
$editor-border-color = $border-color;
$editor-border-radius =$border-radius;

// Iframe container
$editor-iframe-padding = $padding $padding * 2;
$editor-iframe-border-color = transparent;

// Hover
$editor-iframe-hover-border-color = $theme-base;

// Focused
$editor-iframe-focused-border-color = $theme-base;

// Disabled
$editor-disabled-border-color = $border-color;
$editor-iframe-disabled-border-color = transparent;
$editor-iframe-disabled-background-color = $disabled-background-color;

