@import "../../../../../webLib/orion-12.0/orion/editor/themes/default.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/adelante.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/ambience.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/blue.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/eclipse.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/nimbus.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/prospecto.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/raspberrypi.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/tierra.css";
.riaswOrionEditor {
  border: 0px solid #d3d3d3;
  width: 20em;
  min-height: 2em;
  min-width: 5em;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}
.riaswOrionEditorReadOnly,
.riaswOrionEditorDisabled,
.riaswOrionEditorReadOnly .riaswTextBoxContainer,
.riaswOrionEditorDisabled .riaswTextBoxContainer {
  background-color: inherit;
  background-image: none;
  color: inherit;
}
.riaswOrionEditorFocused .riaswTextBoxContainer {
  outline: 5px -webkit-focus-ring-color;
  border-color: #90caf9;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-box-shadow: 0 0 0.25em 0 #90caf9 inset;
  box-shadow: 0 0 0.25em 0 #90caf9 inset;
}
.riaswOrionEditorHover .riaswTextBoxContainer {
  border-color: #90caf9;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-box-shadow: 0 0 0.25em 0 #90caf9 inset;
  box-shadow: 0 0 0.25em 0 #90caf9 inset;
}
.riaswOrionEditorError .riaswTextBoxContainer,
.riaswOrionEditorErrorFocused .riaswTextBoxContainer {
  border-color: #dd2c00;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-box-shadow: 0 0 0.25em 0 #dd2c00 inset;
  box-shadow: 0 0 0.25em 0 #dd2c00 inset;
}
