

@import 'layout_variables';

@import "Underlay";
@import "Resizer";
@import "Splitter";
@import "ToggleSplitter";
@import "Panel";
@import "CaptionPanel";
@import "StackPanel";
@import "TablePanel";
@import "TabPanel";
@import "AccordionPanel";
@import "DockBar";

	.rightFloatTabStrip {
		left: auto;
		right: 0px;
	}
	.bottomFloatTabStrip {
		top: auto;
		bottom: 0px;
	}

