.riaswUnderlayWrapper {
  position: absolute;
  z-index: 4998;
  display: none;
  background: transparent !important;
}
.riaswUnderlay {
  position: absolute;
  z-index: 4998;
  display: none;
  background: #a9a9a9;
  opacity: 0.33;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
  filter: alpha(opacity=33);
}
.riaswResizer {
  float: right;
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 13px;
  height: 13px;
  z-index: 20;
  background-image: url("images/resize.png");
  line-height: 0px;
}
.dijitRtl .riaswResizer {
  float: right;
  left: 0px;
  right: auto;
  background-image: url("images/resizeRtl.png");
}
.riaswResizerNW {
  cursor: nw-resize;
}
.dijitRtl .riaswResizerNW {
  cursor: ne-resize;
}
.riaswResizerNE {
  cursor: ne-resize;
}
.dijitRtl .riaswResizerNE {
  cursor: nw-resize;
}
.riaswResizerW {
  cursor: w-resize;
}
.riaswResizerN {
  cursor: n-resize;
}
.riaswResizerNone {
  cursor: default;
}
.riaswResizerClone {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px dashed #777;
  z-index: 5999;
}
.riaswGutter {
/* gutter is just a place holder for empty space between panes in BorderContainer */
  position: absolute;
  font-size: 1px; /* needed by IE6 even though div is empty, otherwise goes to 15px */
}
.riaswSplitter {
  position: absolute;
  overflow: hidden;
  z-index: 2900; /* above the panes so that splitter focus is visible on FF, see #7583*/
/*background-color: lavender;*/
  background-color: inherit;
  border-color: #d3d3d3;
  border-style: solid;
  border-width: 0px;
}
.dj_ie .riaswSplitter {
  z-index: 1; /* behind the panes so that pane borders aren't obscured see test_Gui.html/[14392] */
}
.riaswSplitterActive {
  z-index: 2901 !important;
}
.riaswSplitterCover {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.riaswSplitterCoverActive {
  z-index: 3 !important;
}
.dj_ie .riaswSplitterCover {
  background: #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.dj_ie6 .riaswSplitterCover,
.dj_ie7 .riaswSplitterCover,
.dj_ie8 .riaswSplitterCover {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.riaswSplitterShadow {
  font-size: 1px;
  background-color: ThreeDShadow;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  filter: Alpha(50);
  margin: 0;
}
.dj_a11y .riaswSplitterH {
  border-top: 1px solid #d3d3d3 !important;
  border-bottom: 1px solid #d3d3d3 !important;
}
.dj_a11y .riaswSplitterV {
  border-left: 1px solid #d3d3d3 !important;
  border-right: 1px solid #d3d3d3 !important;
}
.riaswSplitterH,
.riaswGutterH {
  background: none;
  border: 0;
  height: 8px;
}
.dj_ios .riaswSplitterH,
.dj_ios .riaswGutterH,
.dj_android .riaswSplitterH,
.dj_android .riaswGutterH {
  height: 12px;
}
.riaswSplitterH .riaswSplitterThumb {
  overflow: hidden;
  position: absolute;
  left: 45%;
  background: none;
  height: 0px;
  top: 3px;
  width: 10%;
}
.dj_ios .riaswSplitterH .riaswSplitterThumb,
.dj_android .riaswSplitterH .riaswSplitterThumb {
  height: 2px;
  top: 5px;
}
.riaswSplitterV,
.riaswGutterV {
  background: none;
  border: 0;
  width: 8px;
  margin: 0;
}
.dj_ios .riaswSplitterV,
.dj_ios .riaswGutterV,
.dj_android .riaswSplitterV,
.dj_android .riaswGutterV {
  width: 12px;
}
.riaswSplitterV .riaswSplitterThumb {
  overflow: hidden;
  position: absolute;
  top: 45%;
  background: none;
  height: 10%;
  left: 3px;
  width: 0px;
  margin: 0;
}
.dj_ios .riaswSplitterV .riaswSplitterThumb,
.dj_android .riaswSplitterV .riaswSplitterThumb {
  width: 2px;
  left: 5px;
}
.riaswSplitterHover {
  background-color: #ffd700;
}
.riaswSplitterHHover {
  cursor: row-resize;
  -webkit-tap-highlight-color: transparent;
}
.riaswSplitterVHover {
  cursor: col-resize;
  -webkit-tap-highlight-color: transparent;
}
.riaswSplitterActive {
  font-size: 1px;
  background-image: none;
  background-color: #aaa;
  -moz-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  filter: Alpha(60);
  margin: 0;
}
.riaswToggleSplitter {
  position: absolute;
  overflow: hidden;
  z-index: 10; /* above the panes so that splitter focus is visible on FF, see #7583*/
/*background-color: lavender;*/
  background-color: inherit;
  border-color: #d3d3d3;
  border-style: solid;
  border-width: 0px;
}
.dj_ie .riaswToggleSplitter {
  z-index: 1; /* behind the panes so that pane borders aren't obscured see test_Gui.html/[14392] */
}
.riaswToggleSplitterActive {
  z-index: 11 !important;
}
.riaswToggleSplitterCover {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.riaswToggleSplitterCoverActive {
  z-index: 3 !important;
}
.dj_ie .riaswToggleSplitterCover {
  background: #fff;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.dj_ie6 .riaswToggleSplitterCover,
.dj_ie7 .riaswToggleSplitterCover,
.dj_ie8 .riaswToggleSplitterCover {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.riaswToggleSplitterShadow {
  font-size: 1px;
  background-color: ThreeDShadow;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  filter: Alpha(50);
  margin: 0;
}
.dj_a11y .riaswToggleSplitterH {
  border-top: 1px solid #d3d3d3 !important;
  border-bottom: 1px solid #d3d3d3 !important;
}
.dj_a11y .riaswToggleSplitterV {
  border-left: 1px solid #d3d3d3 !important;
  border-right: 1px solid #d3d3d3 !important;
}
.riaswToggleSplitterH {
  background: none;
  border: 0;
  height: 8px;
}
.dj_ios .riaswToggleSplitterH,
.dj_android .riaswToggleSplitterH {
  height: 8px;
}
.riaswToggleSplitterH .riaswToggleSplitterThumb {
  overflow: hidden;
  position: absolute;
  background-image: url("images/splitterToggleH.png");
  background-repeat: no-repeat;
  width: 32px;
  height: 8px;
  top: 0;
  left: 45%;
  cursor: pointer;
}
.riaswToggleSplitterV {
  background: none;
  border: 0;
  width: 8px;
  margin: 0;
}
.dj_ios .riaswToggleSplitterV,
.dj_android .riaswToggleSplitterV {
  width: 8px;
}
.riaswToggleSplitterV .riaswToggleSplitterThumb {
  overflow: hidden;
  position: absolute;
  background-image: url("images/splitterToggleV.png");
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 8px;
  height: 32px;
  left: 0;
  top: 45%;
  cursor: pointer;
}
.riaswToggleSplitterHover {
  background-color: #ffd700;
}
.riaswToggleSplitterHHover {
  cursor: row-resize;
  -webkit-tap-highlight-color: transparent;
}
.riaswToggleSplitterVHover {
  cursor: col-resize;
  -webkit-tap-highlight-color: transparent;
}
.riaswToggleSplitterActive {
  font-size: 1px;
  background-image: none;
  background-color: #aaa;
  -moz-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  filter: Alpha(60);
  margin: 0;
}
.riaswToggleSplitterTop .riaswToggleSplitterThumbOpen,
.riaswToggleSplitterBottom .riaswToggleSplitterThumbClosed {
  background-position: 0 -16px !important;
}
.riaswToggleSplitterBottom .riaswToggleSplitterThumbOpen,
.riaswToggleSplitterTop .riaswToggleSplitterThumbClosed {
  background-position: 0 0 !important;
}
.riaswToggleSplitterLeft .riaswToggleSplitterThumbOpen,
.riaswToggleSplitterRight .riaswToggleSplitterThumbClosed {
  background-position: -16px 0 !important;
}
.riaswToggleSplitterRight .riaswToggleSplitterThumbOpen,
.riaswToggleSplitterLeft .riaswToggleSplitterThumbClosed {
  background-position: 0 0 !important;
}
.riaswToggleSplitterTop .riaswToggleSplitterThumbOpenHover,
.riaswToggleSplitterBottom .riaswToggleSplitterThumbClosedHover {
  background-position: 0 -24px !important;
}
.riaswToggleSplitterBottom .riaswToggleSplitterThumbOpenHover,
.riaswToggleSplitterTop .riaswToggleSplitterThumbClosedHover {
  background-position: 0 -8px !important;
}
.riaswToggleSplitterLeft .riaswToggleSplitterThumbOpenHover,
.riaswToggleSplitterRight .riaswToggleSplitterThumbClosedHover {
  background-position: -24px 0 !important;
}
.riaswToggleSplitterRight .riaswToggleSplitterThumbOpenHover,
.riaswToggleSplitterLeft .riaswToggleSplitterThumbClosedHover {
  background-position: -8px 0 !important;
}
.riaswToggleSplitterTop .riaswToggleSplitterA11y,
.riaswToggleSplitterBottom .riaswToggleSplitterA11y {
  display: none;
  font-size: 8px;
  text-align: center;
}
.riaswToggleSplitterRight .riaswToggleSplitterA11y,
.riaswToggleSplitterLeft .riaswToggleSplitterA11y {
  display: none;
  font-size: 8px;
  position: relative;
  top: 48%;
}
.dijit_a11y .riaswToggleSplitterA11y {
  display: block;
}
.riaswPanel {
/*display: block;*/
  position: relative;
/*background-color: inherit;
	padding: 0px;
	margin:0;*/
  border: 0px solid #d3d3d3;
}
.riaswPanelContent {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.mobileBody .riaswPanelContent {
  overflow: hidden;
}
.riaswStackPanelContent {
  overflow: hidden;
}
.riaswStackPanelChildWrapper {
  position: absolute;
}
.riaswStackPanelChildWrapperTop {
  z-index: 9;
}
.riaswCaptionPanel {
  overflow: hidden;
  position: relative;
  border: 0px solid #d3d3d3;
}
.riaswFieldsetPanel {
  overflow: hidden;
  position: relative;
  border: 1px solid #9e9e9e;
  border-radius: 0.5em;
  margin: 0.5em;
}
.riaswFieldsetPanelNoCaptionNode .riaswFieldsetPanelCaptionNode {
  display: none;
}
.riaswCaptionPanelSelected,
.riaswCaptionPanelFocused {
  border-color: #e0e0e0;
}
.riaswFieldsetPanelSelected,
.riaswFieldsetPanelFocused {
  border-color: #e0e0e0;
}
.riaswCaptionPanelHover,
.riaswFieldsetPanelHover {
  border-color: #4fc3f7;
}
.riaswCaptionPanelContent,
.riaswFieldsetPanelContent {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;
}
.riaswCaptionPanelCaptionNode,
.riaswFieldsetPanelCaptionNode,
.riaswDialogPanelCaptionNode {
  background-color: #9e9e9e;
  border: 0px solid #9e9e9e;
/*border-bottom-width: 1px;*/
  font-weight: bold;
/*line-height: 1.5em;*/
/*white-space: nowrap;
	word-wrap: break-word;*/
  position: relative;
/*height: 2em;*/
/*top: 0em;*/
  vertical-align: middle;
  display: block;
}
.riaswCaptionPanelCaptionNode,
.riaswFieldsetPanelCaptionNode {
  padding: 0.25em;
}
.riaswFieldsetPanelCaptionNode {
  margin: 0 1em;
  background-color: transparent;
}
.riaswDialogPanelCaptionNode {
  padding: 0.5em 0.5em 0.25em 0.5em;
  background-color: #81d4fa;
  -webkit-box-shadow: 0px 0.1em 0.75em 0px rgba(0,0,0,0.25) inset;
  box-shadow: 0px 0.1em 0.75em 0px rgba(0,0,0,0.25) inset;
}
.riaswCaptionPanelCaptionNodeSelected,
.riaswCaptionPanelCaptionNodeFocused {
  background-color: #e0e0e0;
}
.riaswDialogPanelCaptionNodeSelected,
.riaswDialogPanelCaptionNodeFocused {
  background-color: #81d4fa;
}
.riaswCaptionPanelCaptionNodeHover,
.riaswCaptionPanelCaptionNodeActive,
.riaswDialogPanelCaptionNodeHover,
.riaswDialogPanelCaptionNodeActive {
  background-color: #4fc3f7;
}
.riaswCaptionPanelLabelNode {
  padding: 0em 0.25em;
  word-break: break-all;
  display: inline-block;
}
.riaswCaptionPanelIconNode {
  width: 24px;
  height: 24px;
  margin: 0px;
  display: inline-block;
  border-width: 0;
  vertical-align: middle;
  cursor: pointer;
}
.riaswCaptionPanelIconNode16 {
  margin: 0.25em;
}
.riaswCaptionPanelLeftIcon {
  background: url("./images/CaptionPanelBtn.png") no-repeat 0px 0px;
}
.riaswCaptionPanelToggleIcon {
  background: url("./images/CaptionPanelBtn.png") no-repeat -48px 0px;
}
.riaswCaptionPanelCollapsed .riaswCaptionPanelToggleIcon,
.riaswFieldsetPanelCollapsed .riaswCaptionPanelToggleIcon,
.riaswDialogPanelCollapsed .riaswCaptionPanelToggleIcon,
.riaswCaptionPanelRightIcon {
  background: url("./images/CaptionPanelBtn.png") no-repeat -24px 0px;
}
.riaswCaptionPanelExpandIcon {
  background: url("./images/CaptionPanelBtn.png") no-repeat -72px 0px;
}
.riaswCaptionPanelCollapseIcon {
  background: url("./images/CaptionPanelBtn.png") no-repeat -96px 0px;
}
.riaswCaptionPanelRestoreIcon {
  background: url("./images/CaptionPanelBtn.png") no-repeat -144px 0px;
}
.riaswCaptionPanelMaximizeIcon {
  background: url("./images/CaptionPanelBtn.png") no-repeat -120px 0px;
}
.riaswCaptionPanelMaximized .riaswCaptionPanelMaximizeIcon,
.riaswFieldsetPanelMaximized .riaswCaptionPanelMaximizeIcon,
.riaswDialogPanelMaximized .riaswCaptionPanelMaximizeIcon {
  background: url("./images/CaptionPanelBtn.png") no-repeat -144px 0px;
}
.riaswCaptionPanelCloseIcon {
  background: url("./images/CaptionPanelBtn.png") no-repeat -168px 0px;
}
.riaswCaptionPanelIconNodeHover {
  background-color: #ffd700;
}
.riaswCaptionPanelCaptionNodeHover .riaswCaptionPanelIconNodeHover,
.riaswCaptionPanelCaptionNodeActive .riaswCaptionPanelIconNodeHover,
.riaswDialogPanelCaptionNodeHover .riaswCaptionPanelIconNodeHover,
.riaswDialogPanelCaptionNodeActive .riaswCaptionPanelIconNodeHover,
.riaswCaptionPanelCaptionNodeSelected .riaswCaptionPanelIconNodeHover,
.riaswCaptionPanelCaptionNodeFocused .riaswCaptionPanelIconNodeHover,
.riaswDialogPanelCaptionNodeSelected .riaswCaptionPanelIconNodeHover,
.riaswDialogPanelCaptionNodeFocused .riaswCaptionPanelIconNodeHover {
  background-color: #ffd700;
}
.riaswFieldsetPanelCaptionNodeVertical {
  margin: 0.25em 0;
}
.riaswDisplayVertical .riaswCaptionPanelIconNode,
.riaswDisplayVerticalLR .riaswCaptionPanelIconNode,
.riaswDisplayVerticalRL .riaswCaptionPanelIconNode {
  display: block;
}
.riaswDisplayVertical .riaswCaptionPanelLabelNode,
.riaswDisplayVerticalLR .riaswCaptionPanelLabelNode,
.riaswDisplayVerticalRL .riaswCaptionPanelLabelNode {
  display: block;
  white-space: nowrap;
}
.riaswDialogPanel {
  display: block;
  position: absolute;
  background-color: #fff;
  padding: 0px;
  margin: 0;
  overflow: hidden;
  -webkit-box-shadow: 0px 1em 1em 0em rgba(0,0,0,0.35), 0px 0em 1em 0px rgba(0,0,0,0.2), 0px 0px 0.75em 0px rgba(0,0,0,0.65) inset;
  box-shadow: 0px 1em 1em 0em rgba(0,0,0,0.35), 0px 0em 1em 0px rgba(0,0,0,0.2), 0px 0px 0.75em 0px rgba(0,0,0,0.65) inset;
  border-width: 1px;
  border-color: #9e9e9e;
  border-style: solid;
  border-radius: 0.5em;
}
.riaswDialogPanelSelected,
.riaswDialogPanelFocused {
  border-color: #81d4fa;
}
.riaswDialogPanelHover,
.riaswDialogPanelActive {
  border-color: #4fc3f7;
}
.riaswDialogPanelMoveNode {
  display: block;
  border: 0px solid transparent;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: move;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.riaswDialogPanelContent {
  background-color: #fff; /*避免 wrapper 造成 transparent*/
  overflow: auto;
  position: relative;
  padding: 0;
  margin: 0.5em;
  -webkit-overflow-scrolling: touch;
}
.riaswDialogPanelActionBar {
  padding: 1em;
  text-align: right;
  display: block;
}
.riaswDialogPanelActionBarTop {
  padding: 0.5em 1em;
  text-align: left;
  border-bottom: 1px solid #9e9e9e;
  display: block;
}
.riaswDialogPanelTypeInfo .riaswDialogPanelContent,
.riaswDialogPanelTypeWarn .riaswDialogPanelContent,
.riaswDialogPanelTypeError .riaswDialogPanelContent,
.riaswDialogPanelTypeAbout .riaswDialogPanelContent {
  padding: 1.5em 1em 1em 1em;
  font-weight: bold;
}
.riaswDialogPanelTypeWarn {
  border-color: #6495ed;
}
.riaswDialogPanelTypeWarn .riaswDialogPanelCaptionNode {
  background-color: #6495ed;
}
.riaswDialogPanelTypeError {
  border-color: #fa8072;
}
.riaswDialogPanelTypeError .riaswDialogPanelCaptionNode {
  background-color: #fa8072;
}
.riaswStackPanel {
  position: relative;
  overflow: hidden;
}
.riaswStackPanelChildWrapper {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
.riaswStackController .riaswToggleButtonChecked * {
  cursor: default;
}
.riaswTablePanel {
/*display: block;
	background: inherit;
	margin:0;*/
  overflow: hidden;
  position: relative;
  border: 0px solid #d3d3d3;
}
.riaswTablePanelContent {
  overflow: auto;
  position: relative;
}
.riaswTablePanelTable {
  border: 0px solid #00008b;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}
.riaswTablePanelRow {
  border-collapse: collapse;
  border-spacing: 0;
}
.riaswTablePanelCol {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}
.riaswTabPanel {
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 0.25em;
}
.dj_ie6 .riaswTabPanel {
  overflow: hidden;
}
.riaswTabPanelNoLayout {
  width: 100%;
}
.riaswTabPanelTopChildWrapper,
.riaswTabPanelBottomChildWrapper,
.riaswTabPanelLeftChildWrapper,
.riaswTabPanelRightChildWrapper {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
.nowrapTabStrip {
  width: auto;
  position: absolute;
}
.riaswTabListWrapper {
  overflow: hidden;
  z-index: 1;
}
.riaswTabSpacer {
  display: none;
}
.riaswTabController {
  z-index: 1;
}
.riaswTabPanelContainer {
  background: inherit;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0 0 0.25em 0.25em;
  z-index: 1;
  overflow: visible !important;
}
.riaswTab {
  cursor: pointer;
  white-space: nowrap;
  border: 1px solid #9e9e9e;
  background-color: inherit;
  text-align: center;
  -webkit-transition-property: background, padding, margin;
  -moz-transition-property: background, padding, margin;
  -o-transition-property: background, padding, margin;
  -ms-transition-property: background, padding, margin;
  transition-property: background, padding, margin;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  transition-timing-function: ease;
  position: relative;
  z-index: 0;
}
.riaswTab:before {
  content: "";
  display: block;
  position: absolute;
}
.riaswTab * {
  vertical-align: middle;
}
.riaswTab .riaswTabLabel {
/*min-height: 16px;*/
  display: inline-block;
}
.riaswTabHover {
  background-color: #f2f2f2;
}
.riaswTabActive {
  background-color: #e6e6e6;
}
.riaswTabChecked {
  cursor: default;
  border-color: #9e9e9e;
  font-weight: bold;
  z-index: 1;
}
.riaswTabDisabled {
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
div.riaswTabDisabled,
.dj_ie div.riaswTabDisabled {
  cursor: auto;
}
.riaswTabCloseText {
  display: none;
}
.dj_a11y .riaswTabCloseText {
  display: inline;
}
.dj_ie6 .riaswTab .dijitNoIcon {
  display: inline;
  height: 15px;
  width: 1px;
}
.riaswTabCloseButton {
  font-family: "flat-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  opacity: 0.35;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  filter: alpha(opacity=35);
}
.riaswTabCloseButton:before {
  content: "\f00e";
  font-size: 16px;
}
.riaswTabCloseButtonHover {
  opacity: 0.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  background-color: #ffd700;
}
.riaswTabCloseButtonActive {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  background-color: #ffd700;
}
.dj_a11y .riaswTabCloseButton {
  background-image: none !important;
  width: auto !important;
  height: auto !important;
}
.riaswTabStripButton {
  z-index: 12;
  background-color: #fff;
  border: 1px solid transparent;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;
  position: absolute;
  padding: 0.25em;
}
.riaswTabPanelContainer {
  z-index: 0;
  overflow: hidden;
}
.riaswTabController-top,
.riaswTabController-bottom,
.riaswTabController-left,
.riaswTabController-right {
  z-index: 1;
  overflow: visible !important;
  border: none;
}
.riaswTabController-top .riaswTab,
.riaswTabController-bottom .riaswTab {
  height: 2em;
  line-height: 2em;
}
.riaswTabController-top .riaswTabControllerContent,
.riaswTabController-bottom .riaswTabControllerContent {
  padding: 0 1em;
}
.riaswTabController-left .riaswTab,
.riaswTabController-right .riaswTab {
  width: 2em;
}
.riaswTabController-left .riaswTabControllerContent,
.riaswTabController-right .riaswTabControllerContent {
  padding: 1em 0;
}
.riaswTabController-top .riaswTab,
.riaswTabController-bottom .riaswTab {
  display: inline-block;
}
.riaswTabPanelContainer-top {
  border-top: 2px solid #9e9e9e;
  border-radius: 0 0 0.25em 0.25em;
}
.riaswTabController-top {
  margin-top: 2px;
}
.riaswTabController-top .riaswTab {
  margin-right: 0;
  padding: 0.25em 1em;
  border-bottom: 2px solid transparent;
  display: inline-block;
}
.riaswTabController-top .riaswTabChecked {
  border-bottom-color: #fff;
}
.riaswTabController-top .riaswTabChecked:before {
  height: 3px;
  background: #90caf9;
  top: 0px;
  left: -1px;
  right: -1px;
}
.riaswTabPanelContainer-bottom {
  border-bottom: 2px solid #9e9e9e;
  border-radius: 0.25em 0.25em 0 0;
}
.riaswTabController-bottom {
  margin-top: -2px;
}
.riaswTabController-bottom .riaswTab {
  margin-right: 0;
  padding: 0.25em 1em;
  border-top: 2px solid transparent;
  display: inline-block;
}
.riaswTabController-bottom .riaswTabChecked {
  border-top-color: #fff;
}
.riaswTabController-bottom .riaswTabChecked:before {
  height: 3px;
  background: #90caf9;
  bottom: 0px;
  left: -1px;
  right: -1px;
}
.riaswTabPanelContainer-left {
  border-left: 2px solid #9e9e9e;
  border-radius: 0 0.25em 0.25em 0;
}
.riaswTabController-left {
  margin-left: 2px;
}
.riaswTabController-left .riaswTab {
  margin-bottom: 0;
  padding: 0.5em;
  border-right: 2px solid transparent;
  display: block;
}
.riaswTabController-left .riaswTabChecked {
  border-right-color: #fff;
}
.riaswTabController-left .riaswTabChecked:before {
  width: 3px;
  background: #90caf9;
  bottom: -1px;
  left: 0px;
  top: -1px;
}
.riaswTabPanelContainer-right {
  border-right: 2px solid #9e9e9e;
  border-radius: 0.25em 0 0 0.25em;
}
.riaswTabController-right {
  margin-left: -2px;
}
.riaswTabController-right .riaswTab {
  margin-bottom: 0;
  padding: 0.5em;
  border-left: 2px solid transparent;
  display: block;
}
.riaswTabController-right .riaswTabChecked {
  border-left-color: #fff;
}
.riaswTabController-right .riaswTabChecked:before {
  width: 3px;
  background: #90caf9;
  bottom: -1px;
  right: 0px;
  top: -1px;
}
.riaswTabStripIcon {
  font-family: "flat-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #90caf9;
  vertical-align: middle;
}
.riaswTabStripIcon:before {
  content: "\f004";
}
.riaswTabStripSlideRightIcon:before {
  content: "\f005";
}
.riaswTabStripSlideUpIcon:before {
  content: "\f007";
}
.riaswTabStripSlideDownIcon:before {
  content: "\f006";
}
.riaswTabStripMenuIcon:before {
  content: "\f033";
}
.dj_a11y .riaswTabStripButton img {
  display: none;
}
.riaswTabButtonDisabled .riaswTabStripButton {
  display: none;
}
.riaswTabStripButtonHover {
  background-color: #f2f2f2;
}
.riaswTabStripButtonActive {
  background-color: #e6e6e6;
}
.riaswTabStripButtonDisabled {
  cursor: default;
  color: $button-disabled-color;
  background-color: $button-disabled-background-color;
  border-color: $button-disabled-border-color;
  background-image: none;
  color: inherit;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
  filter: grayscale(1);
}
.riaswTabPanelNested .riaswTabListWrapper {
  height: auto;
}
.riaswTabControllerRtl,
.riaswTabControllerRtl .nowrapTabStrip {
  text-align: right;
}
.dijitTabRtl .riaswTabCloseButton {
  margin-left: 0;
  margin-right: 0.25em;
}
.dijitRtl .riaswTab {
  margin-right: 0;
  margin-left: 2px;
/* space between one tab and the next in top/bottom mode */
}
.dijitRtl .riaswTabPanelTopStrip,
.dijitRtl .riaswTabPanelBottomStrip,
.dijitRtl .riaswTabController-top,
.dijitRtl .riaswTabController-bottom {
  padding-left: 0;
  padding-right: 3px;
}
.dijitRtl .riaswTabInnerDiv {
  padding-left: 3px;
  padding-right: 4px;
}
.dijitRtl .riaswTabController-left .riaswTab,
.dijitRtl .riaswTabController-right .riaswTab {
  margin-left: 0;
}
.dj_ie-rtl .riaswTabController-left {
  margin-left: 0 !important;
}
.dj_ie-rtl .riaswTabController-right {
  margin-right: 0 !important;
}
.dj_ie-rtl .riaswTab .riaswTabInnerDiv {
  width: 1%;
}
.riaswAccordionPanel {
  position: relative;
  border-style: solid;
  border-color: #9e9e9e;
  border-width: 0;
  overflow: hidden;
}
.riaswAccordionInnerContainer {
  background-color: inherit;
  border-style: solid;
  border-color: #9e9e9e;
  border-width: 0px;
}
.riaswAccordionInnerContainerSelected {
  border-width: 1px;
}
.riaswAccordionInnerContainerHover,
.riaswAccordionInnerContainerActive {
  border-color: #4fc3f7;
}
.riaswAccordionTitle {
  background-color: #9e9e9e;
/*border: 0px solid lightgray;
	padding: 5px 4px 6px 8px;
	font-size: 0.9em;*/
  font-weight: bold;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.riaswAccordionTitleFocusNode {
  padding: 0.25em;
  margin: 0px;
}
.riaswAccordionTitleSelected,
.riaswAccordionTitleFocused {
  cursor: default;
  border-color: #e0e0e0;
  background-color: #e0e0e0;
}
.riaswAccordionTitleHover,
.riaswAccordionTitleActive {
  border-color: #4fc3f7;
  background-color: #4fc3f7;
}
.riaswAccordionChildWrapper {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
.riaswAccordionArrow {
/*background:url("/rias/themes/rias/images/spriteRoundedIconsSmallBl.gif") no-repeat -30px top;*/
  background: url("./images/CaptionPanelBtn.png") no-repeat -24px center;
  width: 24px;
  height: 24px;
  margin-top: -1px;
}
.riaswAccordionTitleSelected .riaswAccordionArrow {
/*background:url("/rias/themes/rias/images/spriteRoundedIconsSmallBl.gif") no-repeat -15px top;*/
  background: url("./images/CaptionPanelBtn.png") no-repeat -72px center;
}
.riaswAccordionText {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.riaswAccordionTitle .arrowTextUp,
.riaswAccordionTitle .arrowTextDown {
  display: none;
  font-size: 0.65em;
  font-weight: normal !important;
}
.dj_a11y .riaswAccordionTitle .arrowTextUp,
.dj_a11y .riaswAccordionTitleSelected .arrowTextDown {
  display: inline;
}
.dj_a11y .riaswAccordionTitleSelected .arrowTextUp {
  display: none;
}
.dijitRtl .riaswAccordionArrow {
  background-position: 0 top;
}
.dijitRtl .riaswAccordionTitleSelected .riaswAccordionArrow {
/* same rule as LTR mode, just listed to override previous rule in this file */
  background-position: -15px top;
}
.riaswDockBar {
/*display: inline-block;*/
/*margin: 0px;*/
  padding: 1px;
  border: 0px solid #9e9e9e;
}
.riaswDockNode {
  min-width: 1em;
  min-height: 1em;
  z-index: 1;
}
.riaswDockNodeHidden {
  background-color: inherit;
}
.riaswDockNodeShown {
  background-color: #e0e0e0;
  z-index: 2;
}
.riaswDockNodeSelected {
  background-color: #81d4fa;
}
.riaswDockCloseNode {
  position: absolute;
}
.riaswDockNodeCloseIcon {
  position: absolute;
  display: inline-block;
  background: url("./images/CaptionPanelBtn.png") no-repeat -196px center;
  width: 24px;
  height: 24px;
  overflow: hidden;
/*float: left;*/
  margin: 0px;
}
.riaswDockNodeCloseText {
  position: absolute;
/*display: -webkit-inline-box;*/
/*display: -webkit-box;*/
/*display: inline-block;*/
  padding: 0px 4px;
/*top: 0px;
	right: 0px;*/
  color: #fff;
  border: 0.15em solid #fff;
  border-radius: 1em;
/*text-align: right;
	font-family: Helvetica;*/
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0.25em 0.25em 0.25em 0 rgba(0,0,0,0.5);
  box-shadow: 0.25em 0.25em 0.25em 0 rgba(0,0,0,0.5);
}
.rightFloatTabStrip {
  left: auto;
  right: 0px;
}
.bottomFloatTabStrip {
  top: auto;
  bottom: 0px;
}
