
/* DockBar */

@import 'layout_variables';

.riaswDockBar {
	/*display: inline-block;*/
	//position: relative;///已由 riaswPanel 定义
	/*margin: 0px;*/
	padding: 1px;
	border: 0px solid $border-color;
}
.riaswDockBarContent {
	//position: absolute;
}

.riaswDockNode {
	min-width: 1em;
	min-height: 1em;
	z-index: 1;
}
.riaswDockNodeHidden {
	background-color: inherit;
}
.riaswDockNodeShown {
	background-color: $selected-color;
	z-index: 2;
}
//.riaswDockNodeFocused,
.riaswDockNodeSelected {
	background-color: $highlight-color;
}
.riaswDockNode * {
	//cursor: pointer;
}

.riaswDockCloseNode {
	position: absolute;
}
.riaswDockNodeCloseIcon {
	position: absolute;
	display: inline-block;
	background: url('./images/CaptionPanelBtn.png') no-repeat -196px center;
	width: 24px;
	height: 24px;
	overflow: hidden;
	/*float: left;*/
	margin: 0px;
}
.riaswDockNodeCloseText {
	position: absolute;
	/*display: -webkit-inline-box;*/
	/*display: -webkit-box;*/
	/*display: inline-block;*/
	padding: 0px 4px;
	/*top: 0px;
	right: 0px;*/
	color: white;
	border: 0.15em solid white;
	border-radius: 1em;
	/*text-align: right;
	font-family: Helvetica;*/
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	background-clip: padding-box;
	_shadow(0.25em 0.25em 0.25em 0 $shadow-color-50);
}

/*.riaswDockNodeIcon {
	background: url('./images/CaptionPanelBtn.png') no-repeat -52px center;
	width: 16px;
	height: 16px;
	overflow: hidden;
	margin: 1px 4px 1px 0px;
}
.riaswDockNodeIconDefault {
	background: url('./images/CaptionPanelBtn.png') no-repeat -52px center;
}
.riaswDockNodeShown .riaswDockNodeIcon,
.riaswDockNodeIconShown {
	background: url('./images/CaptionPanelBtn.png') no-repeat -124px center;
}
.riaswDockNodeHidden .riaswDockNodeIcon,
.riaswDockNodeIconHidden {
	background: url('./images/CaptionPanelBtn.png') no-repeat -28px center;
}
.riaswDockNodeSelected .riaswDockNodeIcon,
.riaswDockNodeIconSelected,
.riaswDockNodeFocused .riaswDockNodeIcon,
.riaswDockNodeIconFocused {
	background: url('./images/CaptionPanelBtn.png') no-repeat -148px center;
}*/

