
/* TablePanel */

@import '../../variables';

.riaswTablePanel{
	/*display: block;
	background: inherit;
	margin:0;*/
	overflow: hidden;
	position: relative;
	border: 0px solid lightgray;
}

.riaswTablePanelSelected,
.riaswTablePanelFocused {
	/*-moz-box-shadow: 0.0em 0.0em 0.2em #777 inset;
	-webkit-box-shadow: 0.0em 0.0em 0.2em #777 inset;
	box-shadow: 0.0em 0.0em 0.2em #777 inset;*/
}
.riaswTablePanelHover {
/*	border-color: darkorange;
	-moz-box-shadow: 0.0em 0.0em 0.2em darkorange inset;
	-webkit-box-shadow: 0.0em 0.0em 0.2em darkorange inset;
	box-shadow: 0.0em 0.0em 0.2em darkorange inset;*/
}

.riaswTablePanelContent {
	//width: 100%;
	overflow: auto;
	//-webkit-overflow-scrolling: touch;
	position: relative;
}
/*.mobileBody .riaswTablePanelContent {
	overflow: hidden;
}*/

.riaswTablePanelTable {
	//width: 100%;
	border: 0px solid darkblue;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

.riaswTablePanelRow {
	border-collapse: collapse;
	border-spacing: 0;
}
.riaswTablePanelCol {
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
}

