

@import '../../variables';

.riaswToggleSplitter {
	position: absolute;
	overflow: hidden;
	z-index: 10;		/* above the panes so that splitter focus is visible on FF, see #7583*/
	/*background-color: lavender;*/
	background-color: inherit;
	border-color: lightgray;
	border-style: solid;
	border-width: 0px;
}
.dj_ie .riaswToggleSplitter {
	z-index: 1;	/* behind the panes so that pane borders aren't obscured see test_Gui.html/[14392] */
}

.riaswToggleSplitterActive {
	z-index: 11 !important;
}

.riaswToggleSplitterCover {
	position: absolute;
	z-index:-1;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.riaswToggleSplitterCoverActive {
	z-index:3 !important;
}

.dj_ie .riaswToggleSplitterCover {
	background: white;
	opacity: 0;
}
.dj_ie6 .riaswToggleSplitterCover,
.dj_ie7 .riaswToggleSplitterCover,
.dj_ie8 .riaswToggleSplitterCover {
	opacity: 0;
}

.riaswToggleSplitterShadow {
	font-size: 1px;
	background-color: ThreeDShadow;
	-moz-opacity: 0.5;
	opacity: 0.5;
	filter: Alpha(Opacity=50);
	margin: 0;
}

.dj_a11y .riaswToggleSplitterH {
	border-top:1px solid #d3d3d3 !important;
	border-bottom:1px solid #d3d3d3 !important;
}
.dj_a11y .riaswToggleSplitterV {
	border-left:1px solid #d3d3d3 !important;
	border-right:1px solid #d3d3d3 !important;
}

/*===============================================*/
.riaswToggleSplitterH {
	background:none;
	border:0;
	height:8px;
}
.dj_ios .riaswToggleSplitterH,
.dj_android .riaswToggleSplitterH {
	height: 8px;
}
.riaswToggleSplitterH .riaswToggleSplitterThumb {
	overflow:hidden;
	position: absolute;
	background-image: url('images/splitterToggleH.png');
	background-repeat: no-repeat;
	width: 32px;
	height: 8px;
	top: 0;
	left: 45%;
	cursor: pointer;
}
.dj_ios .riaswToggleSplitterH .riaswToggleSplitterThumb,
.dj_android .riaswToggleSplitterH .riaswToggleSplitterThumb{
}

.riaswToggleSplitterV {
	background:none;
	border:0;
	width:8px;
	margin: 0;
}
.dj_ios .riaswToggleSplitterV,
.dj_android .riaswToggleSplitterV {
	width: 8px;
}
.riaswToggleSplitterV .riaswToggleSplitterThumb {
	overflow:hidden;
	position:absolute;
	background-image: url('images/splitterToggleV.png');
	background-repeat: no-repeat;
	vertical-align: middle;
	width: 8px;
	height: 32px;
	left: 0;
	top: 45%;
	cursor: pointer;
}
.dj_ios .riaswToggleSplitterV .riaswToggleSplitterThumb,
.dj_android .riaswToggleSplitterV .riaswToggleSplitterThumb{
}

.riaswToggleSplitterHover{
	background-color: gold;
}
.riaswToggleSplitterHHover {
	cursor: row-resize;
	-webkit-tap-highlight-color: transparent;
}
.riaswToggleSplitterVHover {
	cursor: col-resize;
	-webkit-tap-highlight-color: transparent;
}


/* active splitter */
.riaswToggleSplitterActive {
	font-size: 1px;
	background-image: none;
	background-color: #aaa;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: Alpha(Opacity=60);
	margin: 0;
}


.riaswToggleSplitterTop .riaswToggleSplitterThumbOpen,
.riaswToggleSplitterBottom .riaswToggleSplitterThumbClosed {
	background-position: 0 -16px !important;
	//background-position: 0 -24px !important;
}

.riaswToggleSplitterBottom .riaswToggleSplitterThumbOpen,
.riaswToggleSplitterTop .riaswToggleSplitterThumbClosed {
	background-position: 0 0 !important;
	//background-position: 0 -8px !important;
}

.riaswToggleSplitterLeft .riaswToggleSplitterThumbOpen,
.riaswToggleSplitterRight .riaswToggleSplitterThumbClosed {
	background-position: -16px 0 !important;
	//background-position: -24px 0 !important;
}

.riaswToggleSplitterRight .riaswToggleSplitterThumbOpen,
.riaswToggleSplitterLeft .riaswToggleSplitterThumbClosed {
	background-position: 0 0 !important;
	//background-position: -8px 0 !important;
}

.riaswToggleSplitterTop .riaswToggleSplitterThumbOpenHover,
.riaswToggleSplitterBottom .riaswToggleSplitterThumbClosedHover {
	background-position: 0 -24px !important;
}

.riaswToggleSplitterBottom .riaswToggleSplitterThumbOpenHover,
.riaswToggleSplitterTop .riaswToggleSplitterThumbClosedHover {
	background-position: 0 -8px !important;
}

.riaswToggleSplitterLeft .riaswToggleSplitterThumbOpenHover,
.riaswToggleSplitterRight .riaswToggleSplitterThumbClosedHover {
	background-position: -24px 0 !important;
}

.riaswToggleSplitterRight .riaswToggleSplitterThumbOpenHover,
.riaswToggleSplitterLeft .riaswToggleSplitterThumbClosedHover {
	background-position: -8px 0 !important;
}

.riaswToggleSplitterTop .riaswToggleSplitterA11y,
.riaswToggleSplitterBottom .riaswToggleSplitterA11y {
	display: none;
	font-size: 8px;
	text-align: center;
}

.riaswToggleSplitterRight .riaswToggleSplitterA11y,
.riaswToggleSplitterLeft .riaswToggleSplitterA11y {
	display: none;
	font-size: 8px;
	position: relative;
	top: 48%;
}

.dijit_a11y .riaswToggleSplitterA11y {
	display: block;
}
