.rias .gridxLockedCell,
.rias .gridxRow .gridxLockedCell {
  background-color: lavender;
  border-color: silver;
}
.rias .gridxHeaderRow .gridxLockedCell,
.rias.gridxColumnResizing .gridx .gridxHeader .gridxHeaderRow .gridxLockedCell:hover {
  background-color: lavender;
  border-color: silver;
}
