/* Calendar
 * 
 * Styling Calendar mainly includes:
 * 
 * 1. Calendar container
 * 		.dijitCalendar - main container
 * 		.dijitCalendarHover / .dijitCalendarActive - states e.g. hover,active
 * 
 * 2. Month
 * 		.dijitCalendarMonthContainer
 * 		.dijitCalendarMonthLabel
 *      .dijitCalendarDecrease / .dijitCalendarDecrease - icons for switching to previous/next month
 *      .dijitCalendarArrowActive .dijitCalendarDecrease - states e.g. hover,active
 * 
 * 3. Date
 * 		.dijitCalendarDayLabelTemplate - week day column header e.g. S M T W T F S
 * 		.dijitCalendarDateTemplate - date label wrapper
 * 		.dijitCalendarPreviousMonth .dijitCalendarDateLabel - special labels for previous or next month
 *      .dijitCalendarSelectedDate .dijitCalendarDateLabel - styles for selected date
 * 		.dijitCalendarDisabledDate .dijitCalendarDateLabel - styles for disabled date
 * 		.dijitCalendarActiveDate .dijitCalendarDateLabel - states e.g. hover,active
 * 
 * 4. Year
 * 		.dijitCalendarYearContainer
 * 		.dijitCalendarYearLabel
 * 		.dijitCalendarPreviousYear /.dijitCalendarNextYear
 *      .dijitCalendarNextYearHover / .dijitCalendarPreviousYearHover - states e.g. hover,active
 *      
 * 5. Dropdown Month Menu
 * 		.dijitCalendarMonthMenu - menu container     
 * 		.dijitCalendarMonthMenu .dijitCalendarMonthLabel - month label in menu item
 * 		.dijitCalendarMonthMenu .dijitCalendarMonthLabelHover - menu item hover state
 */
.rias .dijitCalendar {
  background-color: #fff;
  text-align: center;
  padding: 0.25em;
  border: 1px solid #9e9e9e;
  border-collapse: separate;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
}
.rias .dijitCalendarMonthContainer th {
  text-align: center;
  line-height: 1.5em;
  vertical-align: middle;
  margin: 0.25em 0;
}
.rias .dijitCalendarIncrementControl {
  font-family: "flat-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  border: 1px solid transparent;
  padding: 0.25em;
}
.rias .dijitCalendarDecrease:before {
  content: "\f000";
}
.rias .dijitCalendarIncrease:before {
  content: "\f001";
}
.rias .dijitCalendarArrowHover .dijitCalendarIncrementControl,
.rias .dijitCalendarArrow:hover .dijitCalendarIncrementControl,
.rias .dijitCalendarNextYearHover,
.rias .dijitCalendarNextYear:hover,
.rias .dijitCalendarPreviousYearHover,
.rias .dijitCalendarPreviousYear:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #9e9e9e;
  padding: 0.25em;
  border-radius: 0.25em;
  line-height: 1.5em;
  cursor: pointer;
  -webkit-transition: all 0.05s linear;
  -moz-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  -ms-transition: all 0.05s linear;
  transition: all 0.05s linear;
  background: #fff;
  padding: 0.25em;
}
.rias .dijitCalendarArrowActive .dijitCalendarIncrementControl,
.rias .dijitCalendarArrow:active .dijitCalendarIncrementControl,
.rias .dijitCalendarNextYearActive,
.rias .dijitCalendarNextYear:active,
.rias .dijitCalendarPreviousYearActive,
.rias .dijitCalendarPreviousYear:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  background: #e0e0e0;
  border-color: #b3b3b3;
}
.rias .dijitA11ySideArrow {
/* text +/- labels instead of arrow icons, for high contrast mode */
  display: none;
}
.rias .dijitCalendarContainer th,
.rias .dijitCalendarContainer td {
  padding: 0.25em;
}
.rias .dijitCalendarDayLabelTemplate {
  text-align: center;
  border-bottom: #9e9e9e;
}
.rias .dijitCalendarDayLabel {
  font-weight: bold;
  text-align: center;
}
.rias .dijitCalendarDateTemplate {
  font-size: 0.9em;
  letter-spacing: 0.05em;
  text-align: center;
}
.rias .dijitCalendarDateTemplate .dijitCalendarDateLabel {
  text-decoration: none;
  display: block;
  padding: 0.125em 0.25em;
  border: 0 none;
  border-radius: 50%;
}
.rias .dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.rias .dijitCalendarNextMonth .dijitCalendarDateLabel {
  color: #c2c2c2;
}
.rias .dijitCalendarCurrentDate .dijitCalendarDateLabel {
  border-color: #90caf9;
}
.rias .dijitCalendarHoveredDate .dijitCalendarDateLabel,
.rias .dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
  background-color: #f2f2f2;
}
.rias .dijitCalendarActiveDate .dijitCalendarDateLabel,
.rias .dijitCalendarEnabledDate:active .dijitCalendarDateLabel {
  background-color: #e6e6e6;
}
.rias .dijitCalendarSelectedDate .dijitCalendarDateLabel,
.rias .dijitCalendarSelectedDate.dijitCalendarHoveredDate .dijitCalendarDateLabel {
  color: #fff;
  background-color: #90caf9;
}
.rias .dijitCalendarDisabledDate .dijitCalendarDateLabel {
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
.rias .dijitCalendarYearContainer {
  vertical-align: middle;
}
.rias .dijitCalendarYearLabel {
  padding: 0.25em 0 0 0;
  margin: 0;
  font-size: 1.15em;
}
.rias .dijitCalendarYearLabel span {
  vertical-align: middle;
}
.rias .dijitCalendarSelectedYear,
.rias .dijitCalendarNextYear,
.rias .dijitCalendarPreviousYear {
  padding: 0.25em;
}
.rias .dijitCalendarSelectedYear {
  color: #90caf9;
}
.rias .dijitCalendarNextYear,
.rias .dijitCalendarPreviousYear {
  color: #90caf9;
  font-size: 0.9em;
  line-height: 1.5em;
  border: 1px solid transparent;
}
.rias .dijitCalendarSelectedYear {
  padding: 0 0.25em;
}
.rias .dijitCalendar .dijitDropDownButton {
  margin: 0;
}
.rias .dijitCalendarMonthMenu {
  padding: 0.5em 0;
}
.rias .dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  padding: 0.25em;
}
.rias .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover {
  color: #fff;
  background-color: #90caf9;
}
