.rias .dijitDialogRtl .dijitDialogCloseIcon {
  right: auto;
  left: 0.75em;
}
.rias .dijitDialogRtl .dijitDialogPaneActionBar,
.rias .dijitTooltipDialogRtl .dijitDialogPaneActionBar {
  text-align: left;
}
