.rias .dijitToolbar .dijitToggleButtonRtl,
.rias .dijitToolbar .dijitButtonRtl,
.rias .dijitToolbar .dijitDropDownButtonRtl,
.rias .dijitToolbar .dijitComboButtonRtl {
  margin-left: 0.25em;
  margin-right: auto;
}
.rias .dijitToolbar .dijitDropDownButtonRtl .dijitArrowButtonInner {
  margin-left: auto;
  margin-right: 0.25em;
}
