
/*rias.riasw.Icon=================================================================*/
.riaswAIcon{
	background: url('./imagesw48/A.png') no-repeat;
}
.riaswAccordionContainerIcon{
	background: url('./imagesw48/AccordionContainer.png') no-repeat;
}
.riaswAudioIcon{
	background: url('./imagesw48/Audio.png') no-repeat;
}
.riaswBIcon{
	background: url('./imagesw48/B.png') no-repeat;
}
.riaswBorderContainerIcon{
	background: url('./imagesw48/BorderContainer.png') no-repeat;
}
.riaswButtonIcon{
	background: url('./imagesw48/Button.png') no-repeat;
}
.riaswButtonBoxIcon{
	background: url('./imagesw48/ButtonBox.png') no-repeat;
}
.riaswCalendarIcon{
	background: url('./imagesw48/Calendar.png') no-repeat;
}
.riaswCarouselIcon{
	background: url('./imagesw48/Carousel.png') no-repeat;
}
.riaswCarouselItemIcon{
	background: url('./imagesw48/CarouselItem.png') no-repeat;
}
.riaswCheckBoxIcon{
	background: url('./imagesw48/CheckBox.png') no-repeat;
}
.riaswCheckedMenuItemIcon{
	background: url('./imagesw48/CheckedMenuItem.png') no-repeat;
}
.riaswCheckedMultiSelectIcon{
	background: url('./imagesw48/CheckedMultiSelect.png') no-repeat;
}
.riaswCodeEditorIcon{
	background: url('./imagesw48/CodeEditor.png') no-repeat;
}
.riaswColorPaletteIcon{
	background: url('./imagesw48/ColorPalette.png') no-repeat;
}
.riaswComboBoxIcon{
	background: url('./imagesw48/ComboBox.png') no-repeat;
}
.riaswComboButtonIcon{
	background: url('./imagesw48/ComboButton.png') no-repeat;
}
.riaswContainerIcon{
	background: url('./imagesw48/Container.png') no-repeat;
}
.riaswContentPaneIcon{
	background: url('./imagesw48/ContentPane.png') no-repeat;
}
.riaswCurrencyTextBoxIcon{
	background: url('./imagesw48/CurrencyTextBox.png') no-repeat;
}
.riaswDataCarouselIcon{
	background: url('./imagesw48/DataCarousel.png') no-repeat;
}
.riaswDataGridIcon{
	background: url('./imagesw48/DataGrid.png') no-repeat;
}
.riaswDatePickerIcon{
	background: url('./imagesw48/DatePicker.png') no-repeat;
}
.riaswDateTextBoxIcon{
	background: url('./imagesw48/DateTextBox.png') no-repeat;
}
.riaswDivIcon{
	background: url('./imagesw48/Div.png') no-repeat;
}
.riaswDockBarIcon {
	background: url('./imagesw48/DockBar.png') no-repeat;
}
.riaswDropDownButtonIcon{
	background: url('./imagesw48/DropDownButton.png') no-repeat;
}
.riaswDropDownSelectIcon{
	background: url('./imagesw48/DropDownSelect.png') no-repeat;
}
.riaswEdgeToEdgeCategoryIcon{
	background: url('./imagesw48/EdgeToEdgeCategory.png') no-repeat;
}
.riaswEdgeToEdgeDataListIcon{
	background: url('./imagesw48/EdgeToEdgeDataList.png') no-repeat;
}
.riaswEdgeToEdgeListIcon{
	background: url('./imagesw48/EdgeToEdgeList.png') no-repeat;
}
.riaswEditorIcon{
	background: url('./imagesw48/RichText.png') no-repeat;
}
.riaswExpandingTextAreaIcon{
	background: url('./imagesw48/ExpandingTextArea.png') no-repeat;
}
.riaswFilteringSelectIcon{
	background: url('./imagesw48/FilteringSelect.png') no-repeat;
}
.riaswFixedSplitterIcon{
	background: url('./imagesw48/FixedSplitter.png') no-repeat;
}
.riaswFormIcon{
	background: url('./imagesw48/Form.png') no-repeat;
}
.riaswGridIcon{
	background: url('./imagesw48/GridX.png') no-repeat;
}
.riaswGridLayoutIcon{
	background: url('./imagesw48/GridLayout.png') no-repeat;
}
.riaswH1Icon{
	background: url('./imagesw48/H1.png') no-repeat;
}
.riaswH2Icon{
	background: url('./imagesw48/H2.png') no-repeat;
}
.riaswH3Icon{
	background: url('./imagesw48/H3.png') no-repeat;
}
.riaswHrIcon{
	background: url('./imagesw48/Hr.png') no-repeat;
}
.riaswHeadingIcon{
	background: url('./imagesw48/Heading.png') no-repeat;
}
.riaswHorizontalSliderIcon{
	background: url('./imagesw48/HorizontalSlider.png') no-repeat;
}
.riaswHTMLEditorIcon{
	background: url('./imagesw48/HTMLEditor.png') no-repeat;
}
.riaswIconContainerIcon{
	background: url('./imagesw48/IconContainer.png') no-repeat;
}
.riaswIconItemIcon{
	background: url('./imagesw48/IconItem.png') no-repeat;
}
.riaswIconMenuIcon{
	background: url('./imagesw48/IconMenu.png') no-repeat;
}
.riaswIconMenuItemIcon{
	background: url('./imagesw48/IconMenuItem.png') no-repeat;
}
.riaswIframeIcon{
	background: url('./imagesw48/Iframe.png') no-repeat;
}
.riaswImageIcon{
	background: url('./imagesw48/Image.png') no-repeat;
}
.riaswInputIcon{
	background: url('./imagesw48/Input.png') no-repeat;
}
.riaswLabelIcon{
	background: url('./imagesw48/Label.png') no-repeat;
}
.riaswLiIcon{
	background: url('./imagesw48/Li.png') no-repeat;
}
.riaswListItemIcon{
	background: url('./imagesw48/ListItem.png') no-repeat;
}
.riaswMenuIcon{
	background: url('./imagesw48/Menu.png') no-repeat;
}
.riaswMenuBarIcon{
	background: url('./imagesw48/MenuBar.png') no-repeat;
}
.riaswMenuBarItemIcon{
	background: url('./imagesw48/MenuBarItem.png') no-repeat;
}
.riaswMenuItemIcon{
	background: url('./imagesw48/MenuItem.png') no-repeat;
}
.riaswMenuSeparatorIcon{
	background: url('./imagesw48/MenuSeparator.png') no-repeat;
}
.riaswModuleIcon{
	background: url('./imagesw48/Module.png') no-repeat;
}
.riaswMultiSelectIcon{
	background: url('./imagesw48/MultiSelect.png') no-repeat;
}
.riaswNumberSpinnerIcon{
	background: url('./imagesw48/NumberSpinner.png') no-repeat;
}
.riaswNumberTextBoxIcon{
	background: url('./imagesw48/NumberTextBox.png') no-repeat;
}
.riaswPaneIcon{
	background: url('./imagesw48/Pane.png') no-repeat;
}
.riaswPaneXIcon{
	background: url('./imagesw48/PaneX.png') no-repeat;
}
.riaswPopupMenuItemIcon{
	background: url('./imagesw48/PopupMenuItem.png') no-repeat;
}
.riaswProgressIndicatorIcon{
	background: url('./imagesw48/ProgressIndicator.png') no-repeat;
}
.riaswRadioButtonIcon{
	background: url('./imagesw48/RadioButton.png') no-repeat;
}
.riaswRadioMenuItemIcon16{
	background: url('./imagesw16/RadioMenuItem.png') no-repeat;
}
.riaswRatingIcon{
	background: url('./imagesw48/Rating.png') no-repeat;
}
.riaswRoundRectIcon{
	background: url('./imagesw48/RoundRect.png') no-repeat;
}
.riaswRoundRectCategoryIcon{
	background: url('./imagesw48/RoundRectCategory.png') no-repeat;
}
.riaswRoundRectDataListIcon{
	background: url('./imagesw48/RoundRectDataList.png') no-repeat;
}
.riaswRoundRectListIcon{
	background: url('./imagesw48/RoundRectList.png') no-repeat;
}
.riaswScrollablePaneIcon{
	background: url('./imagesw48/ScrollablePane.png') no-repeat;
}
.riaswScrollableViewIcon{
	background: url('./imagesw48/ScrollableView.png') no-repeat;
}
.riaswSearchBoxIcon{
	background: url('./imagesw48/SearchBox.png') no-repeat;
}
.riaswSelectIcon{
	background: url('./imagesw48/Select.png') no-repeat;
}
.riaswSliderIcon{
	background: url('./imagesw48/Slider.png') no-repeat;
}
.riaswSpanIcon{
	background: url('./imagesw48/Span.png') no-repeat;
}
.riaswSpinWheelIcon{
	background: url('./imagesw48/SpinWheel.png') no-repeat;
}
.riaswSpinWheelDatePickerIcon{
	background: url('./imagesw48/SpinWheelDatePicker.png') no-repeat;
}
.riaswSpinWheelSlotIcon{
	background: url('./imagesw48/SpinWheelSlot.png') no-repeat;
}
.riaswSpinWheelTimePickerIcon{
	background: url('./imagesw48/SpinWheelTimePicker.png') no-repeat;
}
.riaswSplitContainerIcon{
	background: url('./imagesw48/SplitContainer.png') no-repeat;
}
.riaswStackContainerIcon{
	background: url('./imagesw48/StackContainer.png') no-repeat;
}
.riaswStickyNoteIcon{
	background: url('./imagesw48/StickyNote.png') no-repeat;
}
.riaswStoreIcon{
	background: url('./imagesw48/Store.png') no-repeat;
}
.riaswSwapViewIcon{
	background: url('./imagesw48/SwapView.png') no-repeat;
}
.riaswSwitchIcon{
	background: url('./imagesw48/Switch.png') no-repeat;
}
.riaswTabBarIcon{
	background: url('./imagesw48/TabBar.png') no-repeat;
}
.riaswTabBarButtonIcon{
	background: url('./imagesw48/TabBarButton.png') no-repeat;
}
.riaswTabContainerIcon{
	background: url('./imagesw48/TabContainer.png') no-repeat;
}
.riaswTablePanelIcon{
	background: url('./imagesw48/TablePanel.png') no-repeat;
}
.riaswTagIcon{
	background: url('./imagesw48/Tag.png') no-repeat;
}
.riaswTdIcon{
	background: url('./imagesw48/Td.png') no-repeat;
}
.riaswTextAreaIcon{
	background: url('./imagesw48/TextArea.png') no-repeat;
}
.riaswTextBoxIcon{
	background: url('./imagesw48/TextBox.png') no-repeat;
}
.riaswTimePickerIcon{
	background: url('./imagesw48/TimePicker.png') no-repeat;
}
.riaswTimeSpinnerIcon{
	background: url('./imagesw48/TimeSpinner.png') no-repeat;
}
.riaswTimeTextBoxIcon{
	background: url('./imagesw48/TimeTextBox.png') no-repeat;
}
.riaswTitlePaneIcon{
	background: url('./imagesw48/TitlePane.png') no-repeat;
}
.riaswToggleButtonIcon{
	background: url('./imagesw48/ToggleButton.png') no-repeat;
}
.riaswToolbarIcon{
	background: url('./imagesw48/Toolbar.png') no-repeat;
}
.riaswToolBarButtonIcon{
	background: url('./imagesw48/ToolBarButton.png') no-repeat;
}
.riaswTrIcon{
	background: url('./imagesw48/Tr.png') no-repeat;
}
.riaswTreeIcon{
	background: url('./imagesw48/Tree.png') no-repeat;
}
.riaswTriStateCheckBoxIcon{
	background: url('./imagesw48/TriStateCheckBox.png') no-repeat;
}
.riaswValidationTextBoxIcon{
	background: url('./imagesw48/ValidationTextBox.png') no-repeat;
}
.riaswValuePickerIcon{
	background: url('./imagesw48/ValuePicker.png') no-repeat;
}
.riaswValuePickerDatePickerIcon{
	background: url('./imagesw48/ValuePickerDatePicker.png') no-repeat;
}
.riaswValuePickerSlotIcon{
	background: url('./imagesw48/ValuePickerSlot.png') no-repeat;
}
.riaswValuePickerTimePickerIcon{
	background: url('./imagesw48/ValuePickerTimePicker.png') no-repeat;
}
.riaswVerticalSliderIcon{
	background: url('./imagesw48/VerticalSlider.png') no-repeat;
}
.riaswVideoIcon{
	background: url('./imagesw48/Video.png') no-repeat;
}
.riaswViewIcon{
	background: url('./imagesw48/View.png') no-repeat;
}
.riaswWindowPaneIcon{
	background: url('./imagesw48/WindowPane.png') no-repeat;
}
.riaswDialogPanelIcon{
	background: url('./imagesw48/DialogPanel.png') no-repeat;
}
/*rias.riasw.Icon16===============================================================*/
.riaswAIcon16{
	background: url('./imagesw16/A.png') no-repeat;
}
.riaswAccordionContainerIcon16{
	background: url('./imagesw16/Accordion.png') no-repeat;
}
.riaswAudioIcon16{
	background: url('./imagesw16/Audio.gif') no-repeat;
}
.riaswBIcon16{
	background: url('./imagesw16/B.png') no-repeat;
}
.riaswBorderContainerIcon16{
	background: url('./imagesw16/BorderContainer.png') no-repeat;
}
.riaswButtonIcon16{
	background: url('./imagesw16/Button.png') no-repeat;
}
.riaswButtonBoxIcon16{
	background: url('./imagesw16/ButtonBox.png') no-repeat;
}
.riaswCalendarIcon16{
	background: url('./imagesw16/Calendar.png') no-repeat;
}
.riaswCarouselIcon16{
	background: url('./imagesw16/CarouselSideScrollableList.gif') no-repeat;
}
.riaswCarouselItemIcon16{
	background: url('./imagesw16/CarouselItem.png') no-repeat;
}
.riaswCheckBoxIcon16{
	background: url('./imagesw16/CheckBox.png') no-repeat;
}
.riaswCheckedMenuItemIcon16{
	background: url('./imagesw16/CheckedMenuItem.png') no-repeat;
}
.riaswCheckedMultiSelectIcon16{
	background: url('./imagesw16/CheckedMultiSelect.png') no-repeat;
}
.riaswCodeEditorIcon16{
	background: url('./imagesw16/CodeEditor.gif') no-repeat;
}
.riaswColorPaletteIcon16{
	background: url('./imagesw16/ColorPalette.gif') no-repeat;
}
.riaswComboBoxIcon16{
	background: url('./imagesw16/ComboBox.png') no-repeat;
}
.riaswComboButtonIcon16{
	background: url('./imagesw16/DropDownButton.png') no-repeat;
}
.riaswContainerIcon16{
	background: url('./imagesw16/Container.png') no-repeat;
}
.riaswContentPaneIcon16{
	background: url('./imagesw16/ContentPane.png') no-repeat;
}
.riaswCurrencyTextBoxIcon16{
	background: url('./imagesw16/CurrencyTextBox.gif') no-repeat;
}
.riaswDataGridIcon16{
	background: url('./imagesw16/DataGrid.png') no-repeat;
}
.riaswDataCarouselIcon16{
	background: url('./imagesw16/DataCarousel.png') no-repeat;
}
.riaswDatePickerIcon16{
	background: url('./imagesw16/DatePicker.gif') no-repeat;
}
.riaswDateTextBoxIcon16{
	background: url('./imagesw16/DateTextBox.gif') no-repeat;
}
.riaswDivIcon16{
	background: url('./imagesw16/Div.png') no-repeat;
}
.riaswDockBarIcon16 {
	background: url('./imagesw16/DockBar.png') no-repeat;
}
.riaswDropDownButtonIcon16{
	background: url('./imagesw16/DropDownButton.png') no-repeat;
}
.riaswDropDownSelectIcon16{
	background: url('./imagesw16/DropDown.png') no-repeat;
}
.riaswEdgeToEdgeCategoryIcon16{
	background: url('./imagesw16/EdgeToEdgeCategory.gif') no-repeat;
}
.riaswEdgeToEdgeDataListIcon16{
	background: url('./imagesw16/EdgeToEdgeDataList.gif') no-repeat;
}
.riaswEdgeToEdgeListIcon16{
	background: url('./imagesw16/EdgeToEdgeList.gif') no-repeat;
}
.riaswEditorIcon16{
	background: url('./imagesw16/RichText.gif') no-repeat;
}
.riaswExpandingTextAreaIcon16{
	background: url('./imagesw16/ExpandingTextArea.gif') no-repeat;
}
.riaswFilteringSelectIcon16{
	background: url('./imagesw16/FilteringSelect.png') no-repeat;
}
.riaswFixedSplitterIcon16{
	background: url('./imagesw16/FixedSplitter.gif') no-repeat;
}
.riaswFormIcon16{
	background: url('./imagesw16/Form.gif') no-repeat;
}
.riaswGridLayoutIcon16{
	background: url('./imagesw16/GridLayout.gif') no-repeat;
}
.riaswGridIcon16{
	background: url('./imagesw16/Gridx.png') no-repeat;
}
.riaswH1Icon16{
	background: url('./imagesw16/H1.png') no-repeat;
}
.riaswH2Icon16{
	background: url('./imagesw16/H2.png') no-repeat;
}
.riaswH3Icon16{
	background: url('./imagesw16/H3.png') no-repeat;
}
.riaswHrIcon16{
	background: url('./imagesw16/Hr.png') no-repeat;
}
.riaswHeadingIcon16{
	background: url('./imagesw16/Heading.gif') no-repeat;
}
.riaswHorizontalSliderIcon16{
	background: url('./imagesw16/HorizontalSlider.gif') no-repeat;
}
.riaswHTMLEditorIcon16{
	background: url('./imagesw16/HTMLEditor.gif') no-repeat;
}
.riaswIconContainerIcon16{
	background: url('./imagesw16/IconContainer.gif') no-repeat;
}
.riaswIconItemIcon16{
	background: url('./imagesw16/IconItem.gif') no-repeat;
}
.riaswIconMenuIcon16{
	background: url('./imagesw16/IconMenu.png') no-repeat;
}
.riaswIconMenuItemIcon16{
	background: url('./imagesw16/MenuItem.png') no-repeat;
}
.riaswIframeIcon16{
	background: url('./imagesw16/Iframe.png') no-repeat;
}
.riaswImageIcon16{
	background: url('./imagesw16/Image.png') no-repeat;
}
.riaswInputIcon16{
	background: url('./imagesw16/Input.gif') no-repeat;
}
.riaswLabelIcon16{
	background: url('./imagesw16/Label.png') no-repeat;
}
.riaswLiIcon16{
	background: url('./imagesw16/Li.png') no-repeat;
}
.riaswListItemIcon16{
	background: url('./imagesw16/ListItem.gif') no-repeat;
}
.riaswMenuIcon16{
	background: url('./imagesw16/Menu.png') no-repeat;
}
.riaswMenuBarIcon16{
	background: url('./imagesw16/MenuBar.png') no-repeat;
}
.riaswMenuBarItemIcon16{
	background: url('./imagesw16/MenuBarItem.png') no-repeat;
}
.riaswMenuItemIcon16{
	background: url('./imagesw16/MenuItem.png') no-repeat;
}
.riaswMenuSeparatorIcon16{
	background: url('./imagesw16/MenuSeparator.png') no-repeat;
}
.riaswModuleIcon16{
	background: url('./imagesw16/Module.png') no-repeat;
}
.riaswMultiSelectIcon16{
	background: url('./imagesw16/MultiSelect.png') no-repeat;
}
.riaswNumberSpinnerIcon16{
	background: url('./imagesw16/NumberSpinner.gif') no-repeat;
}
.riaswNumberTextBoxIcon16{
	background: url('./imagesw16/NumberTextBox.gif') no-repeat;
}
.riaswPaneIcon16{
	background: url('./imagesw16/Pane.png') no-repeat;
}
.riaswPaneXIcon16{
	background: url('./imagesw16/PaneX.png') no-repeat;
}
.riaswPopupMenuItemIcon16{
	background: url('./imagesw16/PopupMenuItem.png') no-repeat;
}
.riaswProgressIndicatorIcon16{
	background: url('./imagesw16/ProgressIndicator.gif') no-repeat;
}
.riaswRadioButtonIcon16{
	background: url('./imagesw16/RadioButton.png') no-repeat;
}
.riaswRadioMenuItemIcon16{
	background: url('./imagesw16/RadioMenuItem.png') no-repeat;
}
.riaswRatingIcon16{
	background: url('./imagesw16/Rating.gif') no-repeat;
}
.riaswRoundRectIcon16{
	background: url('./imagesw16/RoundRect.gif') no-repeat;
}
.riaswRoundRectCategoryIcon16{
	background: url('./imagesw16/RoundRectCategory.gif') no-repeat;
}
.riaswRoundRectDataListIcon16{
	background: url('./imagesw16/RoundRectDataList.gif') no-repeat;
}
.riaswRoundRectListIcon16{
	background: url('./imagesw16/RoundRectList.gif') no-repeat;
}
.riaswSpanIcon16{
	background: url('./imagesw16/Span.png') no-repeat;
}
.riaswScrollablePaneIcon16{
	background: url('./imagesw16/ScrollablePane.gif') no-repeat;
}
.riaswScrollableViewIcon16{
	background: url('./imagesw16/ScrollableView.gif') no-repeat;
}
.riaswSearchBoxIcon16{
	background: url('./imagesw16/SearchBox.gif') no-repeat;
}
.riaswSelectIcon16{
	background: url('./imagesw16/Select.png') no-repeat;
}
.riaswSliderIcon16{
	background: url('./imagesw16/HorizontalSlider.gif') no-repeat;
}
.riaswSpinWheelIcon16{
	background: url('./imagesw16/SpinWheel.gif') no-repeat;
}
.riaswSpinWheelDatePickerIcon16{
	background: url('./imagesw16/SpinWheelDatePicker.gif') no-repeat;
}
.riaswSpinWheelSlotIcon16{
	background: url('./imagesw16/SpinWheelSlot.gif') no-repeat;
}
.riaswSpinWheelTimePickerIcon16{
	background: url('./imagesw16/SpinWheelTimePicker.gif') no-repeat;
}
.riaswSpinWheelTimePickerIcon16{
	background: url('./imagesw16/SpinWheelTimePicker.gif') no-repeat;
}
.riaswSplitContainerIcon16{
	background: url('./imagesw16/SplitContainer.gif') no-repeat;
}
.riaswStickyNoteIcon16{
	background: url('./imagesw16/StickyNote.gif') no-repeat;
}
.riaswStoreIcon16{
	background: url('./imagesw16/Store.png') no-repeat;
}
.riaswSwapViewIcon16{
	background: url('./imagesw16/SwapView.gif') no-repeat;
}
.riaswSwitchIcon16{
	background: url('./imagesw16/Switch.gif') no-repeat;
}
.riaswTabBarIcon16{
	background: url('./imagesw16/TabBar.gif') no-repeat;
}
.riaswTabBarButtonIcon16{
	background: url('./imagesw16/TabBarButton.gif') no-repeat;
}
.riaswTabContainerIcon16{
	background: url('./imagesw16/TabContainer.png') no-repeat;
}
.riaswTablePanelIcon16{
	background: url('./imagesw16/TablePanel.png') no-repeat;
}
.riaswTagIcon16{
	background: url('./imagesw16/Tag.png') no-repeat;
}
.riaswTdIcon16{
	background: url('./imagesw16/Td.png') no-repeat;
}
.riaswTrIcon16{
	background: url('./imagesw16/Tr.png') no-repeat;
}
.riaswTextAreaIcon16{
	background: url('./imagesw16/TextArea.gif') no-repeat;
}
.riaswTextBoxIcon16{
	background: url('./imagesw16/TextBox.png') no-repeat;
}
.riaswTimePickerIcon16{
	background: url('./imagesw16/TimePicker.gif') no-repeat;
}
.riaswTimeSpinnerIcon16{
	background: url('./imagesw16/TimeSpinner.gif') no-repeat;
}
.riaswTimeTextBoxIcon16{
	background: url('./imagesw16/TimeTextBox.gif') no-repeat;
}
.riaswTitlePaneIcon16{
	background: url('./imagesw16/TitlePane.png') no-repeat;
}
.riaswToggleButtonIcon16{
	background: url('./imagesw16/ToggleButton.gif') no-repeat;
}
.riaswToolbarIcon16{
	background: url('./imagesw16/ToolBar.png') no-repeat;
}
.riaswToolBarButtonIcon16{
	background: url('./imagesw16/ToolBarButton.gif') no-repeat;
}
.riaswTreeIcon16{
	background: url('./imagesw16/Tree.png') no-repeat;
}
.riaswTriStateCheckBoxIcon16{
	background: url('./imagesw16/TriStateCheckBox.png') no-repeat;
}
.riaswValidationTextBoxIcon16{
	background: url('./imagesw16/ValidationTextBox.gif') no-repeat;
}
.riaswValuePickerIcon16{
	background: url('./imagesw16/ValuePicker.gif') no-repeat;
}
.riaswValuePickerDatePickerIcon16{
	background: url('./imagesw16/ValuePickerDatePicker.gif') no-repeat;
}
.riaswValuePickerSlotIcon16{
	background: url('./imagesw16/ValuePickerSlot.gif') no-repeat;
}
.riaswValuePickerTimePickerIcon16{
	background: url('./imagesw16/ValuePickerTimePicker.gif') no-repeat;
}
.riaswVerticalSliderIcon16{
	background: url('./imagesw16/VerticalSlider.gif') no-repeat;
}
.riaswVideoIcon16{
	background: url('./imagesw16/Video.gif') no-repeat;
}
.riaswViewIcon16{
	background: url('./imagesw16/View.gif') no-repeat;
}
.riaswWindowPaneIcon16{
	background: url('./imagesw16/WindowPane.png') no-repeat;
}
.riaswDialogPanelIcon16{
	background: url('./imagesw16/DialogPanel.png') no-repeat;
}
/*=========================================================================*/
