
/* Module */
@import '../../variables';

.webApp{
	background-color: $page-color;
	border-style: solid;
	border-color: $border-color;
	border-width: 0;
	padding: 0;
	margin: 0;
	//font-family: "微软雅黑";
	font-size: 12px;
	display: block;
	position: relative;
	overflow: hidden;

	-moz-box-sizing: border-box; /* ff2 */
	-ms-box-sizing: border-box; /* ie8 */
	-webkit-box-sizing: border-box; /* safari3 */
	-khtml-box-sizing: border-box; /* konqueror */
	box-sizing: border-box;/* css3 rec */
}

.webPage{
	background-color: $page-color;
	border-color: $border-color;
	//font-family: "微软雅黑";
	font-size: 12px;
}
