/*
**----------------------------------------------------------------------------
**  CheckedMultiSelect
**----------------------------------------------------------------------------
*/

@import '../../variables';

/// riaswCheckedMultiSelect ==========================///
.riaswCheckedMultiSelect {
	border: 0 solid $input-border-color;

	.dijitButtonNode {
		border: 0 solid #b5bcc7;
		border-width: 0 0 0 0;
	}
}

.riaswCheckedMultiSelectHidden {
	display: none;
}

.riaswCheckedMultiSelectWrapper {
	background: $input-background;
	border-width: 1px;
	border-style: solid;
	border-color: $input-border-color;
	border-radius: $input-border-radius;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	padding: 0.25em;
	margin:0;
	overflow: auto;
	//overflow-y: auto;
	//overflow-x: hidden;
	//height: 100%;
	//width: 100%;
}
.riaswCheckedMultiSelectDisabled *,
.riaswCheckedMultiSelectReadOnly * {
	color: inherit;
	background-color: inherit;
	background-image: none;
	border-color: $input-disabled-border-color;
}
/*
.riaswCheckedMultiSelectFocused .riaswCheckedMultiSelectWrapper {
	outline: 5px -webkit-focus-ring-color;
	border-color: $input-focused-border-color;
	transition-duration: .25s;
	_textbox_shadow($input-focused-border-color);
}
*/
.riaswCheckedMultiSelectFocused .riaswCheckedMultiSelectWrapper,
.riaswCheckedMultiSelectHover .riaswCheckedMultiSelectWrapper {
	border-color: $input-hover-border-color;
	transition-duration: .25s;
	_textbox_shadow($input-hover-border-color);
}

/// End of riaswCheckedMultiSelect =================///


/// riaswMultiSelectItem ==========================///
.riaswMultiSelectItem {
	cursor: default;
	padding: 0.25em 0.25em;
	margin: 1px 0;
	white-space: nowrap;
}
// hover
.riaswMultiSelectItemHover {
	background-color: $tree-row-hover-background-color;
	border-color: $tree-row-hover-border-color;
	transition-duration: .15s;
}
// active
.riaswMultiSelectItemActive,
.riaswMultiSelectItemFocused {
	//outline: none;
	background-color:$tree-row-active-background-color;
	border-color: $tree-row-active-border-color;
}
// selected
.riaswCheckedMultiSelectSelectedOption {
	outline: none;
	//color: $tree-row-selected-text-color;
	background-color: $tree-row-selected-background-color;
	border-color: $tree-row-selected-border-color;
	font-weight: bold;
}
// disabled
.riaswMultiSelectItemDisabled {
	background-image: none;
	background-color: inherit;
	opacity: $disabled-opacity;
	//outline: none;
	color: inherit;
}

.riaswMultiSelectItemLabel {
	padding: 0 0.5em;
}

.riaswCheckedMultiSelectItem {
	white-space: nowrap;
	padding: .1em .2em;
	cursor: default;
}
.riaswCheckedMultiSelectItemLabel {
	margin-left: 0 0.5em;
}
.riaswCheckedMultiSelectCheckBoxInput {
	opacity: 0.01;
}
.dj_ie .riaswCheckedMultiSelectCheckBoxInput {
	opacity: 0;
	width: 15px;
	height: 16px;
}
.dijit_a11y .riaswCheckedMultiSelectCheckBoxInput {
	opacity: 1;
	filter: none;
}

/// End of riaswMultiSelectItem =================///


/// riaswCheckedMultiSelectButton==================================== ///
/* normal status */
.riaswCheckedMultiSelectButton {
	border: 1px solid #b5bcc7;
	background-color: #ffffff;
	border-collapse: separate;

	.dijitButtonContents {
		border: 0 solid #b5bcc7;
		border-right-width: 1px;
	}

	.dijitArrowButton {
		height: 16px;
		border-width: 0;
		padding: 0 0.25em;
		/* border-color: lightgray; */
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
		display: inline-block;

		/*padding: 0;
		border: 1px solid #ffffff;
		border-top: none;
		background-color: #efefef;
		background-image: url("../../../dijit/themes/claro/images/standardGradient.png");
		background-repeat: repeat-x;*/
	}

	/* Drop down button */
	.dijitButtonText {
		padding: 2px;
	}
}

.riaswCheckedMultiSelectButton .dijitArrowButton .dijitArrowButtonInner {
	background-image: url("./images/buttonArrows.png");
	/*background-position: -35px;*/
	background-repeat: no-repeat;
	width: 16px;
	height: 100% !important;
}

/* hover status */
.riaswCheckedMultiSelectButtonHover {
	border: 1px solid #769dc0;
	background-color: #e9f4fe;
	background-image: -moz-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
	background-image: -webkit-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
	background-image: linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
	background-repeat: repeat-x;

	.dijitButtonContents {
		border-color: #769dc0;
	}
	.dijitArrowButton {
		background-color: #abd6ff;

		.dijitArrowButtonInner {
			background-position: -70px ;
		}
	}
}

/* focused status */
.riaswCheckedMultiSelectButtonFocused {
	border: 1px solid #769dc0;

	.dijitButtonContents {
		border-color: #769dc0;
	}
	.dijitArrowButton {
		background-color: #7dbefa;
		background-position: 0 -177px;
		border: none;
		padding: 0 1px;

		.dijitArrowButtonInner {
			background-position: -70px;
			margin-bottom: 1px;
		}
	}
}

/* disable status */
.riaswCheckedMultiSelectButtonDisabled {
	border: 1px solid #d3d3d3;
	background-color: #efefef;
	background-image: none;
	color: #818181;

	.dijitArrowButton {
		background-color: #efefef;

		.dijitArrowButtonInner {
			background-position: 0;
		}
	}
}

.dj_ie6 {
	.riaswCheckedMultiSelectButton,
	.riaswCheckedMultiSelectButton .dijitButtonNode {
		background-image: none;
	}
}

.riaswCheckedMultiSelectMenu {
	td {
		.dijitMenuArrowCell {
			display: none;
		}
		.dijitMenuItemLabel {
			position: static;
			padding: 2px;
		}
	}
}

/// Menu =======================///
.riaswCheckedMultiSelectMenuCheckBoxItemIcon {
	background-image: url('./images/spriteCheckbox.png');
	background-position: -16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.riaswCheckedMultiSelectMenuRadioItemIcon {
	background-image: url('./images/spriteRadio.png');
	background-position: -16px;
	width: 16px;
	height: 16px;
}

.riaswCheckedMultiSelectMenuItemChecked {
	.riaswCheckedMultiSelectMenuCheckBoxItemIcon {
		background-position: 0;
	}
	.riaswCheckedMultiSelectMenuRadioItemIcon {
		background-position: -90px;
	}
}

/// End of riaswCheckedMultiSelectButton============///


