.riaswForm {
  display: block;
  position: relative;
  background-color: inherit;
  padding: 0px;
  margin: 0;
/*overflow: hidden;*/
  border: 0px solid #d3d3d3;
}
.riaswFormContent {
  overflow: auto;
  position: relative;
}
.dijitCheckBox {
  background-color: #fff;
  border: 1px solid #9e9e9e;
  width: 16px;
  height: 16px;
  line-height: 1;
  padding: 0;
  border-radius: 2px;
  text-align: center;
  position: relative;
  overflow: visible;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.dijitCheckBox input {
  position: absolute;
  top: 0;
}
.dijitCheckBoxIcon:before,
.dijitCheckBoxChecked:before,
.dijitCheckBoxCheckedDisabled:before {
  font-family: "flat-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  color: #fff;
}
.dijitCheckBoxIcon {
  padding: 0;
}
.dijitCheckBoxIcon:before {
  color: #90caf9;
}
.alt-primary .dijitCheckBoxIcon:before {
  color: #fff;
}
.alt-success .dijitCheckBoxIcon:before {
  color: #fff;
}
.alt-info .dijitCheckBoxIcon:before {
  color: #fff;
}
.alt-warning .dijitCheckBoxIcon:before {
  color: #fff;
}
.alt-danger .dijitCheckBoxIcon:before {
  color: #fff;
}
.alt-inverse .dijitCheckBoxIcon:before {
  color: #fff;
}
.dijitCheckBoxChecked {
  background-color: #90caf9;
  border-color: #90caf9;
}
.dijitCheckBoxHover {
  background-color: #fff;
  border: 1px solid #90caf9;
}
.dijitCheckBoxCheckedHover {
  background-color: #a1d2fa;
  border: 1px solid #90caf9;
}
.dijitCheckBoxReadOnly {
  background-color: inherit;
}
.dijitCheckBoxDisabled {
  color: #9e9e9e;
  background-color: #f5f5f5;
  border-color: #e3e3e3;
}
.dijitCheckBoxCheckedDisabled {
  color: #a6a6a6;
  background-color: #b7ddfb;
  border-color: #b7ddfb;
}
.dijitCheckedMenuItem .dijitCheckedMenuItemIcon {
  background-color: #fff;
  border: 1px solid #9e9e9e;
  width: 16px;
  height: 16px;
  line-height: 1;
  padding: 0;
  border-radius: 2px;
  text-align: center;
  position: relative;
  overflow: visible;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon:before {
  font-family: "flat-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  color: #90caf9;
}
.dijitRadio,
.dijitRadioIcon {
/* inside a toggle button */
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 50%;
  position: relative;
  overflow: visible;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dijitRadio:after,
.dijitRadioIcon:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  background-color: #90caf9;
  border-radius: 50%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin: 8px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.dijitRadioHover {
  border-color: #acd7fb;
}
.dijitRadioChecked {
  border-color: #90caf9;
}
.dijitRadioChecked:after,
.dijitChecked .dijitRadioIcon:after {
  width: 8px;
  height: 8px;
  margin: 3px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.alt-primary .dijitRadioIcon {
  border-color: #fff;
}
.alt-primary .dijitRadioIcon:after {
  background-color: #fff;
}
.alt-success .dijitRadioIcon {
  border-color: #fff;
}
.alt-success .dijitRadioIcon:after {
  background-color: #fff;
}
.alt-info .dijitRadioIcon {
  border-color: #fff;
}
.alt-info .dijitRadioIcon:after {
  background-color: #fff;
}
.alt-warning .dijitRadioIcon {
  border-color: #fff;
}
.alt-warning .dijitRadioIcon:after {
  background-color: #fff;
}
.alt-danger .dijitRadioIcon {
  border-color: #fff;
}
.alt-danger .dijitRadioIcon:after {
  background-color: #fff;
}
.alt-inverse .dijitRadioIcon {
  border-color: #fff;
}
.alt-inverse .dijitRadioIcon:after {
  background-color: #fff;
}
.dijitRadioDisabled {
  background-color: inherit;
}
.dijitRadioDisabled {
  background-color: #f5f5f5;
  border-color: #e3e3e3;
}
.dijitRadioCheckedDisabled {
  background-color: #f5f5f5;
  border-color: #b7ddfb;
}
.dijitRadioCheckedDisabled:after {
  background-color: #b7ddfb;
}
.dijitRadioMenuItem .dijitCheckedMenuItemIcon {
  width: 16px;
  height: 16px;
  background: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 50%;
  position: relative;
  overflow: visible;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dijitRadioMenuItem .dijitCheckedMenuItemIcon:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  background-color: #90caf9;
  border-radius: 50%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin: 8px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.dijitRadioMenuItemChecked .dijitCheckedMenuItemIcon {
  border-color: #9e9e9e;
}
.dijitRadioMenuItemChecked .dijitCheckedMenuItemIcon:after {
  width: 8px;
  height: 8px;
  margin: 3px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.riaswButtonNode {
  border-style: solid;
  border-width: 1px;
  border-color: #9e9e9e;
  padding: 0.25em;
  border-radius: 0.25em;
  line-height: 1.5em;
  cursor: pointer;
  -webkit-transition: all 0.05s linear;
  -moz-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  -ms-transition: all 0.05s linear;
  transition: all 0.05s linear;
  background: #fff;
  padding: 0.25em 0.25em;
  margin: 1px 2px;
  position: relative;
}
.riaswButtonIcon {
  background: url("./images/CaptionPanelBtn.png") no-repeat -52px center;
  width: 16px;
  height: 16px;
  overflow: hidden;
/*float: left;*/
  margin: 1px 4px 1px 0px;
}
.riaswButtonText {
  padding: 0 0.25em;
  text-align: center;
}
.riaswButtonGutter {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  color: #c0c0c0 !important;
}
.riaswBusyButtonIcon {
  width: 10px;
  height: 10px;
  vertical-align: middle;
  margin-left: 4px;
  background-image: url("./images/loading_wheel.gif");
  background-repeat: no-repeat;
}
.riaswArrowButton {
  border-style: solid;
  border-width: 1px;
  border-color: #9e9e9e;
  padding: 0.25em;
  border-radius: 0.25em;
  line-height: 1.5em;
  cursor: pointer;
  -webkit-transition: all 0.05s linear;
  -moz-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  -ms-transition: all 0.05s linear;
  transition: all 0.05s linear;
  background: #fff;
  border-radius: 0;
  border-width: 0;
  width: auto;
  overflow: hidden;
  padding: 0 2px;
  margin: 0;
  position: relative;
  float: none;
  height: 100%;
  top: 0;
  left: 0;
}
.riaswArrowButton:before {
  content: none;
}
.riaswSpinner .riaswUpArrowButton {
  border-width: 0 1px 0 0;
  border-top-right-radius: 0.166666666666667em;
}
.riaswSpinner .riaswDownArrowButton {
  border-bottom-right-radius: 0.166666666666667em;
}
.riaswButtonNodeFocused,
.riaswArrowButtonFocused {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  background: #e0e0e0;
  border-color: #b3b3b3;
}
.riaswButtonNodeActive,
.riaswArrowButtonActive {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  background: #e0e0e0;
  border-color: #b3b3b3;
}
.riaswButtonNodeHover,
.riaswArrowButtonHover {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
  background: #f2f2f2;
  border-color: #d9d9d9;
}
.riaswButtonNodeDisabled,
.riaswArrowButtonDisabled {
  cursor: default;
  color: #9e9e9e;
  background-color: #f5f5f5;
  border-color: #e3e3e3;
  background-image: none;
  color: inherit;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
  filter: grayscale(1);
}
.riaswComboButtonDisabled .riaswArrowButton {
  border-left-width: 0;
}
.riaswComboButton .riaswArrowButtonFocused,
.riaswComboButton .riaswArrowButtonHover {
  background-color: #ffd700;
}
table.riaswComboButton {
  border-collapse: separate; /* override dijit.css so that ComboBox rounded corners work */
}
table.riaswComboButton .dijitStretch {
  border-radius: 0.25em 0 0 0.25em;
}
table.riaswComboButton .riaswArrowButton {
  padding: 0.25em;
  width: 1.5em;
  border-radius: 0 0.25em 0.25em 0;
  border-left-width: 0;
}
.riaswArrowButtonInner {
  display: inline-block;
  width: 16px;
  height: 100%;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
  background-color: inherit;
  background-image: url("./images/buttonArrows.png");
  background-repeat: no-repeat;
/*background-position: -51px 53%;*/
  line-height: 16px;
}
.riaswArrowButtonInner .dijitInputField {
  padding: 0;
}
.riaswArrowButton {
  font-family: "flat-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.riaswLeftArrowButton .riaswArrowButtonInner {
  background-position: -77px 53%;
}
.riaswRightArrowButton .riaswArrowButtonInner {
  background-position: -26px 53%;
}
.riaswUpArrowButton .riaswArrowButtonInner {
  background-position: 0px 53%;
}
.riaswDownArrowButton .riaswArrowButtonInner {
  background-position: -51px 53%;
}
.dijitDisabled .riaswArrowButtonInner {
  background-position: -151px 53%;
}
.dijitDisabled .riaswLeftArrowButton .riaswArrowButtonInner {
  background-position: -177px 53%;
}
.dijitDisabled .riaswRightArrowButton .riaswArrowButtonInner {
  background-position: -126px 53%;
}
.dijitDisabled .riaswUpArrowButton .riaswArrowButtonInner {
  background-position: -100px 53%;
}
.riaswButtonNode .dijitCheckBox {
  margin: 0 0.25em;
}
.riaswToggleButton .dijitCheckBoxIcon {
  display: none;
}
.riaswToggleButtonChecked {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  background: #e0e0e0;
  border-color: #b3b3b3;
}
.riaswCheckButton,
.riaswRadioButton {
  border-width: 0px;
  background-color: inherit;
}
.riaswButtonNodeReadOnly .dijitCheckBox,
.riaswButtonNodeReadOnly .dijitRadio {
  background-color: inherit;
}
.riaswCheckButtonDisabled,
.riaswRadioButtonDisabled {
  background-color: inherit;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
  filter: grayscale(1);
}
.riaswButtonNodeRtl,
.riaswArrowButtonRtl {
  padding-left: 0.5em;
}
table.riaswComboButtonRtl .dijitStretch {
  border-radius: 0 0.25em 0.25em 0;
}
table.riaswComboButtonRtl .riaswArrowButton {
  border-radius: 0.25em 0 0 0.25em;
  border-left-width: 1px;
  border-right-width: 0;
}
.dj_ie6 .dijitReadOnly input,
.dj_ie7 .dijitReadOnly input,
.dj_ie6 .riaswComboButtonDisabled .riaswButtonText,
.dj_ie7 .riaswComboButtonDisabled .riaswButtonText {
/* opacity doesn't work on table node in IE, work around here */
  color: #aaa;
}
.riaswButtonIconTop .riaswButtonIconNode,
.riaswDisplayVertical .riaswButtonIconNode,
.riaswDisplayVerticalLR .riaswButtonIconNode,
.riaswDisplayVerticalRL .riaswButtonIconNode {
  display: block;
  margin: 0.25em;
}
.riaswButtonIconTop .riaswButtonText,
.riaswDisplayVertical .riaswButtonText,
.riaswDisplayVerticalLR .riaswButtonText,
.riaswDisplayVerticalRL .riaswButtonText {
  display: block;
  margin-top: 0.25em;
  padding: 0.25em;
  white-space: nowrap;
}
.riaswButtonIconTop .riaswArrowButton,
.riaswDisplayVertical .riaswArrowButton,
.riaswDisplayVerticalLR .riaswArrowButton,
.riaswDisplayVerticalRL .riaswArrowButton {
  display: block;
  height: auto;
}
.riaswTextBox,
.riaswTextArea,
.riaswSelect {
  position: relative;
  border: solid #000 0px;
  overflow: hidden;
  height: 2em;
  width: 20em; /* need to set default size on outer node since inner nodes say <input style="width:100%"> and <td width=100%>.  user can override */
  display: inline-block;
}
.riaswTextArea {
  height: 5em;
}
.riaswSelect {
  border-style: solid;
  border-width: 1px;
  border-color: #9e9e9e;
  padding: 0.25em;
  border-radius: 0.25em;
  line-height: 1.5em;
  cursor: pointer;
  -webkit-transition: all 0.05s linear;
  -moz-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  -ms-transition: all 0.05s linear;
  transition: all 0.05s linear;
  background: #fff;
  table-layout: fixed;
}
.riaswExpandingTextArea {
  resize: none;
}
.riaswTextBox *,
.riaswTextArea *,
.riaswSelect * {
  vertical-align: middle;
  display: inline-block;
  font: inherit;
}
.riaswTextBoxLabel {
  position: relative;
  float: left;
  text-align: right;
  width: 0px;
  overflow: hidden;
}
.riaswSelectLabel {
/* for when an <input> is embedded inside an inline-block <div> with a size and border */
  border-width: 0;
  background-color: inherit;
  width: 100%;
/* IE dislikes horizontal tweaking combined with width:100% so punish everyone for consistency */
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.riaswTextBoxContainer {
  position: relative;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #9e9e9e;
  border-radius: 0.25em;
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -o-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -ms-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  padding: 0;
  margin: 0;
}
.riaswNumberTextBox .riaswTextBoxContainer {
  text-align: left;
  direction: ltr;
}
.riaswTextArea .riaswTextBoxContainer {
  width: 100%;
/*overflow-y: auto;*/
/* w/out this IE's SimpleTextArea goes to overflow: scroll */
}
.riaswTextArea .riaswTextBoxContainer[cols] {
  width: auto;
/* SimpleTextArea cols */
}
.dj_ie .riaswTextAreaCols .riaswTextBoxContainer {
  width: auto;
}
.riaswInputInner {
  border: 0 !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0 0.25em;
  margin: 0;
  font-weight: bold;
  resize: none;
}
.riaswNumberTextBox .riaswInputInner,
.riaswCurrencyTextBox .riaswInputInner {
  text-align: right;
  padding-right: 1em;
}
.riaswSpinnerContainer {
  overflow: hidden;
  position: relative;
  width: auto;
  padding: 0;
  border: 1px solid #9e9e9e;
}
.riaswSpinnerInner {
  width: 4em;
  padding: 0.25em 0;
  margin: 0;
}
.riaswSpinner .riaswSpinnerButtonContainer,
.riaswTextBox .riaswArrowButtonContainer {
  border-style: solid;
  border-width: 1px 1px 1px 0px;
}
.riaswTextBox .riaswSpinnerButtonContainer {
  padding: 0;
  width: auto;
  position: relative;
}
select {
  padding: 0.25em 0;
  border: 1px solid #9e9e9e;
  -webkit-box-shadow: 0 1px 0.5px rgba(0,0,0,0.3), 0 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 0.5px rgba(0,0,0,0.3), 0 2px 2px rgba(0,0,0,0.2);
}
select option {
  padding: 0.25em 0.5em;
}
.riaswSelectMenu td.dijitMenuItemIconCell,
.riaswSelectMenu td.dijitMenuArrowCell {
/* so that arrow and icon cells from MenuItem are not displayed */
  display: none;
}
.dijitSelect.alt-primary,
.dijitComboBox.alt-primary,
.dijitSpinner.alt-primary {
  border-color: #1e88e5;
}
.dijitSelect.alt-success,
.dijitComboBox.alt-success,
.dijitSpinner.alt-success {
  border-color: #43a047;
}
.dijitSelect.alt-info,
.dijitComboBox.alt-info,
.dijitSpinner.alt-info {
  border-color: #03a9f4;
}
.dijitSelect.alt-warning,
.dijitComboBox.alt-warning,
.dijitSpinner.alt-warning {
  border-color: #fb8c00;
}
.dijitSelect.alt-danger,
.dijitComboBox.alt-danger,
.dijitSpinner.alt-danger {
  border-color: #e53935;
}
.dijitSelect.alt-inverse,
.dijitComboBox.alt-inverse,
.dijitSpinner.alt-inverse {
  border-color: #616161;
}
.riaswTextBoxHover .riaswTextBoxContainer {
  border-color: #90caf9;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-box-shadow: 0 0 0.25em 0 #90caf9 inset;
  box-shadow: 0 0 0.25em 0 #90caf9 inset;
}
.riaswTextBoxActive .riaswTextBoxContainer {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  background: #e0e0e0;
  border-color: #b3b3b3;
}
.riaswTextBoxFocused .riaswTextBoxContainer {
  outline: none;
  border-color: #90caf9;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-box-shadow: 0 0 0.25em 0 #90caf9 inset;
  box-shadow: 0 0 0.25em 0 #90caf9 inset;
}
.riaswTextBoxReadOnly,
.riaswTextBoxReadOnly .riaswTextBoxContainer,
.riaswTextBoxReadOnly .riaswArrowButtonContainer,
.riaswTextBoxReadOnly .riaswArrowButton,
.riaswTextBoxReadOnly .riaswSpinnerButtonContainer {
  background-color: inherit;
  background-image: none;
/*outline: none;*/
  color: inherit;
}
.riaswTextBoxDisabled,
.riaswTextBoxDisabled .riaswTextBoxContainer,
.riaswTextBoxDisabled .riaswArrowButtonContainer,
.riaswTextBoxDisabled .riaswArrowButton,
.riaswTextBoxDisabled .riaswSpinnerButtonContainer {
/*outline: none;*/
  color: inherit;
  background-color: inherit;
  background-image: none;
  border-color: #e3e3e3;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}
.riaswTextAreaDisabled .riaswTextBoxContainer,
.riaswTextAreaDisabled .riaswArrowButtonContainer {
  border-top-width: 1px;
}
.riaswSpinnerDisabled .riaswDownArrowButton,
.riaswSpinnerDisabled .riaswUpArrowButton {
  cursor: default;
  color: #9e9e9e;
  background-color: #f5f5f5;
  border-color: #e3e3e3;
}
.dijitComboBoxDisabled.alt-primary,
.dijitSpinnerDisabled.alt-primary {
  background: #f5f5f5;
  color: #9e9e9e;
  border: 1px solid #6db2ee;
}
.dijitComboBoxDisabled.alt-primary .dijitButtonNode,
.dijitSpinnerDisabled.alt-primary .dijitButtonNode {
  background: #6db2ee;
  color: #f2f2f2;
}
.dijitSpinnerDisabled.alt-primary .dijitSpinnerButtonContainer {
  border-left-color: #6db2ee;
}
.dijitSpinnerRtlDisabled.alt-primary .dijitSpinnerButtonContainer {
  border-right-color: #6db2ee;
}
.dijitSelectDisabled.alt-primary {
  border-color: #6db2ee;
}
.dijitSelectDisabled.alt-primary .dijitStretch,
.dijitSelectDisabled.alt-primary .dijitButtonNode {
  background: #6db2ee;
  color: #f2f2f2;
}
.dijitComboBoxDisabled.alt-success,
.dijitSpinnerDisabled.alt-success {
  background: #f5f5f5;
  color: #9e9e9e;
  border: 1px solid #7dc981;
}
.dijitComboBoxDisabled.alt-success .dijitButtonNode,
.dijitSpinnerDisabled.alt-success .dijitButtonNode {
  background: #7dc981;
  color: #f2f2f2;
}
.dijitSpinnerDisabled.alt-success .dijitSpinnerButtonContainer {
  border-left-color: #7dc981;
}
.dijitSpinnerRtlDisabled.alt-success .dijitSpinnerButtonContainer {
  border-right-color: #7dc981;
}
.dijitSelectDisabled.alt-success {
  border-color: #7dc981;
}
.dijitSelectDisabled.alt-success .dijitStretch,
.dijitSelectDisabled.alt-success .dijitButtonNode {
  background: #7dc981;
  color: #f2f2f2;
}
.dijitComboBoxDisabled.alt-info,
.dijitSpinnerDisabled.alt-info {
  background: #f5f5f5;
  color: #9e9e9e;
  border: 1px solid #56c9fd;
}
.dijitComboBoxDisabled.alt-info .dijitButtonNode,
.dijitSpinnerDisabled.alt-info .dijitButtonNode {
  background: #56c9fd;
  color: #f2f2f2;
}
.dijitSpinnerDisabled.alt-info .dijitSpinnerButtonContainer {
  border-left-color: #56c9fd;
}
.dijitSpinnerRtlDisabled.alt-info .dijitSpinnerButtonContainer {
  border-right-color: #56c9fd;
}
.dijitSelectDisabled.alt-info {
  border-color: #56c9fd;
}
.dijitSelectDisabled.alt-info .dijitStretch,
.dijitSelectDisabled.alt-info .dijitButtonNode {
  background: #56c9fd;
  color: #f2f2f2;
}
.dijitComboBoxDisabled.alt-warning,
.dijitSpinnerDisabled.alt-warning {
  background: #f5f5f5;
  color: #9e9e9e;
  border: 1px solid #ffb557;
}
.dijitComboBoxDisabled.alt-warning .dijitButtonNode,
.dijitSpinnerDisabled.alt-warning .dijitButtonNode {
  background: #ffb557;
  color: #f2f2f2;
}
.dijitSpinnerDisabled.alt-warning .dijitSpinnerButtonContainer {
  border-left-color: #ffb557;
}
.dijitSpinnerRtlDisabled.alt-warning .dijitSpinnerButtonContainer {
  border-right-color: #ffb557;
}
.dijitSelectDisabled.alt-warning {
  border-color: #ffb557;
}
.dijitSelectDisabled.alt-warning .dijitStretch,
.dijitSelectDisabled.alt-warning .dijitButtonNode {
  background: #ffb557;
  color: #f2f2f2;
}
.dijitComboBoxDisabled.alt-danger,
.dijitSpinnerDisabled.alt-danger {
  background: #f5f5f5;
  color: #9e9e9e;
  border: 1px solid #ee7e7c;
}
.dijitComboBoxDisabled.alt-danger .dijitButtonNode,
.dijitSpinnerDisabled.alt-danger .dijitButtonNode {
  background: #ee7e7c;
  color: #f2f2f2;
}
.dijitSpinnerDisabled.alt-danger .dijitSpinnerButtonContainer {
  border-left-color: #ee7e7c;
}
.dijitSpinnerRtlDisabled.alt-danger .dijitSpinnerButtonContainer {
  border-right-color: #ee7e7c;
}
.dijitSelectDisabled.alt-danger {
  border-color: #ee7e7c;
}
.dijitSelectDisabled.alt-danger .dijitStretch,
.dijitSelectDisabled.alt-danger .dijitButtonNode {
  background: #ee7e7c;
  color: #f2f2f2;
}
.dijitComboBoxDisabled.alt-inverse,
.dijitSpinnerDisabled.alt-inverse {
  background: #f5f5f5;
  color: #9e9e9e;
  border: 1px solid #989898;
}
.dijitComboBoxDisabled.alt-inverse .dijitButtonNode,
.dijitSpinnerDisabled.alt-inverse .dijitButtonNode {
  background: #989898;
  color: #f2f2f2;
}
.dijitSpinnerDisabled.alt-inverse .dijitSpinnerButtonContainer {
  border-left-color: #989898;
}
.dijitSpinnerRtlDisabled.alt-inverse .dijitSpinnerButtonContainer {
  border-right-color: #989898;
}
.dijitSelectDisabled.alt-inverse {
  border-color: #989898;
}
.dijitSelectDisabled.alt-inverse .dijitStretch,
.dijitSelectDisabled.alt-inverse .dijitButtonNode {
  background: #989898;
  color: #f2f2f2;
}
.alt-primary .riaswSpinnerButtonContainer {
  border-color: #1e88e5;
}
.alt-success .riaswSpinnerButtonContainer {
  border-color: #43a047;
}
.alt-info .riaswSpinnerButtonContainer {
  border-color: #03a9f4;
}
.alt-warning .riaswSpinnerButtonContainer {
  border-color: #fb8c00;
}
.alt-danger .riaswSpinnerButtonContainer {
  border-color: #e53935;
}
.alt-inverse .riaswSpinnerButtonContainer {
  border-color: #616161;
}
.riaswValidationIcon {
  display: none;
  width: 10px;
  height: 100%;
  background: url("./images/error.png") no-repeat;
}
.riaswValidationContainer {
  color: #dd2c00;
  display: inline-block;
  cursor: default;
  position: relative;
  width: 0;
  height: 100%;
  top: 0px;
  right: 1.25em;
}
.riaswValidationContainer:before {
  content: "";
}
.riaswValidationTextBoxError .riaswTextBoxContainer {
  border-color: #dd2c00;
  background-color: #ffffe0;
  background-image: none;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-box-shadow: 0 0 0.25em 0 #dd2c00 inset;
  box-shadow: 0 0 0.25em 0 #dd2c00 inset;
}
.riaswValidationTextBoxError .riaswValidationContainer:before {
  display: block;
  font-size: 1.5em;
  font-family: "flat-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f017";
}
.riaswComboBoxHighlightMatch {
  background-color: #f9f7ba;
}
.riaswTextBoxRtl .riaswValidationContainer,
.riaswTextBoxRtl .riaswSpinnerButtonContainer {
  border-right-width: 1px;
  border-left-width: 0;
}
.riaswTextBoxRtlError .riaswValidationContainer {
  border-left-width: 0;
  border-right-width: 1px;
}
.dijitRtl .dijitPlaceHolder {
  left: auto;
  right: 0;
}
.riaswTextBoxRtl .riaswSpinnerButtonContainer,
.riaswValidationTextBoxRtl .riaswValidationContainer,
.riaswTextBoxRtl .riaswArrowButtonContainer {
  float: left;
}
.riaswSpinnerRtl .riaswSpinnerButtonContainer .riaswArrowButton {
  right: 0;
  left: auto;
}
div.riaswNumberTextBoxRtl {
  text-align: right;
}
.riaswSelectRtl .riaswButtonText {
  float: right;
  padding: 0 0.75em 0 0;
}
.riaswComboBoxRtl .riaswButtonNode.riaswArrowButtonContainer {
  border-radius: 0.25em 0 0 0.25em;
}
.riaswComboBoxRtl .riaswArrowButtonContainer {
  border-right-width: 1px;
  border-left-width: 0;
}
.riaswSelect .riaswArrowButtonInner,
.riaswComboBox .riaswArrowButtonInner {
  background-position: -51px center;
}
.dj_ie6 .riaswArrowButtonInner {
  background-image: url("../images/spriteArrows.gif");
}
.dj_ie .riaswSpinner .riaswUpArrowButton .riaswArrowButtonInner {
  margin-top: 1px; /* image has too many blank pixels on top */
}
.riaswCheckedMultiSelect {
  border: 0 solid #9e9e9e;
}
.riaswCheckedMultiSelect .dijitButtonNode {
  border: 0 solid #b5bcc7;
  border-width: 0 0 0 0;
}
.riaswCheckedMultiSelectHidden {
  display: none;
}
.riaswCheckedMultiSelectWrapper {
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #9e9e9e;
  border-radius: 0.25em;
  -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -o-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  -ms-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  padding: 0.25em;
  margin: 0;
  overflow: auto;
}
.riaswCheckedMultiSelectDisabled *,
.riaswCheckedMultiSelectReadOnly * {
  color: inherit;
  background-color: inherit;
  background-image: none;
  border-color: #e3e3e3;
}
.riaswCheckedMultiSelectFocused .riaswCheckedMultiSelectWrapper,
.riaswCheckedMultiSelectHover .riaswCheckedMultiSelectWrapper {
  border-color: #90caf9;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-box-shadow: 0 0 0.25em 0 #90caf9 inset;
  box-shadow: 0 0 0.25em 0 #90caf9 inset;
}
.riaswMultiSelectItem {
  cursor: default;
  padding: 0.25em 0.25em;
  margin: 1px 0;
  white-space: nowrap;
}
.riaswMultiSelectItemHover {
  background-color: #f2f2f2;
  border-color: transparent;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
.riaswMultiSelectItemActive,
.riaswMultiSelectItemFocused {
  background-color: #f2f2f2;
  border-color: transparent;
}
.riaswCheckedMultiSelectSelectedOption {
  outline: none;
  background-color: #90caf9;
  border-color: transparent;
  font-weight: bold;
}
.riaswMultiSelectItemDisabled {
  background-image: none;
  background-color: inherit;
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
  color: inherit;
}
.riaswMultiSelectItemLabel {
  padding: 0 0.5em;
}
.riaswCheckedMultiSelectItem {
  white-space: nowrap;
  padding: 0.1em 0.2em;
  cursor: default;
}
.riaswCheckedMultiSelectItemLabel {
  margin-left: 0 0.5em;
}
.riaswCheckedMultiSelectCheckBoxInput {
  opacity: 0.01;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
}
.dj_ie .riaswCheckedMultiSelectCheckBoxInput {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  width: 15px;
  height: 16px;
}
.dijit_a11y .riaswCheckedMultiSelectCheckBoxInput {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  filter: none;
}
.riaswCheckedMultiSelectButton {
  border: 1px solid #b5bcc7;
  background-color: #fff;
  border-collapse: separate;
/* Drop down button */
}
.riaswCheckedMultiSelectButton .dijitButtonContents {
  border: 0 solid #b5bcc7;
  border-right-width: 1px;
}
.riaswCheckedMultiSelectButton .dijitArrowButton {
  height: 16px;
  border-width: 0;
  padding: 0 0.25em;
/* border-color: lightgray; */
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
/*padding: 0;
		border: 1px solid #ffffff;
		border-top: none;
		background-color: #efefef;
		background-image: url("../../../dijit/themes/claro/images/standardGradient.png");
		background-repeat: repeat-x;*/
}
.riaswCheckedMultiSelectButton .dijitButtonText {
  padding: 2px;
}
.riaswCheckedMultiSelectButton .dijitArrowButton .dijitArrowButtonInner {
  background-image: url("./images/buttonArrows.png");
/*background-position: -35px;*/
  background-repeat: no-repeat;
  width: 16px;
  height: 100% !important;
}
.riaswCheckedMultiSelectButtonHover {
  border: 1px solid #769dc0;
  background-color: #e9f4fe;
  background-image: -moz--webkit-linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-image: -moz--moz-linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-image: -moz--o-linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-image: -moz--ms-linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-image: -moz-linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-image: -webkit--webkit-linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-image: -webkit--moz-linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-image: -webkit--o-linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-image: -webkit--ms-linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-image: -webkit-linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-image: -webkit-linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-image: -moz-linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-image: -o-linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-image: -ms-linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-image: linear-gradient(rgba(127,127,127,0.2) 0%, rgba(127,127,127,0) 2px);
  background-repeat: repeat-x;
}
.riaswCheckedMultiSelectButtonHover .dijitButtonContents {
  border-color: #769dc0;
}
.riaswCheckedMultiSelectButtonHover .dijitArrowButton {
  background-color: #abd6ff;
}
.riaswCheckedMultiSelectButtonHover .dijitArrowButton .dijitArrowButtonInner {
  background-position: -70px;
}
.riaswCheckedMultiSelectButtonFocused {
  border: 1px solid #769dc0;
}
.riaswCheckedMultiSelectButtonFocused .dijitButtonContents {
  border-color: #769dc0;
}
.riaswCheckedMultiSelectButtonFocused .dijitArrowButton {
  background-color: #7dbefa;
  background-position: 0 -177px;
  border: none;
  padding: 0 1px;
}
.riaswCheckedMultiSelectButtonFocused .dijitArrowButton .dijitArrowButtonInner {
  background-position: -70px;
  margin-bottom: 1px;
}
.riaswCheckedMultiSelectButtonDisabled {
  border: 1px solid #d3d3d3;
  background-color: #efefef;
  background-image: none;
  color: #818181;
}
.riaswCheckedMultiSelectButtonDisabled .dijitArrowButton {
  background-color: #efefef;
}
.riaswCheckedMultiSelectButtonDisabled .dijitArrowButton .dijitArrowButtonInner {
  background-position: 0;
}
.dj_ie6 .riaswCheckedMultiSelectButton,
.dj_ie6 .riaswCheckedMultiSelectButton .dijitButtonNode {
  background-image: none;
}
.riaswCheckedMultiSelectMenu td .dijitMenuArrowCell {
  display: none;
}
.riaswCheckedMultiSelectMenu td .dijitMenuItemLabel {
  position: static;
  padding: 2px;
}
.riaswCheckedMultiSelectMenuCheckBoxItemIcon {
  background-image: url("./images/spriteCheckbox.png");
  background-position: -16px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.riaswCheckedMultiSelectMenuRadioItemIcon {
  background-image: url("./images/spriteRadio.png");
  background-position: -16px;
  width: 16px;
  height: 16px;
}
.riaswCheckedMultiSelectMenuItemChecked .riaswCheckedMultiSelectMenuCheckBoxItemIcon {
  background-position: 0;
}
.riaswCheckedMultiSelectMenuItemChecked .riaswCheckedMultiSelectMenuRadioItemIcon {
  background-position: -90px;
}
.rias .dijitSliderBar {
  border-style: solid;
  outline: 1px;
}
.rias .dijitRuleLabelsContainer {
  color: #424242;
  font-size: smaller;
}
.rias .dijitSliderDisabled {
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
.rias .dijitRuleLabelsContainerH {
  padding: 0;
}
.rias .dijitSliderBarH,
.rias .dijitSliderBumperH {
  height: 3px;
}
.rias .dijitSlider .dijitSliderLeftBumper {
  border-radius: 1.5px 0 0 1.5px;
  border: 0 none;
  margin-left: 0.25em;
}
.rias .dijitSlider .dijitSliderRightBumper {
  border-radius: 0 1.5px 1.5px 0;
  border: 0 none;
  margin-left: -2px;
  margin-right: 0.25em;
}
.rias .dijitSlider .dijitSliderProgressBarH,
.rias .dijitSlider .dijitSliderLeftBumper {
  border: 0 none;
  background-color: #90caf9;
  background-image: none;
}
.rias .dijitSlider .dijitSliderRemainingBarH,
.rias .dijitSlider .dijitSliderRightBumper {
  border: 0 none;
  background-color: #9e9e9e;
}
.rias .dijitSliderHover .dijitSliderProgressBarH,
.rias .dijitSliderHover .dijitSliderLeftBumper {
  background-color: #72bcf7;
  background-image: none;
}
.rias .dijitSliderFocused .dijitSliderProgressBarH,
.rias .dijitSliderFocused .dijitSliderLeftBumper {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rias .dijitSliderFocused .dijitSliderRemainingBarH,
.rias .dijitSliderFocused .dijitSliderRightBumper {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rias .dijitRuleLabelsContainerV {
  padding: 0;
}
.rias .dijitSliderBarV,
.rias .dijitSliderBumperV {
  width: 3px;
}
.rias .dijitSlider .dijitSliderTopBumper {
  border-radius: 1.5px 1.5px 0 0;
  border: 0 none;
  margin-top: 0.25em;
  margin-bottom: -2px;
}
.rias .dijitSlider .dijitSliderBottomBumper {
  border-radius: 0 0 1.5px 1.5px;
  border: 0 none;
  margin-bottom: 0.25em;
}
.rias .dijitSlider .dijitSliderProgressBarV,
.rias .dijitSlider .dijitSliderBottomBumper {
  border: 0 none;
  background-color: #90caf9;
  background-image: none;
}
.rias .dijitSlider .dijitSliderRemainingBarV,
.rias .dijitSlider .dijitSliderTopBumper {
  border: 0 none;
  background-color: #9e9e9e;
}
.rias .dijitSliderHover .dijitSliderProgressBarV,
.rias .dijitSliderHover .dijitSliderBottomBumper {
  background-color: #72bcf7;
  background-image: none;
}
.rias .dijitSliderFocused .dijitSliderProgressBarV,
.rias .dijitSliderFocused .dijitSliderBottomBumper {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rias .dijitSliderFocused .dijitSliderRemainingBarV,
.rias .dijitSliderFocused .dijitSliderTopBumper {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rias .dijitSliderImageHandle {
  background: #fff;
  -webkit-box-shadow: 0 1px 0.5px rgba(0,0,0,0.3), 0 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 0.5px rgba(0,0,0,0.3), 0 2px 2px rgba(0,0,0,0.2);
  border-radius: 50%;
  border: 1px solid #90caf9;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rias .dijitSliderImageHandle:after {
  content: "";
  display: block;
  background: #90caf9;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  left: 2px;
  top: 2px;
  position: absolute;
}
.rias .dijitSliderImageHandleV {
  margin-top: 0;
}
.rias .dijitSliderHover .dijitSliderImageHandle,
.rias .dijitSliderFocused .dijitSliderImageHandle {
  -webkit-box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3), 0 4px 6px rgba(0,0,0,0.2);
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3), 0 4px 6px rgba(0,0,0,0.2);
}
.rias .dijitSliderDisabled.dijitSliderFocused .dijitSliderImageHandle:after {
  display: none;
}
.rias .dijitSliderDecrementIconH,
.rias .dijitSliderIncrementIconH,
.rias .dijitSliderDecrementIconV,
.rias .dijitSliderIncrementIconV {
  border-style: solid;
  border-width: 1px;
  border-color: #9e9e9e;
  padding: 0.25em;
  border-radius: 0.25em;
  line-height: 1.5em;
  cursor: pointer;
  -webkit-transition: all 0.05s linear;
  -moz-transition: all 0.05s linear;
  -o-transition: all 0.05s linear;
  -ms-transition: all 0.05s linear;
  transition: all 0.05s linear;
  background: #fff;
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: #90caf9;
  padding: 0;
}
.rias .dijitSliderDecrementIconH:hover,
.rias .dijitSliderIncrementIconH:hover,
.rias .dijitSliderDecrementIconV:hover,
.rias .dijitSliderIncrementIconV:hover {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
  background: #f2f2f2;
  border-color: #d9d9d9;
}
.rias .dijitSliderDecrementIconH:active,
.rias .dijitSliderIncrementIconH:active,
.rias .dijitSliderDecrementIconV:active,
.rias .dijitSliderIncrementIconV:active {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  background: #e0e0e0;
  border-color: #b3b3b3;
}
.rias .dijitSliderReadOnly .dijitSliderDecrementIconH,
.rias .dijitSliderDisabled .dijitSliderDecrementIconH,
.rias .dijitSliderReadOnly .dijitSliderDecrementIconV,
.rias .dijitSliderDisabled .dijitSliderDecrementIconV,
.rias .dijitSliderReadOnly .dijitSliderIncrementIconH,
.rias .dijitSliderDisabled .dijitSliderIncrementIconH,
.rias .dijitSliderReadOnly .dijitSliderIncrementIconV,
.rias .dijitSliderDisabled .dijitSliderIncrementIconV {
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
.rias .dijitSliderIncrementIconH,
.rias .dijitSliderIncrementIconV,
.rias .dijitSliderDecrementIconH,
.rias .dijitSliderDecrementIconV {
  font-family: "flat-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rias .dijitSliderIncrementIconH:before,
.rias .dijitSliderIncrementIconV:before,
.rias .dijitSliderDecrementIconH:before,
.rias .dijitSliderDecrementIconV:before {
  content: "\f011";
  top: 0;
  line-height: 20px;
}
.rias .dijitSliderIncrementIconH .dijitSliderButtonInner,
.rias .dijitSliderIncrementIconV .dijitSliderButtonInner,
.rias .dijitSliderDecrementIconH .dijitSliderButtonInner,
.rias .dijitSliderDecrementIconV .dijitSliderButtonInner {
  display: none;
}
.rias .dijitSliderDecrementIconH:before,
.rias .dijitSliderDecrementIconV:before {
  content: "\f012";
}
.rias .dijitRuleMark {
  border: 0 none;
}
.rias .dijitRuleMarkH {
  border-right: 1px solid #e0e0e0;
}
.rias .dijitRuleMarkV {
  border-bottom: 1px solid #e0e0e0;
}
.rias .dijitRuleLabelContainerH {
  margin-top: 0.125em;
  margin-bottom: 0.125em;
}
.rias .dijitRuleLabelContainerV {
  margin-left: 0.125em;
  margin-right: 0.125em;
}
.rias .dijitSliderRtl .dijitSliderProgressBarH {
  float: right;
  right: 0;
  left: auto;
}
.rias .dijitSliderRtl .dijitSliderLeftBumper {
  border-left-width: 0;
  border-right-width: 1px;
  margin-left: 0;
  margin-right: 0.25em;
  border-radius: 0 1.5px 1.5px 0;
}
.rias .dijitSliderRtl .dijitSliderRightBumper {
  border-left-width: 1px;
  border-right-width: 0;
  margin-left: 0.25em;
  margin-right: -2px;
  border-radius: 1.5px 0 0 1.5px;
}
.rias .dijitSliderRtl .dijitSliderMoveableH {
  right: auto;
  left: 0;
}
.rias .dijitSliderRtl .dijitSliderImageHandleV {
  left: auto;
}
.rias .dijitSliderRtl .dijitSliderImageHandleH {
  left: -50%;
}
.rias .dijitSliderRtl .dijitRuleContainerV {
  float: right;
}
/*==========================================*/
