
/* Form */

@import '../../variables';

.riaswForm {
	display: block;
	position: relative;
	background-color: inherit;
	padding: 0px;
	margin:0;
	/*overflow: hidden;*/
	border: 0px solid lightgray;
}
.riaswFormSelected,
.riaswFormFocused {
	/*-moz-box-shadow: 0.0em 0.0em 0.2em #333333 inset;
	-webkit-box-shadow: 0.0em 0.0em 0.2em #333333 inset;
	box-shadow: 0.0em 0.0em 0.2em #333333 inset;*/
}
.riaswFormHover {
	/*border: 0px solid gold;
	-moz-box-shadow: 0.0em 0.0em 0.2em gold inset;
	-webkit-box-shadow: 0.0em 0.0em 0.2em gold inset;
	box-shadow: 0.0em 0.0em 0.2em gold inset;*/
}

.riaswFormContent {
	overflow: auto;
	position: relative;
}

