.riaswEditorIconAutoSave {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/autoSave.png"));
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
}

.riaswEditorIconAutoSaveDefault {
	background-position: -18px 0px;
}

.riaswDisabled .riaswEditorIconAutoSaveDefault {
	background-position: -54px 0px;
}

.riaswEditorIconAutoSaveSetting {
	background-position: 0px 0px;
}

.riaswEditorAutoSaveSettingDialog {
	width: 21em;
}

.riaswEditorAutoSaveSettingInputArea {
	margin-top: 0.3em;
	margin-left: 2em;
}

.riaswEditorAutoSaveSettingInputArea .textBox {
	width: 2em;
}

.riaswEditorAutoSaveSettingInputArea .boxLabel {
	margin: 0em 0em 0em 0.3em;
}

.riaswEditorAutoSaveSettingButtonArea {
	text-align: right;
	margin: 0.3em 0em 0em 0em;
}

