.riaswEditorIcon.riaswEditorIconParaLeftToRight{
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/bidiIconsEnabled.png"));
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
	background-position: -828px;
}
.riaswDisabled .riaswEditorIcon.riaswEditorIconParaLeftToRight {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/bidiIconsDisabled.png"));
}
.riaswEditorIcon.riaswEditorIconParaRightToLeft{
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/bidiIconsEnabled.png"));
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
	background-position: -846px;
}
.riaswDisabled .riaswEditorIcon.riaswEditorIconParaRightToLeft {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/bidiIconsDisabled.png"));
}

