.riaswEditorRtl .riaswEditorIcon.riaswEditorIconParaLeftToRight {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/bidiIconsEnabled_rtl.png"));
	background-position: -846px;
}
.riaswEditorRtlDisabled .riaswEditorIcon.riaswEditorIconParaLeftToRight {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/bidiIconsDisabled_rtl.png"));
}

.riaswEditorRtl .riaswEditorIcon.riaswEditorIconParaRightToLeft {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/bidiIconsEnabled_rtl.png"));
	background-position: -828px;
}
.riaswEditorRtlDisabled .riaswEditorIcon.riaswEditorIconParaRightToLeft {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/bidiIconsDisabled_rtl.png"));
}
