.riaswEditorIconBlockquote {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/blockquote.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	height: 18px;
}

.riaswDisabled .riaswEditorIconBlockquote {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/blockquoteDisabled.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	height: 18px;
}


