
@import '../../../variables';

.riaswEditorBreadcrumbBar {
	//border-top: 1px solid $editor-border-color;
}
.riaswEditorBreadcrumbBar .riaswDownArrowButton {
	width: 10px;
}

.riaswEditorBreadcrumbBar .riaswArrowButton {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/breadcrumbDown.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 8px;
	height: 8px;
}


