.riaswEditorCollapsibleToolbarContainer {
	background-color: #F1F1F1;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	border-style: none;
}

.riaswEditorCollapsibleToolbarCollapse {
	cursor: pointer;
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/collapse.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 12px;
	height: 12px;
}

.riaswEditorCollapsibleToolbarExpand {
	cursor: pointer;
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/expand.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 12px;
	height: 12px;
}

.riaswEditorCollapsibleToolbarControl {
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
        margin-bottom: 1px;
}

.dijit_a11y .riaswEditorCollapsibleToolbarCollapse {
	border-style: outset;
	border-width: 3px;
	border-color: black;
	width: 1.5em;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.dijit_a11y .riaswEditorCollapsibleToolbarExpand {
	border-style: outset;
	border-width: 3px;
	border-color: black;
	width: 1.5em;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.riaswEditorCollapsibleToolbarCollapseText {
	display: none;
}

.riaswEditorCollapsibleToolbarExpandText {
	display: none;
}

.dijit_a11y .riaswEditorCollapsibleToolbarCollapseText {
	display: inline;
	padding: 3px;
	font-weight: bold;
}

.dijit_a11y .riaswEditorCollapsibleToolbarExpandText {
	display: inline;
	padding: 3px;
	font-weight: bold; 
}
