.riaswEditorIconsFindReplace {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/editorIconsFindReplaceEnabled.png"));
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}

.riaswDisabled .riaswEditorIconsFindReplace {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/editorIconsFindReplaceDisabled.png"));
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}

.riaswEditorIconFindString { background-position: 0px; }

.riaswEditorIconFind { background-position: -18px; }

.riaswEditorIconReplace { background-position: -36px; }

.riaswEditorIconReplaceAll { background-position: -54px; }

.riaswEditorFindReplaceCheckBox {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

.riaswEditorFindReplaceTextBox {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
}

.riaswEditorFindReplaceTextBox .focusTextBox {
	width: 13em;
}

.riaswEditorIconsFindReplaceClose {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/close.gif"));
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	background-position: center; 
}

