.riaswEditorIconPageBreak {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/pageBreak.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	height: 18px;
}

.riaswDisabled .riaswEditorIconPageBreak {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/pageBreakDisabled.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	height: 18px;
}


