.riaswEditorIconPasteFromWord {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/pasteFromWord.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	height: 18px;
}

.riaswDisabled .riaswEditorIconPasteFromWord {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/pasteFromWordDisabled.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	height: 18px;
}


