.riaswEditorIconPreview {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/preview.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	height: 18px;
}

.riaswDisabled .riaswEditorIconPreview {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/previewDisabled.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	height: 18px;
}


