.riaswEditorIconSave {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/save.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	height: 18px;
}

.riaswDisabled .riaswEditorIconSave {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/saveDisabled.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	height: 18px;
}


