.riaswEditorIconShowBlockNodes {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/showBlockNodes.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	height: 18px;
}

.riaswDisabled .riaswEditorIconShowBlockNodes {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/showBlockNodesDisabled.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	height: 18px;
}


