.riaswEditorSpellCheckIcon {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/spellcheck.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	width: 18px;
	height: 18px;
}

.riaswEditorSpellCheckBusyIcon {
	background-image: url(join("/", $path-riasw-editor, "htmleditor/images/checking.gif"));
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	width: 16px;
	height: 16px;
}

.riaswEditorSpellCheckTable .riaswEditorSpellCheckBox {
	width: 15em;
}

.riaswEditorSpellCheckTable .listHeight {
	height: 5em;
}

.riaswEditorSpellCheckTable,
.riaswEditorSpellCheckTable td {
	border: none;
	border-width: 0px;
	vertical-align: top;
}

.riaswEditorSpellCheckTable .alignBottom {
	vertical-align: bottom;
}

.riaswEditorSpellCheckTable .blockButton,
.riaswEditorSpellCheckTable .riaswButton {
	display: block;
}

.riaswEditorSpellCheckTable .topMargin {
	margin-top: 0.56em;
}

.riaswEditorSpellCheckTable .hidden {
	display: none;
}
