//@import url(../../layout/Resizer.css);

.riaswEditorStatusBar {
	overflow: hidden;
	vertical-align: bottom;
	padding: 2px;

	table {
		width: 100%;
	}
	.riaswResizeHandle {
		position: static;
		padding: 0px;
		vertical-align: bottom;
	}
	.riaswEditorStatusBarText{
		height: 1.5em;
		vertical-align: middle;
		width: 100%;
		overflow: hidden;
	}

}


