
@import "../../../variables";

.ui-icon-triangle-1-e {
	//background-position: -32px -16px;
	&:before {
		content: $icon-drop-right;
	}
}
.ui-icon-triangle-1-se {
	//background-position: -48px -16px;
	&:before {
		content: $icon-drop-down;
	}
}

.dgrid-expando-icon {
	cursor: pointer;
	width: 16px;
	height: 16px;
}
.dgrid-tree-container {
	transition-duration: 0.3s;
	overflow: hidden;
}
.dgrid-tree-container.dgrid-tree-resetting {
	transition-duration: 0;
}
