.riasdCurrentWidget {
  outline-color: #ff8c00;
  outline-style: dashed;
  outline-width: 6px;
  outline-offset: -3px;
}
.riasdCurrentWidgetDiv {
  display: block;
  position: absolute;
  border: 4px dashed #8b0000;
  background: transparent;
  margin: 0;
  overflow: hidden;
  z-index: 30;
  pointer-events: none;
}
.riasdPreviewContentPanel {
  background-color: #808080;
  padding: 0.25em;
  border-width: 1px;
}
.riasdPreviewPanel {
  padding: 0px;
  border: 0px solid #9e9e9e;
}
.riasdBtnsDockBar {
  border-left-width: 2px;
  padding: 0px;
}
.riasdBtnsDockBar .riaswDockNode {
  display: block;
  margin: 1px 3px 1px 0;
  border-radius: 0;
}
.riasdBtnsDockBar .riaswDockNodeSelected {
  margin: 3px 3px 3px 0;
}
.riasdPreview {
  border: 3px solid #ff0;
}
