
/* Menu */
.rias .dijitMenu,
.rias .dijitMenuBar {
	border: 2px solid lightgray;
	margin: 0;
	padding: 0;
	/*background-color: lightyellow;zensst*/
}

.rias .dijitMenu {
	-moz-box-shadow: 0.5em 0.5em 2em black;
	-webkit-box-shadow: 0.5em 0.5em 2em black;
	box-shadow: 0.5em 0.5em 2em black;
}

.rias .dijitMenu,
.rias .dijitMenuBar {
	border: 2px solid lightgray;
	margin: 0;
	padding: 0;
	/*background-color: lightyellow;zensst*/
}

.rias .dijitBorderContainer .dijitMenuBar {
	border:1px solid lightgray;
}

.rias .dijitMenuItem {
	font-family: sans-serif;
	margin: 0;
	padding: .5em .5em;
}
.rias .dijitMenuBar .dijitMenuItem {
	padding: .5em .5em;
}

.rias .dijitMenuPreviousButton, .rias .dijitMenuNextButton {
	font-style: italic;
	background-color: skyblue;
}
.rias .dijitMenuItem TD {
	padding: 0.5em;
}

.rias .dijitMenuPassive .dijitMenuItemHover,
.rias .dijitComboBoxMenu .dijitMenuItemHover,
.rias .dijitMenuItemSelected {
	background-color: gold; /* #95a0b0; #555555; #aaaaaa; #646464;  #60a1ea; #848484; */
}

.rias .dijitMenuItemIcon {
	width: 15px;
	height: 15px;
}

.rias .dijitMenuExpand {
	width:15px;
	height:15px;
	background-image: url('../images/spriteIcons.png');
	background-position: -30px top;
}

.rias .dijitMenuSeparator {
	height: 2px;
}

/* separator can be two pixels -- set border of either one to 0 to have only one */
.rias .dijitMenuSeparatorTop {
	border-bottom: 2px solid #fff; /*97adcb; */
}

.rias .dijitMenuSeparatorBottom {
	border-top: 2px solid #8ba0bd;
}

/* the checked menu item */
.rias .dijitCheckedMenuItem .dijitMenuItemIcon  {
	background-image: url('../form/images/spriteCheckbox.png');
	background-position: -80px;
}
.rias .dijitCheckedMenuItemChecked .dijitMenuItemIcon {
	background-position: -64px;
}
.rias .dijitRadioMenuItem .dijitMenuItemIcon {
	background-image: url('../form/images/spriteRadio.png');
	background-position: -80px;
}
.rias .dijitRadioMenuItemChecked .dijitMenuItemIcon {
	background-position: -64px;
}

