/* dijit base */
@import url("rias_dijit.css");

/* icons */
@import url("icons/flat-icons.css");/*需要先引入*/

@import url("riasw/studio/Common.css");/*增加*/

/* dijit */
/*@import url("dijit/Calendar.css");
@import url("dijit/ColorPalette.css");*/
/*@import url("dijit/Common.css");*/
/*@import url("dijit/Dialog.css");*/
/*@import url("dijit/Editor.css");
@import url("dijit/InlineEditBox.css");
@import url("dijit/Menu.css");
@import url("dijit/ProgressBar.css");
@import url("dijit/TimePicker.css");
@import url("dijit/TitlePane.css");
@import url("dijit/Toolbar.css");
@import url("dijit/Tree.css");*/
@import url("riasw/widget/Common.css");/*@import url("dijit/Common.css");*/

/* form */
/*@import url("dijit/form/Button.css");
@import url("dijit/form/Checkbox.css");
@import url("dijit/form/NumberSpinner.css");
@import url("dijit/form/RadioButton.css");
@import url("dijit/form/Select.css");
@import url("dijit/form/Slider.css");
@import url("dijit/form/TextBox.css");*/
@import url("riasw/form/Common.css");/*增加*/

/* layout */
/*@import url("dijit/layout/AccordionContainer.css");
@import url("dijit/layout/BorderContainer.css");
@import url("dijit/layout/ContentPane.css");
@import url("dijit/layout/TabContainer.css");*/
@import url("riasw/layout/Common.css");/*增加*/


/* rtl */
/*@import url("riasflat_rtl.css");*/

@import url("riasw/riasw.css");/*增加*/
@import url("riasw/riaswIcons.css");/*增加*/

/* float =======================*/
.riaswFloatRight {
	float: right;
}
.riaswFloatNone {
	float: none;
}

/* Vertical ===============================================*/
.riaswDisplayVertical,
.riaswDisplayVerticalLR {
	/*top: -0.25em;
	padding: 0.5em 0.25em;*/
}
.riaswDisplayVerticalRL {
	/*top: -0.25em;
	padding: 0.5em 0em;*/
}

/* TextVertical ====================================*/
.riaswTextHorizontal,
.riaswTextHorizontalLR {
	-webkit-writing-mode: horizontal-tb;
	-mov-writin-mode: horizontal-tb;
	writing-mode: horizontal-tb;
}
.riaswTextHorizontalRL {
	-webkit-writing-mode: horizontal-tb;
	-mov-writin-mode: horizontal-tb;
	writing-mode: horizontal-tb;
}

.riaswTextVertical {
	margin-top: 0;
}
.riaswTextVertical,
.riaswTextVerticalLR {
	letter-spacing: 2px;
	-webkit-writing-mode: vertical-lr;
	-mov-writin-mode: vertical-lr;
	writing-mode: vertical-lr;
}
.riaswTextVerticalRL {
	letter-spacing: 2px;
	-webkit-writing-mode: vertical-rl;
	-mov-writin-mode: vertical-rl;
	writing-mode: vertical-rl;
}


