.rias .dijitEditorToolbar {
	border-bottom: 1px solid #ccc;
	background:#eaeaea;// url("../layout/images/titleBar.png") repeat-x top left;
}
.rias .dijitToolbar .dijitToolbarSeparator,
.rias .dijitEditorToolbar .dijitToolbarSeparator {
	background: url('editor/images/editorIconsEnabled.png'); /* separator in editor icons sprite image - enabled state */
}

/**** ICONS *****/

.rias .dijitEditorIcon {
	background-image: url('editor/images/editorIconsEnabled.png'); /* editor icons sprite image - enabled state */
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}
.rias .dijitDisabled .dijitEditorIcon {
	background-image: url('editor/images/editorIconsDisabled.png'); /* editor icons sprite image - disabled state */
}

