/* CheckBox
 * 
 * Styling CheckBox mainly includes:
 * 
 * 1. Containers
 * 		.dijitCheckBox
 * 
 * 2. CheckBox within ToggleButton
 * 		.dijitCheckBoxIcon
 * 
 * 3. States - Checked, Hover, Disabled.
 *		.dijitCheckBoxChecked
 * 		.dijitCheckBoxHover
 * 		.dijitCheckBoxCheckedHover
 * 		.dijitCheckBoxDisabled
 *		.dijitCheckBoxCheckedDisabled
 */
.rias .dijitCheckBox {
  background-color: #fff;
  border: 1px solid #9e9e9e;
  width: 16px;
  height: 16px;
  line-height: 1;
  padding: 0;
  border-radius: 2px;
  text-align: center;
  position: relative;
  overflow: visible;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.rias .dijitCheckBox input {
  position: absolute;
  top: 0;
}
.rias .dijitCheckBoxIcon:before,
.rias .dijitCheckBoxChecked:before,
.rias .dijitCheckBoxCheckedDisabled:before {
  font-family: "flat-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  color: #fff;
}
.rias .dijitCheckBoxIcon {
  padding: 0;
}
.rias .dijitCheckBoxIcon:before {
  color: #90caf9;
}
.rias .alt-primary .dijitCheckBoxIcon:before {
  color: #fff;
}
.rias .alt-success .dijitCheckBoxIcon:before {
  color: #fff;
}
.rias .alt-info .dijitCheckBoxIcon:before {
  color: #fff;
}
.rias .alt-warning .dijitCheckBoxIcon:before {
  color: #fff;
}
.rias .alt-danger .dijitCheckBoxIcon:before {
  color: #fff;
}
.rias .alt-inverse .dijitCheckBoxIcon:before {
  color: #fff;
}
.rias .dijitCheckBoxChecked {
  background-color: #90caf9;
  border-color: #90caf9;
}
.rias .dijitCheckBoxHover {
  background-color: #fff;
  border: 1px solid #90caf9;
}
.rias .dijitCheckBoxCheckedHover {
  background-color: #a1d2fa;
  border: 1px solid #90caf9;
}
.rias .dijitCheckBoxDisabled {
  color: #9e9e9e;
  background-color: #f5f5f5;
  border-color: #e3e3e3;
}
.rias .dijitCheckBoxCheckedDisabled {
  color: #a6a6a6;
  background-color: #b7ddfb;
  border-color: #b7ddfb;
}
.rias .dijitCheckedMenuItem .dijitCheckedMenuItemIcon {
  background-color: #fff;
  border: 1px solid #9e9e9e;
  width: 16px;
  height: 16px;
  line-height: 1;
  padding: 0;
  border-radius: 2px;
  text-align: center;
  position: relative;
  overflow: visible;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.rias .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon:before {
  font-family: "flat-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  color: #90caf9;
}
