.rias .dijitTextBoxRtl .dijitValidationContainer,
.rias .dijitTextBoxRtl .dijitSpinnerButtonContainer {
  border-right-width: 1px !important;
  border-left-width: 0 !important;
}
.rias .dijitTextBoxRtlError .dijitValidationContainer {
  border-left-width: 0;
  border-right-width: 1px;
}
.rias .dijitRtl .dijitPlaceHolder {
  left: auto;
  right: 0;
}
.rias .dijitTextBoxRtl .dijitSpinnerButtonContainer,
.rias .dijitValidationTextBoxRtl .dijitValidationContainer,
.rias .dijitTextBoxRtl .dijitArrowButtonContainer {
  float: left;
}
.rias div.dijitNumberTextBoxRtl {
  text-align: right;
}
