/* Button | DropDownButton | ComboButton | ToggleButton
 *
 * Styling Buttons mainly includes:
 *
 * 1. Containers
 * 		.dijitButton
 * 		.dijitDropDownButton
 * 		.dijitComboButton
 * 		.dijitButtonNode - common button/arrow wrapper shared across all three button types
 *
 * 2. Button text
 * 		.dijitButtonText
 *
 * 3. Arrows - only for DropDownButton and ComboButton
 * 	     There are total four directions arrows - down, left, right, up:
 * 		.dijitArrowButtonInner - down arrow by default
 *      .dijitLeftArrowButton .dijitArrowButtonInner - left arrow
 *      .dijitRightArrowButton .dijitArrowButtonInner - right arrow
 *      .dijitUpArrowButton .dijitArrowButtonInner - up arrow
 *
 * 4. States - Hover, Active, Disabled, e.g.
 * 		.dijitButtonHover .dijitButtonNode
 * 		.dijitButtonActive .dijitButtonNode
 * 		.dijitButtonDisabled .dijitButtonNode
 *
 *      .dijitDisabled .dijitArrowButtonInner  - disabled arrow states
 */


@import url("./Checkbox.css");
@import url("./RadioButton.css");/*换为 CheckButton 了*/

.dijitButtonContents {
	display: inline-block;		/* to make focus border rectangular */
}

.riasBusyButtonIcon {
	width: 10px;
	height: 10px;
	vertical-align: middle;
	margin-left: 4px;
	background-image: url('./images/loading_wheel.gif');
	background-repeat: no-repeat;
}

/*=============================================*/
.dijitCheckBoxIcon {		/* inside a toggle button */
	background-image: url('./images/spriteCheckbox.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.dijitRadioIcon	{		/* inside a toggle button */
	background-image: url('./images/spriteRadio.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.riaswCheckButton input,
.riaswRadioButton input {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.riaswCheckButton .dijitCheckBoxIcon {
	background-image: url('./images/spriteCheckbox.png');
	background-position: -16px;
}
.riaswRadioButton .dijitCheckBoxIcon {
	background-image: url('./images/spriteRadio.png');
	background-position: -16px;
}

.riaswCheckButton .dijitCheckBoxIcon,
.riaswRadioButton .dijitCheckBoxIcon {
	/* unchecked */
	background-position: -16px;
}

.riaswCheckButtonChecked .dijitCheckBoxIcon,
.riaswRadioButtonChecked .dijitCheckBoxIcon {
	/* checked */
	background-position: 0;
}

/*.riaswCheckButtonDisabled .dijitCheckBoxIcon,
.riaswRadioButtonDisabled .dijitCheckBoxIcon {
	background-position: -48px;
}
.riaswCheckButtonCheckedDisabled .dijitCheckBoxIcon,
.riaswRadioButtonCheckedDisabled .dijitCheckBoxIcon {
	background-position: -32px;
}*/

.riaswCheckButtonHover,
.riaswRadioButtonHover {
	/* hovering over an unchecked enabled checkbox */
	background-position: -80px;
}
.riaswCheckButtonHover .dijitCheckBoxIcon,
.riaswRadioButtonHover .dijitCheckBoxIcon {
	/* hovering over an unchecked enabled checkbox */
	background-position: -80px;
}
.riaswCheckButtonCheckedHover .dijitCheckBoxIcon,
.riaswRadioButtonCheckedHover .dijitCheckBoxIcon {
	/* hovering over a checked enabled checkbox */
	background-position: -64px;
}

.riaswCheckButtonDisabled,
.riaswRadioButtonDisabled {
	background-color: inherit;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	filter: grayscale(100%) opacity(30%);
	-webkit-filter: grayscale(100%) opacity(30%);
	-webkit-filter: grayscale(1) opacity(0.3);
}

/*=============================================*/
.dijitButtonNode {
	border: 1px solid lightgray;
	padding: 0.25em 0.25em;
	margin: 1px;
	color: inherit;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 rgba(0, 0, 0, 0.15);
	background-color: inherit;
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.riaswCheckButton,
.riaswRadioButton {
	border-width: 0px;
}

.rias .dijitComboButtonDisabled .dijitArrowButton {
	border-left-width: 0;
}
/* for ComboButton */
.rias table.dijitComboButton {
	border-collapse: separate;
	/* override dijit.css so that ComboBox rounded corners work */

}
.rias .dijitComboButton .dijitArrowButton {
	height: 16px;
	border-width: 0;
	padding: 0 0.25em;
	/* border-color: lightgray; */
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	display: inline-block;
}

/*arrow styles for down/up/left/right directions*/
.rias .dijitArrowButtonInner {
	width: 16px;
	height: 100% !important;
	margin: 0 auto;
	background-image: url("./images/buttonArrows.png");
	background-repeat: no-repeat;
	/*background-position: -51px 53%;*/
}
.rias .dijitSelect .dijitArrowButtonInner,
.rias .dijitComboBox .dijitArrowButtonInner {
	background-position: -51px center;
}
.rias .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -77px 53%;
}
.rias .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -26px 53%;
}
.rias .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: 0px 53%;
}
.rias .dijitDownArrowButton .dijitArrowButtonInner {
	background-position: -51px 53%;
}
.rias .dijitDisabled .dijitArrowButtonInner {
	background-position: -151px 53%;
}
.rias .dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -177px 53%;
}
.rias .dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -126px 53%;
}
.rias .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: -100px 53%;
}

.dijitSpinner .dijitSpinnerButtonContainer .dijitArrowButton {
	height: 100%;
	width: 18px;
}
.dijitSpinner .dijitSpinnerButtonContainer .dijitUpArrowButton {
	left: 0;
	top: 0;
}
.dijitSpinner .dijitSpinnerButtonContainer .dijitDownArrowButton {
	top: 0;
	left: 50%;
	border-width: 0px 0px 0px 1px !important;
}

.dj_ie6 .rias .dijitArrowButtonInner {
	background-image: url("../images/spriteArrows.gif");
}
.dj_ie .rias .dijitSpinner .dijitUpArrowButton .dijitArrowButtonInner {
	margin-top: 1px; /* image has too many blank pixels on top */
}


.rias .dijitButtonText {
	padding: 0 0.25em;
	text-align: center;
}
/* hover status */
.rias .dijitButtonNodeHover,
/*.rias .dijitButtonHover .dijitButtonNode,
.rias .dijitDropDownButtonHover .dijitButtonNode,
.rias .dijitComboButton .dijitButtonNodeHover,
.rias .dijitComboButton .dijitDownArrowButtonHover,
.rias .dijitToggleButtonHover .dijitButtonNode,*/
.rias .dijitUpArrowButtonHover,
.rias .dijitDownArrowButtonHover {
	/*background: url("../images/accordionItemActive.png") repeat-x top;/*zensst*/
	/*background-color: #FFCD84;*//*zensst*/
	background-color: gold;
	/*border-color: darkorange;
	-moz-box-shadow: 0em 0em 0.2em darkorange inset;
	-webkit-box-shadow: 0em 0em 0.2em darkorange inset;
	box-shadow: 0em 0em 0.2em darkorange inset;*/
}
/* focused status */
.rias .dijitButtonNodeFocused,
/*.rias .dijitButtonFocused .dijitButtonNode,
.rias .dijitDropDownButtonFocused .dijitButtonNode,
.rias .dijitComboButton .dijitButtonNodeFocused,
.rias .dijitComboButton .dijitDownArrowButtonFocused,
.rias .dijitToggleButtonFocused .dijitButtonNode,*/
.rias .dijitUpArrowButtonFocused,
.rias .dijitDownArrowButtonFocused {
	/*background: url("../images/accordionItemActive.png") repeat-x top;/*zensst*/
	/*background-color: #FFCD84;*//*zensst*/
	background-color: skyblue;
	/*border-color: darkorange;
	-moz-box-shadow: 0em 0em 0.2em darkorange inset;
	-webkit-box-shadow: 0em 0em 0.2em darkorange inset;
	box-shadow: 0em 0em 0.2em darkorange inset;*/
}
/* active, checked status */
/*.rias .dijitButtonActive .dijitButtonNode,
.rias .dijitDropDownButtonActive .dijitButtonNode,
.rias .dijitComboButtonActive .dijitButtonNode,
.rias .dijitToggleButtonActive .dijitButtonNode,
.rias .dijitToggleButtonChecked .dijitButtonNode,
.rias .dijitButtonNodeChecked,*/
.rias .dijitButtonNodeActive,
.rias .dijitToggleButtonChecked {
	background-color: skyblue;
	/*border-color: darkorange;
	-moz-box-shadow: 0em 0em 0.2em darkorange inset;
	-webkit-box-shadow: 0em 0em 0.2em darkorange inset;
	box-shadow: 0em 0em 0.2em darkorange inset;*/
	-webkit-transition-duration: 0.1s;
	-moz-transition-duration: 0.1s;
	transition-duration: 0.1s;
}
.rias .dijitUpArrowButtonActive,
.rias .dijitDownArrowButtonActive {
	/* same as above except don't adjust border color (it's controlled by the containing Spinner/ComboBox) */
	/*background: #91b4e5 url("../images/buttonActive.png") top left repeat-x;  zensst*/
	background-color: skyblue;
	/*border-color: darkorange;
	-moz-box-shadow: 0em 0em 0.2em darkorange inset;
	-webkit-box-shadow: 0em 0em 0.2em darkorange inset;
	box-shadow: 0em 0em 0.2em darkorange inset;*/
}

/* disabled status */
.rias .dijitButtonDisabled,
.rias .dijitDropDownButtonDisabled,
.rias .dijitComboButtonDisabled,
.rias .dijitToggleButtonDisabled {
	background-color: inherit;
	background-image: none;
	/*outline: none;*/
	color: inherit;
}

/*.rias .dijitButtonDisabled .dijitButtonNode,
.rias .dijitDropDownButtonDisabled .dijitButtonNode,
.rias .dijitComboButtonDisabled .dijitButtonNode,
.rias .dijitToggleButtonDisabled .dijitButtonNode,*/
.rias .dijitButtonNodeDisabled {
	background-color: inherit;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	filter: grayscale(100%) opacity(30%);
	-webkit-filter: grayscale(100%) opacity(30%);
	-webkit-filter: grayscale(1) opacity(0.3);
}
/*.rias .dijitButtonDisabled .dijitButtonNode .dijitIcon,
.rias .dijitDropDownButtonDisabled .dijitButtonNode .dijitIcon,
.rias .dijitComboButtonDisabled .dijitButtonNode .dijitIcon,
.rias .dijitToggleButtonDisabled .dijitButtonNode .dijitIcon,
.riaswCheckButtonDisabled .dijitButtonText,
.riaswRadioButtonDisabled .dijitButtonText,
.rias .dijitButtonDisabled .dijitButtonNode .dijitButtonText,
.rias .dijitDropDownButtonDisabled .dijitButtonNode .dijitButtonText,
.rias .dijitComboButtonDisabled .dijitButtonNode .dijitButtonText,
.rias .dijitToggleButtonDisabled .dijitButtonNode .dijitButtonText {
}*/

.dj_ie6 .rias .dijitReadOnly input,
.dj_ie7 .rias .dijitReadOnly input,
.dj_ie6 .rias .dijitComboButtonDisabled .dijitButtonText,
.dj_ie7 .rias .dijitComboButtonDisabled .dijitButtonText {
	/* opacity doesn't work on table node in IE, work around here */
	color: #aaa;
}

.riaswButtonIconTop .dijitIcon {
	display: block;
	margin: auto !important;
}
.riaswButtonIconTop .dijitButtonText {
	display: block;
	margin: auto !important;
}
