
/*
 *  CheckBox and Radio Widgets,
 *	and the CSS to embed a checkbox or radio icon inside a ToggleButton.
 *
 *	Order of images in the default sprite (from L to R, checkbox and radio in same image):
 *		checkbox	normal 	 - checked
 *							 - unchecked
 *					disabled - checked
 *							 - unchecked
 *					hover 	 - checked
 *							 - unchecked
 *
 *		radio		normal 	 - checked
 *							 - unchecked
 *					disabled - checked
 *							 - unchecked
 *					hover 	 - checked
 *							 - unchecked
*/

.rias .dijitCheckBox,
.rias .dijitCheckBoxIcon {		/* inside a toggle button */
	background-image: url('./images/spriteCheckbox.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}

.rias .dijitCheckBox input,
.rias .dijitRadio input {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.riaswRadioButton .dijitCheckBox,
.riaswRadioButton .dijitCheckBoxIcon {
	background-image: url('./images/spriteRadio.png');
}

.rias .dijitCheckBox,
.rias .dijitToggleButton .dijitCheckBoxIcon,
.riaswCheckButton .dijitCheckBoxIcon,
.riaswRadioButton .dijitCheckBoxIcon {
	/* unchecked */
	background-position: -16px;
}

.rias .dijitCheckBoxChecked,
.rias .dijitToggleButtonChecked .dijitCheckBoxIcon,
.riaswCheckButtonChecked .dijitCheckBoxIcon,
.riaswRadioButtonChecked .dijitCheckBoxIcon {
	/* checked */
	background-position: 0;
}

.rias .dijitCheckBoxDisabled,
.riaswCheckButtonDisabled,
.riaswRadioButtonDisabled {
	/* disabled */
	background-position: -48px;
}

.rias .dijitCheckBoxCheckedDisabled,
.riaswCheckButtonCheckedDisabled,
.riaswRadioButtonCheckedDisabled {
	/* disabled but checked */
	background-position: -32px;
}

.rias .dijitCheckBoxHover {
	/* hovering over an unchecked enabled checkbox */
	background-position: -80px;
}

.rias .dijitCheckBoxCheckedHover {
	/* hovering over a checked enabled checkbox */
	background-position: -64px;
}