/*
**----------------------------------------------------------------------------
**  CheckedMultiSelect
**----------------------------------------------------------------------------
*/

.dojoxCheckedMultiSelect {
	border: 1px solid lightgray;
}

.dojoxCheckedMultiSelectHidden{
	display: none;
}

.dojoxCheckedMultiSelect .dojoxCheckedMultiSelectWrapper {
	background-color: white;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}

.dojoxMultiSelectItem {
	cursor: default;
	padding: 0.1em 0.2em;
	white-space: nowrap;
}

.dojoxCheckedMultiSelectItem {
	white-space: nowrap;
	padding: .1em .2em;
	cursor: default;
}

.dojoxCheckedMultiSelectDisabled *,
.dojoxCheckedMultiSelectReadOnly * {
	color: gray !important;
}

.dojoxCheckedMultiSelectItemLabel {
	margin-left: .2em;
}

.dojoxCheckedMultiSelectCheckBoxInput {
	opacity: 0.01;
}

.dj_ie .dojoxCheckedMultiSelectCheckBoxInput {
	filter: alpha(opacity=0);
	width: 15px;
	height: 16px;
}

.dijit_a11y .dojoxCheckedMultiSelectCheckBoxInput {
	opacity: 1;
	filter: none;
}

.dojoxCheckedMultiSelectMenu td.dijitMenuArrowCell {
	display: none;
}

.dojoxCheckedMultiSelectMenu td.dijitMenuItemLabel {
	position: static;
	padding: 2px;
}

/*
**----------------------------------------------------------------------------
**  rias theme (make look similar to text box)
**----------------------------------------------------------------------------
*/
.rias .dojoxCheckedMultiSelect {
}

.rias .dojoxCheckedMultiSelectHover {
	/*background-color: gold;
	background-image: -moz-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
	background-image: -webkit-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
	background-image: linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
	background-repeat: repeat-x;
	-webkit-transition-duration:.25s;*/
}

.rias .dojoxCheckedMultiSelectFocused {
	/*background-color: gold;
	-webkit-transition-duration:.1s;*/
}

.rias .dojoxCheckedMultiSelectMenuCheckBoxItemIcon {
	background-image: url('./images/spriteCheckbox.png');
	background-position: -16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.rias .dojoxCheckedMultiSelectMenuRadioItemIcon {
	background-image: url('./images/spriteRadio.png');
	background-position: -16px;
	width: 16px;
	height: 16px;
}

.dj_ie6 .rias .dojoxCheckedMultiSelectMenuItemIcon {
	/*background-image: url('../../../dijit/themes/claro/form/images/checkboxRadioButtonStates.png');*/
}

.rias .dojoxCheckedMultiSelectMenuItemChecked .dojoxCheckedMultiSelectMenuCheckBoxItemIcon {
	background-position: 0;
}

.rias .dojoxCheckedMultiSelectMenuItemChecked .dojoxCheckedMultiSelectMenuRadioItemIcon {
	background-position: -90px;
}

/* Drop down button */
.rias .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectButton .dijitButtonText {
	padding: 2px;
}

/* normal status */
.rias .dojoxCheckedMultiSelectButton {
	border: 1px solid #b5bcc7;
	background-color: #ffffff;
	border-collapse: separate;
}

.rias .dojoxCheckedMultiSelect .dijitButtonNode {
	border: 0 solid #b5bcc7;
	border-width: 0 0 0 0;
}

.dj_ie6 .rias .dojoxCheckedMultiSelectButton, .dj_ie6 .rias .dojoxCheckedMultiSelect .dojoxCheckedMultiSelectButton .dijitButtonNode {
	background-image: none;
}

.rias .dojoxCheckedMultiSelectButton .dijitButtonContents {
	border: 0 solid #b5bcc7;
	border-right-width: 1px;
}

.rias .dojoxCheckedMultiSelectButton .dijitArrowButton {
	height: 16px;
	border-width: 0;
	padding: 0 0.25em;
	/* border-color: lightgray; */
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	display: inline-block;

	/*padding: 0;
	border: 1px solid #ffffff;
	border-top: none;
	background-color: #efefef;
	background-image: url("../../../dijit/themes/claro/images/standardGradient.png");
	background-repeat: repeat-x;*/
}

.rias .dojoxCheckedMultiSelectButton .dijitArrowButton .dijitArrowButtonInner {
	background-image: url("./images/buttonArrows.png");
	/*background-position: -35px;*/
	background-repeat: no-repeat;
	width: 16px;
	height: 100% !important;
}

/* hover status */
.rias .dojoxCheckedMultiSelectButtonHover {
	border: 1px solid #769dc0;
	background-color: #e9f4fe;
	background-image: -moz-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
	background-image: -webkit-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
	background-image: linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
	background-repeat: repeat-x;
}

.rias .dojoxCheckedMultiSelectButtonHover .dijitButtonContents {
	border-color: #769dc0;
}

.rias .dojoxCheckedMultiSelectButtonHover .dijitArrowButton {
	background-color: #abd6ff;
}

.rias .dojoxCheckedMultiSelectButtonHover .dijitArrowButton .dijitArrowButtonInner {
	background-position: -70px ;
}

/* focused status */
.rias .dojoxCheckedMultiSelectButtonFocused {
	border: 1px solid #769dc0;
}

.rias .dojoxCheckedMultiSelectButtonFocused .dijitButtonContents {
	border-color: #769dc0;
}

.rias .dojoxCheckedMultiSelectButtonFocused .dijitArrowButton {
	background-color: #7dbefa;
	background-position: 0 -177px;
	border: none;
	padding: 0 1px;
}

.rias .dojoxCheckedMultiSelectButtonFocused .dijitArrowButton .dijitArrowButtonInner {
	background-position: -70px;
	margin-bottom: 1px;
}

/* disable status */
.rias .dojoxCheckedMultiSelectButtonDisabled {
	border: 1px solid #d3d3d3;
	background-color: #efefef;
	background-image: none;
	color: #818181;
}

.rias .dojoxCheckedMultiSelectButtonDisabled .dijitArrowButton {
	background-color: #efefef;
}

.rias .dojoxCheckedMultiSelectButtonDisabled .dijitArrowButton .dijitArrowButtonInner {
	background-position: 0;
}