/*
 *  CheckBox and Radio Widgets,
 *	and the CSS to embed a checkbox or radio icon inside a ToggleButton.
 *
 *	Order of images in the default sprite (from L to R, checkbox and radio in same image):
 *		checkbox	normal 	 - checked
 *							 - unchecked
 *					disabled - checked
 *							 - unchecked
 *					hover 	 - checked
 *							 - unchecked
 *
 *		radio		normal 	 - checked
 *							 - unchecked
 *					disabled - checked
 *							 - unchecked
 *					hover 	 - checked
 *							 - unchecked
*/

.rias .dijitRadio,
.rias .dijitRadioIcon	{		/* inside a toggle button */
	background-image: url('./images/spriteRadio.png'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}

.rias .dijitRadio,
.rias .dijitToggleButton .dijitRadioIcon {
	/* unselected */
	background-position: -16px;
}

.rias .dijitRadioChecked,
.rias .dijitToggleButtonChecked .dijitRadioIcon {
	/* selected */
	background-position: 0;
}

.rias .dijitRadioDisabled {
	/* unselected and disabled */
	background-position: -48px;
}

.rias .dijitRadioCheckedDisabled {
	/* selected but disabled */
	background-position: -32px;
}

.rias .dijitRadioHover {
	/* hovering over an unselected enabled radio button */
	background-position: -80px;
}

.rias .dijitRadioCheckedHover {
	/* hovering over a selected enabled radio button */
	background-position: -64px;
}