/* Make unselected "look" more like a text box and less like a button */

/* Mirror DropDownButton */
.rias .dijitSelectDisabled,
.rias .dijitSelectDisabled TD {
	border-color: #b9bbdd !important;
	background:#c3d3e5 url("../images/buttonDisabled.png") top repeat-x;
}
.dj_ie .rias .dijitSelectDisabled TD * {
	filter: gray() alpha(opacity=50);
}

.rias .dijitSelectHover,
.rias .dijitSelectHover TD {
	border-color:#a5beda #5c7590 #5c7590 #a5beda !important;
	color:#000;
	background:#acc5e2 url("../images/buttonHover.png") repeat-x top left;
}

.rias .dijitSelectActive,
.rias .dijitSelectOpened,
.rias .dijitSelectActive TD,
.rias .dijitSelectOpened TD {
	border-color:#657c9c !important;
	background: #91b4e5 url("../images/buttonActive.png") top left repeat-x;
}

/* Make the menu look more combobox-like */
.rias .dijitSelectMenu td {
	padding: 0;
}
.rias .dijitSelectMenu .dijitMenuItemLabel,
.rias .dijitSelectMenu .dijitMenuArrowCell {
	padding: 0.1em 0.2em;
}
