
// This stylesheet provides the structural CSS for rias.riasw.grid.dgrid
@require 'nib/gradients';
@require 'nib/vendor';

@import "../../../variables";

.dgrid {
	background-color: inherit;
}
.dgrid-selector {
	text-align: center;
}
/*.dgrid-selector-hidden {
	display: none;
}*/
.dgrid-summary-cell,
.dgrid-cell {
	//border-width: 1px;
	border-color: $border-color;
	//border-top-style: solid;
	//border-bottom-width: 0;
	border-left-width: 0;
	padding: $padding * 2 $padding;
	//box-sizing: border-box;
	//-webkit-box-sizing: content-box;
}
.dgrid-cell-canedit {
	border-color: $grey-700;
	//_shadow_inset(0 0 0.25em 0 $light-blue-100);
}
.dgrid-focus {
	outline-color: darkorange;
	outline-style: solid;
	outline-width: 3px;
	outline-offset: -3px;
}
//html.has-mozilla .dgrid-focus {
//	outline-offset: -3px;
//}
.dgrid-resize-header-container .dgrid-focus {
	outline: none;
}
.dgrid-cell-editing {
	outline: none;
	padding: 0 !important;
	margin: 0 !important;
}
.dgrid-cell-editor {
	width: 100%;
	height: 100%;
	border-width: 0;
}
.dgrid-input {
	//padding: 0 0.5em 0 0 !important;
	border-width: 0;
}
.dgrid-summary-cell-none {
	border-right-width: 0;
}
.dgrid-spacer-row {
	//border-width: 1px 1px 0px 1px;
	//border-color: lightgray;
	.dgrid-cell {
		padding: 0 !important;///需要覆盖 .dgrid-header .dgrid-cell
		border: 0 !important;
	}
}
.dgrid-scroller {
	//border-width: 1px;
	//border-color: lightgray;
	//overflow-x: auto;
	overflow-y: auto;///要引起 右上角 错位
	border-bottom: 1px solid $border-color;
}
.dgrid-content {
	//border-right: 1px solid lightgray;
}
.dgrid-row-table {
	border-collapse: separate;
	border-spacing: 0;
}
.dgrid-hider-toggle {
	right: auto;
	left: 0;
}
.dgrid-header-tools {
	padding: $padding;
	border-bottom-width: 1px;
}
.dgrid-rownumcolumn {
	//margin: auto;
	//text-align: center;
}
.dgrid-opcolumn {
	.dijitButton,
	.riaswButton {
		padding: 0 0 0 0.25em;
	}
	.dijitButtonNode,
	.riaswButtonNode {
		padding: 0;
	}
	> button {
		background-color: inherit;
		height: auto;
		line-height: 1em;
		padding: 0;
		margin-left: 0.5em;
		border-width: 0;
		font-family: inherit;
		font-size: inherit;
		font-weight: bold;
		cursor: pointer;
		text-decoration: underline;
	}
	> button:hover {
		color: darkorange;
	}
}
.dgrid-footer-summary-row {
	position: absolute;
	left: 0;
	right: 17px;
	border-width: 0 0 1px 0;
	border-color: $border-color;
	border-style: solid;
	.dgrid-cell {
		//padding: 0;///需要覆盖 .dgrid-header .dgrid-cell
		border-bottom-width: 0 !important;
	}
}
.dgrid-autoheight .dgrid-footer-summary-scroll {
	display: none;
}
.dgrid-rtl-swap .dgrid-footer-summary-scroll {
	left: 0px;
	right: auto;
}
.dgrid-footer-summary-row,
.dgrid-header,
.dgrid-selector,
.dgrid-opcolumn,
.dgrid-rownumcolumn {
	background-color: $dgrid-background;
}
.dgrid-header-scroll,
.dgrid-footer-summary-scroll {
	position: absolute;
	right: 0;
	top: 0;
	background-color: $dgrid-background;
	border: 0px solid $border-color;
}
.dgrid-header-scroll {
	border-width: 0 0 1px 0;
}
.dgrid-footer-summary-scroll {
	border-width: 0 0 1px 0;
}
.dgrid-column-set-scroller {
	background-color: $dgrid-background;
	border: 0px solid $border-color;
//	border-width: 0 1px 0 0;
}

.dgrid-hider-menu {
	//right: 0px;
	left: 17px;
}
.dgrid-hider-menu-row:hover {
	background-color: $hover-color;
}
.dgrid-hider-menu-row:focus {
	background-color: $selected-color;
}
