.rias .dgrid-cell-padding {
  padding: 0.25em 0.5em;
}
.rias .dgrid-header .dgrid-cell {
  border-bottom-width: 2px;
}
.rias .dgrid-selected {
  border: 0px solid #4fc3f7;
}
.rias .dgrid {
  background: inherited;
  border-color: #9e9e9e;
  color: #000;
}
.rias .dgrid-header,
.rias .dgrid-footer {
  background: inherit;
}
.rias .dgrid-header {
  text-transform: uppercase;
}
.rias .dgrid-header .dgrid-cell {
  border-color: #9e9e9e;
  font-weight: bold;
}
.rias .dgrid-header .dgrid-cell:hover {
  background: #fff;
}
.rias .dgrid-row {
  background-color: inherited;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  -ms-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}
.rias .dgrid-row-odd {
  background-color: #fafafa;
}
.rias .dgrid-row:hover {
  background-color: #4fc3f7;
}
.rias .dgrid-selected {
  background-color: #e0e0e0;
}
.rias .dgrid-selected:hover {
  background-color: #4fc3f7;
}
.rias .dgrid-highlight {
  background-color: #81d4fa;
}
.rias .dgrid-cell {
  border-color: #9e9e9e;
}
.dgrid {
  background-color: inherit;
}
.dgrid-selector {
  text-align: center;
}
/*.dgrid-selector-hidden {
	display: none;
}*/
.dgrid-summary-cell,
.dgrid-cell {
  border-color: #9e9e9e;
  border-left-width: 0;
  padding: 0.5em 0.25em;
}
.dgrid-cell-canedit {
  border-color: #616161;
}
.dgrid-focus {
  outline-color: #ff8c00;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: -3px;
}
.dgrid-resize-header-container .dgrid-focus {
  outline: none;
}
.dgrid-cell-editing {
  outline: none;
  padding: 0 !important;
  margin: 0 !important;
}
.dgrid-cell-editor {
  width: 100%;
  height: 100%;
  border-width: 0;
}
.dgrid-input {
  border-width: 0;
}
.dgrid-summary-cell-none {
  border-right-width: 0;
}
.dgrid-spacer-row .dgrid-cell {
  padding: 0 !important;
  border: 0 !important;
}
.dgrid-scroller {
  overflow-y: auto;
  border-bottom: 1px solid #9e9e9e;
}
.dgrid-row-table {
  border-collapse: separate;
  border-spacing: 0;
}
.dgrid-hider-toggle {
  right: auto;
  left: 0;
}
.dgrid-header-tools {
  padding: 0.25em;
  border-bottom-width: 1px;
}
.dgrid-opcolumn .dijitButton,
.dgrid-opcolumn .riaswButton {
  padding: 0 0 0 0.25em;
}
.dgrid-opcolumn .dijitButtonNode,
.dgrid-opcolumn .riaswButtonNode {
  padding: 0;
}
.dgrid-opcolumn > button {
  background-color: inherit;
  height: auto;
  line-height: 1em;
  padding: 0;
  margin-left: 0.5em;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
.dgrid-opcolumn > button:hover {
  color: #ff8c00;
}
.dgrid-footer-summary-row {
  position: absolute;
  left: 0;
  right: 17px;
  border-width: 0 0 1px 0;
  border-color: #9e9e9e;
  border-style: solid;
}
.dgrid-footer-summary-row .dgrid-cell {
  border-bottom-width: 0 !important;
}
.dgrid-autoheight .dgrid-footer-summary-scroll {
  display: none;
}
.dgrid-rtl-swap .dgrid-footer-summary-scroll {
  left: 0px;
  right: auto;
}
.dgrid-footer-summary-row,
.dgrid-header,
.dgrid-selector,
.dgrid-opcolumn,
.dgrid-rownumcolumn {
  background-color: inherited;
}
.dgrid-header-scroll,
.dgrid-footer-summary-scroll {
  position: absolute;
  right: 0;
  top: 0;
  background-color: inherited;
  border: 0px solid #9e9e9e;
}
.dgrid-header-scroll {
  border-width: 0 0 1px 0;
}
.dgrid-footer-summary-scroll {
  border-width: 0 0 1px 0;
}
.dgrid-column-set-scroller {
  background-color: inherited;
  border: 0px solid #9e9e9e;
}
.dgrid-hider-menu {
  left: 17px;
}
.dgrid-hider-menu-row:hover {
  background-color: #4fc3f7;
}
.dgrid-hider-menu-row:focus {
  background-color: #e0e0e0;
}
