
@import '../../variables';

.riaswLoadingPointer {
	position: absolute;
	z-index: 1999;
}

.riaswLoading {
	float: right;
	position: fixed;
	//height: 1.5em;
	top: 0;
	right: 0;
	padding: 1em 2em;
	border: 1px solid lightsteelblue;
	background-color: rgba(0,0,0,0.65);
	min-width: 60px;
	box-shadow: 0.5em 0.5em 3em -0.5em black;
	border-radius: 1em;
	display: block;
}

.riaswLoadingIcon {
	background-image: url(./images/loading.gif);
	background-repeat: no-repeat;
	height: 10px;
	width: 50px;
	vertical-align: middle;
}

.riaswLoadingCaption {
	color: whitesmoke;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.4em;
	white-space: nowrap;
	word-wrap: break-word;
	padding-left: 0.5em;
	display: block;
}
.riaswLoadingLoading {
	color: lightpink;
}
.riaswLoadingIoLoading {
	color: gold;
}
.riaswLoadingBinding {
	color: greenyellow;
}
.riaswLoadingDoing {
	color: whitesmoke;
}
.riaswLoadingText {
	color: whitesmoke;
}



