.rias .gridxLockedCell,
.rias .gridxRow .gridxLockedCell {
  background-color: whitesmoke;
  border-color: lightgray;
}
.rias .gridxHeaderRow .gridxLockedCell,
.rias.gridxColumnResizing .gridx .gridxHeader .gridxHeaderRow .gridxLockedCell:hover {
  background-color: whitesmoke;
  border-color: lightgray;
}
