.rias .dijitDialog {
  background-color: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
}
.rias .dijitDialogPaneContent {
  background-color: #fff;
  border-radius: 0 0 0.25em 0.25em;
  padding: 0.5em;
  position: relative;
}
.rias .dijitDialogPaneActionBar {
/* the bar at bottom with OK/Cancel buttons */
  padding-top: 0.5em;
  text-align: right;
  position: relative;
}
.rias .dijitDialogPaneActionBar .dijitButton {
  float: none;
}
.rias .dijitTooltipDialog .dijitDialogPaneActionBar {
  border-radius: 0 0 0.25em 0.25em;
  margin: 0.5em 0 0;
}
.rias .dijitDialogTitleBar {
/* outer container for the titlebar of the dialog */
  line-height: 1.5em;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.5em 0.75em;
  border-radius: 0.25em 0.25em 0 0;
}
.rias .dijitDialogTitle {
/* typography and styling of the dialog title */
  font-size: 1.1em;
  font-weight: bold;
}
.rias .dijitDialogCloseIcon {
/* the default close icon for the dialog */
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: -8.75em;
  right: 0.75em;
  font-family: "flat-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}
.rias .dijitDialogCloseIcon:before {
  content: "\f00e";
  font-size: 20px;
}
.rias .dijitDialogCloseIcon .closeText {
  display: none;
}
.rias .dijitDialogCloseIconHover,
.rias .dijitDialogCloseIconActive {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.rias .dijitDialogUnderlay {
  background: #000;
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
}
.rias .dijitTooltip,
.rias .dijitTooltipDialog {
/* the outermost dom node, holding the connector and container */
  background: transparent; /* make the area on the sides of the arrow transparent */
}
.rias .dijitTooltipContainer {
  background-color: rgba(0,0,0,0.65);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  font-size: inherit;
}
.rias .dijitTooltip .dijitTooltipContainer {
  color: #fff;
  border: 0 none;
}
.rias .dijitTooltipConnector {
/* the arrow */
  z-index: 2;
  width: auto;
  height: auto;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.rias .dijitTooltipABRight .dijitTooltipConnector {
/* above or below tooltip, but the arrow appears on the right,
			and the right edges of target and tooltip are aligned rather than the left */
  left: auto !important;
  right: 0.5em;
}
.rias .dijitTooltipBelow {
/* leave room for arrow above content */
  padding-top: 0.5em;
}
.rias .dijitTooltipBelow .dijitTooltipConnector {
/* the arrow piece for tooltips below an element */
  top: 0;
  left: 0.5em;
  border-bottom: 0.5em solid rgba(0,0,0,0.65);
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0;
}
.rias .dijitTooltipAbove {
/* leave room for arrow below content */
  padding-bottom: 0.5em;
}
.rias .dijitTooltipAbove .dijitTooltipConnector {
/* the arrow piece for tooltips above an element */
  bottom: 0;
  left: 0.5em;
  border-top: 0.5em solid rgba(0,0,0,0.65);
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0;
}
.rias .dijitTooltipLeft {
  padding-right: 0.5em;
}
.rias .dijitTooltipLeft .dijitTooltipConnector {
/* the arrow piece for tooltips to the left of an element, bottom borders aligned */
  right: 0;
  border-left: 0.5em solid rgba(0,0,0,0.65);
  border-bottom: 0.5em solid transparent;
  border-top: 0.5em solid transparent;
  border-right: 0;
}
.rias .dijitTooltipRight {
  padding-left: 0.5em;
}
.rias .dijitTooltipRight .dijitTooltipConnector {
/* the arrow piece for tooltips to the right of an element, bottom borders aligned */
  left: 0;
  border-bottom: 0.5em solid transparent;
  border-top: 0.5em solid transparent;
  border-right: 0.5em solid rgba(0,0,0,0.65);
}
.rias .dijitTooltipDialog .dijitTooltipContainer {
  background: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.rias .dijitTooltipDialog.dijitTooltipBelow {
  padding-top: 0.5em;
}
.rias .dijitTooltipDialog.dijitTooltipAbove {
  padding-bottom: 0.5em;
}
.rias .dijitTooltipDialog.dijitTooltipLeft {
  padding-right: 0.5em;
}
.rias .dijitTooltipDialog.dijitTooltipRight {
  padding-left: 0.5em;
}
.rias .dijitTooltipDialog .dijitTooltipConnector {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 2;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.rias .dijitTooltipDialog .dijitTooltipConnector:after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
}
.rias .dijitTooltipDialog.dijitTooltipAbove .dijitTooltipConnector {
  border-color: #9e9e9e transparent transparent;
  border-width: 1.5em 1.5em 0; /* one extra pixel is added as the border of the arrows */
  border-style: solid;
}
.rias .dijitTooltipDialog.dijitTooltipAbove .dijitTooltipConnector:after {
  border-color: #fff transparent transparent;
  border-width: 0.5em 0.5em 0;
  border-style: solid;
  left: -0.5em;
  top: -1.5em;
}
.rias .dijitTooltipDialog.dijitTooltipBelow .dijitTooltipConnector {
  border-color: transparent transparent #9e9e9e;
  border-width: 0 1.5em 1.5em;
  border-style: solid;
}
.rias .dijitTooltipDialog.dijitTooltipBelow .dijitTooltipConnector:after {
  border-color: transparent transparent #fff;
  border-width: 0 0.5em 0.5em;
  border-style: solid;
  left: -0.5em;
  bottom: -1.5em;
}
.rias .dijitTooltipDialog.dijitTooltipLeft .dijitTooltipConnector {
  border-color: transparent transparent transparent #9e9e9e;
  border-width: 1.5em 0 1.5em 1.5em;
  border-style: solid;
}
.rias .dijitTooltipDialog.dijitTooltipLeft .dijitTooltipConnector:after {
  border-color: transparent transparent transparent #fff;
  border-width: 0.5em 0 0.5em 0.5em;
  border-style: solid;
  top: -0.5em;
  left: -1.5em;
}
.rias .dijitTooltipDialog.dijitTooltipRight .dijitTooltipConnector {
  border-color: transparent #9e9e9e transparent transparent;
  border-width: 1.5em 1.5em 1.5em 0;
  border-style: solid;
}
.rias .dijitTooltipDialog.dijitTooltipRight .dijitTooltipConnector:after {
  border-color: transparent #fff transparent transparent;
  border-width: 0.5em 0.5em 0.5em 0;
  border-style: solid;
  top: -0.5em;
  right: -1.5em;
}
.riaswBadge {
  position: relative;
  visibility: hidden;
  display: none;
}
.riaswBadgeVisible {
  visibility: visible;
  display: inline-block;
}
.riaswBadgeText {
  position: relative;
  padding: 0px 4px;
/*top: 0px;
	right: 0px;*/
  color: #fff;
  border: 0.15em solid #fff;
  border-radius: 1em;
/*text-align: right;
	font-family: Helvetica;*/
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0.25em 0.25em 0.25em 0 rgba(0,0,0,0.5);
  box-shadow: 0.25em 0.25em 0.25em 0 rgba(0,0,0,0.5);
}
.riaswBadgeRed {
  background: #f00;
  background: -webkit-linear-gradient(top, #f56e6e 0%, #e44149 50%, #de151f 50%, #ae0001 100%);
  background: -moz-linear-gradient(top, #f56e6e 0%, #e44149 50%, #de151f 50%, #ae0001 100%);
  background: -o-linear-gradient(top, #f56e6e 0%, #e44149 50%, #de151f 50%, #ae0001 100%);
  background: -ms-linear-gradient(top, #f56e6e 0%, #e44149 50%, #de151f 50%, #ae0001 100%);
  background: linear-gradient(to bottom, #f56e6e 0%, #e44149 50%, #de151f 50%, #ae0001 100%);
}
.riaswBadgeBlue {
  background: #00f;
  background: -webkit-linear-gradient(top, #5b98e7 0%, #4282de 50%, #216dd6 50%, #216dd6 100%);
  background: -moz-linear-gradient(top, #5b98e7 0%, #4282de 50%, #216dd6 50%, #216dd6 100%);
  background: -o-linear-gradient(top, #5b98e7 0%, #4282de 50%, #216dd6 50%, #216dd6 100%);
  background: -ms-linear-gradient(top, #5b98e7 0%, #4282de 50%, #216dd6 50%, #216dd6 100%);
  background: linear-gradient(to bottom, #5b98e7 0%, #4282de 50%, #216dd6 50%, #216dd6 100%);
}
.riaswBadgeGreen {
  background: #008000;
  background: -webkit-linear-gradient(top, #6cd74a 0%, #5ec63c 50%, #4aad21 50%, #398c08 100%);
  background: -moz-linear-gradient(top, #6cd74a 0%, #5ec63c 50%, #4aad21 50%, #398c08 100%);
  background: -o-linear-gradient(top, #6cd74a 0%, #5ec63c 50%, #4aad21 50%, #398c08 100%);
  background: -ms-linear-gradient(top, #6cd74a 0%, #5ec63c 50%, #4aad21 50%, #398c08 100%);
  background: linear-gradient(to bottom, #6cd74a 0%, #5ec63c 50%, #4aad21 50%, #398c08 100%);
}
.riaswBadgeYellow {
  background: #ff8c00;
  background: -webkit-linear-gradient(top, #ffbc1c 0%, #ffa000 50%, #ffa000 50%, #ff9000 100%);
  background: -moz-linear-gradient(top, #ffbc1c 0%, #ffa000 50%, #ffa000 50%, #ff9000 100%);
  background: -o-linear-gradient(top, #ffbc1c 0%, #ffa000 50%, #ffa000 50%, #ff9000 100%);
  background: -ms-linear-gradient(top, #ffbc1c 0%, #ffa000 50%, #ffa000 50%, #ff9000 100%);
  background: linear-gradient(to bottom, #ffbc1c 0%, #ffa000 50%, #ffa000 50%, #ff9000 100%);
}
.riaswBadgeBlack {
  background: #000;
  background: -webkit-linear-gradient(top, #7f7f7f 0%, #303030 50%, #303030 50%, #303030 100%);
  background: -moz-linear-gradient(top, #7f7f7f 0%, #303030 50%, #303030 50%, #303030 100%);
  background: -o-linear-gradient(top, #7f7f7f 0%, #303030 50%, #303030 50%, #303030 100%);
  background: -ms-linear-gradient(top, #7f7f7f 0%, #303030 50%, #303030 50%, #303030 100%);
  background: linear-gradient(to bottom, #7f7f7f 0%, #303030 50%, #303030 50%, #303030 100%);
}
.riaswBadge > div > div {
  display: none;
}
.dijitCalendarContainer table {
  width: auto; /* in case user has specified a width for the TABLE nodes, see #10553 */
  clear: both; /* clear margin created for left/right month arrows; needed on IE10 for CalendarLite */
}
.dijitCalendarContainer th,
.dijitCalendarContainer td {
  padding: 0;
  vertical-align: middle;
}
.dijitCalendarMonthContainer {
  text-align: center;
}
.dijitCalendarDecrementArrow {
  float: left;
}
.dijitCalendarIncrementArrow {
  float: right;
}
.dijitCalendarYearLabel {
  white-space: nowrap; /* make sure previous, current, and next year appear on same row */
}
.dijitCalendarNextYear {
  margin: 0 0 0 0.5em;
}
.dijitCalendarPreviousYear {
  margin: 0 0.5em 0 0;
}
.dijitCalendarIncrementControl {
  vertical-align: middle;
}
.dijitCalendarIncrementControl,
.dijitCalendarDateTemplate,
.dijitCalendarMonthLabel,
.dijitCalendarPreviousYear,
.dijitCalendarNextYear {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.dijitCalendarDisabledDate {
  color: #808080;
  text-decoration: line-through;
  cursor: default;
}
.dijitSpacer {
/* don't display it, but make it affect the width */
  position: relative;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}
.dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  text-align: center;
}
.rias .dijitCalendar {
  border: solid 1px #b5bcc7;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #cfe5fa;
  background-image: url("images/calendar.png");
  background-repeat: repeat-x;
  background-image: -moz--webkit-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -moz--moz-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -moz--o-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -moz--ms-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -webkit--webkit-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -webkit--moz-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -webkit--o-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -webkit--ms-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -o--webkit-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -o--moz-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -o--o-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -o--ms-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  background-image: linear-gradient(#fff 0px, rgba(255,255,255,0.4) 2px, rgba(255,255,255,0) 100%);
  text-align: center;
  padding: 6px 5px 3px 5px;
}
.rias .dijitCalendar img {
  border: none;
}
.rias .dijitCalendarHover,
.rias .dijitCalendar:hover,
.rias .dijitCalendarActive {
/* treat dijitCalendarActive like hover since there's
			 * no concept of clicking a Calendar as a whole (although you can click things inside the calendar)
			 */
  background-color: #abd6ff;
  border: solid 1px #759dc0;
}
.rias .dijitCalendar table {
  border-collapse: separate;
}
.rias .dijitCalendarMonthContainer th {
  text-align: center;
  padding-bottom: 4px;
  vertical-align: middle;
}
.rias .dijitCalendarMonthLabel {
  color: #000;
  font-size: 1.091em;
  padding: 0 4px;
}
.rias .dijitCalendarIncrementControl {
  width: 18px;
  height: 16px;
  background-image: url("images/calendarArrows.png");
  background-repeat: no-repeat;
}
.rias .dijitCalendarIncrease {
  background-position: -18px 0;
}
.rias .dijitCalendarArrowHover .dijitCalendarDecrease,
.rias .dijitCalendarArrow:hover .dijitCalendarDecrease {
  background-position: -36px 0;
}
.rias .dijitCalendarArrowHover .dijitCalendarIncrease,
.rias .dijitCalendarArrow:hover .dijitCalendarIncrease {
  background-position: -55px 0;
}
.rias .dijitCalendarArrowActive .dijitCalendarDecrease,
.rias .dijitCalendarArrow:active .dijitCalendarDecrease {
  background-position: -72px 0;
}
.rias .dijitCalendarArrowActive .dijitCalendarIncrease,
.rias .dijitCalendarArrow:active .dijitCalendarIncrease {
  background-position: -91px 0;
}
.rias .dijitA11ySideArrow {
/* text +/- labels instead of arrow icons, for high contrast mode */
  display: none;
}
.rias .dijitCalendarDayLabelTemplate {
  padding-bottom: 0;
  text-align: center;
  border-bottom: 1px solid #b5bcc7;
  padding: 0 3px 2px;
}
.rias .dijitCalendarDayLabel {
  padding: 0 4px 0 4px;
  font-weight: bold;
  font-size: 0.909em;
  text-align: center;
  color: #000;
}
.rias .dijitCalendarDateTemplate {
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
  padding-top: 0;
  font-size: 0.909em;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000;
}
.rias .dijitCalendarPreviousMonth,
.rias .dijitCalendarNextMonth {
  background-color: #e5f2fe;
  background-image: none;
  border-bottom: solid 1px #d3d3d3;
}
.rias .dijitCalendarDateTemplate .dijitCalendarDateLabel {
  text-decoration: none;
  display: block;
  padding: 3px 5px 3px 4px;
  border: solid 1px #fff;
/* intentionally matches background-color, no visible border until hover/selection */
  background-color: rgba(171,212,251,0);
/* transparent causes black-flash animation problem on webkit */
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  -o-transition-property: background-color, border;
  -ms-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  -ms-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.rias .dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.rias .dijitCalendarNextMonth .dijitCalendarDateLabel {
  color: #759dc0;
  border-color: #e5f2fe;
/* intentionally matches background-color, no visible border until hover/selection */
}
.rias .dijitCalendarYearContainer {
  vertical-align: middle;
}
.rias .dijitCalendarYearControl {
  padding: 1px 2px 2px 2px;
}
.rias .dijitCalendarYearLabel {
  padding: 2px 0 0 0;
  margin: 0;
  font-size: 1.17em;
}
.rias .dijitCalendarYearLabel span {
/* trying to center next/current/previous year vertically, doesn't work on IE6/7 though */
  vertical-align: middle;
}
.rias .dijitCalendarSelectedYear {
  padding: 0 3px;
}
.rias .dijitCalendarNextYear,
.rias .dijitCalendarPreviousYear {
  padding: 1px 6px 1px 6px;
  font-size: 0.909em;
}
.rias .dijitCalendarSelectedYear {
  font-size: 1.091em;
  color: #000;
}
.rias .dijitCalendarHoveredDate .dijitCalendarDateLabel,
.rias .dijitCalendarLite .dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
  background-color: #abd6ff;
  border: solid 1px #759dc0;
  color: #000;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.rias .dijitCalendarNextYearHover,
.rias .dijitCalendarNextYear:hover,
.rias .dijitCalendarPreviousYearHover,
.rias .dijitCalendarPreviousYear:hover {
  color: #000;
  border: solid 1px #fff;
  padding: 0 5px 0 5px;
/* reduced by 1 to make room for border */
  background-color: #e5f2fe;
}
.rias .dijitCalendarNextYearActive,
.rias .dijitCalendarNextYear:active .dijitCalendarPreviousYearActive,
.rias .dijitCalendarPreviousYear:active {
  border: solid 1px #759dc0;
  padding: 0 5px 0 5px;
/* reduced by 1 to make room for border */
  background-color: #7dbdfa;
}
.rias .dijitCalendarActiveDate .dijitCalendarDateLabel,
.rias .dijitCalendarEnabledDate:active .dijitCalendarDateLabel {
  background-color: #7dbdfa;
  border: solid 1px #fff;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.rias .dijitCalendarSelectedDate .dijitCalendarDateLabel {
  color: #000;
  background-color: #abd6ff;
  border-color: #759dc0;
}
.rias .dijitCalendarDisabledDate .dijitCalendarDateLabel {
  color: #818181;
  text-decoration: line-through;
}
.rias .dijitCalendar .dijitDropDownButton {
  margin: 0;
}
.rias .dijitCalendar .dijitButtonText {
  padding: 1px 0 3px;
  margin-right: -4px;
}
.rias .dijitCalendar .dijitDropDownButton .dijitButtonNode {
  padding: 0 3px 0 2px;
  border: solid 1px #b5bcc7;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  -moz-box-shadow: 0 0 0 rgba(0,0,0,0);
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
  background-color: transparent;
  background-image: none;
}
.rias .dijitCalendar .dijitDropDownButtonHover .dijitButtonNode,
.rias .dijitCalendar .dijitDropDownButton:hover .dijitButtonNode {
  background-color: #e5f2fe;
  border: solid 1px #fff;
}
.rias .dijitCalendarMonthMenu {
  border-color: #759dc0;
  background-color: #fff;
  text-align: center;
  background-image: none;
}
.rias .dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  border-top: solid 1px #fff;
/* intentionally invisible until hover */
  border-bottom: solid 1px #fff;
  padding: 2px 0;
}
.rias .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover,
.rias .dijitCalendarMonthMenu .dijitCalendarMonthLabelActive {
  border-color: #759dc0;
  border-width: 1px 0;
  background-color: #abd6ff;
  background-image: -moz--webkit-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -moz--moz-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -moz--o-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -moz--ms-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -webkit--webkit-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -webkit--moz-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -webkit--o-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -webkit--ms-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -o--webkit-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -o--moz-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -o--o-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -o--ms-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0));
}
.rias .dijitCalendarRtl .dijitCalendarDecrease:before {
  content: "\f001";
}
.rias .dijitCalendarRtl .dijitCalendarIncrease:before {
  content: "\f000";
}
.dj_ie6 .rias .dijitCalendar {
  background-image: none;
}
.dj_ie6 .rias .dijitCalendarIncrementControl {
  background-image: url("images/calendarArrows8bit.png");
}
.dj_ie6 .rias .dijitCalendarDateTemplate {
  background-image: none;
}
.dj_ie6 .rias .dijitCalendarActiveDate .dijitCalendarDateLabel {
  background-image: none;
}
.rias .dijitColorPalette {
  border: 1px solid #9e9e9e;
  background-color: #fff;
  border-radius: 0.25em;
/* swatch */
}
.rias .dijitColorPalette .dijitPaletteTable {
  padding: 0.25em;
}
.rias .dijitColorPalette .dijitColorPaletteSwatch {
  height: 15px;
  width: 15px;
  border-radius: 2px;
}
.rias .dijitColorPalette .dijitPaletteImg {
/* transparent (but clickable) <img> node inside of each <td>, overlaying the color swatch.
			 * displays border around a color swatch
			 * overrides border color in dijit.css */
  border: 1px solid transparent;
  line-height: normal;
}
.rias .dijitColorPalette .dijitPaletteCell:hover .dijitPaletteImg {
  border-color: #9e9e9e;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.rias .dijitColorPalette .dijitPaletteCell:active .dijitPaletteImg,
.rias .dijitColorPalette .dijitPaletteTable .dijitPaletteCellSelected .dijitPaletteImg {
  border: 1px solid #90caf9;
  -webkit-box-shadow: 0 1px 0.5px rgba(0,0,0,0.3), 0 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 0.5px rgba(0,0,0,0.3), 0 2px 2px rgba(0,0,0,0.2);
  border-radius: 2px;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.rias .dijitColorPaletteRtl .dijitColorPaletteUnder {
  left: auto;
  right: 0;
}
.dijitEditorIcon {
  background-image: url("./images/editorIconsEnabled.png"); /* editor icons sprite image for the enabled state */
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}
.dijitDisabled .dijitEditorIcon {
  background-image: url("./images/editorIconsDisabled.png"); /* editor icons sprite image for the disabled state */
}
.dijitEditorIconSep {
  background-position: 0;
}
.dijitEditorIconSave {
  background-position: -18px;
}
.dijitEditorIconPrint {
  background-position: -36px;
}
.dijitEditorIconCut {
  background-position: -54px;
}
.dijitEditorIconCopy {
  background-position: -72px;
}
.dijitEditorIconPaste {
  background-position: -90px;
}
.dijitEditorIconDelete {
  background-position: -108px;
}
.dijitEditorIconCancel {
  background-position: -126px;
}
.dijitEditorIconUndo {
  background-position: -144px;
}
.dijitEditorIconRedo {
  background-position: -162px;
}
.dijitEditorIconSelectAll {
  background-position: -180px;
}
.dijitEditorIconBold {
  background-position: -198px;
}
.dijitEditorIconItalic {
  background-position: -216px;
}
.dijitEditorIconUnderline {
  background-position: -234px;
}
.dijitEditorIconStrikethrough {
  background-position: -252px;
}
.dijitEditorIconSuperscript {
  background-position: -270px;
}
.dijitEditorIconSubscript {
  background-position: -288px;
}
.dijitEditorIconJustifyCenter {
  background-position: -306px;
}
.dijitEditorIconJustifyFull {
  background-position: -324px;
}
.dijitEditorIconJustifyLeft {
  background-position: -342px;
}
.dijitEditorIconJustifyRight {
  background-position: -360px;
}
.dijitEditorIconIndent {
  background-position: -378px;
}
.dijitEditorIconOutdent {
  background-position: -396px;
}
.dijitEditorIconListBulletIndent {
  background-position: -414px;
}
.dijitEditorIconListBulletOutdent {
  background-position: -432px;
}
.dijitEditorIconListNumIndent {
  background-position: -450px;
}
.dijitEditorIconListNumOutdent {
  background-position: -468px;
}
.dijitEditorIconTabIndent {
  background-position: -486px;
}
.dijitEditorIconLeftToRight {
  background-position: -504px;
}
.dijitEditorIconRightToLeft,
.dijitEditorIconToggleDir {
  background-position: -522px;
}
.dijitEditorIconBackColor {
  background-position: -540px;
}
.dijitEditorIconForeColor {
  background-position: -558px;
}
.dijitEditorIconHiliteColor {
  background-position: -576px;
}
.dijitEditorIconNewPage {
  background-position: -594px;
}
.dijitEditorIconInsertImage {
  background-position: -612px;
}
.dijitEditorIconInsertTable {
  background-position: -630px;
}
.dijitEditorIconSpace {
  background-position: -648px;
}
.dijitEditorIconInsertHorizontalRule {
  background-position: -666px;
}
.dijitEditorIconInsertOrderedList {
  background-position: -684px;
}
.dijitEditorIconInsertUnorderedList {
  background-position: -702px;
}
.dijitEditorIconCreateLink {
  background-position: -720px;
}
.dijitEditorIconUnlink {
  background-position: -738px;
}
.dijitEditorIconViewSource {
  background-position: -756px;
}
.dijitEditorIconRemoveFormat {
  background-position: -774px;
}
.dijitEditorIconFullScreen {
  background-position: -792px;
}
.dijitEditorIconWikiword {
  background-position: -810px;
}
.dijitEditorRtl .dijitEditorIcon {
  background-image: url("./images/editorIconsEnabled_rtl.png"); /* editor icons sprite image for the enabled right to left state */
}
.dijitEditorRtlDisabled .dijitEditorIcon {
  background-image: url("./images/editorIconsDisabled_rtl.png"); /* editor icons sprite image for the disabled right to left state */
}
.dijitToolbarRtl .dijitToolbarSeparator,
.dijitToolbarRtl .riaswToolbarSeparator {
  background-image: url("./images/editorIconsEnabled_rtl.png");
}
.rias .dijitEditor {
  background-color: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 0.25em;
}
.rias .dijitEditor .dijitEditorIFrameContainer {
  border: 1px solid transparent;
  border-top: 1px solid #9e9e9e;
  padding: 0.25em 0.5em;
  -webkit-transition: border 0.2s linear 0s;
  -moz-transition: border 0.2s linear 0s;
  -o-transition: border 0.2s linear 0s;
  -ms-transition: border 0.2s linear 0s;
  transition: border 0.2s linear 0s;
}
.rias .dijitEditorHover .dijitEditorIFrameContainer,
.rias .dijitEditorHover .dijitEditorIFrameContainer .dijitEditorIFrame {
  border: 1px solid #90caf9;
}
.rias .dijitEditorFocused .dijitEditorIFrameContainer {
  border: 1px solid #90caf9;
}
.rias .dijitEditorFocused .dijitEditorIFrameContainer .dijitEditorIFrame {
  border: 1px solid #90caf9;
}
.rias .dijitEditorDisabled {
  border: 1px solid #9e9e9e;
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
.rias .dijitEditorDisabled .dijitEditorIFrame,
.rias .dijitEditorDisabled .dijitEditorIFrameContainer,
.rias .dijitEditorDisabled .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: #f5f5f5;
  border: 1px solid transparent;
}
.rias .dijitInlineEditBoxDisplayMode {
  border: 1px dashed transparent;
  padding: 0.25em 2.25em;
}
.rias .dijitInlineEditBoxDisplayModeHover {
  background-color: transparent;
  border: 1px dashed #90caf9;
}
.rias .dijitInlineEditBoxDisplayModeDisabled {
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
.dijitMenuPassive {
  display: none;
}
.rias .dijitMenu {
  background: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 0.25em;
  margin: 0;
  -webkit-box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
}
.rias .dijitMenuTable,
.rias .dijitComboBoxMenu,
.rias .riaswComboBoxMenu {
  padding: 0.5em 0;
}
.rias .dijitComboBoxMenu,
.rias .riaswComboBoxMenu {
  margin-left: 0;
  background-image: none;
}
.rias .dijitMenuTable {
/* this prevents jiggling upon hover of a menu item */
  border-collapse: separate;
  border-spacing: 0 0;
}
.rias .dijitMenuItem,
.rias .dijitMenuItem td {
  padding: 0.25em;
  white-space: nowrap;
}
.rias .dijitMenuItemHover td,
.rias .dijitMenuItemHover {
  color: #fff;
  background-color: #90caf9;
}
.rias .dijitMenuItemActive td,
.rias .dijitMenuItemActive {
  color: #fff;
  background-color: #90caf9;
}
.rias .dijitMenuItemSelected td,
.rias .dijitMenuItemSelected {
  color: #fff;
  background-color: #90caf9;
}
.rias .dijitMenuItemDisabled {
  background-color: inherit;
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
.rias .dijitMenuItemDisabled.dijitMenuItemSelected td,
.rias .dijitMenuItemDisabled.dijitMenuItemSelected {
  color: #f2f2f2;
  background: #b7ddfb;
}
.rias .dijitMenuSeparatorTop {
  height: auto;
  margin-top: 1px; /* prevents spacing above/below separator */
  border-bottom: 1px solid #9e9e9e;
}
.rias .dijitMenuSeparatorBottom {
  height: auto;
  margin-bottom: 1px;
  border-top: 1px solid transparent;
}
.rias td.dijitMenuItemIconCell {
  padding: 0.25em;
  margin: 0 0 0 0.25em;
  text-align: center;
}
.rias .dijitMenuExpand {
  font-family: "flat-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.rias .dijitMenuExpand:before {
  content: "\f001";
}
.rias .dijitCheckedMenuItemIconChar {
  display: none;
}
.rias .dijitMenuPreviousButton,
.rias .dijitMenuNextButton {
  font-style: italic;
}
.rias .dijitMenuBar {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
.rias .dijitMenuBar .dijitMenuItem {
  padding: 0.5em 0.75em;
  margin: 0;
}
.rias .dijitMenuBar .dijitMenuItemHover {
  color: #fff;
  background-color: #90caf9;
}
.rias .dijitMenuBar .dijitMenuItemActive {
  color: #fff;
  background-color: #90caf9;
}
.rias .dijitMenuBar .dijitMenuItemSelected,
.rias .dijitMenuBar .dijitMenuItemHover.dijitMenuItemSelected,
.rias .dijitMenuBar .dijitMenuItemActive.dijitMenuItemSelected {
  color: #fff;
  background-color: #90caf9;
}
.rias .dijitMenuBar .dijitMenuItemDisabled.dijitMenuItemSelected {
  color: #f2f2f2;
  background: #b7ddfb;
}
.rias .dijitMenuPopup {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.rias .dijitMenuPopup .dijitMenu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.rias .dijitMenuPopup .dijitMenuItem,
.rias .dijitMenuPopup .dijitMenuItem td {
  padding: 0.5em;
}
.rias .dijitMenuBarRtl {
  text-align: right;
}
.rias .dijitMenuItemRtl {
  text-align: right;
}
.rias .dijitMenuItemRtl .dijitMenuExpand:before {
  content: "\f000";
}
.rias .dijitProgressBar {
  background-color: #e0e0e0;
  border: 0 none;
  border-radius: 0.25em;
}
.rias .dijitProgressBarTile {
  background: url("images/progressBarStrips.png") repeat-x top;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.rias .dijitProgressBarFull {
  background-color: #90caf9;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  -ms-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
  height: 100%;
}
.rias .dijitProgressBar.alt-primary .dijitProgressBarFull {
  background-color: #1e88e5;
}
.rias .dijitProgressBar.alt-success .dijitProgressBarFull {
  background-color: #43a047;
}
.rias .dijitProgressBar.alt-info .dijitProgressBarFull {
  background-color: #03a9f4;
}
.rias .dijitProgressBar.alt-warning .dijitProgressBarFull {
  background-color: #fb8c00;
}
.rias .dijitProgressBar.alt-danger .dijitProgressBarFull {
  background-color: #e53935;
}
.rias .dijitProgressBar.alt-inverse .dijitProgressBarFull {
  background-color: #616161;
}
.rias .dijitProgressBarLabel {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  color: #fff;
  font-size: 1em;
  text-shadow: 0.1em 0.1em 1px #424242;
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 75px 0;
  }
  to {
    background-position: 0 0;
  }
}
.dijitTimePickerPopup {
  -webkit-box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  height: 200px;
}
.dijitTimePicker {
  background-color: #fff;
  padding: 0.25em 0;
  border: 1px solid #9e9e9e;
  border-radius: 0.25em;
}
.dijitTimePickerItem {
  margin: 0;
}
.dijitTimePickerTick {
/* minor value */
  color: #9e9e9e;
  border: 0 none;
}
.dijitTimePickerMarker {
/* major value - 1:00, 2:00, times on the hour */
  background-color: transparent;
  white-space: nowrap;
  border: 0 none;
}
.dijitTimePickerTickHover,
.dijitTimePickerMarkerHover {
  background: #f2f2f2;
  color: #424242;
}
.dijitTimePickerMarkerSelected,
.dijitTimePickerTickSelected {
  background: #f2f2f2;
  color: #424242;
}
.dijitTimePickerTick .dijitTimePickerItemInner,
.dijitTimePickerMarker .dijitTimePickerItemInner {
  padding: 0.5em;
  margin: 0;
}
.rias .riaswToolbar {
  background-color: #f5f5f5;
  padding: 0.25em;
  zoom: 1;
/* Override default button styles */
/* Hover */
/* Active */
/* Toggle button checked status */
}
.rias .riaswToolbar label {
  padding: 0.5em;
}
.rias .riaswToolbar .dijitButton,
.rias .riaswToolbar .riaswButton,
.rias .riaswToolbar .dijitToggleButton,
.rias .riaswToolbar .riaswToggleButton,
.rias .riaswToolbar .dijitDropDownButton,
.rias .riaswToolbar .riaswDropDownButton,
.rias .riaswToolbar .dijitComboButton,
.rias .riaswToolbar .riaswComboButton {
  margin-right: 0.25em;
}
.rias .riaswToolbar .riaswButtonNode,
.rias .riaswToolbar .dijitButton .dijitButtonNode,
.rias .riaswToolbar .dijitDropDownButton .dijitButtonNode,
.rias .riaswToolbar .dijitComboButton .dijitButtonNode,
.rias .riaswToolbar .dijitToggleButton .dijitButtonNode,
.rias .riaswToolbar .dijitComboBox .dijitButtonNode {
  border-color: transparent;
  padding: 0.25em;
  background-color: transparent;
  border-radius: 0.25em;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.rias .riaswToolbar .dijitComboButton .dijitStretch,
.rias .riaswToolbar .riaswComboButton .dijitStretch {
/* no rounded border on side adjacent to arrow */
  border-radius: 0.25em 0 0 0.25em;
}
.rias .riaswToolbar .dijitComboButton .dijitArrowButton,
.rias .riaswToolbar .riaswComboButton .dijitArrowButton,
.rias .riaswToolbar .dijitComboButton .riaswArrowButton,
.rias .riaswToolbar .riaswComboButton .riaswArrowButton {
/* no rounded border on side adjacent to button */
  border-radius: 0 0.25em 0.25em 0;
}
.rias .riaswToolbar .dijitComboBox .dijitButtonNode {
  padding: 0 0.5em;
}
.rias .riaswToolbar .dijitComboBox .dijitInputInner,
.rias .riaswToolbar .dijitComboBox .riaswInputInner {
  padding: 0;
}
.rias .riaswToolbar .dijitDropDownButton .dijitArrowButtonInner,
.rias .riaswToolbar .riaswDropDownButton .riaswArrowButtonInner {
  margin-left: 0.25em;
}
.rias .riaswToolbar .riaswButtonNodeHover,
.rias .riaswToolbar .dijitButtonHover .dijitButtonNode,
.rias .riaswToolbar .dijitDropDownButtonHover .dijitButtonNode,
.rias .riaswToolbar .dijitToggleButtonHover .dijitButtonNode,
.rias .riaswToolbar .dijitComboButtonHover .dijitButtonNode {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  transition: all 0.1s;
  background: #f2f2f2;
  border-color: #d9d9d9;
  border: 1px solid #9e9e9e;
}
.rias .riaswToolbar .riaswButtonNodeActive,
.rias .riaswToolbar .dijitButtonActive .dijitButtonNode,
.rias .riaswToolbar .dijitDropDownButtonActive .dijitButtonNode,
.rias .riaswToolbar .dijitToggleButtonActive .dijitButtonNode {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  background: #e0e0e0;
  border-color: #b3b3b3;
  border: 1px solid #9e9e9e;
}
.rias .riaswToolbar .dijitToggleButtonChecked .dijitButtonNode {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  outline: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.05);
  background: #e0e0e0;
  border-color: #b3b3b3;
  border: 1px solid #9e9e9e;
}
.rias .riaswToolbarSeparator {
  width: 1px;
  height: 20px;
  background-color: #9e9e9e;
  padding: 0;
  margin: 0 0.25em;
}
.rias .dijitDisabled .riaswToolbar {
  background-color: #f5f5f5;
  border-bottom: 1px solid #9e9e9e;
}
.rias .riaswToolbar .dijitButtonRtl,
.rias .riaswToolbar .riaswButtonRtl,
.rias .riaswToolbar .dijitToggleButtonRtl,
.rias .riaswToolbar .riaswToggleButtonRtl,
.rias .riaswToolbar .dijitDropDownButtonRtl,
.rias .riaswToolbar .riaswDropDownButtonRtl,
.rias .riaswToolbar .dijitComboButtonRtl,
.rias .riaswToolbar .riaswComboButtonRtl {
  margin-left: 0.25em;
  margin-right: auto;
}
.rias .riaswToolbar .dijitDropDownButtonRtl .dijitArrowButtonInner,
.rias .riaswToolbar .riaswDropDownButtonRtl .riaswArrowButtonInner {
  margin-left: auto;
  margin-right: 0.25em;
}
.dijitTreeSelectNode {
  width: 16px;
  height: 16px;
  margin: 0 6px 0 0;
}
.riaswTreeSelectNodeIcon {
  margin: 0 6px 0 0;
}
.rias .dijitTreeIsRoot {
  background-color: transparent;
}
.rias .dijitTreeRow,
.rias .dijitTreeNode .dojoDndItemBefore,
.rias .dijitTreeNode .dojoDndItemAfter {
  padding: 0.25em 0;
  margin: 1px 0;
  border: 0 transparent;
  line-height: 1.5em;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -ms-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.rias .dijitTreeRowHover {
  background-color: #f2f2f2;
  border-color: transparent;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
.rias .dijitTreeRowFocused,
.rias .dijitTreeRowActive {
  background-color: #f2f2f2;
  border-color: transparent;
}
.rias .dijitTreeRowSelected,
.rias .dijitTreeRowHover.dijitTreeRowSelected,
.rias .dijitTreeRowActive.dijitTreeRowSelected {
  outline: none;
  background-color: #90caf9;
  border-color: transparent;
}
.rias .dijitTreeRowSelected .dijitTreeExpando,
.rias .dijitTreeRowHover.dijitTreeRowSelected .dijitTreeExpando,
.rias .dijitTreeRowActive.dijitTreeRowSelected .dijitTreeExpando {
  color: #fff;
}
.rias .dijitTreeExpando {
  width: 24px;
  height: 24px;
}
.rias .dijitTreeIcon {
  width: 16px;
  height: 16px;
}
.rias .dijitTreeExpandoOpened {
  background: url("images/spriteTree.png") no-repeat -24px top;
}
.rias .dijitTreeExpandoClosed {
  background-image: url("images/spriteTree.png");
}
.rias .dijitTreeExpandoLeaf {
  background: url("images/spriteTree.png") no-repeat -48px top;
}
.rias .dijitTreeExpandoLoading {
  background-image: url("images/treeExpand_loading.gif");
}
.rias .dijitFolderOpened {
  background: url("../images/spriteDivIcons.png") no-repeat -16px top;
}
.rias .dijitFolderOpened:before {
  content: "";
}
.rias .dijitFolderClosed {
  background: url("../images/spriteDivIcons.png") no-repeat top left;
}
.rias .dijitFolderClosed:before {
  content: "";
}
.rias .dijitLeaf {
  background: url("../images/spriteDivIcons.png") no-repeat -32px top;
}
.rias .dijitLeaf:before {
  content: "";
}
.rias .dijitTreeNodeDisabled .dijitTreeRow {
  background-color: inherit;
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
.rias .dijitTreeRtl {
  text-align: right;
/*.dijitTreeExpandoClosed:before {
			content: "\e60b";
		}*/
}
.rias .dijitTreeRtl .dijitTreeContainer {
  float: right;
}
.dj_ie8 .dijitTreeExpandoLoading,
.dj_ie9 .dijitTreeExpandoLoading {
  background: url("images/loadingAnimation.gif") no-repeat;
}
.dj_ie8 .dijitTreeExpandoLoading:before,
.dj_ie9 .dijitTreeExpandoLoading:before {
  content: "";
}
.riaswTreeMenu .dijitTreeRow {
/* so insert line shows up on IE when dropping after a target element */
  padding: 0.5em 0.5em;
/*border-bottom: 0px solid lightgray;*/
}
@-moz-keyframes spinning {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinning {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinning {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.dijitPopup {
  border-radius: 0.25em;
}
/* ----- Drag and Drop ----- */
.dojoDndItem {
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, border-color, opacity;
  -moz-transition-property: background-color, border-color, opacity;
  -o-transition-property: background-color, border-color, opacity;
  -ms-transition-property: background-color, border-color, opacity;
  transition-property: background-color, border-color, opacity;
}
/* hover */
.dojoDndItemOver {
  background-color: #f5f5f5;
  border-radius: 0.25em;
}
.dojoDndItemAnchor {
  background-color: transparent;
  border: 1px dashed #90caf9;
  border-radius: 0.25em;
}
/* selected */
.dojoDndItemBefore {
  background: transparent;
  padding-top: 2px;
  border-top: 1px solid #90caf9;
}
.dojoDndItemAfter {
  background: transparent;
  padding-bottom: 2px;
  border-bottom: 1px solid #90caf9;
}
/* Avatar */
table.dojoDndAvatar {
  display: block;
}
.dojoDndAvatarHeader td {
  display: none;
}
.dojoDndAvatarHeader:before {
  font-family: "flat-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: table-cell;
}
/* cannot drop */
.dojoDndMove .dojoDndAvatarHeader:before {
  color: #dd2c00;
  content: "\f01c";
}
.dojoDndCopy .dojoDndAvatarHeader:before {
  color: #dd2c00;
  content: "\f01c";
}
/* can drop */
.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader:before {
  color: #43a047;
  content: "\f008";
}
.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader:before {
  color: #43a047;
  content: "\f008";
}
.dojoDndAvatarItem {
  border-radius: 0.25em;
}
.dojoDndAvatarItem td > * {
  padding: 0.25em 0.5em;
  list-style-type: none;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
}
