/* Editor 
 * 
 * Styling Editor means styling the Editor inside iframe container (dijitEditorIFrameContainer)
 * 
 * 1. Editor iframe container (default styling): 
 * 		.dijitEditorIFrameContainer - normal state styles: background-color, border, padding
 *
 * 2. hovered Editor iframe container (ie, mouse hover on editor)
 * 		.dijitEditorHover .dijitEditorIFrameContainer/dijitEditorIFrame - styles when mouse hover on the container
 * 
 * 3. focused Editor iframe container (ie, mouse focus on the editor pane)
 * 		.dijitEditorFocused .dijitEditorIFrameContainer/dijitEditorIFrame - styles when container focused
 * 
 * 3. disabled Editor iframe container 
 * 		.dijitEditorDisabled - editor's inner iframe container disable status styles: background, border
 */
/* Dijit Editor icons*/
/*editorIcons.css  is located in dijit/images
editorIcons.css contains references to the dijit editor widget icons. There are 46 icons used to map to the related editor functionality in the editor's toolbar.
*/
.dijitEditorIcon {
  background-image: url("./images/editorIconsEnabled.png"); /* editor icons sprite image for the enabled state */
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  text-align: center;
}
.dijitDisabled .dijitEditorIcon {
  background-image: url("./images/editorIconsDisabled.png"); /* editor icons sprite image for the disabled state */
}
.dijitEditorIconSep {
  background-position: 0;
}
.dijitEditorIconSave {
  background-position: -18px;
}
.dijitEditorIconPrint {
  background-position: -36px;
}
.dijitEditorIconCut {
  background-position: -54px;
}
.dijitEditorIconCopy {
  background-position: -72px;
}
.dijitEditorIconPaste {
  background-position: -90px;
}
.dijitEditorIconDelete {
  background-position: -108px;
}
.dijitEditorIconCancel {
  background-position: -126px;
}
.dijitEditorIconUndo {
  background-position: -144px;
}
.dijitEditorIconRedo {
  background-position: -162px;
}
.dijitEditorIconSelectAll {
  background-position: -180px;
}
.dijitEditorIconBold {
  background-position: -198px;
}
.dijitEditorIconItalic {
  background-position: -216px;
}
.dijitEditorIconUnderline {
  background-position: -234px;
}
.dijitEditorIconStrikethrough {
  background-position: -252px;
}
.dijitEditorIconSuperscript {
  background-position: -270px;
}
.dijitEditorIconSubscript {
  background-position: -288px;
}
.dijitEditorIconJustifyCenter {
  background-position: -306px;
}
.dijitEditorIconJustifyFull {
  background-position: -324px;
}
.dijitEditorIconJustifyLeft {
  background-position: -342px;
}
.dijitEditorIconJustifyRight {
  background-position: -360px;
}
.dijitEditorIconIndent {
  background-position: -378px;
}
.dijitEditorIconOutdent {
  background-position: -396px;
}
.dijitEditorIconListBulletIndent {
  background-position: -414px;
}
.dijitEditorIconListBulletOutdent {
  background-position: -432px;
}
.dijitEditorIconListNumIndent {
  background-position: -450px;
}
.dijitEditorIconListNumOutdent {
  background-position: -468px;
}
.dijitEditorIconTabIndent {
  background-position: -486px;
}
.dijitEditorIconLeftToRight {
  background-position: -504px;
}
.dijitEditorIconRightToLeft,
.dijitEditorIconToggleDir {
  background-position: -522px;
}
.dijitEditorIconBackColor {
  background-position: -540px;
}
.dijitEditorIconForeColor {
  background-position: -558px;
}
.dijitEditorIconHiliteColor {
  background-position: -576px;
}
.dijitEditorIconNewPage {
  background-position: -594px;
}
.dijitEditorIconInsertImage {
  background-position: -612px;
}
.dijitEditorIconInsertTable {
  background-position: -630px;
}
.dijitEditorIconSpace {
  background-position: -648px;
}
.dijitEditorIconInsertHorizontalRule {
  background-position: -666px;
}
.dijitEditorIconInsertOrderedList {
  background-position: -684px;
}
.dijitEditorIconInsertUnorderedList {
  background-position: -702px;
}
.dijitEditorIconCreateLink {
  background-position: -720px;
}
.dijitEditorIconUnlink {
  background-position: -738px;
}
.dijitEditorIconViewSource {
  background-position: -756px;
}
.dijitEditorIconRemoveFormat {
  background-position: -774px;
}
.dijitEditorIconFullScreen {
  background-position: -792px;
}
.dijitEditorIconWikiword {
  background-position: -810px;
}
/* .dijitEditorIconToggleDir { background-position: -540px; ;} - 03172010: This icon was not in dijit.editor but is in dojox.editor. */
/* no longer in the editor toolbar:  .dijitEditorIconToggleDir { background-position: -540px;  padding: 0; margin: 0; color:#555555;
									font-family:verdana,arial,sans-serif; font-weight: 800; font-size: 70%; */
/* Editor Rtl */
.dijitEditorRtl .dijitEditorIcon {
  background-image: url("./images/editorIconsEnabled_rtl.png"); /* editor icons sprite image for the enabled right to left state */
}
.dijitEditorRtlDisabled .dijitEditorIcon {
  background-image: url("./images/editorIconsDisabled_rtl.png"); /* editor icons sprite image for the disabled right to left state */
}
/* Toolbar */
.dijitToolbarRtl .dijitToolbarSeparator,
.dijitToolbarRtl .riaswToolbarSeparator {
  background-image: url("./images/editorIconsEnabled_rtl.png");
}
.rias .dijitEditor {
  background-color: #fff;
  border: 1px solid #9e9e9e;
  border-radius: 0.25em;
}
.rias .dijitEditor .dijitEditorIFrameContainer {
  border: 1px solid transparent;
  border-top: 1px solid #9e9e9e;
  padding: 0.25em 0.5em;
  -webkit-transition: border 0.2s linear 0s;
  -moz-transition: border 0.2s linear 0s;
  -o-transition: border 0.2s linear 0s;
  -ms-transition: border 0.2s linear 0s;
  transition: border 0.2s linear 0s;
}
.rias .dijitEditorHover .dijitEditorIFrameContainer,
.rias .dijitEditorHover .dijitEditorIFrameContainer .dijitEditorIFrame {
  border: 1px solid #90caf9;
}
.rias .dijitEditorFocused .dijitEditorIFrameContainer {
  border: 1px solid #90caf9;
}
.rias .dijitEditorFocused .dijitEditorIFrameContainer .dijitEditorIFrame {
  border: 1px solid #90caf9;
}
.rias .dijitEditorDisabled {
  border: 1px solid #9e9e9e;
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
.rias .dijitEditorDisabled .dijitEditorIFrame,
.rias .dijitEditorDisabled .dijitEditorIFrameContainer,
.rias .dijitEditorDisabled .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: #f5f5f5;
  border: 1px solid transparent;
}
