
@import 'widget_variables';


@import "../../../../../webLib/orion-12.0/orion/editor/themes/default.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/adelante.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/ambience.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/blue.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/eclipse.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/nimbus.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/prospecto.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/raspberrypi.css";
@import "../../../../../webLib/orion-12.0/orion/editor/themes/tierra.css";

.riaswOrionEditor {
	border: 0px solid lightgray;
	width: 20em;
	min-height: 2em;
	min-width: 5em;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
}
.riaswOrionEditorReadOnly,
.riaswOrionEditorDisabled,
.riaswOrionEditorReadOnly .riaswTextBoxContainer,
.riaswOrionEditorDisabled .riaswTextBoxContainer {
	background-color: inherit;
	background-image: none;
	//outline: none;
	color: inherit;
}
.riaswOrionEditorFocused .riaswTextBoxContainer {
	//outline: 5px -webkit-focus-ring-color;
	outline: 5px -webkit-focus-ring-color;
	border-color: $input-focused-border-color;
	transition-duration: .25s;
	_textbox_shadow($input-focused-border-color);
}
.riaswOrionEditorHover .riaswTextBoxContainer {
	border-color: $input-hover-border-color;
	transition-duration: .25s;
	_textbox_shadow($input-hover-border-color);
}
.riaswOrionEditorError .riaswTextBoxContainer,
.riaswOrionEditorErrorFocused .riaswTextBoxContainer {
	border-color: $input-error-border-color;
	transition-duration: .25s;
	_textbox_shadow($input-error-border-color);
	//background-color: #ffffbb;
	//background-image:none;
}


