/* Tree 
 * 
 * Styling Tree mostly means styling the TreeRow (dijitTreeRow)
 * There are 4 basic states to style:
 * 
 * Tree Row:
 * 1. tree row (default styling): 
 * 		.dijitTreeRow - styles for each row of the tree
 *
 * 2. hovered tree row (mouse hover on a tree row)
 * 		.dijitTreeRowHover - styles when mouse over on one row
 * 
 * 3. active tree row (mouse down on a tree row)
 * 		.dijitTreeRowActive - styles when mouse down on one row
 * 
 * 4. selected tree row
 * 		dijitTreeRowSelected - style when the row has been selected
 * 
 * Tree Expando:
 * 	    dijitTreeExpando - the expando at the left of the text of each tree row
 * 
 */

@import 'widget_variables';

.dijitTreeSelectNode {
	width: 16px;
	height: 16px;
	margin: 0 6px 0 0;
}
.riaswTreeSelectNodeIcon {
	margin: 0 6px 0 0;
}

.{$theme-name} {
	
	.dijitTreeIsRoot {
	    background-color: $tree-background-color;
	}

	.dijitTreeRow,
	.dijitTreeNode .dojoDndItemBefore,
	.dijitTreeNode .dojoDndItemAfter {
		padding: $tree-row-padding;
		margin: 1px 0;
		border: 0 $tree-row-border-color;
		line-height: $tree-row-line-height;
		transition-property: background-color;
		transition-duration: .15s;
		transition-timing-function: ease-out;
	}

	/* Hover */
	.dijitTreeRowHover {
		background-color: $tree-row-hover-background-color;
		border-color: $tree-row-hover-border-color;
		transition-duration: .15s;
	}

	/* Active */
	/* Focused */
	.dijitTreeRowFocused,
	.dijitTreeRowActive {
		background-color:$tree-row-active-background-color;
		border-color: $tree-row-active-border-color;
	}

	/* Selected */
	.dijitTreeRowSelected,
	.dijitTreeRowHover.dijitTreeRowSelected,
	.dijitTreeRowActive.dijitTreeRowSelected {
		outline: none;
		//color: $tree-row-selected-text-color;
		background-color: $tree-row-selected-background-color;
		border-color: $tree-row-selected-border-color;
		.dijitTreeExpando {
			color: $tree-expando-icon-selected-color;
		}
	}

	// ========================== //
	.dijitTreeExpando {
		width: 24px;
		height: 24px;
	}
	.dijitTreeIcon {
		width: 16px;
		height: 16px;
	}
	.dijitTreeExpandoOpened {
		background: url('images/spriteTree.png') no-repeat -24px top;
	}

	.dijitTreeExpandoClosed {
		background-image: url('images/spriteTree.png');
	}

	.dijitTreeExpandoLeaf {
		background: url('images/spriteTree.png') no-repeat -48px top;
	}

	.dijitTreeExpandoLoading {
		background-image: url('images/treeExpand_loading.gif');
	}
	.dijitFolderOpened {
		background: url('../images/spriteDivIcons.png') no-repeat -16px top;
		&:before {
			content: "";
		}
	}

	.dijitFolderClosed {
		background: url('../images/spriteDivIcons.png') no-repeat top left;
		&:before {
			content: "";
		}
	}

	.dijitLeaf {
		background: url('../images/spriteDivIcons.png') no-repeat -32px top;
		&:before {
			content: "";
		}
	}
	.dijitTreeNodeDisabled {
		.dijitTreeRow {
			background-color: inherit;
			opacity: $disabled-opacity;
		}
		.dijitTreeRowSelected {
		}
	}
	// ========================== //

	/* Rtl */
	.dijitTreeRtl  {
		text-align: right;

		.dijitTreeContainer {
			float: right;
		}
		/*.dijitTreeExpandoClosed:before {
			content: "\e60b";
		}*/
	}

}

.dj_ie8 .dijitTreeExpandoLoading,
.dj_ie9 .dijitTreeExpandoLoading {
	background:url('images/loadingAnimation.gif') no-repeat;

	&:before {
		content: "";
	}
}

@keyframes spinning {
	from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

/*riaswTreeMenu*/
.riaswTreeMenu .dijitTreeRow {
	/* so insert line shows up on IE when dropping after a target element */
	padding: .5em .5em;
	/*border-bottom: 0px solid lightgray;*/
}
.riaswTreeMenu .dijitTreeNodeDisabled .dijitTreeRow {
	/*border-bottom-color: lightgray;*/
}
/*.riaswTreeMenu .dijitTreeExpando {
	display: none;
}
.riaswTreeMenu .dijitTreeNode {
	background: none;
}*/
