.rias .dijitTabContainerTop-tabs .dijitTabRtl,
.rias .dijitTabContainerBottom-tabs .dijitTabRtl {
  margin-right: 0;
  margin-left: -1px;
}
.rias .dijitTabControllerRtl,
.rias .dijitTabControllerRtl .nowrapTabStrip {
  text-align: right;
}
.rias .dijitTabRtl .dijitTabCloseButton {
  margin-left: 0;
  margin-right: 0.25em;
}
