/* rias.webApp */
.rias :focus {
  outline: none;
}
.rias .mblComboBoxMenuItem {
  height: 1.5em;
}
.rias .dijitTooltip .dijitTooltipContainer {
  padding: 0.5em 1em;
  min-width: 2em;
  -webkit-box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
  box-shadow: 0 7px 3px -4px rgba(0,0,0,0.3), 0 8px 8px rgba(0,0,0,0.2);
}
.rias .riaswButtonNode {
  border-width: 0 0 2px 0;
  border-color: #e0e0e0;
  background-color: inherit;
}
.rias .riaswDockNode {
  border-width: 1px;
}
.rias .riaswArrowButton {
  border-color: #e0e0e0;
  background-color: inherit;
}
.rias .riaswCheckButton,
.rias .riaswRadioButton {
  border-width: 0;
}
.rias .riaswTextBoxContainer,
.rias .riaswArrowButton,
.rias .riaswArrowButtonContainer,
.rias .riaswSpinnerButtonContainer,
.rias .riaswToggleSplitter,
.rias .riaswPanel,
.rias .riaswCaptionPanel,
.rias .riaswFieldsetPanel,
.rias .riaswTab,
.rias .riaswAccordionPanel,
.rias .riaswAccordionInnerContainer,
.rias .riaswAccordionChildWrapper,
.rias .riaswTablePanel,
.rias .riaswTablePanelTable,
.rias .riaswDockBar,
.rias .riaswDockNode,
.rias .riaswCheckedMultiSelectWrapper,
.rias .dijitTree,
.rias .riaswOrionEditor {
  border-color: #e0e0e0;
}
.rias .riaswTabStripButton,
.rias .riasdBtnsDockBar {
  border-color: #81d4fa;
}
.rias .riaswButtonNodeFocused,
.rias .riaswArrowButtonFocused {
  outline: none;
  border-color: #81d4fa;
  background-color: #81d4fa;
  -webkit-box-shadow: 0 0 0.25em 0 #81d4fa inset;
  box-shadow: 0 0 0.25em 0 #81d4fa inset;
}
.rias .riaswComboButton .riaswArrowButtonFocused {
  background-color: #ffd700;
}
.rias .riaswDockNodeHidden {
  background-color: inherit;
}
.rias .riaswDockNodeShown {
  border-color: #e0e0e0;
  background-color: #e0e0e0;
}
.rias .riaswDockNodeSelected {
  border-color: #81d4fa;
  background-color: #81d4fa;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.65);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.65);
}
.rias .riaswArrowButtonHover,
.rias .riaswButtonNodeHover,
.rias .riaswDockNodeHover {
  border-color: #4fc3f7;
  background-color: #4fc3f7;
  -webkit-box-shadow: 0 0 0.25em 0 #4fc3f7 inset;
  box-shadow: 0 0 0.25em 0 #4fc3f7 inset;
}
.rias .riaswComboButton .riaswArrowButtonHover {
  background-color: #ffd700;
}
.rias .riaswToggleButtonChecked,
.rias .riaswToolbar .riaswToggleButtonChecked {
  border-color: #bdbdbd;
  background-color: #bdbdbd;
}
.rias .riaswCheckedMultiSelectFocused .riaswCheckedMultiSelectWrapper,
.rias .riaswOrionEditorFocused .riaswTextBoxContainer,
.rias .riaswTextBoxFocused .riaswTextBoxContainer {
  outline: none;
  border-color: #81d4fa;
  -webkit-box-shadow: 0 0 0.25em 0 #81d4fa inset;
  box-shadow: 0 0 0.25em 0 #81d4fa inset;
}
.rias .riaswCheckedMultiSelectHover .riaswCheckedMultiSelectWrapper,
.rias .riaswOrionEditorHover .riaswTextBoxContainer,
.rias .riaswTextBoxHover .riaswTextBoxContainer {
  border-color: #4fc3f7;
  -webkit-box-shadow: 0 0 0.25em 0 #4fc3f7 inset;
  box-shadow: 0 0 0.25em 0 #4fc3f7 inset;
}
.rias .riaswTextBoxError .riaswTextBoxContainer,
.rias .riaswTextBoxErrorFocused .riaswTextBoxContainer,
.rias .riaswTextBoxError .riaswButtonNode,
.rias .riaswTextBoxErrorFocused .riaswButtonNode,
.rias .riaswOrionEditorError .riaswTextBoxContainer,
.rias .riaswOrionEditorErrorFocused .riaswTextBoxContainer {
  border-color: #ff8c00;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-box-shadow: 0 0 0.25em 0 #ff8c00 inset;
  box-shadow: 0 0 0.25em 0 #ff8c00 inset;
}
.rias .riaswDialogPanel {
  background-color: #fafafa;
  border-width: 0px;
  border-color: #bdbdbd;
}
.rias .riaswFieldsetPanelSelected,
.rias .riaswFieldsetPanelFocused,
.rias .riaswCaptionPanelSelected,
.rias .riaswCaptionPanelFocused {
  border-color: #81d4fa;
}
.rias .riaswDialogPanelSelected,
.rias .riaswDialogPanelFocused {
  border-color: #81d4fa;
}
.rias .riaswAccordionInnerContainerHover,
.rias .riaswAccordionInnerContainerActive,
.rias .riaswFieldsetPanelHover,
.rias .riaswFieldsetPanelActive,
.rias .riaswCaptionPanelHover,
.rias .riaswCaptionPanelActive {
  border-color: #4fc3f7;
}
.rias .riaswDialogPanelHover,
.rias .riaswDialogPanelActive {
  border-color: #4fc3f7;
}
.rias .riaswAccordionTitle,
.rias .riaswCaptionPanelCaptionNode {
  border-color: #e0e0e0;
  background-color: #e0e0e0;
}
.rias .riaswFieldsetPanelCaptionNode {
  background-color: transparent;
}
.rias .riaswDialogPanelCaptionNode {
  border-color: #bdbdbd;
  background-color: #bdbdbd;
}
.rias .riaswAccordionTitleSelected,
.rias .riaswAccordionTitleFocused,
.rias .riaswCaptionPanelCaptionNodeSelected,
.rias .riaswCaptionPanelCaptionNodeFocused {
  border-color: #bdbdbd;
  background-color: #bdbdbd;
}
.rias .riaswDialogPanelCaptionNodeSelected,
.rias .riaswDialogPanelCaptionNodeFocused {
  border-color: #81d4fa;
  background-color: #81d4fa;
}
.rias .riaswAccordionTitleHover,
.rias .riaswDialogPanelCaptionNodeHover {
  border-color: #4fc3f7;
  background-color: #4fc3f7;
}
.rias .riaswDialogPanelContent {
  background-color: #fafafa;
}
.rias .riaswDialogPanelTypeInfo .riaswDialogPanelContent,
.rias .riaswDialogPanelTypeWarn .riaswDialogPanelContent,
.rias .riaswDialogPanelTypeError .riaswDialogPanelContent,
.rias .riaswDialogPanelTypeAbout .riaswDialogPanelContent {
  padding: 1.5em 1em 1em 1em;
}
.rias .riaswDialogPanelTypeWarn {
  border-color: #6495ed;
}
.rias .riaswDialogPanelTypeWarn .riaswDialogPanelCaptionNode {
  background-color: #6495ed;
}
.rias .riaswDialogPanelTypeError {
  border-color: #fa8072;
}
.rias .riaswDialogPanelTypeError .riaswDialogPanelCaptionNode {
  background-color: #fa8072;
}
.rias .riaswTabChecked {
  background-color: #81d4fa;
}
.rias .riaswStackPanelChildWrapper {
  background-color: #fafafa;
}
.rias .riaswTabPanelContainer {
  padding: 0.25em;
}
.rias .riaswTabListWrapper {
  border-color: #fafafa;
}
.rias .riaswTabChecked,
.rias .riaswTabPanelContainer {
  border-color: #81d4fa;
}
.rias .riaswTabController-top {
  margin-top: 0px;
}
.rias .riaswTabController-top .riaswTabControllerContent {
  border-color: #81d4fa;
  -webkit-box-shadow: -3px -3px 9px -6px rgba(0,0,0,0.35) inset;
  box-shadow: -3px -3px 9px -6px rgba(0,0,0,0.35) inset;
}
.rias .riaswTabController-top .riaswTab {
  border-bottom-color: transparent;
}
.rias .riaswTabController-top .riaswTabChecked {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}
.rias .riaswTabController-bottom {
  margin-top: 0px;
}
.rias .riaswTabController-bottom .riaswTabControllerContent {
  border-color: #81d4fa;
  -webkit-box-shadow: -3px 3px 9px -6px rgba(0,0,0,0.35) inset;
  box-shadow: -3px 3px 9px -6px rgba(0,0,0,0.35) inset;
}
.rias .riaswTabController-bottom .riaswTab {
  border-top-color: transparent;
}
.rias .riaswTabController-bottom .riaswTabChecked {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}
.rias .riaswTabController-left {
  margin-left: 0px;
}
.rias .riaswTabController-left .riaswTabControllerContent {
  border-color: #81d4fa;
  -webkit-box-shadow: -3px -3px 9px -6px rgba(0,0,0,0.35) inset;
  box-shadow: -3px -3px 9px -6px rgba(0,0,0,0.35) inset;
}
.rias .riaswTabController-left .riaswTab {
  border-right-color: transparent;
}
.rias .riaswTabController-left .riaswTabChecked {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}
.rias .riaswTabController-right {
  margin-left: 0px;
}
.rias .riaswTabController-right .riaswTabControllerContent {
  border-color: #81d4fa;
  -webkit-box-shadow: 3px -3px 9px -6px rgba(0,0,0,0.35) inset;
  box-shadow: 3px -3px 9px -6px rgba(0,0,0,0.35) inset;
}
.rias .riaswTabController-right .riaswTab {
  border-left-color: transparent;
}
.rias .riaswTabController-right .riaswTabChecked {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}
.rias .riaswCheckedMultiSelectSelectedOption,
.rias .riaswMultiSelectItemFocused,
.rias .dijitMenuItemSelected,
.rias .dijitMenuItemSelected td,
.rias .dijitMenuItemFocused,
.rias .dijitMenuItemFocused td,
.rias .dijitTreeRowFocused,
.rias .dijitTreeRowSelected {
  background-color: #bdbdbd;
}
.rias .riaswMultiSelectItemHover,
.rias .riaswMultiSelectItemActive,
.rias .dijitMenuItemHover,
.rias .dijitMenuItemHover td,
.rias .dijitMenuItemActive,
.rias .dijitMenuItemActive td,
.rias .dijitTreeRowHover,
.rias .dijitTreeRowActive {
  background-color: #4fc3f7;
}
.rias .dgrid {
  border-color: #e0e0e0;
  border-width: 0;
  background-color: #fafafa;
}
.rias .dgrid-summary-cell,
.rias .dgrid-header,
.rias .dgrid-cell {
  border-color: #e0e0e0;
}
.rias .dgrid-summary-cell .dgrid-cell-editor,
.rias .dgrid-header .dgrid-cell-editor,
.rias .dgrid-cell .dgrid-cell-editor {
  border-color: #81d4fa;
  -webkit-box-shadow: 0 0 0.25em 0 #81d4fa inset;
  box-shadow: 0 0 0.25em 0 #81d4fa inset;
}
.rias .dgrid-cell-canedit {
  border-color: #616161;
}
.rias .dgrid-header .dgrid-cell {
  border-color: #e0e0e0;
}
.rias .dgrid-header .dgrid-cell:hover {
  background-color: #4fc3f7;
}
.rias .dgrid-scroller {
  border-bottom-color: #e0e0e0;
}
.rias .dgrid-row {
  background-color: #fff;
}
.rias .dgrid-row-odd {
  background-color: #f5faff;
}
.rias .dgrid-row:hover {
  background-color: #4fc3f7;
}
.rias .dgrid-selected {
  background-color: #bdbdbd;
}
.rias .dgrid-selected:hover {
  background-color: #4fc3f7;
}
.rias .dgrid-highlight {
  background-color: #81d4fa;
}
.rias .dgrid-footer-summary-row {
  border-color: #e0e0e0;
}
.rias .dgrid-footer-summary-row,
.rias .dgrid-header,
.rias .dgrid-selector,
.rias .dgrid-opcolumn,
.rias .dgrid-rownumcolumn {
  background-color: #fafafa;
}
.rias .dgrid-header-scroll,
.rias .dgrid-footer-summary-scroll,
.rias .dgrid-column-set-scroller {
  background-color: #fafafa;
  border-color: #e0e0e0;
}
.rias .dgrid-hider-menu-row:hover {
  background-color: #4fc3f7;
}
.rias .dgrid-hider-menu-row:focus {
  background-color: #bdbdbd;
}
