
/* rias.webApp */

//@import "variables_material_colors";
@import '../../../../rias-1.0.0/themes/rias/variables';

//.mobile .mobileBody {
//	font-family: Helvetica;
//	font-size: 15px;
//}

$theme-name = "rias";

$appBackgroundColor ?= $page-color;
$pageBackgroundColor ?= $page-color;
$appHeaderColor ?= $light-blue-800;
$appFooterColor ?= $grey-500;
$appAreaColor ?= $grey-50;
$appInputColor ?= $input-color;
$appHighlightColor ?= $light-blue-200;
$appHoverColor ?= $light-blue-300;
$appSelectedColor ?= $grey-400;
$appBorderColor ?= $grey-300;
$appErrorColor ?= darkorange;

$dgridRowOdd = #f5faff;


.{$theme-name} {

	:focus {
		outline: none;
	}

	// widget =============================== //
	.mblComboBoxMenuItem {
		height: 1.5em;
	}

	.dijitTooltip .dijitTooltipContainer {
		padding: 0.5em 1em;
		min-width: 2em;
		_shadow($shadow-depth2);
	}
	.riaswButtonNode {
		border-width: 0 0 2px 0;
		border-color: $appBorderColor;
		background-color: inherit;
	}
	.riaswDockNode {
		border-width: 1px;
	}
	.riaswArrowButton {
		border-color: $appBorderColor;
		background-color: inherit;
		//line-height: normal;
	}
	.riaswCheckButton,
	.riaswRadioButton {
		border-width: 0;
	}
	.riaswTextBoxContainer,
	.riaswArrowButton,
	.riaswArrowButtonContainer,
	.riaswSpinnerButtonContainer,
	.riaswToggleSplitter,
	.riaswPanel,
	.riaswCaptionPanel,
	.riaswFieldsetPanel,
	.riaswTab,
	.riaswAccordionPanel,
	.riaswAccordionInnerContainer,
	.riaswAccordionChildWrapper,
	.riaswTablePanel,
	.riaswTablePanelTable,
	.riaswDockBar,
	.riaswDockNode,
	.riaswCheckedMultiSelectWrapper,
	.dijitTree,
	.riaswOrionEditor {
		border-color: $appBorderColor;
	}
	.riaswTabStripButton,
	.riasdBtnsDockBar {
		border-color: $appHighlightColor;
	}

	//.riaswDockNodeFocused,
	.riaswButtonNodeFocused,
	.riaswArrowButtonFocused {
		outline: none;// 5px -webkit-focus-ring-color;
		border-color: $appHighlightColor;
		background-color: $appHighlightColor;
		_textbox_shadow($appHighlightColor);
	}
	.riaswComboButton .riaswArrowButtonFocused {
		background-color: gold;
	}

	.riaswDockNodeHidden {
		background-color: inherit;
	}
	.riaswDockNodeShown {
		border-color: $appBorderColor;
		background-color: $appBorderColor;
	}
	//.riaswDockNodeFocused,
	.riaswDockNodeSelected {
		border-color: $appHighlightColor;
		background-color: $appHighlightColor;
		box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.65);
	}

	.riaswArrowButtonHover,
	.riaswButtonNodeHover,
	.riaswDockNodeHover {
		border-color: $appHoverColor;
		background-color: $appHoverColor;
		_textbox_shadow($appHoverColor);
	}
	.riaswComboButton .riaswArrowButtonHover {
		background-color: gold;
	}

	.riaswToggleButtonChecked,
	.riaswToolbar .riaswToggleButtonChecked {
		border-color: $appSelectedColor;
		background-color: $appSelectedColor;
	}

	.riaswCheckedMultiSelectFocused .riaswCheckedMultiSelectWrapper,
	.riaswOrionEditorFocused .riaswTextBoxContainer,
	.riaswTextBoxFocused .riaswTextBoxContainer {
		outline: none;// 5px -webkit-focus-ring-color;
		border-color: $appHighlightColor;
		_textbox_shadow($appHighlightColor);
	}
	.riaswCheckedMultiSelectHover .riaswCheckedMultiSelectWrapper,
	.riaswOrionEditorHover .riaswTextBoxContainer,
	.riaswTextBoxHover .riaswTextBoxContainer {
		border-color: $appHoverColor;
		_textbox_shadow($appHoverColor);
	}
	.riaswTextBoxError .riaswTextBoxContainer,
	.riaswTextBoxErrorFocused .riaswTextBoxContainer,
	.riaswTextBoxError .riaswButtonNode,
	.riaswTextBoxErrorFocused .riaswButtonNode,
	.riaswOrionEditorError .riaswTextBoxContainer,
	.riaswOrionEditorErrorFocused .riaswTextBoxContainer {
		border-color: $appErrorColor;
		transition-duration: .25s;
		_textbox_shadow($appErrorColor);
		//background-color: #ffffbb;
		//background-image:none;
	}

	/// Panel====================//
	.riaswAccordionPanel {
	}
	.riaswCaptionPanel {
		//margin: 0.5em;
	}
	.riaswFieldsetPanel {
	}
	.riaswDialogPanel {
		background-color: $appAreaColor;
		border-width: 0px;
		border-color: $appSelectedColor;
		//_shadow($shadow-depth3);
	}
	//.riaswAccordionInnerContainerSelected,///riaswAccordionInnerContainer 的 Selected 还是不变色好些
	//.riaswAccordionInnerContainerFocused,
	.riaswFieldsetPanelSelected,
	.riaswFieldsetPanelFocused,
	.riaswCaptionPanelSelected,
	.riaswCaptionPanelFocused {
		border-color: $appHighlightColor;
	}
	.riaswDialogPanelSelected,
	.riaswDialogPanelFocused {
		border-color: $appHighlightColor;
	}
	.riaswAccordionInnerContainerHover,
	.riaswAccordionInnerContainerActive,
	.riaswFieldsetPanelHover,
	.riaswFieldsetPanelActive,
	.riaswCaptionPanelHover,
	.riaswCaptionPanelActive {
		border-color: $appHoverColor;
	}
	.riaswDialogPanelHover,
	.riaswDialogPanelActive {
		border-color: $appHoverColor;
	}
	.riaswAccordionTitle,
	//.riaswDialogPanelActionBarTop,
	//.riaswFieldsetPanelCaptionNode,
	//.riaswDialogPanelCaptionNode,
	.riaswCaptionPanelCaptionNode {
		border-color: $appBorderColor;
		background-color: $appBorderColor;
	}
	.riaswFieldsetPanelCaptionNode {
		background-color: transparent;
	}
	.riaswDialogPanelCaptionNode {
		border-color: $appSelectedColor;
		background-color: $appSelectedColor;
	}
	.riaswAccordionTitleSelected,
	.riaswAccordionTitleFocused,
	//.riaswFieldsetPanelCaptionNodeSelected,
	//.riaswFieldsetPanelCaptionNodeFocused,
	.riaswCaptionPanelCaptionNodeSelected,
	.riaswCaptionPanelCaptionNodeFocused {
		border-color: $appSelectedColor;
		background-color: $appSelectedColor;
	}
	.riaswDialogPanelCaptionNodeSelected,
	.riaswDialogPanelCaptionNodeFocused {
		border-color: $appHighlightColor;
		background-color: $appHighlightColor;
	}
	.riaswAccordionTitleHover,
	//.riaswCaptionPanelCaptionNodeHover,
	//.riaswFieldsetPanelCaptionNodeHover,
	.riaswDialogPanelCaptionNodeHover {
		border-color: $appHoverColor;
		background-color: $appHoverColor;
	}
	.riaswDialogPanelContent {
		background-color: $appAreaColor;
	}
	.riaswDialogPanelActionBar,
	.riaswDialogPanelActionBarTop {
		//background-color: $appAreaColor;
	}
	.riaswDialogPanelTypeInfo .riaswDialogPanelContent,
	.riaswDialogPanelTypeWarn .riaswDialogPanelContent,
	.riaswDialogPanelTypeError .riaswDialogPanelContent,
	.riaswDialogPanelTypeAbout .riaswDialogPanelContent {
		padding: 1.5em 1em 1em 1em;
	}
	.riaswDialogPanelTypeWarn {
		border-color: cornflowerblue;
	}
	.riaswDialogPanelTypeWarn .riaswDialogPanelCaptionNode {
		background-color: cornflowerblue;
	}
	.riaswDialogPanelTypeError {
		border-color: salmon;
	}
	.riaswDialogPanelTypeError .riaswDialogPanelCaptionNode {
		background-color: salmon;
	}

	// Tab ============================== //
	.riaswTabChecked {
		background-color: $appHighlightColor;
	}
	.riaswStackPanelChildWrapper {
		background-color: $appAreaColor;
	}
	.riaswTabPanelContainer {
		padding: 0.25em;
		//_shadow(0px 0px 6px 0px $shadow-color-50);
	}
	.riaswTabListWrapper {
		border-color: $appAreaColor;
	}
	//.riaswTabPanelContainer,
	.riaswTabChecked,
	//.riaswTabController-top,
	//.riaswTabController-bottom,
	//.riaswTabController-left,
	//.riaswTabController-right,
	.riaswTabPanelContainer {
		border-color: $appHighlightColor;
	}
	.riaswTabController-top {
		margin-top: 0px;
		.riaswTabControllerContent {
			border-color: $appHighlightColor;
			_shadow(-3px -3px 9px -6px $shadow-color-35 inset);
		}
		.riaswTab {
			border-bottom-color: transparent;
		}
		.riaswTabChecked {
			//border-bottom-color: $appAreaColor;
			_shadow(0px 0px 6px 0px $shadow-color-50);
		}
	}
	.riaswTabController-bottom {
		margin-top: 0px;
		.riaswTabControllerContent {
			border-color: $appHighlightColor;
			_shadow(-3px 3px 9px -6px $shadow-color-35 inset);
		}
		.riaswTab {
			border-top-color: transparent;
		}
		.riaswTabChecked {
			//border-top-color: $appAreaColor;
			_shadow(0px 0px 6px 0px $shadow-color-50);
		}
	}
	.riaswTabController-left {
		margin-left: 0px;
		.riaswTabControllerContent {
			border-color: $appHighlightColor;
			_shadow(-3px -3px 9px -6px $shadow-color-35 inset);
		}
		.riaswTab {
			border-right-color: transparent;
		}
		.riaswTabChecked {
			//border-right-color: $appAreaColor;
			_shadow(0px 0px 6px 0px $shadow-color-50);
		}
	}
	.riaswTabController-right {
		margin-left: 0px;
		.riaswTabControllerContent {
			border-color: $appHighlightColor;
			_shadow(3px -3px 9px -6px $shadow-color-35 inset);
		}
		.riaswTab {
			border-left-color: transparent;
		}
		.riaswTabChecked {
			//border-left-color: $appAreaColor;
			_shadow(0px 0px 6px 0px $shadow-color-50);
		}
	}
	.riaswCheckedMultiSelectSelectedOption,
	.riaswMultiSelectItemFocused,
	.dijitMenuItemSelected,
	.dijitMenuItemSelected td,
	.dijitMenuItemFocused,
	.dijitMenuItemFocused td,
	.dijitTreeRowFocused,
	.dijitTreeRowSelected {
		background-color: $appSelectedColor;
	}
	.riaswMultiSelectItemHover,
	.riaswMultiSelectItemActive,
	.dijitMenuItemHover,
	.dijitMenuItemHover td,
	.dijitMenuItemActive,
	.dijitMenuItemActive td,
	.dijitTreeRowHover,
	.dijitTreeRowActive {
		background-color: $appHoverColor;
	}

	// dgrid ================================= //
	.dgrid {
		border-color: $appBorderColor;
		border-width: 0;
		background-color: $appAreaColor;
	}
	.dgrid-summary-cell,
	.dgrid-header,
	.dgrid-cell {
		border-color: $appBorderColor;
		.dgrid-cell-editor {
			border-color: $appHighlightColor;
			_textbox_shadow($appHighlightColor);
		}
	}
	.dgrid-cell-canedit {
		border-color: $grey-700;
		//_shadow_inset(0 0 0.25em 0 $light-blue-100);
	}
	.dgrid-header .dgrid-cell{
		border-color: $appBorderColor;
		&:hover {
			background-color: $appHoverColor;
		}
	}
	.dgrid-scroller {
		border-bottom-color: $appBorderColor;
	}
	.dgrid-row {
		background-color: $appInputColor;
	}
	.dgrid-row-odd {
		background-color: $dgridRowOdd;
	}
	.dgrid-row:hover {
		background-color: $appHoverColor;
	}
	.dgrid-selected {
		background-color: $appSelectedColor;
	}
	.dgrid-selected:hover {
		background-color: $appHoverColor;
	}
	.dgrid-highlight {
		background-color: $appHighlightColor;
	}
	.dgrid-footer-summary-row {
		border-color: $appBorderColor;
	}
	.dgrid-footer-summary-row,
	.dgrid-header,
	.dgrid-selector,
	.dgrid-opcolumn,
	.dgrid-rownumcolumn {
		background-color: $appAreaColor;
	}
	.dgrid-header-scroll,
	.dgrid-footer-summary-scroll,
	.dgrid-column-set-scroller {
		background-color: $appAreaColor;
		border-color: $appBorderColor;
	}
	.dgrid-hider-menu-row:hover {
		background-color: $appHoverColor;
	}
	.dgrid-hider-menu-row:focus {
		background-color: $appSelectedColor;
	}

}
