
/* rias.webApp */

//@import "variables_material_colors";
@import '../../../../rias-1.0.0/themes/rias/variables';

//.mobile .mobileBody {
//	font-family: Helvetica;
//	font-size: 15px;
//}

$theme-name = "rias";

$appBackgroundColor ?= $page-color;
$pageBackgroundColor ?= $page-color;
$appHeaderColor ?= $light-blue-800;
$appFooterColor ?= $grey-500;
$appAreaColor ?= $grey-50;
$appInputColor ?= $input-color;
$appHighlightColor ?= $light-blue-200;
$appHoverColor ?= $light-blue-300;
$appSelectedColor ?= $grey-400;
$appBorderColor ?= $grey-300;
$appErrorColor ?= darkorange;

$dgridRowOdd = #f5faff;

