/* rias.webApp */
.webApp {
  background-color: dimgray;
  border-color: 0px solid lightgray;
  /*height: 100px;
	width: 100px;*/
  font-family: Helvetica;
  font: menu;
  display: block;
  /*position: relative;*/
  overflow: hidden;
  /*overflow: auto;*/
  -moz-box-sizing: border-box;
  /* ff2 */
  -ms-box-sizing: border-box;
  /* ie8 */
  -webkit-box-sizing: border-box;
  /* safari3 */
  -khtml-box-sizing: border-box;
  /* konqueror */
  box-sizing: border-box;
  /* css3 rec */
}
.rias .mblComboBoxMenuItem {
  height: 1.5em;
}
.rias .webAppHeader {
  font-size: 125%;
  height: 2.5em;
  padding: 0px 0px 0px 0px;
  font-weight: bold;
  color: skyblue;
  /* disabled status */
}
.rias .webAppHeader .dijitButtonText {
  padding: 0 0.3em;
  text-align: center;
}
.rias .webAppHeader .dijitButton .dijitButtonNode,
.rias .webAppHeader .dijitDropDownButton .dijitButtonNode,
.rias .webAppHeader .dijitComboButton .dijitButtonNode,
.rias .webAppHeader .dijitToggleButton .dijitButtonNode {
  border-color: transparent;
  border-bottom: 2px solid skyblue;
  margin: 1px 0.5em;
  padding: 2px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: inherit;
  color: inherit;
}
.rias .webAppHeader .dijitButtonHover .dijitButtonNode,
.rias .webAppHeader .dijitButtonActive .dijitButtonNode,
.rias .webAppHeader .dijitButtonNodeHover,
.rias .webAppHeader .dijitDropDownButtonHover .dijitButtonNode,
.rias .webAppHeader .dijitDropDownButtonActive .dijitButtonNode,
.rias .webAppHeader .dijitComboButton .dijitButtonNodeHover,
.rias .webAppHeader .dijitComboButton .dijitDownArrowButtonHover,
.rias .webAppHeader .dijitToggleButtonHover .dijitButtonNode,
.rias .webAppHeader .dijitComboButtonActive .dijitButtonNode,
.rias .webAppHeader .dijitToggleButtonActive .dijitButtonNode,
.rias .webAppHeader .dijitToggleButtonChecked .dijitButtonNode,
.rias .webAppHeader .dijitUpArrowButtonHover,
.rias .webAppHeader .dijitDownArrowButtonHover {
  background-color: gold;
  border-color: gold;
  color: black;
}
.rias .webAppHeader .dijitUpArrowButtonActive,
.rias .webAppHeader .dijitDownArrowButtonActive {
  background-color: gold;
}
.rias .webAppHeader .dijitButtonDisabled,
.rias .webAppHeader .dijitDropDownButtonDisabled,
.rias .webAppHeader .dijitComboButtonDisabled,
.rias .webAppHeader .dijitToggleButtonDisabled {
  background-color: inherit;
  background-image: none;
  /*outline: none;*/
  color: inherit;
}
.rias .webAppHeader .riaswDockNode {
  border-color: transparent;
  border-bottom: 2px solid skyblue;
  margin: 2px 0.5em;
  padding: 2px 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: inherit;
  color: inherit;
}
.rias .webAppHeader .riaswDockNodeHover {
  background-color: gold;
  border-color: gold;
  color: black;
}
.rias .webAppHeader a {
  padding: 2px 8px 2px 8px;
  display: inline-block;
}
.rias .webAppHeaderLogo {
  width: 180px;
  padding: 2px 8px 2px 8px;
  background: url("images/RIAStudio.png") no-repeat 0px center;
}
.rias .webAppHeaderDockBar {
  padding: 1px;
}
.rias .webAppFooterDockBar {
  padding: 1px;
}
.rias .webAppHeaderBtns {
  width: 18em;
  padding: 0px;
  margin: 0px;
}
.rias .webAppDockPanel {
  background-color: whitesmoke;
  padding: 0.25em 0 0.25em 0.25em;
  width: 7em;
}
.rias .webAppDockPanel .riaswDockNode {
  border-width: 1px;
}
.rias .webAppCenter {
  background-color: whitesmoke;
  padding: 0.5em;
}
.rias .webAppFooter {
  color: white;
  height: 2.5em;
  line-height: 2.5em;
  padding: 1px;
}
.rias .webAppFooter .riaswDockNodeShown {
  background-color: inherit;
}
.rias .webAppFooter .riaswDockNodeHover {
  background-color: gold;
  border-color: gold;
  color: black;
}
.rias .webAppFooter .riaswDockNodeTopmost {
  background-color: skyblue;
  color: black;
}
.rias .webAppHeaderXC {
  background-color: red;
  overflow: hidden;
}
.rias .webAppHeaderLogoXC {
  width: 180px;
  padding: 4px 8px 2px 8px;
  background: url("images/XCIndex.png") no-repeat 0px center;
}
.rias .mblButton,
.rias .dijitButtonNode {
  border-width: 0 0 2px 0;
  border-color: skyblue;
}
.rias .riaswCheckButton .dijitButtonNode,
.rias .riaswRadioButton .dijitButtonNode {
  border-width: 0;
}
.rias .riaswTextBoxContainer,
.rias .dijitArrowButton,
.rias .dijitArrowButtonContainer,
.rias .dijitSpinnerButtonContainer,
.rias .riaswToggleSplitter,
.rias .riaswPanel,
.rias .riaswCaptionPanel,
.rias .dijitTabPaneWrapper,
.rias .dijitTab,
.rias .riaswAccordionPanel,
.rias .riaswAccordionChildWrapper,
.rias .riaswTablePanel,
.rias .riaswDockBar,
.rias .riaswDockNode,
.rias .dijitTree,
.rias .riaswOrionEditor {
  border-color: lightgray;
}
.rias .riaswCaptionPanelCaptionNode,
.rias .riaswDialogPanelCaptionNode,
.rias .riaswDialogPanelWrapper,
.rias .riaswDialogPanelActionBarTop {
  border-color: lightgray;
}
.rias .riaswDialogPanel {
  background-color: whitesmoke;
  border-width: 0.25em;
  border-color: lavender;
}
.rias .riaswCaptionPanelContent,
.rias .riaswDialogPanelContent {
  padding: 0.25em;
}
.rias .riaswDialogPanelContent {
  background-color: whitesmoke;
}
.rias .riaswDialogPanelTypeInfo .riaswDialogPanelContent,
.rias .riaswDialogPanelTypeWarn .riaswDialogPanelContent,
.rias .riaswDialogPanelTypeError .riaswDialogPanelContent,
.rias .riaswDialogPanelTypeAbout .riaswDialogPanelContent {
  padding: 1.5em 1em 1em 1em;
}
.rias .riaswCaptionPanelCaptionNode,
.rias .riaswAccordionTitle,
.rias .riaswDockNodeShown {
  background-color: lavender;
}
.rias .riaswDialogPanelCaptionNode {
  background-color: lavender;
}
.rias .riaswDockNodeHover,
.rias .riaswAccordionTitleHover,
.rias .riaswCaptionPanelCaptionNodeHover,
.rias .riaswDialogPanelCaptionNodeHover {
  background-color: gold;
}
.rias .riaswDialogPanelHover {
  border-color: gold;
}
.rias .riaswCaptionPanelCaptionNodeSelected,
.rias .riaswCaptionPanelCaptionNodeFocused,
.rias .riaswDialogPanelCaptionNodeSelected,
.rias .riaswDialogPanelCaptionNodeFocused,
.rias .riaswDialogPanelCaptionNodeTopmost,
.rias .riaswAccordionTitleSelected,
.rias .riaswDockNodeTopmost {
  background-color: skyblue;
}
.rias .riaswDialogPanelTopmost {
  border-color: skyblue;
}
.rias .riaswDockNode {
  border-width: 1px;
}
.rias .riaswStackPanelChildWrapper,
.rias .dijitTabChecked {
  background-color: whitesmoke;
}
.rias .dijitTabChecked,
.rias .dijitTabContainerTop-tabs,
.rias .dijitTabContainerBottom-tabs,
.rias .dijitTabContainerLeft-tabs,
.rias .dijitTabContainerRight-tabs {
  border-color: steelblue;
}
.rias .dijitTreeRowSelected {
  background-color: skyblue;
}
.rias .dgrid {
  border-color: lightgray;
}
.rias .dgrid-selector {
  text-align: center;
}
.rias .dgrid-summary-cell,
.rias .dgrid-header .dgrid-cell,
.rias .dgrid-cell {
  border-color: lightgray;
  border-left-width: 0;
  padding: 0.5em 0.25em;
}
.rias .dgrid-cell-editing {
  padding: 0;
  margin: 0;
}
.rias .dgrid-summary-cell-none {
  border-right-width: 0;
}
.rias .dgrid-spacer-row .dgrid-cell {
  padding: 0;
  border: 0;
}
.rias .dgrid-scroller {
  overflow-y: auto;
  border-bottom: 1px solid lightgray;
}
.rias .dgrid-content {
  border-right: 1px solid lightgray;
}
.rias .dgrid-row {
  background-color: white;
}
.rias .dgrid-row-table {
  border-collapse: separate;
  border-spacing: 0;
}
.rias .dgrid-row-odd {
  background-color: snow;
}
.rias .dgrid-selected {
  background-color: skyblue;
}
.rias .dgrid-hider-toggle {
  right: auto;
  left: 0;
}
.rias .dgrid-header-tools {
  padding: 0.25em;
  border-bottom-width: 1px;
}
.rias .dgrid-opcolumn .dijitButton {
  padding: 0 0 0 0.25em;
}
.rias .dgrid-opcolumn .dijitButtonNode {
  padding: 0;
}
.rias .dgrid-opcolumn > button {
  height: auto;
  line-height: 1em;
  padding: 0;
  margin-left: 0.5em;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
.rias .dgrid-opcolumn > button:hover {
  color: darkorange;
}
.rias .dgrid-footer-summary-row {
  position: absolute;
  left: 0;
  right: 17px;
  border-width: 0 0 1px 0;
  border-color: lightgray;
  border-style: solid;
}
.rias .dgrid-footer-summary-row .dgrid-cell {
  border-bottom-width: 0;
}
.rias .dgrid-footer-summary-scroll {
  position: absolute;
  right: 0;
}
.rias .dgrid-autoheight .dgrid-footer-summary-scroll {
  display: none;
}
.rias .dgrid-rtl-swap .dgrid-footer-summary-scroll {
  left: 0px;
  right: auto;
}
.rias .dgrid-footer-summary-row,
.rias .dgrid-header,
.rias .dgrid-selector,
.rias .dgrid-opcolumn,
.rias .dgrid-rownumcolumn {
  background-color: ghostwhite;
}
.rias .dgrid-header-scroll,
.rias .dgrid-footer-summary-scroll,
.rias .dgrid-column-set-scroller {
  background-color: ghostwhite;
  border: 0px solid lightgray;
}
.rias .dgrid-header-scroll {
  border-width: 0 0 1px 1px;
}
.rias .dgrid-footer-summary-scroll {
  border-width: 0 0 1px 0;
}
.rias .dgrid-hider-menu {
  left: 17px;
}
