
/* rias.webApp */

//@import "variables_material_colors";
@import 'Common';

//.mobile .mobileBody {
//	font-family: Helvetica;
//	font-size: 15px;
//}

.webApp{
	background-color: $appBackgroundColor;
	border-color: $appBorderColor;
	font-family: "微软雅黑","arial","sans-serif";
	font-size: 12px;
}
.webPage{
	background-color: $pageBackgroundColor;
	border-color: $appBorderColor;
	font-family: "微软雅黑","arial","sans-serif";
	font-size: 12px;
}
.webAppContent {
	//background-color: whitesmoke;
	//border-top: 0px solid lightgray;
	//padding: 0px;
}

.{$theme-name} {

	.infoText {
		color: chocolate;
		font-size: 1.25em;
		font-weight: bold;
	}
	.infoRegion {
		margin: $padding;
		padding: $padding;
		color: chocolate;
		//font-size: 14px;
		font-weight: bold;
		border-bottom: 1px solid chocolate;
	}
	.toolbarRegion {
		padding: 0.25em;
		border-bottom-width: 1px;
	}
	.qTableTop,
	.qTableBottom {
		padding: 1em 1em 1em 1em;
	}
	.qTableRight,
	.qTableLeft {
		padding: 1em 1em 1em 0px;
	}
	.clientRegion {
		margin: $padding;
		padding: $padding;
		_shadow(0px 3px 12px -3px $shadow-color-50);
		.riaswFieldsetPanelContent {
			padding: 0.5em;
		}
	}
	.leftRegion {
		margin: $padding;
		padding: $padding;
		_shadow(3px 0px 12px -6px $shadow-color-50);
	}
	.rightRegion {
		margin: $padding;
		padding: $padding;
		_shadow(-3px 0px 12px -6px $shadow-color-50);
	}
	.topRegion {
		margin: $padding;
		padding: $padding;
		_shadow(0px 3px 12px -6px $shadow-color-50);
	}
	.bottomRegion {
		margin: $padding;
		padding: $padding;
		_shadow(0px -3px 12px -6px $shadow-color-50);
	}
	.dialogShadow {
		_shadow($shadow-depth3);
	}
	.tooltipShadow {
		_shadow($shadow-depth2);
	}
	.textboxShadow {
		_textbox_shadow($shadow-color-50);
	}
	.badgeShadow {
		_shadow(0.25em 0.25em 0.25em 0 $shadow-color-50);
	}
	.menuShadow {
		_shadow($shadow-depth2);
	}
	.popupShadow {
		_shadow($shadow-depth2);
	}

	.highlightBtn {
		background-color: lightgreen;
	}
	.highlightBtnFocused {
		background-color: $appHighlightColor;
	}
	.highlightBtnHover {
		background-color: $appHoverColor;
	}

	.webAppHeader {
		font-size: 16px;
		background-color: $appHeaderColor;
		border-bottom: 1px solid $appBorderColor;
		height: 2.5em;
		//line-height: 2.5em;
		padding: 0px;
		//margin-top: 0.25em !important;
		//margin-left: 0.25em !important;
		font-weight: bold;
		//margin: 0m 0em 0em 0em;
		_shadow($shadow-depth1);
		z-index: 10;

		.riaswDockNode {
			//border-color: $appBorderColor;
			border-width: 0 0 2px 0;
			//background-color: inherit;
		}
		.riaswButtonNode,
		.riaswDockNode {
			border-width: 0 0 2px 0;
			color: $input-color;
			line-height: 1;
		}

		//.riaswDockNodeShown {
		//	border-color: steelblue;
		//}
		.riaswDockNodeHover {
			background-color: $appHoverColor;
			border-color: $appHoverColor;
			//_textbox_shadow($appHoverColor);
			//color: black;
		}

	}

	.webAppHeaderLogo {
		width: 220px;
		padding: 2px 8px 2px 8px;
		background: url("./images/banner.png") no-repeat top center;
		filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
		-moz-background-size:100% 100%;
		background-size:100% 100%;
	}
	.webAppHeaderDockBar {
		padding: 1px 2em;
	}
	.webAppFooterDockBar {
		padding: 1px 2em;
	}
	.webAppHeaderBtns {
		width: 12em;
		padding: 1px;
		//margin: 0;
	}

	.webAppAppDock {
		//background-color: inherit;
		padding: 0.25em 0 0.25em 0.25em;
		//margin-left: 0.25em !important;
		//margin: 0 0.25em;
		width: 10em;
		//height: 3.5em
		.riaswDockBar{
			border-right: 3px solid $appSelectedColor;
			padding: 0;
			//width: 10em;
		}
		.riaswDockNode {
			display: block;
			//min-height: 2em;
			margin: 0;//2px 0 2px 2px;
			padding: 0.25em 1em;
			//border-radius: 0;//8px 0 0 8px;
			border-width: 1px 1px 0 1px;
		}
	}

	.webAppCenter {
		background-color: $appAreaColor;
		//border: 0.5em solid whitesmoke;
		padding: 0.5em;
		//margin: 0 0.25em;
		.riaswTabPanelContainer {
			background-color: $appAreaColor;
		}
	}
	.webAppCenterStack {
		.appModuleCaption {
		}
		.appModuleContent {
			//margin: 0.5em 0em 0em 0em;
		}
		.riaswCaptionPanel {
			//border-width: 0px;
		}
	}

	.webAppFooter {
		background-color: $appFooterColor;
		color: $input-color;
		//border-top: 1px solid lightgray;
		height: 3em;
		//line-height: 2.5em;
		padding: 0px;
		//margin-left: 0.25em !important;

		.riaswDockNode {
			//margin: 1px;
			//padding: 0.15em;
		}
		.riaswDockNodeHidden {
			//background-color: inherit;
			border-color: transparent;
		}
		.riaswDockNodeShown {
			background-color: inherit;
		}
		//.riaswDockNodeFocused,
		.riaswDockNodeSelected {
			background-color: $appHighlightColor;
			color: black;
		}
		.riaswDockNodeHover {
			background-color: $appHoverColor;
			border-color: $appHoverColor;
			color: black;
		}
	}

	.webAppBg {
		background: url("./images/bg.png") no-repeat top center;
		//background-size: contain;
	}

}
