
/* rias.webApp */

//.mobile .mobileBody {
//	font-family: Helvetica;
//	font-size: 15px;
//}

@appBackgroundColor: dimgray;
@appAreaColor: whitesmoke;
@appDockColor: whitesmoke;
@toolbarBackgroundColor: ghostwhite;
@inputBackgroundColor: white;
@highlightColor: lavender;
@selectedColor: lightblue;
@hoverColor: gold;
@borderColor: lightgray;

.webApp{
	background-color: @appBackgroundColor;
	border-color: 0px solid @borderColor;
	/*height: 100px;
	width: 100px;*/
	font-family: Helvetica;
	font: menu;
	display: block;
	/*position: relative;*/
	//padding: 0.25em;
	overflow: hidden;
	/*overflow: auto;*/

	-moz-box-sizing: border-box; /* ff2 */
	-ms-box-sizing: border-box; /* ie8 */
	-webkit-box-sizing: border-box; /* safari3 */
	-khtml-box-sizing: border-box; /* konqueror */
	box-sizing: border-box;/* css3 rec */
}

.rias {

	.mblComboBoxMenuItem {
		height: 1.5em;
	}

	.mblButton,
	.dijitButtonNode {
		border-width: 0 0 2px 0;
		border-color: @selectedColor;
	}
	.riaswCheckButton,
	.riaswRadioButton {
		border-width: 0;
	}
	.riaswTextBoxContainer,
	.dijitArrowButton,
	.dijitArrowButtonContainer,
	.dijitSpinnerButtonContainer,
	.riaswToggleSplitter,
	.riaswPanel,
	.riaswCaptionPanel,
	.dijitTabPaneWrapper,
	.dijitTab,
	.riaswAccordionPanel,
	.riaswAccordionInnerContainer,
	.riaswAccordionTitle,
	.riaswAccordionChildWrapper,
	.riaswTablePanel,
	.riaswTablePanelTable,
	.riaswDockBar,
	.riaswDockNode,
	.dijitTree,
	.riaswOrionEditor {
		border-color: @borderColor;
	}
	.riaswCaptionPanelCaptionNode,
	.riaswDialogPanelCaptionNode,
	.riaswDialogPanelWrapper,
	.riaswDialogPanelActionBarTop {
		border-color: @borderColor;
	}
	.riaswCaptionPanel {
		//margin: 0.5em;
	}
	.riaswDialogPanel {
		background-color: @appAreaColor;
		border-width: 0.25em;
		border-color: @highlightColor;
	}
	.riaswDialogPanelHover,
	.riaswDialogPanelActive {
		border-color: @hoverColor;
	}
	.riaswDialogPanelSelected,
	.riaswDialogPanelFocused,
	.riaswDialogPanelTopmost {
		border-color: @selectedColor;
	}
	.riaswCaptionPanelContent,
	.riaswDialogPanelContent {
		margin: 0.25em;
	}
	.riaswDialogPanelContent {
		background-color: @appAreaColor;
	}
	.riaswDialogPanelTypeInfo .riaswDialogPanelContent,
	.riaswDialogPanelTypeWarn .riaswDialogPanelContent,
	.riaswDialogPanelTypeError .riaswDialogPanelContent,
	.riaswDialogPanelTypeAbout .riaswDialogPanelContent {
		padding: 1.5em 1em 1em 1em;
	}
	.riaswCaptionPanelCaptionNode,
	.riaswAccordionTitle,
	.riaswDockNodeShown {
		background-color: @highlightColor;
	}
	.riaswDialogPanelCaptionNode {
		background-color: @highlightColor;
	}
	.riaswDialogPanelActionBar,
	.riaswDialogPanelActionBarTop {
		//background-color: @highlightColor;
	}
	.riaswDockNodeHover,
	.riaswAccordionTitleHover,
	.riaswCaptionPanelCaptionNodeHover,
	.riaswDialogPanelCaptionNodeHover {
		background-color: @hoverColor;
	}
	.riaswCaptionPanelCaptionNodeSelected,
	.riaswCaptionPanelCaptionNodeFocused,
	.riaswDialogPanelCaptionNodeSelected,
	.riaswDialogPanelCaptionNodeFocused,
	.riaswDialogPanelCaptionNodeTopmost,
	.riaswAccordionTitleSelected,
	.riaswDockNodeSelected,
	.riaswDockNodeFocused {
		background-color: @selectedColor;
	}
	.riaswDockNode {
		//border-width: 1px;
	}

	.riaswStackPanelChildWrapper,
	.dijitTabChecked {
		background-color: @appAreaColor;
	}
	.dijitTabChecked,
	.dijitTabContainerTop-tabs,
	.dijitTabContainerBottom-tabs,
	.dijitTabContainerLeft-tabs,
	.dijitTabContainerRight-tabs {
		border-color: steelblue;// @selectedColor;
	}
	.dijitTreeRowSelected {
		background-color: @selectedColor;
	}

	.webAppContent {
		//background-color: whitesmoke;
		//border-top: 0px solid lightgray;
		//padding: 0px;
	}

	.webAppHeader {
		font-size: 125%;
		//background-color: lightgray;
		//border-bottom: 1px solid whitesmoke;
		height: 2.5em;
		line-height: 2.5em;
		padding: 0px;
		//margin-top: 0.25em !important;
		//margin-left: 0.25em !important;
		font-weight: bold;
		//margin: 0m 0em 0em 0em;
		//-webkit-box-shadow: 0.25em 0.25em 1em 0em #333;
		//box-shadow: 0.25em 0.25em 1em 0em #333;
		color: @selectedColor;

		.dijitIcon {
			//display: none;
		}

		.dijitButtonText {
			//padding: 0 0.3em;
			//text-align: center;
			//color: steelblue;
			//font-weight: bold;
		}
		.dijitButtonDisabled .dijitButtonText {
			//color: gray;
		}

		/*.dijitButton .dijitButtonNode,
		.dijitDropDownButton .dijitButtonNode,
		.dijitComboButton .dijitButtonNode,
		.dijitToggleButton .dijitButtonNode,*/
		.dijitButtonNode {
			border-color: @selectedColor;
			border-width: 0 0 2px 0;
			margin: 0.25em;
			padding: 0em 0.25em;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background-color: inherit;
			color: inherit;
			height: 1.5em;
			line-height: 1.5em;
		}
		/*.dijitButtonHover .dijitButtonNode,
		.dijitButtonActive .dijitButtonNode,
		.dijitDropDownButtonHover .dijitButtonNode,
		.dijitDropDownButtonActive .dijitButtonNode,
		.dijitComboButton .dijitButtonNodeHover,
		.dijitComboButton .dijitDownArrowButtonHover,
		.dijitToggleButtonHover .dijitButtonNode,
		.dijitComboButtonActive .dijitButtonNode,
		.dijitToggleButtonActive .dijitButtonNode,
		.dijitToggleButtonChecked .dijitButtonNode,*/
		.dijitButtonNodeHover,
		.dijitButtonNodeActive,
		.dijitButtonNodeChecked,
		.dijitUpArrowButtonHover,
		.dijitDownArrowButtonHover {
			background-color: @hoverColor;
			border-color: @hoverColor;
			color: black;
			//-webkit-transition-duration: 0.1s;
			//-moz-transition-duration: 0.1s;
			//transition-duration: 0.1s;
		}
		.dijitUpArrowButtonActive,
		.dijitDownArrowButtonActive {
			background-color: @hoverColor;
		}

		/* disabled status */
		.dijitButtonDisabled,
		.dijitDropDownButtonDisabled,
		.dijitComboButtonDisabled,
		.dijitToggleButtonDisabled {
			background-color: inherit;
			background-image: none;
			/*outline: none;*/
			color: inherit;
		}

		.riaswDockNode {
			border-color: @selectedColor;
			border-width: 0 0 2px 0;
			margin: 0.25em;
			padding: 0em 0.25em;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			background-color: inherit;
			color: inherit;
			height: 1.5em;
			line-height: 1.5em;
		}
		//.riaswDockNodeShown {
		//	border-color: steelblue;
		//}
		.riaswDockNodeHover {
			background-color: @hoverColor;
			border-color: @hoverColor;
			color: black;
		}

		a {
			//width: 108px;
			padding: 2px 8px 2px 8px;
			display: inline-block;
		}
	}

	.webAppHeaderLogo {
		width: 180px;
		padding: 2px 8px 2px 8px;
		background: url("./images/RIAStudio.png") no-repeat 0px center;
	}
	.webAppHeaderDockBar {
		padding: 1px;
	}
	.webAppFooterDockBar {
		padding: 1px;
	}
	.webAppHeaderBtns {
		width: 18em;
		padding: 1px;
		margin: 0px;
	}

	.webAppDockPanel {
		background-color: @appDockColor;
		padding: 0.25em 0 0.25em 0.25em;
		//margin-left: 0.25em !important;
		//margin: 0 0.25em;
		width: 10em;
		//height: 3.5em
		.riaswDockBar{
			border-right: 3px solid @selectedColor;
			padding: 0;
			//width: 10em;
		}
		.riaswDockNode {
			display: block;
			//min-height: 2em;
			margin: 0;//2px 0 2px 2px;
			border-radius: 0;//8px 0 0 8px;
			border-width: 1px 0 1px 1px;
		}
	}

	.webAppCenter {
		background-color: @appAreaColor;
		//border: 0.5em solid whitesmoke;
		padding: 0.5em;
		//margin: 0 0.25em;
	}
	.webAppCenterStack {
		.appModuleCaption {
		}
		.appModuleContent {
			//margin: 0.5em 0em 0em 0em;
		}
		.riaswCaptionPanel {
			//border-width: 0px;
		}
	}

	.webAppFooter {
		//background-color: whitesmoke;
		color: white;
		//border-top: 1px solid lightgray;
		height: 2.5em;
		line-height: 2.5em;
		padding: 0px;
		//margin-left: 0.25em !important;

		.riaswDockNode {
			//border-color: @selectedColor;
			//border-width: 0 0 2px 0;
			margin: 1px;
			padding: 0.15em;
			//-webkit-border-radius: 4px;
			//-moz-border-radius: 4px;
			//border-radius: 4px;
			//background-color: inherit;
			//color: inherit;
			//height: 1.5em;
			//line-height: 1.5em;
		}
		.riaswDockNodeShown {
			background-color: inherit;
		}
		.riaswDockNodeHover {
			background-color: @hoverColor;
			border-color: @hoverColor;
			color: black;
		}
		.riaswDockNodeSelected,
		.riaswDockNodeFocused {
			background-color: @selectedColor;
			color: black;
		}
	}

	.dgrid {
		border-color: @borderColor;
	}
	.dgrid-summary-cell,
	.dgrid-header
	.dgrid-cell {
		border-color: @borderColor;
		.dgrid-cell-editor {
			border-color: @selectedColor;
			-moz-box-shadow: 0 0 0 1px @selectedColor inset;
			-webkit-box-shadow: 0 0 0 1px @selectedColor inset;
			box-shadow: 0 0 0 1px @selectedColor inset;
		}
	}
	.dgrid-scroller {
		border-bottom-color: @borderColor;
	}
	.dgrid-row {
		background-color: @inputBackgroundColor;
	}
	.dgrid-selected {
		background-color: @selectedColor;
	}
	.dgrid-footer-summary-row {
		border-color: @borderColor;
	}
	.dgrid-footer-summary-row,
	.dgrid-header,
	.dgrid-selector,
	.dgrid-opcolumn,
	.dgrid-rownumcolumn {
		background-color: @toolbarBackgroundColor;
	}
	.dgrid-header-scroll,
	.dgrid-footer-summary-scroll,
	.dgrid-column-set-scroller {
		background-color: @toolbarBackgroundColor;
		border-color: @borderColor;
	}
	.dgrid-hider-menu-row:hover {
		background-color: @hoverColor;
	}
	.dgrid-hider-menu-row:focus {
		background-color: @selectedColor;
	}
}
