/* rias.webApp */
.webApp {
  background-color: dimgray;
  border-color: 0px solid lightgray;
  /*height: 100px;
	width: 100px;*/
  font-family: Helvetica;
  display: block;
  /*position: relative;*/
  overflow: hidden;
  /*overflow: auto;*/
  -moz-box-sizing: border-box;
  /* ff2 */
  -ms-box-sizing: border-box;
  /* ie8 */
  -webkit-box-sizing: border-box;
  /* safari3 */
  -khtml-box-sizing: border-box;
  /* konqueror */
  box-sizing: border-box;
  /* css3 rec */
}
.rias .mblComboBoxMenuItem {
  height: 1.5em;
}
.rias .mblButton,
.rias .dijitButtonNode {
  border-width: 0 0 2px 0;
  border-color: lightblue;
}
.rias .riaswCheckButton,
.rias .riaswRadioButton {
  border-width: 0;
}
.rias .riaswTextBoxContainer,
.rias .dijitArrowButton,
.rias .dijitArrowButtonContainer,
.rias .dijitSpinnerButtonContainer,
.rias .riaswToggleSplitter,
.rias .riaswPanel,
.rias .riaswCaptionPanel,
.rias .dijitTabPaneWrapper,
.rias .dijitTab,
.rias .riaswAccordionPanel,
.rias .riaswAccordionInnerContainer,
.rias .riaswAccordionTitle,
.rias .riaswAccordionChildWrapper,
.rias .riaswTablePanel,
.rias .riaswTablePanelTable,
.rias .riaswDockBar,
.rias .riaswDockNode,
.rias .dijitTree,
.rias .riaswOrionEditor {
  border-color: lightgray;
}
.rias .riaswCaptionPanelCaptionNode,
.rias .riaswDialogPanelCaptionNode,
.rias .riaswDialogPanelWrapper,
.rias .riaswDialogPanelActionBarTop {
  border-color: lightgray;
}
.rias .riaswDialogPanel {
  background-color: whitesmoke;
  border-width: 0.25em;
  border-color: lavender;
}
.rias .riaswDialogPanelHover,
.rias .riaswDialogPanelActive {
  border-color: gold;
}
.rias .riaswDialogPanelSelected,
.rias .riaswDialogPanelFocused,
.rias .riaswDialogPanelTopmost {
  border-color: lightblue;
}
.rias .riaswCaptionPanelContent,
.rias .riaswDialogPanelContent {
  margin: 0.25em;
}
.rias .riaswDialogPanelContent {
  background-color: whitesmoke;
}
.rias .riaswCaptionPanelCaptionNode,
.rias .riaswAccordionTitle,
.rias .riaswDockNodeShown {
  background-color: lavender;
}
.rias .riaswDialogPanelCaptionNode {
  background-color: lavender;
}
.rias .riaswDockNodeHover,
.rias .riaswAccordionTitleHover,
.rias .riaswCaptionPanelCaptionNodeHover,
.rias .riaswDialogPanelCaptionNodeHover {
  background-color: gold;
}
.rias .riaswCaptionPanelCaptionNodeSelected,
.rias .riaswCaptionPanelCaptionNodeFocused,
.rias .riaswDialogPanelCaptionNodeSelected,
.rias .riaswDialogPanelCaptionNodeFocused,
.rias .riaswDialogPanelCaptionNodeTopmost,
.rias .riaswAccordionTitleSelected,
.rias .riaswDockNodeSelected,
.rias .riaswDockNodeFocused {
  background-color: lightblue;
}
.rias .riaswDialogPanelTypeInfo .riaswDialogPanelContent,
.rias .riaswDialogPanelTypeWarn .riaswDialogPanelContent,
.rias .riaswDialogPanelTypeError .riaswDialogPanelContent,
.rias .riaswDialogPanelTypeAbout .riaswDialogPanelContent {
  padding: 1.5em 1em 1em 1em;
}
.rias .riaswDialogPanelTypeWarn {
  border-color: cornflowerblue;
}
.rias .riaswDialogPanelTypeWarn .riaswDialogPanelCaptionNode {
  background-color: cornflowerblue;
}
.rias .riaswDialogPanelTypeError {
  border-color: salmon;
}
.rias .riaswDialogPanelTypeError .riaswDialogPanelCaptionNode {
  background-color: salmon;
}
.rias .riaswStackPanelChildWrapper,
.rias .dijitTabChecked {
  background-color: whitesmoke;
}
.rias .dijitTabChecked,
.rias .dijitTabContainerTop-tabs,
.rias .dijitTabContainerBottom-tabs,
.rias .dijitTabContainerLeft-tabs,
.rias .dijitTabContainerRight-tabs {
  border-color: steelblue;
}
.rias .dijitTreeRowSelected {
  background-color: lightblue;
}
.rias .webAppHeader {
  font-size: 125%;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0px;
  font-weight: bold;
  color: lightblue;
  /*.dijitButton .dijitButtonNode,
		.dijitDropDownButton .dijitButtonNode,
		.dijitComboButton .dijitButtonNode,
		.dijitToggleButton .dijitButtonNode,*/
  /*.dijitButtonHover .dijitButtonNode,
		.dijitButtonActive .dijitButtonNode,
		.dijitDropDownButtonHover .dijitButtonNode,
		.dijitDropDownButtonActive .dijitButtonNode,
		.dijitComboButton .dijitButtonNodeHover,
		.dijitComboButton .dijitDownArrowButtonHover,
		.dijitToggleButtonHover .dijitButtonNode,
		.dijitComboButtonActive .dijitButtonNode,
		.dijitToggleButtonActive .dijitButtonNode,
		.dijitToggleButtonChecked .dijitButtonNode,*/
  /* disabled status */
}
.rias .webAppHeader .dijitButtonNode {
  border-color: lightblue;
  border-width: 0 0 2px 0;
  margin: 0.25em;
  padding: 0em 0.25em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: inherit;
  color: inherit;
  height: 1.5em;
  line-height: 1.5em;
}
.rias .webAppHeader .dijitButtonNodeHover,
.rias .webAppHeader .dijitButtonNodeActive,
.rias .webAppHeader .dijitButtonNodeChecked,
.rias .webAppHeader .dijitUpArrowButtonHover,
.rias .webAppHeader .dijitDownArrowButtonHover {
  background-color: gold;
  border-color: gold;
  color: black;
}
.rias .webAppHeader .dijitUpArrowButtonActive,
.rias .webAppHeader .dijitDownArrowButtonActive {
  background-color: gold;
}
.rias .webAppHeader .dijitButtonDisabled,
.rias .webAppHeader .dijitDropDownButtonDisabled,
.rias .webAppHeader .dijitComboButtonDisabled,
.rias .webAppHeader .dijitToggleButtonDisabled {
  background-color: inherit;
  background-image: none;
  /*outline: none;*/
  color: inherit;
}
.rias .webAppHeader .riaswDockNode {
  border-color: lightblue;
  border-width: 0 0 2px 0;
  margin: 0.25em;
  padding: 0em 0.25em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: inherit;
  color: inherit;
  height: 1.5em;
  line-height: 1.5em;
}
.rias .webAppHeader .riaswDockNodeHover {
  background-color: gold;
  border-color: gold;
  color: black;
}
.rias .webAppHeader a {
  padding: 2px 8px 2px 8px;
  display: inline-block;
}
.rias .webAppHeaderLogo {
  width: 180px;
  padding: 2px 8px 2px 8px;
  background: url("images/RIAStudio.png") no-repeat 0px center;
}
.rias .webAppHeaderDockBar {
  padding: 1px;
}
.rias .webAppFooterDockBar {
  padding: 1px;
}
.rias .webAppHeaderBtns {
  width: 18em;
  padding: 1px;
  margin: 0px;
}
.rias .webAppDockPanel {
  background-color: whitesmoke;
  padding: 0.25em 0 0.25em 0.25em;
  width: 10em;
}
.rias .webAppDockPanel .riaswDockBar {
  border-right: 3px solid lightblue;
  padding: 0;
}
.rias .webAppDockPanel .riaswDockNode {
  display: block;
  margin: 0;
  border-radius: 0;
  border-width: 1px 0 1px 1px;
}
.rias .webAppCenter {
  background-color: whitesmoke;
  padding: 0.5em;
}
.rias .webAppFooter {
  color: white;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0px;
}
.rias .webAppFooter .riaswDockNode {
  margin: 1px;
  padding: 0.15em;
}
.rias .webAppFooter .riaswDockNodeShown {
  background-color: inherit;
}
.rias .webAppFooter .riaswDockNodeHover {
  background-color: gold;
  border-color: gold;
  color: black;
}
.rias .webAppFooter .riaswDockNodeSelected,
.rias .webAppFooter .riaswDockNodeFocused {
  background-color: lightblue;
  color: black;
}
.rias .dgrid {
  border-color: lightgray;
}
.rias .dgrid-summary-cell,
.rias .dgrid-header .dgrid-cell {
  border-color: lightgray;
}
.rias .dgrid-summary-cell .dgrid-cell-editor,
.rias .dgrid-header .dgrid-cell .dgrid-cell-editor {
  border-color: lightblue;
  -moz-box-shadow: 0 0 0 1px lightblue inset;
  -webkit-box-shadow: 0 0 0 1px lightblue inset;
  box-shadow: 0 0 0 1px lightblue inset;
}
.rias .dgrid-scroller {
  border-bottom-color: lightgray;
}
.rias .dgrid-row {
  background-color: white;
}
.rias .dgrid-selected {
  background-color: lightblue;
}
.rias .dgrid-footer-summary-row {
  border-color: lightgray;
}
.rias .dgrid-footer-summary-row,
.rias .dgrid-header,
.rias .dgrid-selector,
.rias .dgrid-opcolumn,
.rias .dgrid-rownumcolumn {
  background-color: ghostwhite;
}
.rias .dgrid-header-scroll,
.rias .dgrid-footer-summary-scroll,
.rias .dgrid-column-set-scroller {
  background-color: ghostwhite;
  border-color: lightgray;
}
.rias .dgrid-hider-menu-row:hover {
  background-color: gold;
}
.rias .dgrid-hider-menu-row:focus {
  background-color: lightblue;
}
