/*=====================================================*/
/* === Red Badge ==*/
.riaswBadge {
  position: relative;
  visibility: hidden;
  display: none;
}
.riaswBadgeVisible {
  visibility: visible;
  display: inline-block;
}
.riaswBadgeText {
  position: relative;
  padding: 0px 4px;
/*top: 0px;
	right: 0px;*/
  color: #fff;
  border: 0.15em solid #fff;
  border-radius: 1em;
/*text-align: right;
	font-family: Helvetica;*/
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0.25em 0.25em 0.25em 0 rgba(0,0,0,0.5);
  box-shadow: 0.25em 0.25em 0.25em 0 rgba(0,0,0,0.5);
}
.riaswBadgeRed {
  background: #f00;
  background: -webkit-linear-gradient(top, #f56e6e 0%, #e44149 50%, #de151f 50%, #ae0001 100%);
  background: -moz-linear-gradient(top, #f56e6e 0%, #e44149 50%, #de151f 50%, #ae0001 100%);
  background: -o-linear-gradient(top, #f56e6e 0%, #e44149 50%, #de151f 50%, #ae0001 100%);
  background: -ms-linear-gradient(top, #f56e6e 0%, #e44149 50%, #de151f 50%, #ae0001 100%);
  background: linear-gradient(to bottom, #f56e6e 0%, #e44149 50%, #de151f 50%, #ae0001 100%);
}
.riaswBadgeBlue {
  background: #00f;
  background: -webkit-linear-gradient(top, #5b98e7 0%, #4282de 50%, #216dd6 50%, #216dd6 100%);
  background: -moz-linear-gradient(top, #5b98e7 0%, #4282de 50%, #216dd6 50%, #216dd6 100%);
  background: -o-linear-gradient(top, #5b98e7 0%, #4282de 50%, #216dd6 50%, #216dd6 100%);
  background: -ms-linear-gradient(top, #5b98e7 0%, #4282de 50%, #216dd6 50%, #216dd6 100%);
  background: linear-gradient(to bottom, #5b98e7 0%, #4282de 50%, #216dd6 50%, #216dd6 100%);
}
.riaswBadgeGreen {
  background: #008000;
  background: -webkit-linear-gradient(top, #6cd74a 0%, #5ec63c 50%, #4aad21 50%, #398c08 100%);
  background: -moz-linear-gradient(top, #6cd74a 0%, #5ec63c 50%, #4aad21 50%, #398c08 100%);
  background: -o-linear-gradient(top, #6cd74a 0%, #5ec63c 50%, #4aad21 50%, #398c08 100%);
  background: -ms-linear-gradient(top, #6cd74a 0%, #5ec63c 50%, #4aad21 50%, #398c08 100%);
  background: linear-gradient(to bottom, #6cd74a 0%, #5ec63c 50%, #4aad21 50%, #398c08 100%);
}
.riaswBadgeYellow {
  background: #ff8c00;
  background: -webkit-linear-gradient(top, #ffbc1c 0%, #ffa000 50%, #ffa000 50%, #ff9000 100%);
  background: -moz-linear-gradient(top, #ffbc1c 0%, #ffa000 50%, #ffa000 50%, #ff9000 100%);
  background: -o-linear-gradient(top, #ffbc1c 0%, #ffa000 50%, #ffa000 50%, #ff9000 100%);
  background: -ms-linear-gradient(top, #ffbc1c 0%, #ffa000 50%, #ffa000 50%, #ff9000 100%);
  background: linear-gradient(to bottom, #ffbc1c 0%, #ffa000 50%, #ffa000 50%, #ff9000 100%);
}
.riaswBadgeBlack {
  background: #000;
  background: -webkit-linear-gradient(top, #7f7f7f 0%, #303030 50%, #303030 50%, #303030 100%);
  background: -moz-linear-gradient(top, #7f7f7f 0%, #303030 50%, #303030 50%, #303030 100%);
  background: -o-linear-gradient(top, #7f7f7f 0%, #303030 50%, #303030 50%, #303030 100%);
  background: -ms-linear-gradient(top, #7f7f7f 0%, #303030 50%, #303030 50%, #303030 100%);
  background: linear-gradient(to bottom, #7f7f7f 0%, #303030 50%, #303030 50%, #303030 100%);
}
.riaswBadge > div > div {
  display: none;
}
