
@import '../../variables';

/*=====================================================*/
/* === Red Badge ==*/
.riaswBadge {
	position: relative;
	visibility: hidden;
	display: none;
}
.riaswBadgeVisible {
	visibility: visible;
	display: inline-block;
}
.riaswBadgeText {
	position: relative;
	padding: 0px 4px;
	/*top: 0px;
	right: 0px;*/
	color: white;
	border: 0.15em solid white;
	border-radius: 1em;
	/*text-align: right;
	font-family: Helvetica;*/
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	background-clip: padding-box;
	_shadow(0.25em 0.25em 0.25em 0 $shadow-color-50);
}
.riaswButton .riaswBadge,
.riaswDockNode .riaswBadge {
	/*top: 0em;*/
}
.riaswButton .riaswBadgeText,
.riaswDockNode .riaswBadgeText {
	//top: -0.25em;
}
.riaswCaptionPanelCaptionNode .riaswBadgeText,
.riaswFieldsetPanelCaptionNode .riaswBadgeText,
.riaswDialogPanelCaptionNode .riaswBadgeText {
	//top: -0.25em;
	//left: 0em;
}

.riaswButtonNodeBadgeStretch {
	//margin-left: 2em !important;
}
.riaswDisplayVertical .riaswButtonNodeBadgeStretch,
.riaswDisplayVerticalLR .riaswButtonNodeBadgeStretch,
.riaswDisplayVerticalRL .riaswButtonNodeBadgeStretch {
	//margin-left: 0.25em !important;
	//margin-top: 2em !important;
}
.riaswDisplayVertical .riaswBadge,
.riaswDisplayVerticalLR .riaswBadge {
	/*top: 0em;*/
	//left: 0em;
}
.riaswDisplayVerticalRL .riaswBadge {
	/*top: 0em;*/
	//right: 0em;
}
.riaswDisplayVertical .riaswBadgeText,
.riaswDisplayVerticalLR .riaswBadgeText {
	/*top: 0em;*/
	//left: 0.25em;
	//letter-spacing: 0px;
	//-webkit-writing-mode: horizontal-bt;
	//-mov-writin-mode: horizontal-bt;
	//writing-mode: horizontal-bt;
}
.riaswDisplayVerticalRL .riaswBadgeText {
	/*top: 0em;*/
	//right: 0.25em;
	//letter-spacing: 0px;
	//-webkit-writing-mode: horizontal-bt;
	//-mov-writin-mode: horizontal-bt;
	//writing-mode: horizontal-bt;
}

.riaswBadgeRed {
	background: red;
	//background: -webkit-gradient(linear, left top, left bottom, from(#f56e6e), to(#ae0001), color-stop(0.5, #e44149), color-stop(0.5, #de151f));
	background: linear-gradient(to bottom, #f56e6e 0%, #e44149 50%, #de151f 50%, #ae0001 100%);
}
.riaswBadgeBlue {
	background: #0000ff;
	//background: -webkit-gradient(linear, left top, left bottom, from(#5b98e7), to(#216dd6), color-stop(0.5, #4282de), color-stop(0.5, #216dd6));
	background: linear-gradient(to bottom, #5b98e7 0%, #4282de 50%, #216dd6 50%, #216dd6 100%);
}
.riaswBadgeGreen {
	background: #008000;
	//background: -webkit-gradient(linear, left top, left bottom, from(#6cd74a), to(#398c08), color-stop(0.5, #6bc642), color-stop(0.5, #4aad21));
	background: linear-gradient(to bottom, #6cd74a 0%, #5ec63c 50%, #4aad21 50%, #398c08 100%);
}
.riaswBadgeYellow {
	background: darkorange;
	//background: -webkit-gradient(linear, left top, left bottom, from(#ffbc1c), to(#ff9000), color-stop(0.5, #FFA000), color-stop(0.5, #FFA000));
	background: linear-gradient(to bottom, #ffbc1c 0%, #FFA000 50%, #FFa000 50%, #ff9000 100%);
}
.riaswBadgeBlack {
	background: black;
	//background: -webkit-gradient(linear, left top, left bottom, from(#7f7f7f), to(#303030), color-stop(0.5, #303030), color-stop(0.5, #303030));
	background: linear-gradient(to bottom, #7f7f7f 0%, #303030 50%, #303030 50%, #303030 100%);
}
.riaswBadge > div > div {
	display: none;
}

