/* InlineEditBox
 * 
 * Styling InlineEditBox mainly includes:
 * 
 * 1. Normal state
 * 		.dijitInlineEditBoxDisplayMode  - for border
 * 
 * 2. Hover state
 * 		.dijitInlineEditBoxDisplayModeHover - for border and background color
 */
.rias .dijitInlineEditBoxDisplayMode {
  border: 1px dashed transparent;
  padding: 0.25em 2.25em;
  border-radius: 0.25em;
}
.rias .dijitInlineEditBoxDisplayModeHover {
  background-color: transparent;
  border: 1px dashed #90caf9;
}
.rias .dijitInlineEditBoxDisplayModeDisabled {
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
