
/* Module */
@import '../../variables';

.riaswDesktop {
	display: block;
	position: relative;
	overflow: hidden;///避免添加 shadow 时改变 size，如果希望看到 shadow，可以设置 margin
	padding: 0;
	margin: 0;
}

.riaswDesktopContent {
	//background-color: $theme-workarea-color;
	position: relative;
}