
/* Module */
@import '../../variables';

.riaswDesktop {
	display: block;
	position: relative;
	overflow: hidden;///避免添加 shadow 时改变 size，如果希望看到 shadow，可以设置 margin
	//font-family: "微软雅黑";
	font-size: 12px;
	background-color: $theme-workarea-color;
	border-style: solid;
	border-color: $theme-border-color;
	border-width: 0;
	color: $theme-workarea-text-color;
	padding: 0;
	margin: 0;///屏蔽 body 的 margin

	//-moz-box-sizing: border-box; /* ff2 */
	//-ms-box-sizing: border-box; /* ie8 */
	//-webkit-box-sizing: border-box; /* safari3 */
	//-khtml-box-sizing: border-box; /* konqueror */
	//box-sizing: border-box;/* css3 rec */
}

.riaswDesktopContent {
	//background-color: $theme-workarea-color;
	position: relative;
}