
/* Module */
@import '../../variables';

.riaswTimerLabel {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	background-color: transparent;
	border: 0;
	z-index: 0;
}
.riaswTimerLabelHover {
	font-weight: bolder;
}
.riaswTimerLabelFocused,
.riaswTimerLabelActive {
	font-weight: bolder;
}
.riaswTimerLabelReadOnly {
}
.riaswTimerLabelDisabled {
	disabled-grayscale();
}


