
/* Underlay */

@import '../../variables';

.riaswUnderlayWrapper {
	display: none;
	position: absolute;
	background: transparent !important;
	z-index: 4998;
}

.riaswUnderlay {
	display: none;
	position: absolute;
	background: $dialog-underlay-color;
	z-index: 4998;
	//opacity: $dialog-underlay-opacity;
}

